Repository chef/automate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/jex-team, @chef/a2-maintainers, @chef/docs-team, @chef/release-engineering, @chef/superteam, @chef/auth-team, @chef/automate-deployment-team, @chef/ui-team, @chef/ux-team, @chef/operability-team, @chef/a2-habitat-maintainers

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

.delivery/**            @chef/jex-team
.expeditor/**           @chef/jex-team
.github/**              @chef/a2-maintainers @chef/jex-team
.travis.yml             @chef/a2-maintainers @chef/jex-team
dev/**                  @chef/a2-maintainers
docs/**                 @chef/a2-maintainers @chef/jex-team @chef/docs-team
inspec/**               @chef/a2-maintainers @chef/jex-team
scripts/**              @chef/jex-team
terraform/**            @chef/jex-team
www/**                  @chef/release-engineering

components/applications-service/**         @chef/superteam
components/authn-service/**                @chef/auth-team
components/authz-service/**                @chef/auth-team
components/automate-debug/**               @chef/automate-deployment-team
components/automate-deployment/**          @chef/automate-deployment-team
components/automate-dex/**                 @chef/auth-team
components/automate-gateway/**             @chef/a2-maintainers
components/automate-grpc/**                @chef/automate-deployment-team
components/automate-load-balancer/**       @chef/automate-deployment-team
components/automate-ui/**                  @chef/ui-team @chef/ux-team
components/automate-ui-devproxy/**         @chef/ui-team @chef/ux-team
components/chef-ui-library/**              @chef/ui-team @chef/ux-team
components/compliance-service/**           @chef/superteam
components/config-mgmt-service/**          @chef/superteam
components/data-lifecycle-service/**       @chef/automate-deployment-team
components/docs-chef-io/**                 @chef/docs-team
components/es-sidecar-service/**           @chef/automate-deployment-team
components/event-gateway/**                @chef/superteam
components/event-service/**                @chef/superteam
components/ingest-service/**               @chef/superteam
components/license-control-service/**      @chef/operability-team
components/local-user-service/**           @chef/auth-team
components/nodemanager-service/**          @chef/superteam
components/notifications-client/**         @chef/operability-team @chef/superteam
components/notifications-service/**        @chef/operability-team @chef/superteam
components/release-mgmt-dashboard/**       @chef/jex-team
components/secrets-service/**              @chef/superteam
components/session-service/**              @chef/auth-team
components/teams-service/**                @chef/auth-team
lib/logger/**                              @chef/operability-team
lib/tls/**                                 @chef/automate-deployment-team

**/.studiorc  @chef/a2-maintainers
**/.studio/**  @chef/a2-maintainers
**/habitat/** @chef/a2-habitat-maintainers

Remove smartquotes
  components/docs-chef-io/content/automate/flags.md
Owners: @chef/docs-team

add initial ingest test
  .studio/data-feed-service
  components/data-feed-service/integration_test/api_test.go
  components/data-feed-service/integration_test/ingest_test.go
  components/data-feed-service/integration_test/patch.toml
  components/data-feed-service/integration_test/suite_test.go
Owners: @chef/a2-maintainers

Fix malformed Markdown
  components/docs-chef-io/content/automate/flags.md
Owners: @chef/docs-team

Remove smartquotes (#4307)
  components/docs-chef-io/content/automate/flags.md
Owners: @chef/docs-team

Bump automate-compliance-profiles
  components/compliance-service/habitat/plan.sh
Owners: @chef/a2-habitat-maintainers

Add Chef patents link (#4283)
  components/automate-ui/src/app/page-components/profile/profile.component.html
Owners: @chef/ui-team, @chef/ux-team
