Repository chef/automate, pull requests merged in 2019-04, with the labels that each got.

#53 List reports project filtering
  .expeditor/config.yml
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/integration_test/reporting_server_list_reports_test.go
  components/compliance-service/integration_test/reporting_server_read_report_test.go
  components/compliance-service/integration_test/suite_test.go
  components/compliance-service/reporting/relaxting/reports.go
Labels: compliance reporting, iamv2

#36 [deployment] Add a BoolValue for whether SSL is enabled for external postgres.
  api/config/shared/global.pb.go
  api/config/shared/global.proto
  components/automate-dex/habitat/templates/config.yml
  components/notifications-service/habitat/templates/pg-env
  integration/services/ha_backend/init
  lib/platform/config.go
  lib/scaffolding/templates/sqerl.config
Labels: deployment-team

#93 Update the NodeJS packages for Release Management Dashboard
  components/release-mgmt-dashboard/.nvmrc
  components/release-mgmt-dashboard/package-lock.json
  components/release-mgmt-dashboard/package.json
Labels: Expeditor: Skip All

#54 [A2-695] Sortinating and pagification of service groups table
  components/applications-service/integration_test/service_groups_test.go
  components/automate-ui/src/app/entities/service-groups/service-groups.actions.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#107 Add chef-automate subcommands to toggle applications tab features
  components/automate-cli/cmd/chef-automate/applications.go
Labels: eas-team

#100 [UI] Fixes Unknown service-group status/table
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/app/pipes/service-status-icon.pipe.spec.ts
  components/automate-ui/src/app/pipes/service-status-icon.pipe.ts
Labels: bug, eas-team

#97 List reports cleanup
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger_test.go
  components/compliance-service/ingest/projectupdater/manager.go
  components/compliance-service/integration_test/reporting_server_list_reports_test.go
  components/compliance-service/integration_test/reporting_server_read_report_test.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/reporting/relaxting/reports.go
Labels: iamv2

#98 [A2-698] Filter policies API on projects
  components/authz-service/server/v2/policy.go
  components/authz-service/storage/postgres/migration/sql/40_filter_policies_on_projects.up.sql
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: automate-auth, iamv2

#85 Dan/applications load gen
  .expeditor/config.yml
  Gopkg.lock
  components/applications-service/.gitignore
  components/applications-service/cmd/applications-load-gen/applications_load_gen.go
  components/applications-service/cmd/applications-load-gen/commands/describe.go
  components/applications-service/cmd/applications-load-gen/commands/root.go
  components/applications-service/cmd/applications-load-gen/commands/run.go
  components/applications-service/dev/applications-load-gen/noms.toml
  components/applications-service/habitat/plan.sh
  components/applications-service/pkg/generator/builtin_config.go
  components/applications-service/pkg/generator/config.go
  components/applications-service/pkg/generator/config_test.go
  components/applications-service/pkg/generator/runner.go
  components/applications-service/pkg/generator/runner_stats.go
Labels: eas-team

#50 [authz] Add new UML diagram illustrating project authz
  components/authz-service/README.md
  dev-docs/diagrams/authz-all-or-no-projects.iuml
  dev-docs/diagrams/authz-all-or-no-projects.png
  dev-docs/diagrams/authz-projects-sequence.iuml
  dev-docs/diagrams/authz-projects-sequence.png
Labels: automate-auth, iamv2

#86 Adding Compliance summary indexes to the project tag update
  components/compliance-service/ingest/projectupdater/manager.go
  components/compliance-service/ingest/projectupdater/manager_test.go
Labels: iamv2

#82 Restore for external PG
  components/automate-deployment/Makefile
  components/automate-deployment/pkg/a1stub/server.go
  components/automate-deployment/pkg/backup/context.go
  components/automate-deployment/pkg/backup/operations.go
  components/automate-deployment/pkg/backup/runner.go
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/backup/spec_test.go
  components/automate-deployment/pkg/events/mock_event_sender.go
  components/automate-deployment/pkg/target/mock_target.go
  components/pg-sidecar-service/pkg/pgw/client.go
  integration/tests/ha_data_services.sh
  lib/platform/pg/db.go
  lib/platform/pg/exporter.go
  lib/platform/pg/exporter_test.go
  lib/platform/pg/mock_db.go
  lib/platform/pg/queries.go
Labels: deployment-team

#99 [UI] Services right sidebar
  .studio/applications-service
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.actions.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.effects.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.selector.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: eas-team

#101 Support for unassigned reports in reporting server GetReport endpoint
  components/compliance-service/integration_test/reporting_server_read_report_test.go
  components/compliance-service/integration_test/suite_test.go
  components/compliance-service/reporting/relaxting/reports.go
Labels: compliance reporting, iamv2

#120 [studio] Install busybox-static & bash packages quietly
  .studiorc
Labels: Expeditor: Skip All, studio-dev

#124 Remove logging that was added for diagnosis
  terraform/test-environments/modules/chef_automate_install/templates/install_chef_automate_cli.sh.tpl
Labels: automate-auth

#117 RBAC Domain services project update cancel
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_update_manager.go
  components/authz-service/server/v2/project_update_manager_test.go
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/projectupdater/manager.go
  components/compliance-service/ingest/server/compliance.go
  components/event-service/server/server.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/projectupdater/manager.go
  components/ingest-service/server/automate_event_handler.go
Labels: automate-auth, iamv2

#118 Filter services by health status
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/services_by_sg_test.go
  components/applications-service/integration_test/services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/postgres/service.go
  components/applications-service/pkg/storage/postgres/service_internal_test.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-ui/src/app/entities/service-groups/service-groups.actions.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.effects.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.scss
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.tsx
Labels: eas-team

#122 Add a test to ensure load generator code stays updated
  components/applications-service/pkg/generator/config_test.go
  components/applications-service/pkg/generator/runner.go
Labels: eas-team

#109 Adding a type to ingest rules
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger.go
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger_test.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/ingest-service/backend/elastic/nodes.go
  components/ingest-service/integration_test/project_update_test.go
  components/ingest-service/pipeline/processor/runs_project_tagger.go
  components/ingest-service/pipeline/processor/runs_project_tagger_test.go
  lib/authz/project_rules.go
Labels: automate-auth, iamv2

#115 Enable additional static tests for apps svc and fix lint issues
  .expeditor/verify.pipeline.yml
  .studio/golang
  components/applications-service/.gitignore
  components/applications-service/Makefile
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/cmd/applications-service/commands/root.go
  components/applications-service/cmd/applications-service/commands/serve.go
  components/applications-service/pkg/generator/runner.go
  components/applications-service/pkg/nats/nats.go
  components/applications-service/pkg/nats/publisher.go
  components/applications-service/pkg/storage/postgres/hab_event.go
Labels: eas-team

#12 [A2-746] check if IAM beta flag set in middleware and pass along filtered projects
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/authz_v2.rego
  components/authz-service/engine/opa/policy/authz_v2_test.rego
  components/authz-service/server/server.go
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/authz_test.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-gateway/gateway/middleware/authv1/authv1.go
  components/automate-gateway/gateway/middleware/authv2/authv2.go
Labels: automate-auth, automate-gateway, iamv2

#129 Minor cleanup in teams and authz services
  components/authz-service/server/v2/policy_test.go
  components/authz-service/storage/v2/type.go
  components/teams-service/constants/constants.go
  components/teams-service/server/v2/server_test.go
  components/teams-service/storage/memstore/memstore.go
  components/teams-service/storage/postgres/postgres.go
Labels: automate-auth

#126 [A2-751] Allow MSAD config to override all defaults
  api/config/dex/config_request.pb.go
  api/config/dex/config_request.proto
  api/config/dex/config_request_test.go
  components/automate-chef-io/content/docs/configuration.md
  components/automate-dex/habitat/templates/config.yml
Labels: automate-auth, documentation

#148 Add Feature Flag to applications-service
  api/config/applications/config_request.go
  api/config/applications/config_request.pb.go
  api/config/applications/config_request.proto
  components/applications-service/cmd/applications-service/commands/serve.go
  components/applications-service/habitat/config/config.toml
  components/applications-service/pkg/config/service.go
  components/automate-cli/cmd/chef-automate/applications.go
  dev/config.toml
Labels: bug, eas-team

#130 [ui-library] Polish chef-status-filter-group molecule
  .envrc
  .studio/automate-ui
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/chef-ui-library/README.md
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.scss
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.tsx
  dev-docs/ui-development.md
Labels: automate-ui, chef-ui-library, eas-team, ui

#134 Added dynamic label to project multi-select form input
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.html
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.scss
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.ts
  components/automate-ui/src/app/pages/component-library/demos/demo-projects-dropdown/demo-projects-dropdown.component.html
  components/automate-ui/src/app/pages/component-library/demos/demo-projects-dropdown/demo-projects-dropdown.component.ts
Labels: automate-ui, iamv2, ui

#168 Dan/toggle event gw tls
  api/config/event_gateway/config_request.go
  api/config/event_gateway/config_request.pb.go
  api/config/event_gateway/config_request.proto
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/pkg/nats/nats.go
  components/event-gateway/habitat/config/config.toml
  components/event-gateway/pkg/config/config.go
  components/event-gateway/pkg/nats/check.go
  components/event-gateway/pkg/nats/server.go
  components/event-gateway/pkg/nats/tls_test.go
Labels: eas-team

#136 [A2-626] Implement HealthCounts for services sidebar
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/services_by_sg_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/service.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
Labels: automate-ui, eas-team, ui

#154 [A2-774] Wire up missing statement projects at gateway
  components/automate-gateway/api/iam/v2beta/common/policy.pb.go
  components/automate-gateway/api/iam/v2beta/common/policy.proto
  components/automate-gateway/api/iam/v2beta/policy.swagger.json
  components/automate-gateway/api/iam_v2beta_policy.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
Labels: automate-auth, bug

#162 Make it easier to use update_habitat.sh script locally
  .expeditor/update_habitat.sh
Labels: deployment-team

#158 use test framework to spin up a2 cluster
  integration/run_test
  integration/services/automate_cluster/a2_setup.sh
  integration/services/automate_cluster/init
  integration/tests/multi_node.sh
Labels: WIP

#166 Better UX for zero projects case
  components/automate-ui/src/app/components/authorized/authorized.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.scss
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
Labels: automate-auth, automate-ui, ui

#157 [A2-675] Create Header Bar with Status Health Counts
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  components/automate-ui/src/app/entities/service-groups/service-groups.actions.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.effects.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.selector.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#172 [A2-248] Add global projects-filter components
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.component.html
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.component.scss
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.component.ts
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.spec.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.actions.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.selectors.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
Labels: automate-ui, iamv2, ui

#187 Fix projects-filter prod compilation error
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.component.ts
Labels: automate-ui, ui

#152 Load Test Fixes
  components/applications-service/cmd/applications-load-gen/commands/describe.go
  components/applications-service/cmd/applications-service/commands/serve.go
  components/applications-service/dev/applications-load-gen/2019-04-results.md
  components/applications-service/pkg/generator/config.go
  components/applications-service/pkg/generator/runner.go
  components/applications-service/pkg/nats/nats.go
  components/applications-service/pkg/server/ingest.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/service.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/applications-service/pkg/storage/postgres/testing_functions.go
  components/automate-prometheus/habitat/config/prometheus.yml
  components/event-service/nats/server.go
Labels: eas-team

#193 azure integration: include names in tag search
  components/nodemanager-service/managers/azure/azure.go
  components/nodemanager-service/tests/azure_vm_nodes_integration_test.go
Labels: node integrations

#202 [deployment] Send TaskComplete to event stream during restore
  components/automate-deployment/pkg/backup/runner.go
Labels: deployment-team

#177 Project filtering for reporting server list suggestions
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/integration_test/suite_test.go
Labels: compliance reporting, iamv2

#205 Use proper Slack variable for `@here` mentions
  .expeditor/announce-acceptance.sh
Labels: Expeditor: Skip All

#135 [A2-771] AuthorizedProjects handles deny
  api/interservice/authz/v2/policy.pb.go
  api/interservice/authz/v2/policy.pb.validate.go
  api/interservice/authz/v2/policy.proto
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/authz_v2.rego
  components/authz-service/engine/opa/policy/authz_v2_test.rego
  components/authz-service/server/server.go
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/authz_test.go
  components/authz-service/server/v2/policy_test.go
Labels: automate-auth, iamv2

#123 [deployment] Do not display headers for zero-value config entries
  api/config/deployment/init_config.go
Labels: deployment-team

#200 [A2-787] authz-service and teams-service db cleanup
  components/authz-service/storage/postgres/migration/sql/41_query_roles_with_projects_match.up.sql
  components/authz-service/storage/postgres/migration/sql/42_remove_leftover_functions.up.sql
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/teams-service/storage/postgres/postgres.go
Labels: automate-auth

#197 [A2-786] Correct project intersection query for roles
  components/authz-service/storage/v2/postgres/postgres.go
Labels: automate-auth, bug

#102 [A2-747] Set up e2e project tests
  .expeditor/verify_private.pipeline.yml
  components/authz-service/server/v2/authz.go
  inspec/a2-iam-v2p1-only-integration/controls/includes.rb
  inspec/a2-iam-v2p1-only-integration/controls/role_projects.rb
  inspec/a2-iam-v2p1-only-integration/inspec.yml
  integration/tests/iam_v2p1_only.sh
Labels: automate-auth, iamv2

#175 [A2-661] Limit non-Chef-Managed project creation to 6 for beta
  components/authz-service/constants/v2/constants.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: automate-auth

#121 [A2-701] filter tokens by projects
  components/authn-service/constants/constants.go
  components/authn-service/tokens/integration/token_integration_test.go
  components/authn-service/tokens/mock/mock.go
  components/authn-service/tokens/pg/adapter.go
  components/authn-service/tokens/pg/migrate.go
  components/authn-service/tokens/pg/pg_test.go
  components/authn-service/tokens/tokens_test.go
  inspec/a2-api-integration/controls/auth.rb
Labels: automate-auth, iamv2
