Repository chef/automate, pull requests merged in 2019-12, with the labels that each got.

#2375 Expose Hab Svc health check output in Applications APIs
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/postgres/services.go
  components/automate-gateway/api/applications.pb.swagger.go
Labels: eas

#2386 Allow restores of the form `/path/to/backupid/`
  components/automate-cli/cmd/chef-automate/backup.go
Labels: deployment-team

#2391 Fail purge if not executed within 10 mins of being enqueued
  lib/datalifecycle/purge/workflow.go
Labels: deployment-team

#2392 [automate-2366] Remove introspection from individual projects on list page
  components/automate-ui/src/app/modules/policy/list/policy-list.component.html
  components/automate-ui/src/app/modules/roles/list/roles-list.component.html
  components/automate-ui/src/app/modules/team/team-management/team-management.component.html
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.html
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.scss
  components/automate-ui/src/app/modules/user/user-table/user-table.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.html
Labels: auth-team, automate-auth, chore

#2351 Combine All the IAM cypress project update tests
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/04_projects_api_client_runs_ingestion.spec.ts
  e2e/cypress/integration/api/iam/05_projects_api_compliance_ingestion.spec.ts
  e2e/cypress/integration/api/iam/06_projects_api_compliance_update.spec.ts
  e2e/cypress/integration/api/iam/09_projects_api_nodemanager_ingestion.spec.ts
  e2e/cypress/integration/api/iam/12_projects_api_node_ingestion.spec.ts
  e2e/cypress/integration/api/iam/13_projects_api_node_update.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, cypress, iamv2, tech debt

#1746 [elasticsearch] Upgrade to 6.8.3 and OpenJDK 11
  .bldr.toml
  .license_scout.yml
  .studio/ingest-service
  HABITAT_PACKAGES
  Makefile.common_go
  components/automate-deployment/Makefile
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/init-config.toml
  components/automate-elasticsearch/habitat/config/elasticsearch.yml
  components/automate-elasticsearch/habitat/config/init_ca
  components/automate-elasticsearch/habitat/config/init_keystore
  components/automate-elasticsearch/habitat/config/jvm.options
  components/automate-elasticsearch/habitat/config/log4j2.properties
  components/automate-elasticsearch/habitat/plan.sh
  components/automate-openjdk/habitat/plan.sh
  go.mod
  go.sum
  integration/tests/deep_upgrade.sh
  vendor.go
  vendor/github.com/kevinburke/go-bindata/.mailmap
  vendor/github.com/kevinburke/go-bindata/AUTHORS.txt
  vendor/github.com/kevinburke/go-bindata/LICENSE
  vendor/github.com/kevinburke/go-bindata/asset.go
  vendor/github.com/kevinburke/go-bindata/bits.go
  vendor/github.com/kevinburke/go-bindata/bytewriter.go
  vendor/github.com/kevinburke/go-bindata/config.go
  vendor/github.com/kevinburke/go-bindata/convert.go
  vendor/github.com/kevinburke/go-bindata/debug.go
  vendor/github.com/kevinburke/go-bindata/doc.go
  vendor/github.com/kevinburke/go-bindata/go-bindata/AppendSliceValue.go
  vendor/github.com/kevinburke/go-bindata/go-bindata/main.go
  vendor/github.com/kevinburke/go-bindata/go-bindata/version.go
  vendor/github.com/kevinburke/go-bindata/release.go
  vendor/github.com/kevinburke/go-bindata/restore.go
  vendor/github.com/kevinburke/go-bindata/safefile.go
  vendor/github.com/kevinburke/go-bindata/stringwriter.go
  vendor/github.com/kevinburke/go-bindata/toc.go
  vendor/modules.txt
Labels: deployment-team

#2393 Test builder backup to s3.
  .expeditor/verify_private.pipeline.yml
  integration/tests/backup_s3.sh
Labels: deployment-team

#2420 Back z-index down a notch
  components/chef-ui-library/src/atoms/chef-loading-spinner/chef-loading-spinner.scss
Labels: automate-ui, bug 🐛, ui

#2418 [elasticsearch] update pin to 6.8.3
  .expeditor/create-manifest.rb
  .expeditor/verify_private.pipeline.yml
Labels: deployment-team

#2394 Client Runs and Chef Server Actions project delete
  components/compliance-service/ingest/ingestic/ingestic.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/actions.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/backend/elastic/nodes.go
  components/ingest-service/integration_test/project_delete_actions_test.go
  components/ingest-service/integration_test/project_delete_node_test.go
  components/ingest-service/integration_test/project_update_test.go
  components/nodemanager-service/pgdb/project_update.go
  lib/authz/project_rules_update_workflow.go
  lib/authz/project_update_manager.go
Labels: auth-team, iamv2, ingest-service

#2410 Add indexes for profile list queries
  components/compliance-service/api/tests/01_market_spec.rb
  components/compliance-service/dao/pgdb/migration/sql/40_denormalize_profiles_columns.down.sql
  components/compliance-service/dao/pgdb/migration/sql/40_denormalize_profiles_columns.up.sql
  components/compliance-service/profiles/db/store.go
Labels: compliance profiles

#2423 [AUTOMATE-1654] Reset the project update state on update and properly render state
  components/automate-ui/src/app/entities/projects/project.reducer.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
Labels: auth-team

#2421 [AUTOMATE-2260] If the user has pending changes in the projects filter, do not use polled updates
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
Labels: auth-team, automate-ui, ui

#2344 Add upgrade/backup/restore test
  .expeditor/verify_private.pipeline.yml
  api/interservice/deployment/override_config.go
  api/interservice/deployment/override_config_test.go
  components/automate-deployment/pkg/server/automate_config.go
  integration/tests/deep_upgrade_backup_restore.sh
Labels: deployment-team

#2446 Revert "Client Runs and Chef Server Actions project delete"
  components/compliance-service/ingest/ingestic/ingestic.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/actions.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/backend/elastic/nodes.go
  components/ingest-service/integration_test/project_delete_actions_test.go
  components/ingest-service/integration_test/project_delete_node_test.go
  components/ingest-service/integration_test/project_update_test.go
  components/nodemanager-service/pgdb/project_update.go
  lib/authz/project_rules_update_workflow.go
  lib/authz/project_update_manager.go
Labels: auth-team, iamv2, ingest-service

#2362 Add info accordions to client and compliance run detail views
  components/automate-ui/src/app/page-components/logs-modal/logs-modal.component.spec.ts
  components/automate-ui/src/app/page-components/run-list/run-list.component.spec.ts
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.html
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.scss
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.spec.ts
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.scss
  components/automate-ui/src/app/pages/node-details/node-details.component.html
  components/automate-ui/src/app/pages/node-details/node-details.component.scss
  components/automate-ui/src/app/pages/node-details/node-details.component.spec.ts
  components/automate-ui/src/app/types/types.ts
  components/chef-ui-library/src/molecules/chef-page-header/chef-page-header.scss
Labels: automate-ui, ui

#2452 Make missing go-swagger command an explicit error when building API docs
  components/automate-chef-io/Makefile
Labels: documentation

#2402 Jamie/2380 lost input style
  components/automate-ui/src/styles.scss
Labels: automate-ui, bug 🐛, ui

#2438 Apps tab: don't focus new service group when clicking a service filter that filters all the services
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: eas, ui

#2440 Apps Tab: don't reset service group selection and related state until service group no longer listed
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: eas, ui

#2462 minor facade cleanup
  components/automate-ui/src/app/entities/layout/layout.actions.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/entities/layout/layout.reducer.ts
Labels: automate-ui, chore, emergent, ui

#2459 Auto-fix issues identified via npm audit
  components/automate-ui/package-lock.json
Labels: auth-team, automate-ui, chore, emergent, ui

#2425 Link to builder for applications tab
  .expeditor/verify_private.pipeline.yml
  api/config/load_balancer/config_request.go
  api/config/load_balancer/config_request.pb.go
  api/config/load_balancer/config_request.proto
  api/config/platform/config.pb.go
  api/config/platform/config.proto
  api/config/shared/config.go
  components/automate-deployment/pkg/deployment/deployment.go
  components/automate-deployment/pkg/server/server.go
  components/automate-deployment/pkg/services/services.go
  components/automate-load-balancer/habitat/config/automate.conf.js
  components/automate-load-balancer/habitat/config/nginx.conf
  components/automate-ui/src/app/components/sidebar-entry/sidebar-entry.component.html
  components/automate-ui/src/app/components/sidebar-entry/sidebar-entry.component.ts
  components/automate-ui/src/app/components/sidebar/sidebar.component.html
  components/automate-ui/src/app/components/sidebar/sidebar.component.scss
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/layout/layout.model.ts
  components/automate-ui/src/app/staticConfig.ts
  components/automate-ui/src/index.html
Labels: automate-ui, deployment-team, ui

#2395 [automate-2140] API Documentation: Auth Security Definitions
  components/automate-chef-io/data/docs/api-static/02-meta-description.yaml
  components/automate-chef-io/data/docs/api-static/04-meta-auth.json
Labels: auth-team, documentation

#2469 Apps tab: fix double fetch of services
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: eas, ui

#2329 Batch datafeed with cereal tasks
  api/interservice/cfgmgmt/response/inventory_nodes.pb.go
  api/interservice/cfgmgmt/response/inventory_nodes.proto
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/grpcserver/nodes.go
  components/data-feed-service/Makefile
  components/data-feed-service/config.dev.toml
  components/data-feed-service/config/config.go
  components/data-feed-service/dao/db.go
  components/data-feed-service/dao/destination.go
  components/data-feed-service/habitat/config/config.toml
  components/data-feed-service/habitat/default.toml
  components/data-feed-service/service/data-feed-aggregate-task.go
  components/data-feed-service/service/data-feed-poll-task.go
  components/data-feed-service/service/data-feed-service.go
  components/data-feed-service/service/data-feed-service_test.go
  components/data-feed-service/service/data-feed-workflow.go
Labels: data-feed, deployment-team

#2489 fixing the doc redirect paths
  components/automate-chef-io/content/docs/iam-v1-overview.md
  components/automate-chef-io/content/docs/iam-v1-policies.md
Labels: auth-team, documentation, emergent

#2286 Document applications-service protobufs
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/applications/applications.swagger.json
  components/automate-gateway/api/applications.pb.swagger.go
Labels: documentation

#2481 Add configuration for builder-api logging
  api/config/builder_api/config_request.go
  api/config/builder_api/config_request.pb.go
  api/config/builder_api/config_request.proto
  components/automate-builder-api/habitat/default.toml
  components/automate-builder-api/habitat/hooks/run
Labels: deployment-team

#2450 [automate-2447] Preventing project deletion
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  e2e/cypress/support/commands.ts
Labels: auth-team, automate-auth, iamv2

#2500 Set default log level to error for builder-api
  components/automate-builder-api/habitat/default.toml
Labels: deployment-team

#2487 Adding an effortless ccr example
  components/ingest-service/examples/effortless_ccr.json
Labels: auth-team, client runs, ingest-service

#2142 support `chef-automate upgrade run --version VERSION`
  components/automate-cli/cmd/chef-automate/upgrade.go
  integration/tests/manual_upgrade.sh
Labels: deployment-team

#2496 Assorted ui display bug fixes
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#2497 [automate-2215] fix error strategy for <chef-page> dialog
  components/automate-ui/src/app/entities/policies/policy.effects.ts
  components/automate-ui/src/app/entities/teams/team.effects.ts
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#2509 Adding project delete integration tests
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/api/iam/10_projects_api_action_update.spec.ts
  e2e/cypress/integration/api/iam/11_projects_api_action_ingestion.spec.ts
  e2e/cypress/integration/api/iam/12_projects_api_node_ingestion.spec.ts
  e2e/cypress/integration/api/iam/13_projects_api_node_update.spec.ts
  e2e/cypress/integration/api/iam/14_projects_delete_api.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, cypress, iamv2

#2499 backup: Remove async operations
  components/automate-deployment/pkg/backup/event_handler.go
  components/automate-deployment/pkg/backup/event_handler_test.go
  components/automate-deployment/pkg/backup/executor.go
  components/automate-deployment/pkg/backup/executor_test.go
  components/automate-deployment/pkg/backup/runner.go
  components/automate-deployment/pkg/backup/runner_test.go
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/backup/spec_test.go
Labels: deployment-team

#2495 [automate-1844] expand OPA performance tests to cover v2 functions
  components/authz-service/engine/opa/example_v2/real_world_2p1_store.json
  components/authz-service/engine/opa/opa_internal_test.go
  components/authz-service/engine/opa/opa_v2_internal_test.go
Labels: auth-team, automate-auth

#2522 Release Notes Template Update
  .expeditor/publish-release-notes.sh
Labels: documentation

#2498 Add 404 page to automate-chef-io
  components/automate-chef-io/layouts/404.html
Labels: documentation

#2510 Fix client runs export incomplete data bug
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/elastic.go
  components/config-mgmt-service/backend/elastic/nodes.go
  components/config-mgmt-service/backend/elastic/runs.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/grpcserver/node_export.go
  components/config-mgmt-service/grpcserver/report_export.go
  components/config-mgmt-service/integration_test/node_export_test.go
  components/config-mgmt-service/params/parameters.go
  components/config-mgmt-service/params/parameters_test.go
Labels: bug 🐛, client runs

#2503 Remove services view state from URL and update service groups URL
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.facade.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: eas, ui

#2538 [automate-elasticsearch] Remove stale keystore file when starting service
  components/automate-elasticsearch/habitat/config/init_keystore
Labels: deployment-team

#2460 [automate-2448] UI notification for project deletion
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/delete-object-modal/delete-object-modal.component.html
  components/automate-ui/src/app/components/message-modal/message-modal.component.html
  components/automate-ui/src/app/components/message-modal/message-modal.component.scss
  components/automate-ui/src/app/components/message-modal/message-modal.component.spec.ts
  components/automate-ui/src/app/components/message-modal/message-modal.component.ts
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/types/types.ts
Labels: auth-team, automate-auth, automate-ui, ui

#2539 [automate-elasticsearch] update manifest create pin
  .expeditor/create-manifest.rb
Labels: deployment-team

#2532 Fixing the way the project update precentage is calculated
  components/authz-service/server/v2/project_update_manager.go
  components/authz-service/server/v2/project_update_manager_internal_test.go
  lib/authz/project_rules.go
  lib/authz/project_rules_test.go
Labels: auth-team, bug 🐛, iamv2

#2156 Add instructions for creating and restoring airgapped offline backups
  components/automate-chef-io/content/docs/backup.md
Labels: deployment-team, documentation

#2535 Add disconnected filter to chef-ui-library
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
  components/chef-ui-library/src/assets/icon-disconnected.svg
  components/chef-ui-library/src/global/variables.css
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.scss
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.tsx
Labels: automate-ui, chef-ui-library, eas, ui

#2565 Filter service groups and services by disconnected status
  components/automate-ui/src/app/entities/service-groups/service-groups.facade.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas, ui

#2555 Update Studio helpers API endpoints
  .studio/automate-gateway
Labels: auth-team, studio-dev

#2576 [automate-2576] Bump npm versions
  components/automate-ui/README.md
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
Labels: automate-ui, chore, ui

#2595 [Automate-2593] fix unit test ngrx setup
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.spec.ts
  components/automate-ui/src/app/components/sidebar/sidebar.component.spec.ts
  components/automate-ui/src/app/modules/license/license-notifications/license-notifications.component.spec.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.spec.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.spec.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.spec.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.spec.ts
  cspell.json
Labels: automate-ui, bug 🐛, ui
