Repository chef/automate, pull requests merged in 2019-06, with the labels that each got.

#481 Rename package for consistency with siblings
  components/automate-gateway/handler/iam/v2beta/teams/teams.go
Labels: automate-auth

#478 Integration test error checking
  components/compliance-service/integration_test/reporting_server_export_test.go
  components/compliance-service/integration_test/reporting_server_list_nodes_test.go
  components/compliance-service/integration_test/reporting_server_list_reports_test.go
  components/compliance-service/integration_test/reporting_server_read_node_test.go
  components/compliance-service/integration_test/reporting_server_read_report_test.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/integration_test/suite_test.go
Labels: compliance reporting

#425 Rename auth get endpoints to list
  api/interservice/teams/v2/teams.pb.go
  api/interservice/teams/v2/teams.pb.mock.go
  api/interservice/teams/v2/teams.pb.validate.go
  api/interservice/teams/v2/teams.proto
  components/automate-gateway/api/iam/v2beta/request/teams.pb.go
  components/automate-gateway/api/iam/v2beta/request/teams.proto
  components/automate-gateway/api/iam/v2beta/request/users.pb.go
  components/automate-gateway/api/iam/v2beta/request/users.proto
  components/automate-gateway/api/iam/v2beta/response/teams.pb.go
  components/automate-gateway/api/iam/v2beta/response/teams.proto
  components/automate-gateway/api/iam/v2beta/response/users.pb.go
  components/automate-gateway/api/iam/v2beta/response/users.proto
  components/automate-gateway/api/iam/v2beta/teams.pb.go
  components/automate-gateway/api/iam/v2beta/teams.pb.gw.go
  components/automate-gateway/api/iam/v2beta/teams.pb.mock.go
  components/automate-gateway/api/iam/v2beta/teams.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/teams.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/teams.proto
  components/automate-gateway/api/iam/v2beta/teams.swagger.json
  components/automate-gateway/api/iam/v2beta/users.pb.go
  components/automate-gateway/api/iam/v2beta/users.pb.gw.go
  components/automate-gateway/api/iam/v2beta/users.pb.mock.go
  components/automate-gateway/api/iam/v2beta/users.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/users.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/users.proto
  components/automate-gateway/api/iam/v2beta/users.swagger.json
  components/automate-gateway/api/iam_v2beta_teams.pb.swagger.go
  components/automate-gateway/api/iam_v2beta_users.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/teams/teams.go
  components/automate-gateway/handler/iam/v2beta/users/users.go
  components/teams-service/server/v2/server.go
  components/teams-service/server/v2/server_test.go
Labels: automate-auth

#460 [A2-803] Added UpdateRule API
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/automate-gateway/api/iam/v2beta/request/rules.pb.go
  components/automate-gateway/api/iam/v2beta/request/rules.proto
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.mock.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
Labels: automate-auth, iamv2

#489 authz-service/policy: only update engine store when needed and only do it once
  components/authz-service/server/v2/policy.go
Labels: automate-auth, bug

#477 Reporting cleanup
  components/compliance-service/reporting/relaxting/profiles.go
Labels: compliance reporting

#459 UI-262 Add badge stencil component Signed-Off By: Tara Black <tblack…
  components/chef-ui-library/src/atoms/chef-badge/chef-badge.e2e.tsx
  components/chef-ui-library/src/atoms/chef-badge/chef-badge.scss
  components/chef-ui-library/src/atoms/chef-badge/chef-badge.tsx
  components/chef-ui-library/src/global/variables.css
Labels: chef-ui-library, ui

#466 Move overall Health calculation to the DB layer
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team, enhancement

#491 Default sorting by percent_ok for service-groups table
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#467 [A2-798] split partial result update calls for v2 and v2.1
  .expeditor/verify_private.pipeline.yml
  components/authz-service/engine/conformance/conformance_test.go
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/engine.go
  components/authz-service/engine/opa/opa.go
  components/authz-service/engine/opa/opa_internal_test.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/policy_change_notifier.go
  integration/tests/upgrade_reset_iam_v2.sh
Labels: automate-auth, iamv2, tech debt

#495 Benchmarks for Applications Service
  .studio/applications-service
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/ingestion_benchmark_test.go
  components/applications-service/integration_test/service_groups_benchmark_test.go
  components/applications-service/integration_test/services_benchmark_test.go
Labels: eas-team, performance enhancement

#505 UI-456 EOF compliance/profiles bug Signed-Off-By: Tara Black <tblack@…
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/profile.routing.ts
  components/automate-ui/src/app/pages/+compliance/compliance-reporting-sidebar/compliance-reporting-sidebar.component.html
  components/automate-ui/src/app/pages/+compliance/compliance.routing.ts
  components/automate-ui/src/app/pages/compliance-landing/compliance-landing.component.ts
Labels: automate-ui, documentation, ui

#498 [A2-850] ListRulesForProject API
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/postgres/migration/sql/45_query_rules_for_project.up.sql
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/automate-gateway/api/iam/v2beta/request/rules.pb.go
  components/automate-gateway/api/iam/v2beta/request/rules.proto
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.mock.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
Labels: automate-auth, iamv2

#464 Project filtering for reporting server ListProfiles endpoint.
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/integration_test/reporting_server_list_nodes_test.go
  components/compliance-service/integration_test/reporting_server_list_profiles_test.go
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/integration_test/suite_test.go
  components/compliance-service/reporting/relaxting/profiles_profile_level.go
  components/compliance-service/reporting/relaxting/profiles_report_level.go
Labels: compliance reporting, iamv2

#462 [a2-694] Add policy for applications service IAM v1 and v2
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  components/authz-service/constants/v1/constants.go
  components/authz-service/storage/postgres/datamigration/sql/07_update_v2_roles.up.sql
  components/authz-service/storage/postgres/migration/sql/45_add_application_policies.up.sql
  components/authz-service/storage/v1/storage.go
  components/automate-chef-io/content/docs/default-policies.md
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
Labels: automate-auth, documentation, eas-team

#518 Rename SQL migration to have unique, monotonic sequence number
  components/authz-service/storage/postgres/migration/sql/46_add_application_policies.up.sql
Labels: automate-auth

#523 authz-service: plow over old cruft
  components/authz-service/habitat/hooks/run
Labels: automate-auth, bug

#504 [A2-855] projects filter UI cleanup
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.spec.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
Labels: automate-auth, automate-ui, iamv2, ui

#501 [A2-798] fix v2.1 upgrade issue for multi-node settings
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/storage/v2/postgres/postgres.go
Labels: automate-auth, bug

#512 Add `chef-progress-bar` component
  components/chef-ui-library/src/atoms/chef-progress-bar/chef-progress-bar.e2e.tsx
  components/chef-ui-library/src/atoms/chef-progress-bar/chef-progress-bar.scss
  components/chef-ui-library/src/atoms/chef-progress-bar/chef-progress-bar.tsx
Labels: chef-ui-library, ui

#510 Compute, compare and understand Benchmarks
  .studio/applications-service
  .studio/common
  .studio/tooling
  benchmarks/README.md
  benchmarks/applications-service/README.md
  benchmarks/applications-service/html/PR_510.html
  benchmarks/applications-service/html/z_first.html
  benchmarks/applications-service/txt/PR_510.txt
  benchmarks/applications-service/txt/z_first.txt
Labels: performance enhancement

#544 authz-service/{datamigrations,migrations}: add Makefile for timestamp versions
  components/authz-service/storage/postgres/datamigration/sql/Makefile
  components/authz-service/storage/postgres/migration/sql/Makefile
Labels: automate-auth

#502 modify automate cli and ui user menu to include major automate version
  components/automate-cli/cmd/chef-automate/version.go
  components/automate-ui/e2e/app.e2e-spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.html
  components/automate-ui/src/app/page-components/profile/profile.component.scss
  components/automate-ui/src/app/page-components/profile/profile.component.spec.ts
  inspec/a2-deploy-integration/controls/base.rb
Labels: automate-ui, ui

#476 Migration node-state index to allow projects to be indexed
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/backup/spec_test.go
  components/config-mgmt-service/integration_test/nodes_test.go
  components/config-mgmt-service/integration_test/suggestions_test.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/backend/elastic/mappings/node_state.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/migration/a1_migration.go
  components/ingest-service/migration/migration.go
  inspec/a2-upgrade-from-v1-integration/controls/elastic.rb
Labels: config-mgmt-service, ingest-service

#545 Update README.md
  benchmarks/README.md
Labels: Expeditor: Skip All

#490 Applications service-group deep sorting
  benchmarks/applications-service/html/PR_490.html
  benchmarks/applications-service/txt/PR_490.txt
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/service_groups_sorting_test.go
  components/applications-service/integration_test/service_groups_test.go
  components/applications-service/integration_test/services_test.go
  components/applications-service/pkg/params/sorting.go
  components/applications-service/pkg/params/sorting_test.go
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team

#3 Audit Cookbook Support Matrix
  components/automate-chef-io/content/docs/data-collection.md
Labels: documentation

#4 Avoid ES errors with default shell settings
  components/automate-chef-io/content/docs/system-requirements.md
Labels: documentation

#549 Switching ingest migrations to work async
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/migration/migration.go
Labels: ingest-service

#534 Update service instance card styling
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
Labels: automate-ui, eas-team, ui

#548 [A2-845] Add integration testing for rules API
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth, iamv2

#555 Update Services health Total filer icon
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
Labels: automate-ui, eas-team, ui

#546 [A2-832] Populate global project filter with names instead of ids (round 2)
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/storage/postgres/datamigration/sql/08_update_v2_projects.up.sql
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/storage.go
  components/automate-gateway/api/authz/authz.pb.go
  components/automate-gateway/api/authz/authz.pb.gw.go
  components/automate-gateway/api/authz/authz.pb.mock.go
  components/automate-gateway/api/authz/authz.pb.policy-v1.go
  components/automate-gateway/api/authz/authz.pb.policy-v2.go
  components/automate-gateway/api/authz/authz.proto
  components/automate-gateway/api/authz/authz.swagger.json
  components/automate-gateway/api/authz/request/authz.pb.go
  components/automate-gateway/api/authz/request/authz.proto
  components/automate-gateway/api/authz/response/authz.pb.go
  components/automate-gateway/api/authz/response/authz.proto
  components/automate-gateway/api/authz_authz.pb.swagger.go
  components/automate-gateway/api/iam/v2beta/policy.pb.go
  components/automate-gateway/api/iam/v2beta/policy.pb.gw.go
  components/automate-gateway/api/iam/v2beta/policy.pb.mock.go
  components/automate-gateway/api/iam/v2beta/policy.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/policy.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/policy.proto
  components/automate-gateway/api/iam/v2beta/policy.swagger.json
  components/automate-gateway/api/iam_v2beta_policy.pb.swagger.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/authz.go
  components/automate-gateway/handler/authz_test.go
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
  components/automate-ui/src/app/pages/user-details/user-details.component.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.requests.ts
  inspec/a2-iam-v2p1-only-integration/controls/get_authorized_projects.rb
Labels: automate-auth, automate-ui, ui

#517 [A2-809] back up ListProjectRules API with real data
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/engine/conformance/conformance_test.go
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/engine.go
  components/authz-service/engine/opa/opa.go
  components/authz-service/engine/opa/opa_internal_test.go
  components/authz-service/engine/opa/opa_test.go
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/README.md
  components/authz-service/engine/opa/policy/rule_mappings.rego
  components/authz-service/projects_spike.md
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/compliance-service/compliance.go
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger.go
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger_test.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/integration_test/suite_test.go
  components/ingest-service/integration_test/project_update_actions_test.go
  components/ingest-service/integration_test/project_update_test.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/pipeline/processor/action_project_tagger_test.go
  components/ingest-service/pipeline/processor/runs_project_tagger.go
  components/ingest-service/pipeline/processor/runs_project_tagger_test.go
  lib/authz/project_update_manager.go
Labels: automate-auth, iamv2

#556 Remove health status filter grey outlines on hover
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.scss
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.tsx
Labels: chef-ui-library, eas-team, ui

#565 e2e: cypress all the envs
  .expeditor/buildkite/cypress.sh
  e2e/cypress/integration/02_global_filter.spec.js
  e2e/cypress/support/commands.js
Labels: cypress, iamv2

#550 [A2-866] Condition Type -> Attribute rename
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/automate-gateway/api/iam/v2beta/common/rules.pb.go
  components/automate-gateway/api/iam/v2beta/common/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger.go
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger_test.go
  components/compliance-service/integration_test/reporting_server_list_profiles_test.go
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/integration_test/stats_server_read_failures_test.go
  components/compliance-service/integration_test/stats_server_read_profiles_test.go
  components/compliance-service/integration_test/stats_server_read_summary_test.go
  components/compliance-service/integration_test/stats_server_read_trend_test.go
  components/ingest-service/backend/elastic/nodes.go
  components/ingest-service/integration_test/project_update_actions_test.go
  components/ingest-service/integration_test/project_update_test.go
  components/ingest-service/pipeline/processor/action_project_tagger.go
  components/ingest-service/pipeline/processor/action_project_tagger_test.go
  components/ingest-service/pipeline/processor/runs_project_tagger.go
  components/ingest-service/pipeline/processor/runs_project_tagger_test.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth, iamv2

#553 [apps-service] Update service-groups table
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#561 Add neglected version-adjustment for OPA call
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/engine.go
  components/authz-service/engine/opa/opa.go
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/authz_test.go
  inspec/a2-iam-v2p1-only-integration/controls/introspection.rb
  integration/tests/iam_v2.sh
  integration/tests/iam_v2_only.sh
  integration/tests/iam_v2p1_only.sh
Labels: automate-auth, bug

#524 authz-service/migrations: add index, and require it being updated in PRs
  components/authz-service/Makefile
  components/authz-service/storage/postgres/datamigration/sql/Makefile
  components/authz-service/storage/postgres/datamigration/sql/README.md
  components/authz-service/storage/postgres/migration/sql/Makefile
  components/authz-service/storage/postgres/migration/sql/README.md
Labels: automate-auth

#564 [applications] Display badges for env and app empty data
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#575 [A2-282] Wire property based AuthZ tests into the database
  Gopkg.lock
  components/authz-service/Makefile
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/testhelpers/testhelpers.go
Labels: automate-auth, iamv2

#583 ci: don't build the merge ref, try to rebase ourselves
  .buildkite/hooks/pre-command
Labels: bug

#551 [A2-861] Expose skip policy migration option to end user
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-cli/cmd/chef-automate/iam.go
Labels: automate-auth, documentation

#577 [A2-872] and [A2-817] Endpoints for apply/cancel project rule updates
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/automate-gateway/api/iam/v2beta/request/rules.pb.go
  components/automate-gateway/api/iam/v2beta/request/rules.proto
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.mock.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
Labels: automate-auth, iamv2

#576 [BugFix] Move split package releases logic to the backend
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/service_groups_filters_test.go
  components/applications-service/integration_test/service_groups_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/applications-service/pkg/storage/postgres/service_groups_internal_test.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, bug, eas-team, ui

#514 Explain some tricky bits of nats custom auth
  components/event-gateway/pkg/nats/authenticator.go
Labels: eas-team

#594 authz-service: fix flakey test TestListRulesForAllProjects
  components/authz-service/server/v2/system_integration_test.go
Labels: automate-auth, bug

#559 Compliance wildcard filtering
  .studio/automate-gateway
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-query.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
  components/compliance-service/integration_test/reporting_server_list_nodes_test.go
  components/compliance-service/reporting/relaxting/reports.go
Labels: compliance reporting

#581 UI-578 Fix badge padding, add .badge Signed-Off-By: Tara Black <tblac…
  components/chef-ui-library/src/atoms/chef-badge/chef-badge.scss
Labels: automate-ui, ui

#589 [A2-816] Expose ApplyRuleStatus API on gateway
  components/automate-gateway/api/iam/v2beta/request/rules.pb.go
  components/automate-gateway/api/iam/v2beta/request/rules.proto
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.mock.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
Labels: automate-auth

#590 [A2-671] Default token's active status to true if not specificed on create or update for V2 API
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-gateway/api/iam/v2beta/request/tokens.pb.go
  components/automate-gateway/api/iam/v2beta/request/tokens.proto
  components/automate-gateway/handler/iam/v2beta/tokens/tokens.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth

#470 Dan/apps view e2e dev
  components/applications-service/dev/hab-client/Dockerfile
  components/applications-service/dev/hab-client/README.md
  components/applications-service/dev/hab-client/run-hab-sup.sh
Labels: eas-team

#596 session-service: allow for multiple relay states
  components/session-service/Makefile
  components/session-service/server/server.go
  components/session-service/server/server_test.go
Labels: automate-auth, bug

#603 cleanup tmp file from running authz service tests
  components/authz-service/config/config_mgmt.go
  components/authz-service/config/config_mgmt_test.go
Labels: automate-auth

#560 UI-257 Full page stencil Signed-Off-By: Tara Black <tblaack@chef.io>
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.scss
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/chef-ui-library/src/molecules/chef-page-header/chef-page-header.scss
  components/chef-ui-library/src/templates/chef-page/chef-page.scss
  components/chef-ui-library/src/templates/chef-page/chef-page.tsx
Labels: automate-auth

#610 Add new bash helper for a2 auth resources
  scripts/a2_collections
Labels: automate-auth

#582 Change status group loading and empty state styling
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.selector.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
Labels: automate-ui, eas-team, ui

#562 chef server only deploy
  .expeditor/verify_private.pipeline.yml
  api/config/cs_nginx/config_request.go
  api/config/cs_nginx/config_request.pb.go
  api/config/cs_nginx/config_request.proto
  api/config/deployment/automate_config.go
  api/config/deployment/config_request.go
  api/config/deployment/config_request.pb.go
  api/config/deployment/config_request.proto
  api/config/erchef/config_request.go
  api/config/erchef/config_request.pb.go
  api/config/erchef/config_request.proto
  api/config/shared/global.go
  api/config/shared/global.pb.go
  api/config/shared/global.proto
  components/automate-cli/cmd/chef-automate/deploy.go
  components/automate-cs-nginx/habitat/config/chef_https.conf
  components/automate-cs-nginx/habitat/config/external_automate_root_ca.crt
  components/automate-cs-nginx/habitat/config/nginx.conf
  components/automate-cs-nginx/habitat/plan.sh
  components/automate-cs-oc-erchef/habitat/config/external_automate_root_ca.crt
  components/automate-cs-oc-erchef/habitat/config/sys.config
  components/automate-cs-oc-erchef/habitat/hooks/run
  components/automate-cs-oc-erchef/habitat/plan.sh
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/automate-deployment/pkg/assets/data/services.json
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/backup/spec_test.go
  components/automate-deployment/pkg/deployment/deployment.go
  components/automate-deployment/pkg/server/server.go
  components/automate-deployment/pkg/services/services.go
  integration/helpers/requestbin/requestbin.go
  integration/tests/chef_server_only.sh
Labels: deployment-team

#612 [A2-882] authz-service: fix v1 to v2 policy migration issues with applications
  components/authz-service/README.md
  components/authz-service/server/v2/migration.go
  components/authz-service/server/v2/migration_internal_test.go
  integration/tests/iam_v2.sh
Labels: automate-auth, bug, iamv2

#588 [A2-811] Table to stage rule changes
  components/authz-service/server/v2/project.go
  components/authz-service/storage/postgres/migration/sql/47_staged_rules_tables.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/rule.go
  components/authz-service/storage/v2/storage.go
Labels: automate-auth, iamv2

#608 Lint and gofmt the gateway as part of verify
  .expeditor/verify.pipeline.yml
  api/scripts/swagger.go
  components/automate-gateway/Makefile
  components/automate-gateway/api/api_test.go
  components/automate-gateway/api/scripts/swagger.go
  components/automate-gateway/api/swagger.go
  components/automate-gateway/gateway/datacollector.go
  components/automate-gateway/gateway/middleware/auth_interceptor.go
  components/automate-gateway/gateway/middleware/auth_interceptor_internal_test.go
  components/automate-gateway/gateway/middleware/authv1/authv1.go
  components/automate-gateway/gateway/middleware/authv2/authv2.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/cfgmgmt.go
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  components/automate-gateway/handler/ingest-chef.go
  components/automate-gateway/handler/license.go
  components/automate-gateway/pkg/authorizer/authorizer.go
Labels: automate-auth

#628 inspec: temporarily comment out flaky Rule API tests
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth, iamv2

#607 Case Insensitive wildcard searching
  components/compliance-service/integration_test/reporting_server_list_nodes_test.go
  components/compliance-service/reporting/relaxting/reports.go
Labels: compliance reporting

#614 automate-gateway: add ?pretty parameter to every grpc-gateway method
  components/automate-chef-io/content/docs/api-tokens.md
  components/automate-chef-io/content/docs/authorization-overview.md
  components/automate-chef-io/content/docs/configuration.md
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/content/docs/teams.md
  components/automate-chef-io/content/docs/users.md
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-gateway

#624 Refine apply rules API to single endpoint, different methods
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
Labels: automate-auth, iamv2

#592 Allow setting a root certificate for S3 backups
  api/config/shared/global.pb.go
  api/config/shared/global.proto
  components/backup-gateway/habitat/hooks/run
Labels: deployment-team

#605 Cover more ui cases with studio helper
  .studio/applications-service
Labels: eas-team

#609 Minor UI package maintenance
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/app/services/rules/rules.service.ts
  components/automate-ui/tslint.json
  components/chef-ui-library/package-lock.json
  components/chef-ui-library/package.json
Labels: automate-ui, ui

#635 One more bash helper to generate auth resources from scratch
  scripts/a2_collections
Labels: automate-auth

#622 [BugFix] Load pagination controls on component initialization
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, bug, eas-team, ui

#634 Notifications chef client runs skip ignored failure
  components/automate-gateway/gateway/datacollector.go
  components/automate-gateway/gateway/datacollector_test.go
  components/ingest-service/examples/converge-failure-report.json
  inspec/a2-api-integration/controls/notifications-alert.rb
  inspec/a2-api-integration/files/fixtures/converge/converge-failure-report_with_ignored_failure_run_converge.json
Labels: automate-gateway, notifications

#642 [A2-879] Refactor DeleteRule to work with staged rules
  components/authz-service/storage/postgres/migration/sql/48_remove_deleted_staged_conditions_column.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: automate-auth

#580 Improved service group query to use a view
  benchmarks/applications-service/html/PR_580.html
  benchmarks/applications-service/txt/PR_580.txt
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/03_service_group_health_view.up.sql
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team

#647 compliance export: set start time to beg of day of end time
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, ui

#591 [A2-858] Add telemetry to EAS apps UI
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
Labels: eas-team

#652 Event Feed initial service
  .bldr.toml
  HABITAT_PACKAGES
  api/config/event_feed/config_request.go
  api/config/event_feed/config_request.pb.a2svc.go
  api/config/event_feed/config_request.pb.go
  api/config/event_feed/config_request.proto
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/event-feed-service/.gitignore
  components/event-feed-service/README.md
  components/event-feed-service/cmd/event-feed-service/commands/root.go
  components/event-feed-service/cmd/event-feed-service/commands/serve.go
  components/event-feed-service/cmd/event-feed-service/event-feed-service.go
  components/event-feed-service/habitat/config/config.toml
  components/event-feed-service/habitat/config/root_ca.crt
  components/event-feed-service/habitat/config/service.crt
  components/event-feed-service/habitat/config/service.key
  components/event-feed-service/habitat/default.toml
  components/event-feed-service/habitat/hooks/health-check
  components/event-feed-service/habitat/hooks/init
  components/event-feed-service/habitat/hooks/run
  components/event-feed-service/habitat/plan.sh
  components/event-feed-service/pkg/config/service.go
  components/event-feed-service/pkg/grpc/grpc.go
Labels: event-feed-service

#651 [A2-878] Update Rule Refactor
  components/authz-service/server/v2/project.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/postgres/migration/sql/49_update_rule_triggers.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth, iamv2

#646 [A2-815] list rules with staged and current rules
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/postgres/migration/sql/50_add_status_field_to_rules.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/rule.go
  components/authz-service/storage/v2/storage.go
Labels: automate-auth, iamv2

#636 lib/platform: enforce timezones in pg connections
  components/authn-service/Makefile
  components/authn-service/constants/constants.go
  components/authz-service/Makefile
  components/authz-service/examples/config.yml
  components/local-user-service/Makefile
  components/local-user-service/examples/config.yml
  components/session-service/Makefile
  components/session-service/examples/config.yml
  components/teams-service/Makefile
  components/teams-service/README.md
  components/teams-service/examples/config.yml
  components/teams-service/test/test.go
  lib/io/fileutils/access_darwin.go
  lib/io/fileutils/access_linux.go
  lib/io/fileutils/access_linux_test.go
  lib/io/fileutils/access_windows.go
  lib/platform/config.go
  lib/platform/pg/conninfo.go
  lib/platform/pg/exporter_test.go
Labels: automate-auth

#615 UI-508 Client Run Design Updates Signed-Off-By: Tara Black <tblack@ch…
  components/automate-ui/src/app/page-components/client-runs-search-bar/client-runs-search-bar.component.ts
  components/automate-ui/src/app/page-components/converge-radial-graph/converge-radial-graph.component.html
  components/automate-ui/src/app/page-components/converge-radial-graph/converge-radial-graph.component.scss
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.scss
Labels: automate-ui, ui

#660 Adding InSpec version to Compliance page search bar
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/compliance-service/api/tests/07_suggestions_w_filters_spec.rb
  components/compliance-service/ingest/ingestic/mappings/comp-rep-date.go
  components/compliance-service/ingest/ingestic/mappings/comp-sum-date.go
  components/compliance-service/integration_test/reporting_server_list_nodes_test.go
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/reporting/relaxting/suggestions.go
Labels: compliance reporting

#666 [A2-863] add db_id to tokens table
  .bldr.toml
  components/applications-service/pkg/storage/postgres/db.go
  components/authn-service/Makefile
  components/authn-service/habitat/config/config.yml
  components/authn-service/habitat/hooks/run
  components/authn-service/habitat/plan.sh
  components/authn-service/tokens/integration/token_integration_test.go
  components/authn-service/tokens/pg/migrate.go
  components/authn-service/tokens/pg/pg.go
  components/authn-service/tokens/pg/pg_test.go
  components/authn-service/tokens/pg/sql/01_create_clients_table.up.sql
  components/authn-service/tokens/pg/sql/02_add__active__column_to_clients_table.up.sql
  components/authn-service/tokens/pg/sql/03_change_id_to_type_UUID.up.sql
  components/authn-service/tokens/pg/sql/04_add__description__column_to_clients_table.up.sql
  components/authn-service/tokens/pg/sql/05_rename_clients_table_tokens_table.up.sql
  components/authn-service/tokens/pg/sql/06_rename__token__column_of_tokens_table_to__value_.up.sql
  components/authn-service/tokens/pg/sql/07_change_id_to_type_text.up.sql
  components/authn-service/tokens/pg/sql/08_add_column_project_ids.up.sql
  components/authn-service/tokens/pg/sql/09_remove_default_project_ids.up.sql
  components/authn-service/tokens/pg/sql/10_drop_constraint.up.sql
  components/authn-service/tokens/pg/sql/11_add_default_empty_array_for_project_ids.up.sql
  components/authn-service/tokens/pg/sql/12_add_filter_function_for_token_projects.up.sql
  components/authn-service/tokens/pg/sql/13_add_db_id_column_to_tokens.up.sql
  components/authn-service/tokens/pg/sql/README.md
  components/authn-service/tokens/tokens_test.go
  components/authz-service/Makefile
  components/authz-service/storage/postgres/datamigration/datamigration.go
  components/authz-service/storage/postgres/migration/migration.go
  components/compliance-service/dao/pgdb/db.go
  components/nodemanager-service/pgdb/db.go
  components/secrets-service/dao/db.go
  components/session-service/migration/migration.go
  components/teams-service/Makefile
  components/teams-service/server/v1/server_test.go
  components/teams-service/server/v2/server_test.go
  components/teams-service/storage/conformance/conformance_test.go
  components/teams-service/storage/postgres/datamigration/datamigration.go
  components/teams-service/storage/postgres/migration/migration.go
  lib/db/migrator/migrator.go
  lib/logger/logger.go
  scripts/repo_health
Labels: automate-auth

#627 Add top-level products.meta file
  .bldr.toml
  .expeditor/create-manifest.rb
  .expeditor/verify_private.pipeline.yml
  api/config/deployment/config_request.go
  components/automate-cli/package.meta
  components/automate-cs-nginx/package.meta
  components/automate-deployment/docs/how-to-add-a-service.md
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/assets.go
  components/automate-deployment/pkg/assets/data/services.json
  components/automate-deployment/pkg/backup/runner.go
  components/automate-deployment/pkg/converge/compiler.go
  components/automate-deployment/pkg/deployment/deployment.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/automate-deployment/pkg/services/parser/parser.go
  components/automate-deployment/pkg/services/services.go
  components/automate-deployment/pkg/services/services_test.go
  components/automate-deployment/pkg/target/local_target.go
  components/automate-deployment/tools/services-pkg-gen/main.go
  components/automate-deployment/tools/sort-services/sort-services.go
  components/automate-elasticsearch/package.meta
  components/automate-postgresql/package.meta
  components/automate-prometheus/package.meta
  components/automate-workflow-server/package.meta
  components/backup-gateway/package.meta
  integration/helpers/deployment.sh
  lib/product/parser.go
  lib/product/types.go
  products.meta
Labels: deployment-team

#664 Ingestion improvements to applications-service
  components/applications-service/cmd/applications-service/commands/serve.go
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/integration_test/suite_test.go
  components/applications-service/pkg/ingest/ingest.go
  components/applications-service/pkg/nats/nats.go
  components/applications-service/pkg/nats/subscriber.go
  components/applications-service/pkg/server/ingest.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/service.go
Labels: eas-team

#658 [deployment] Thread contexts through `hab` command I/O
  components/automate-cli/cmd/chef-automate/backup.go
  components/automate-cli/cmd/chef-automate/dev.go
  components/automate-deployment/cmd/deployment-service/bootstrap.go
  components/automate-deployment/pkg/backup/runner.go
  components/automate-deployment/pkg/bootstrap/bootstrap.go
  components/automate-deployment/pkg/bootstrap/deployment_service_cmd.go
  components/automate-deployment/pkg/client/deployer.go
  components/automate-deployment/pkg/client/restore.go
  components/automate-deployment/pkg/converge/compiler.go
  components/automate-deployment/pkg/converge/compiler_test.go
  components/automate-deployment/pkg/converge/stop_mitigation.go
  components/automate-deployment/pkg/server/server.go
  components/automate-deployment/pkg/target/hab_cmd.go
  components/automate-deployment/pkg/target/hab_cmd_test.go
  components/automate-deployment/pkg/target/local_target.go
  components/automate-deployment/pkg/target/local_target_test.go
  components/automate-deployment/pkg/target/mock_target.go
  components/automate-deployment/pkg/target/target.go
Labels: deployment-team

#671 Add Event Feed Service to the deployment service
  .bldr.toml
  api/config/deployment/automate_config.pb.a2svc.go
  api/config/deployment/automate_config.pb.go
  api/config/deployment/automate_config.proto
  api/interservice/event_feed/event_feed.pb.go
  api/interservice/event_feed/event_feed.proto
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/event-feed-service/cmd/event-feed-service/event_feed_service.go
  components/event-feed-service/habitat/config/config.toml
  components/event-feed-service/habitat/plan.sh
  components/event-feed-service/pkg/config/service.go
  components/event-feed-service/pkg/grpc/grpc.go
  components/event-feed-service/pkg/server/server.go
  products.meta
Labels: deployment-team, event feed

#630 Export a bundle of files needed to bootstrap a second chef-server
  api/interservice/deployment/automate_deployment.pb.go
  api/interservice/deployment/automate_deployment.proto
  components/automate-cli/cmd/chef-automate/bootstrap.go
  components/automate-cs-oc-erchef/package.meta
  components/automate-deployment/pkg/bootstrap/bundle_creator.go
  components/automate-deployment/pkg/bootstrap/bundle_creator_test.go
  components/automate-deployment/pkg/bootstrap/testdata/bootstrap-test/foo/data/foofile
  components/automate-deployment/pkg/server/bootstrap_bundle.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/automate-deployment/pkg/services/services.go
  lib/io/fileutils/atomic_write.go
  lib/product/types.go
  lib/stringutils/slice.go
  lib/stringutils/slice_test.go
Labels: deployment-team

#648 Alert users of error messages inside applications tab
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.selector.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#678 Add timestamp fields to database tables
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/storage_service_timestamp_test.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/04_timestamps.up.sql
  components/applications-service/pkg/storage/postgres/service.go
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team

#685 Add chmod to atomic file writer
  components/automate-deployment/pkg/bootstrap/bundle_creator.go
  lib/io/fileutils/atomic_write.go
Labels: deployment-team

#686 Address post merge PR feedback for #630
  components/automate-deployment/pkg/bootstrap/bundle_creator.go
  lib/product/types.go
Labels: deployment-team

#687 Give the bootstrap bunde its own file format
  components/automate-cli/cmd/chef-automate/bootstrap.go
  components/automate-deployment/pkg/bootstrap/bundle_creator.go
Labels: deployment-team

#670 [A2-814] ListRulesForProject returns latest rule updates
  components/authz-service/storage/postgres/migration/sql/51_change_project_rules_query.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres_test.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth, iamv2

#662 Fix node manager tags based filtering
  components/automate-chef-io/content/docs/nodes.md
  components/compliance-service/api/tests/25_nodes_spec.rb
  components/compliance-service/api/tests/30_jobs_docker_spec.rb
  components/nodemanager-service/Makefile
  components/nodemanager-service/pgdb/filtering.go
  components/nodemanager-service/pgdb/node-managers.go
  components/nodemanager-service/pgdb/nodes.go
  components/nodemanager-service/pgdb/nodes_integration_test.go
Labels: bug

#696 auth services: add rows.Err() checks
  components/authn-service/Makefile
  components/authn-service/tokens/pg/adapter.go
  components/authz-service/storage/v1/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/teams-service/storage/postgres/postgres.go
Labels: automate-auth, bug

#697 Add more documentation for the product lib
  lib/product/doc.go
Labels: deployment-team

#699 Enable bootstrap bundle test in CI
  .expeditor/verify.pipeline.yml
  components/automate-deployment/pkg/bootstrap/bundle_creator_test.go
Labels: deployment-team

#698 automate-ui: cleanup statusText usage
  components/automate-ui/src/app/page-components/license-apply/license-apply.component.spec.ts
  components/automate-ui/src/app/page-components/license-lockout/license-lockout.component.spec.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/automate-ui/src/app/services/config/config.service.spec.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
Labels: automate-ui, bug, ui

#684 Allow unpacking bootstrap bundle
  components/automate-cli/cmd/chef-automate/bootstrap.go
  components/automate-cli/cmd/chef-automate/deploy.go
  components/automate-cli/cmd/chef-automate/dev.go
  components/automate-deployment/cmd/deployment-service/bootstrap.go
  components/automate-deployment/cmd/deployment-service/capabilities.go
  components/automate-deployment/pkg/bootstrap/bootstrap.go
  components/automate-deployment/pkg/bootstrap/deployment_service_cmd.go
  components/automate-deployment/pkg/bootstrapbundle/bundle_creator.go
  components/automate-deployment/pkg/bootstrapbundle/bundle_creator_test.go
  components/automate-deployment/pkg/bootstrapbundle/testdata/bootstrap-test/foo/data/foofile
  components/automate-deployment/pkg/client/deployer.go
  components/automate-deployment/pkg/converge/compiler_test.go
  components/automate-deployment/pkg/server/bootstrap_bundle.go
  components/automate-deployment/pkg/target/local_target.go
  components/automate-deployment/pkg/target/mock_target.go
  components/automate-deployment/pkg/target/target.go
Labels: deployment-team

#716 session-service: fix bug causing SAML refresh to fail
  components/session-service/server/server.go
  components/session-service/server/server_test.go
Labels: automate-auth, bug

#711 Properly copy swagger files into docs component.
  .expeditor/config.yml
  .expeditor/generate-automate-api-docs.sh
  components/automate-chef-io/Makefile
  components/automate-chef-io/data/docs/api_chef_automate/applications/applications.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/auth/teams/teams.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/auth/tokens/tokens.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/auth/users/users.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/authz/authz.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/profiles/profiles.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/scanner/jobs/jobs.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/deployment/deployment.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/event_feed/event_feed.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/gateway/gateway.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2beta/policy.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2beta/rules.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2beta/teams.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2beta/tokens.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2beta/users.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/ingest/chef.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/ingest/job_scheduler.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/legacy/legacy.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/license/license.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/manager/manager.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/nodes.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/notifications/notifications.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/secrets/secrets.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/telemetry/telemetry.swagger.json
  components/automate-gateway/Makefile
Labels: documentation

#675 [A2-864] add db_id to teams table
  components/authn-service/Makefile
  components/authz-service/Makefile
  components/teams-service/Makefile
  components/teams-service/server/v1/server.go
  components/teams-service/server/v1/server_test.go
  components/teams-service/server/v2/server.go
  components/teams-service/server/v2/server_test.go
  components/teams-service/storage/postgres/datamigration/sql/README.md
  components/teams-service/storage/postgres/migration/sql/07_add_db_id_field.up.sql
  components/teams-service/storage/postgres/migration/sql/README.md
  components/teams-service/storage/postgres/postgres.go
  scripts/a2_collections
  scripts/generate_and_check_migration_files
Labels: automate-auth, tech debt

#655 [A2-813] Apply Staged Project Rules API
  components/authz-service/engine/opa/opa.go
  components/authz-service/server/server.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/project_update_manager_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/authz-service/testhelpers/testhelpers.go
  lib/config/config_mgmt.go
Labels: automate-auth, iamv2

#707 Pull the Event Feed out of the compliance-service
  .bldr.toml
  .expeditor/verify.pipeline.yml
  .expeditor/verify_private.pipeline.yml
  .studio/event-feed-service
  api/interservice/event_feed/event_feed.pb.go
  api/interservice/event_feed/event_feed.proto
  components/event-feed-service/pkg/errors/backend.go
  components/event-feed-service/pkg/errors/error.go
  components/event-feed-service/pkg/errors/grpc.go
  components/event-feed-service/pkg/grpc/grpc.go
  components/event-feed-service/pkg/integration_test/feed_counts_test.go
  components/event-feed-service/pkg/integration_test/feed_test.go
  components/event-feed-service/pkg/integration_test/feed_timeline_test.go
  components/event-feed-service/pkg/integration_test/global_test.go
  components/event-feed-service/pkg/integration_test/suite_test.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-feed-service/pkg/persistence/mappings.go
  components/event-feed-service/pkg/persistence/store.go
  components/event-feed-service/pkg/server/feed.go
  components/event-feed-service/pkg/server/server.go
  components/event-feed-service/pkg/util/util.go
Labels: event feed

#693 Add a new previous_health column in service table
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  benchmarks/applications-service/html/PR_693.html
  benchmarks/applications-service/txt/PR_693.txt
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/server/server_internal_test.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/05_previous_health_service.up.sql
  components/applications-service/pkg/storage/postgres/service.go
  components/automate-gateway/api/applications.pb.swagger.go
Labels: eas-team
