Repository chef/automate, pull requests merged in 2019-09, with the labels that each got.

#1411 Sync swagger files for Automate docs.
  components/automate-chef-io/data/docs/api_chef_automate/applications/applications.swagger.json
Labels: documentation

#1377 Bump automate-compliance-profiles
  components/compliance-service/habitat/plan.sh
Labels: compliance profiles

#1418 deps: bump dex 2.18.0 -> 2.19.0
  Gopkg.lock
  Gopkg.toml
  components/automate-dex/habitat/plan.sh
  integration/helpers/ssl_filters.jq
  vendor/github.com/dexidp/dex/server/api.go
  vendor/github.com/dexidp/dex/server/handlers.go
Labels: auth-team, chore

#1380 [automate-796] projects in the tokens UI
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/entities/api-tokens/api-token.actions.ts
  components/automate-ui/src/app/entities/api-tokens/api-token.effects.ts
  components/automate-ui/src/app/entities/api-tokens/api-token.model.ts
  components/automate-ui/src/app/entities/api-tokens/api-token.reducer.spec.ts
  components/automate-ui/src/app/entities/api-tokens/api-token.requests.ts
  components/automate-ui/src/app/entities/policies/policy.selectors.ts
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.html
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.scss
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.spec.ts
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.spec.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.html
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.ts
Labels: auth-team, automate-auth, automate-ui, iamv2

#1410 Update ListRulesForAllProjects to use postgres instead of OPA cache
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/engine.go
  components/authz-service/engine/opa/opa.go
  components/authz-service/server/server.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/authz-service/testhelpers/testhelpers.go
  components/ingest-service/pipeline/processor/runs_project_tagger.go
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
Labels: auth-team, iamv2

#1196 added changes for sort the platform with name and release version
  components/compliance-service/api/reporting/server/server.go
Labels: automate-ui, compliance reporting, ui

#1423 Fix dep warning.
  Gopkg.toml
Labels: chore

#1416 Bump automate-compliance-profiles
  components/compliance-service/habitat/plan.sh
Labels: compliance profiles

#1332 multi region support for aws-api integration
  components/automate-chef-io/content/docs/node-integrations.md
  components/automate-chef-io/static/images/docs/create-aws-api-scanjob.png
  components/automate-ui/e2e/job-add.e2e-spec.ts
  components/automate-ui/src/app/page-components/job-nodes-form/job-nodes-form.component.html
  components/automate-ui/src/app/page-components/job-nodes-form/job-nodes-form.component.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.ts
  components/compliance-service/inspec-agent/resolver/resolver.go
  components/nodemanager-service/api/manager/server/server.go
  components/nodemanager-service/pgdb/node-managers-cloud.go
  components/nodemanager-service/pgdb/node_managers_cloud_integration_test.go
  components/nodemanager-service/tests/aws_api_nodes_integration_test.go
  components/nodemanager-service/tests/scanjobtests/aws_api_scanjob_integration_test.go
Labels: documentation

#1425 Fix proto compiler warning
  .bldr.toml
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.proto
Labels: chore

#1421 [#1342] Rule Save button not enabled when removing a condition
  components/automate-ui/src/app/entities/rules/rule.model.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
Labels: auth-team, automate-ui, bug 🐛, ui

#1297 Update to latest ha backend
  integration/services/ha_backend/setup.sh
Labels: deployment-team

#1424 [AUTH-1256] Enforce project assignment permissions for policy create and update on IAM v2.1
  components/authz-service/projectassignment/errors.go
  components/authz-service/projectassignment/project_assignment.go
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/migration.go
  components/authz-service/server/v2/policy.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/api/iam/03_roles_api.spec.ts
Labels: auth-team, iamv2

#1463 Prevent introspect_projects call unless IAM V2p1 or greater
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
Labels: auth-team, automate-auth, automate-ui, iamv2, ui

#1429 Update dependency jhump/protoreflect to latest release.
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/jhump/protoreflect/codec/buffer.go
  vendor/github.com/jhump/protoreflect/codec/decode.go
  vendor/github.com/jhump/protoreflect/codec/decode_fields.go
  vendor/github.com/jhump/protoreflect/codec/doc.go
  vendor/github.com/jhump/protoreflect/codec/encode.go
  vendor/github.com/jhump/protoreflect/codec/encode_fields.go
  vendor/github.com/jhump/protoreflect/desc/convert.go
  vendor/github.com/jhump/protoreflect/desc/descriptor.go
  vendor/github.com/jhump/protoreflect/desc/descriptor_no_unsafe.go
  vendor/github.com/jhump/protoreflect/desc/descriptor_unsafe.go
  vendor/github.com/jhump/protoreflect/desc/imports.go
  vendor/github.com/jhump/protoreflect/desc/internal/source_info.go
  vendor/github.com/jhump/protoreflect/desc/internal/util.go
  vendor/github.com/jhump/protoreflect/desc/load.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/ast.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/doc.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/errors.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/lexer.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/linker.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/options.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/parser.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/proto.y.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/resolve_files.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/source_code_info.go
  vendor/github.com/jhump/protoreflect/desc/protoparse/std_imports.go
  vendor/github.com/jhump/protoreflect/desc/protoprint/print.go
  vendor/github.com/jhump/protoreflect/dynamic/binary.go
  vendor/github.com/jhump/protoreflect/dynamic/codec.go
  vendor/github.com/jhump/protoreflect/dynamic/dynamic_message.go
  vendor/github.com/jhump/protoreflect/dynamic/equal.go
  vendor/github.com/jhump/protoreflect/dynamic/extension.go
  vendor/github.com/jhump/protoreflect/dynamic/extension_registry.go
  vendor/github.com/jhump/protoreflect/dynamic/json.go
  vendor/github.com/jhump/protoreflect/dynamic/maps_1.11.go
  vendor/github.com/jhump/protoreflect/dynamic/maps_1.12.go
  vendor/github.com/jhump/protoreflect/dynamic/merge.go
  vendor/github.com/jhump/protoreflect/dynamic/message_factory.go
  vendor/github.com/jhump/protoreflect/dynamic/text.go
  vendor/github.com/jhump/protoreflect/grpcreflect/server.go
  vendor/github.com/jhump/protoreflect/internal/standard_files.go
Labels: chore

#1467 [#1272] refresh global project filter when a new project is created
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
Labels: auth-team, automate-ui, bug 🐛

#1431 [AUTH-1256] Project assignment enforcement for teams
  .bldr.toml
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/policy.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/automate-gateway/handler/iam/v2beta/teams/teams.go
  components/teams-service/cmd/teams-service/main.go
  components/teams-service/server/v1/server_test.go
  components/teams-service/server/v2/server.go
  components/teams-service/server/v2/server_test.go
  components/teams-service/service/service.go
  components/teams-service/storage/conformance/conformance_test.go
  components/teams-service/storage/postgres/postgres.go
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/api/iam/03_roles_api.spec.ts
  e2e/cypress/integration/api/iam/04_teams_api.spec.ts
  e2e/cypress/integration/constants.ts
  e2e/cypress/integration/ui/common/01_login.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
  e2e/cypress/support/commands.ts
  lib/projectassignment/errors.go
  lib/projectassignment/project_assignment.go
  lib/projectassignment/project_assignment_test.go
Labels: auth-team, automate-auth, iamv2

#1487 Remove DENY walkthrough examples from IAM v2 Beta documentation
  components/automate-chef-io/content/docs/iam-v2-guide.md
Labels: auth-team, documentation

#1475 [event-services] normalize error handling and logging
  .bldr.toml
  components/compliance-service/api/jobs/server/server.go
  components/compliance-service/api/profiles/server/pgserver.go
  components/event-feed-service/cmd/event-feed-service/commands/root.go
  components/event-feed-service/cmd/event-feed-service/commands/serve.go
  components/event-feed-service/pkg/config/service.go
  components/event-feed-service/pkg/feed/feed.go
  components/event-feed-service/pkg/grpc/grpc.go
  components/event-feed-service/pkg/integration_test/feed_counts_test.go
  components/event-feed-service/pkg/integration_test/feed_test.go
  components/event-feed-service/pkg/integration_test/feed_timeline_test.go
  components/event-feed-service/pkg/integration_test/global_test.go
  components/event-feed-service/pkg/integration_test/suite_test.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-feed-service/pkg/persistence/store.go
  components/event-feed-service/pkg/server/feed.go
  components/event-feed-service/pkg/server/server.go
  components/event-gateway/cmd/event-gateway/commands/health-check.go
  components/event-gateway/cmd/event-gateway/commands/root.go
  components/event-gateway/cmd/event-gateway/commands/serve.go
  components/event-gateway/pkg/config/config.go
  components/event-gateway/pkg/nats/authenticator.go
  components/event-gateway/pkg/nats/check.go
  components/event-gateway/pkg/nats/server.go
  components/event-service/cmd/event-service/commands/root.go
  components/event-service/cmd/event-service/commands/send-test.go
  components/event-service/cmd/event-service/commands/serve.go
  components/event-service/config/config.go
  components/event-service/event/events.go
  components/event-service/integration_test/publish_test.go
  components/event-service/integration_test/suite_test.go
  components/event-service/nats/server.go
  components/event-service/server/grpc.go
  components/event-service/server/server.go
  components/ingest-service/integration_test/terminate_node_event_test.go
  components/ingest-service/server/automate_event_handler.go
  components/nodemanager-service/polling/polling.go
  lib/stringutils/slice.go
  lib/stringutils/slice_test.go
Labels: deployment-team

#1443 Dan/periodic remove disconnected
  .bldr.toml
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/disconnected_services_job_test.go
  components/applications-service/pkg/server/periodic.go
  components/applications-service/pkg/server/server.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas-team

#1526 lib/cereal: CreateWorkflowSchedule should take a context
  components/applications-service/pkg/server/periodic.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/server/jobs.go
  lib/cereal/cereal.go
  lib/cereal/integration/schedule.go
  lib/datalifecycle/purge/workflow.go
  tools/cereal-scaffold/main.go
Labels: deployment-team

#1351 added changes to show confirmation box to remove node cred
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/delete-object-modal/delete-object-modal.component.html
  components/automate-ui/src/app/components/delete-object-modal/delete-object-modal.component.ts
  components/automate-ui/src/app/page-components/resources/resources.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list-row.html
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list-row.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/policy/list/policy-list.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/team-management/team-management.component.html
  components/automate-ui/src/app/pages/user-details/user-details.component.html
  components/automate-ui/src/app/pages/user-management/user-management.component.html
  components/automate-ui/src/app/pipes/chef-pipes.module.ts
  components/automate-ui/src/app/pipes/continuous.pipe.spec.ts
  components/automate-ui/src/app/pipes/continuous.pipe.ts
Labels: automate-ui, ui

#1276 Automate-774 Service groups search/filter bar
  components/automate-ui/src/app/entities/service-groups/service-groups.actions.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.effects.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.facade.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.selector.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.html
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#1504 changed TOK to TOKEN in docs
  components/automate-chef-io/content/docs/api-tokens.md
  components/automate-chef-io/content/docs/authorization-overview.md
  components/automate-chef-io/content/docs/configuration.md
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/content/docs/teams.md
  components/automate-chef-io/content/docs/users.md
Labels: auth-team, documentation

#1537 removed run initiator and run type
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.html
Labels: automate-ui, client runs, ui

#1533 Add default line-height to input fields
  components/automate-ui/src/styles.scss
Labels: automate-ui, ui

#1432 [automate-1382] fix project & team details pages loading stale data
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/page-components/user-table/user-table.component.html
  components/automate-ui/src/app/page-components/user-table/user-table.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.scss
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/user-management/user-management.component.html
  components/automate-ui/src/app/pages/user-management/user-management.component.scss
  components/automate-ui/src/app/pages/user-management/user-management.component.spec.ts
  components/automate-ui/src/app/pages/user-management/user-management.component.ts
  components/automate-ui/src/styles.scss
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, ui

#1534 Updating client runs missing run date left sidebar
  components/automate-ui/src/app/pages/node-noruns-details/node-noruns-details.component.html
  components/automate-ui/src/app/pages/node-noruns-details/node-noruns-details.component.scss
Labels: automate-ui, client runs, ui

#1528 [#1275] tokens, teams, projects -- stay on list page, do not go to details
  .expeditor/verify_private.pipeline.yml
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/entities/teams/team.effects.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.ts
  e2e/cypress/integration/constants.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
Labels: auth-team, automate-ui, ui

#1493 Dan/expose disconnected status in svc groups
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/service_groups_test.go
  components/applications-service/integration_test/services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/applications-service/pkg/storage/postgres/services.go
  components/automate-gateway/api/applications.pb.swagger.go
Labels: eas-team

#1535 Applications sample data more useful for filtering use cases
  .studio/applications-service
Labels: eas-team

#1495 Re-enable non-flaky cypress tests in verify_private
  .expeditor/verify_private.pipeline.yml
  e2e/README.md
  e2e/cypress/integration/constants.ts
  e2e/cypress/integration/ui/compliance/01_ssh_scan_job.spec.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
Labels: auth-team, chore, cypress

#1524 Clean up IAM v2.1 version checking in UI
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.html
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.ts
Labels: auth-team, automate-auth, automate-ui, chore, ui

#1525 data-feed-service: naively apply cereal library
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/data-feed-service/cmd/data-feed-service/commands/serve.go
  components/data-feed-service/config/config.go
  components/data-feed-service/habitat/config/config.toml
  components/data-feed-service/habitat/plan.sh
  components/data-feed-service/server/grpc.go
  components/data-feed-service/server/server.go
  components/data-feed-service/service/data-feed-service.go
Labels: deployment-team

#1496 Increase event-gateway test timeout
  .expeditor/verify_private.pipeline.yml
Labels: eas-team

#1268 Adding compliance page filters to the URL
  components/automate-ui/e2e/compliance-reporting.e2e-spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-query.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-query.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/suggestions.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/suggestions.service.ts
Labels: automate-ui, compliance reporting, ui

#1553 Client Runs page, detecting bad page selection
  components/automate-ui/src/app/pages/client-runs/client-runs.component.spec.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
Labels: automate-ui, bug 🐛, iamv2, ui

#1538 Make periodic disconnected services check mandatory at the API level
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/disconnected_services_job_test.go
  components/applications-service/pkg/server/periodic.go
  components/applications-service/pkg/server/server.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas-team

#1566 Compliance page: Adding back the report date in the summary
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
Labels: automate-ui, bug 🐛, ui

#1570 changed add condition button to secondary
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
Labels: auth-team, automate-ui, ui

#1547 prevent to close run history right sidebar
  components/automate-ui/src/app/page-components/date-selector/date-selector.component.html
  components/automate-ui/src/app/page-components/date-selector/date-selector.component.ts
Labels: automate-ui, ui

#1502 Surface cancelled project update on the projects page
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_update_manager.go
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.html
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.scss
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.spec.ts
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  cspell.json
  lib/cereal/patterns/chain.go
  lib/cereal/patterns/chain_test.go
Labels: auth-team, automate-auth, automate-ui, ui

#1541 Use custom admin-only IAM resources/actions for disconnected svcs config
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  components/automate-chef-io/content/docs/default-policies.md
  inspec/a2-iam-v2-only-integration/controls/role_access.rb
  integration/tests/iam_v2_only.sh
Labels: eas-team

#1556 ci: enable "bodyclose" linter
  .golangci.toml
  components/authn-service/cmd/migrate-tokens/migrate-tokens.go
  components/automate-cli/pkg/diagnostics/integration/cfgmgmt_ccr.go
  components/automate-cli/pkg/diagnostics/integration/cfgmgmt_liveness.go
  components/automate-deployment/cmd/automate-ctl/create-backup.go
  components/automate-deployment/cmd/automate-ctl/stop.go
  components/automate-deployment/pkg/a1upgrade/openuri.go
  components/automate-deployment/pkg/a1upgrade/openuri_test.go
  components/automate-deployment/pkg/a1upgrade/preflight.go
Labels: auth-team, chore

#1591 [integration] test purge diagnostics during upgrades
  components/automate-cli/pkg/diagnostics/integration/purge.go
  integration/tests/airgap_ow_upgrade.sh
  integration/tests/airgap_upgrade.sh
  integration/tests/ha_data_services.sh
  integration/tests/iam_v2_upgrade_diagnostics.sh
  integration/tests/manual_upgrade.sh
  integration/tests/migrate_upgrade.sh
  integration/tests/upgrade_acceptance_master.sh
  integration/tests/upgrade_current_master.sh
Labels: deployment-team

#1583 Provide more information in the upgrade status command
  api/interservice/deployment/automate_deployment.pb.go
  api/interservice/deployment/automate_deployment.proto
  components/automate-cli/cmd/chef-automate/upgrade.go
  components/automate-deployment/pkg/server/converge_looper.go
  components/automate-deployment/pkg/server/upgrade_status.go
Labels: deployment-team

#1590 [AUTH-1501] Rules staged for delete should mark listed projects as EDITS_PENDING
  components/authz-service/storage/postgres/migration/sql/70_fix_status_for_list_projects.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres_test.go
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
Labels: auth-team, iamv2

#1574 [AUTH-1477] If there are no projects with pending rule edits, disable the update button with proper text
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
Labels: auth-team, automate-ui, iamv2, ui

#1595 Truncating non future estimates
  components/authz-service/server/v2/project_update_manager.go
  components/authz-service/server/v2/project_update_manager_internal_test.go
Labels: iamv2

#1609 added note about being on the latest automate version before upgrading iam
  components/automate-chef-io/content/docs/iam-v2-guide.md
Labels: auth-team, documentation

#1598 compliance-service: increase task executor workers
  components/compliance-service/inspec-agent/runner/runner.go
Labels: deployment-team

#1603 automate-load-balancer: Don't run reload hook with -x
  components/automate-load-balancer/habitat/hooks/reload
Labels: deployment-team

#1600 automate-gateway: Move license usage log message to debug
  components/automate-gateway/handler/compliance/reporting.go
Labels: deployment-team

#1606 Update docs on configuring external postgres.
  components/automate-chef-io/content/docs/configuration.md
Labels: deployment-team, documentation

#1597 deps: bump OPA pre-1.14.0 -> 0.14.0
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/open-policy-agent/opa/ast/check.go
  vendor/github.com/open-policy-agent/opa/ast/compare.go
  vendor/github.com/open-policy-agent/opa/ast/compile.go
  vendor/github.com/open-policy-agent/opa/ast/fuzz.go
  vendor/github.com/open-policy-agent/opa/ast/term.go
  vendor/github.com/open-policy-agent/opa/bundle/bundle.go
  vendor/github.com/open-policy-agent/opa/bundle/store.go
  vendor/github.com/open-policy-agent/opa/internal/file/archive/tarball.go
  vendor/github.com/open-policy-agent/opa/internal/file/loader.go
  vendor/github.com/open-policy-agent/opa/internal/file/url/url.go
  vendor/github.com/open-policy-agent/opa/internal/wasm/encoding/reader.go
  vendor/github.com/open-policy-agent/opa/loader/errors.go
  vendor/github.com/open-policy-agent/opa/loader/loader.go
  vendor/github.com/open-policy-agent/opa/loader/merge.go
  vendor/github.com/open-policy-agent/opa/metrics/metrics.go
  vendor/github.com/open-policy-agent/opa/rego/rego.go
  vendor/github.com/open-policy-agent/opa/topdown/bindings.go
  vendor/github.com/open-policy-agent/opa/topdown/builtins.go
  vendor/github.com/open-policy-agent/opa/topdown/eval.go
  vendor/github.com/open-policy-agent/opa/topdown/query.go
  vendor/github.com/open-policy-agent/opa/topdown/tokens.go
Labels: auth-team, automate-auth, chore

#1602 ci: Another workaround for Depot inconsistency
  .expeditor/upload-files.sh
Labels: deployment-team

#1617 Use 1 << x rather than math.Pow(2.0, float64(x))
  components/automate-deployment/pkg/airgap/bundle_creator.go
  components/automate-deployment/pkg/server/restart.go
Labels: deployment-team

#1619 Fix pkg_origin for scaffoldings
  components/automate-scaffolding-go/habitat/plan.sh
  components/automate-scaffolding/habitat/plan.sh
Labels: deployment-team

#1611 [Automate-793] Add caching to introspect calls
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/entities/userperms/userperms.effects.ts
  components/automate-ui/src/app/entities/userperms/userperms.reducer.ts
  components/automate-ui/src/app/entities/userperms/userperms.selectors.ts
  components/automate-ui/src/app/ui.component.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, automate-auth, automate-ui, chore, ui

#1575 Compliance reporting: Select date from the trend graph
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.ts
Labels: automate-ui, compliance reporting, ui

#1608 Changing compliance reporting search bar type names
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: automate-ui, compliance reporting, ui

#1604 Making compliance overview bubble graphs clickable
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-failures/overview-failures.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-failures/overview-failures.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.ts
Labels: automate-ui, compliance reporting, ui

#1616 lib/cereal: Add StartGuard to replace WaitGroup-based start checks
  lib/cereal/cereal.go
  lib/cereal/postgres/task_cleaner.go
  lib/cereal/postgres/task_pinger.go
  lib/cereal/start_guard.go
  lib/cereal/task_dequeue_pool.go
Labels: deployment-team

#1624 Fixing time zone problems
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-query.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, bug 🐛, ui

#1615 word wrap the connectivity error message for node
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.scss
Labels: automate-ui, ui

#1635 Use a cypress bind to make user mgmt test less flaky
  components/automate-ui/src/app/page-components/user-table/user-table.component.html
  components/automate-ui/src/app/pages/user-management/user-management.component.html
  e2e/README.md
  e2e/cypress/integration/ui/compliance/01_ssh_scan_job.spec.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, cypress

#1554 Automate 1531, 1296 Pass filters
  components/automate-ui/src/app/entities/service-groups/service-groups.effects.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#1626 Filter service groups by disconnected status
  components/applications-service/integration_test/service_groups_filters_test.go
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team

#1630 Include count of disconnected service groups w/ health counts
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/service_groups_health_counts_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/automate-gateway/api/applications.pb.swagger.go
Labels: eas-team

#1605 [AUTH-1501] Updated project details page to display pending edits message when rule deletes are staged
  components/automate-ui/src/app/entities/projects/project.reducer.ts
  components/automate-ui/src/app/entities/rules/rule.selectors.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
Labels: auth-team

#1642 Jamie/css on version automate user menu
  components/automate-ui/src/app/page-components/profile/profile.component.html
  components/automate-ui/src/app/page-components/profile/profile.component.scss
Labels: automate-ui, ui

#1644 [Automate-1634] Re-enable "Update Projects" button upon cancel…
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, ui

#1661 Introspection fixes for perm-based routing
  components/automate-gateway/handler/authz.go
  components/automate-gateway/handler/authz_test.go
  components/automate-ui/src/app/entities/userperms/userperms.effects.ts
Labels: auth-team, automate-auth, bug 🐛

#1610 Fix selecting a date outside current month
  components/automate-ui/src/app/components/calendar/calendar.component.html
  components/automate-ui/src/app/components/calendar/calendar.component.scss
  components/automate-ui/src/app/components/calendar/calendar.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
  components/automate-ui/src/app/pages/component-library/demos/demo-calendar/demo-calendar.component.ts
Labels: automate-ui, ui

#1638 Fixing wrong trend graph date with time zone + UTC
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.ts
Labels: automate-ui, compliance reporting, ui

#1620 Projects in dropdown should be Normally sorted
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.spec.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.ts
Labels: auth-team, automate-ui, ui

#1658 Fixing get nodes to concat filters on correctly
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.ts
Labels: automate-ui, bug 🐛, compliance reporting, ui

#1641 Filter services by disconnected status
  components/applications-service/integration_test/services_by_sg_test.go
  components/applications-service/integration_test/services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/postgres/services.go
Labels: eas-team

#1671 Depend on latest version of go-swagger.
  components/automate-chef-io/Makefile
  components/automate-chef-io/README.md
  components/automate-chef-io/habitat/plan.sh
Labels: documentation

#1643 PurgeProject for teams and tokens
  components/authn-service/tokens/mock/erroronly.go
  components/authn-service/tokens/mock/mock.go
  components/authn-service/tokens/pg/adapter.go
  components/authn-service/tokens/pg/pg_test.go
  components/authn-service/tokens/types/types.go
  components/teams-service/storage/conformance/conformance_test.go
  components/teams-service/storage/memstore/memstore.go
  components/teams-service/storage/postgres/postgres.go
  components/teams-service/storage/storage.go
Labels: auth-team, iamv2

#1666 Jamie/buttons hide profile description
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.scss
Labels: automate-ui, compliance profiles, ui

#1551 Introduce authz and validate projects
  .bldr.toml
  components/authn-service/authenticator/tokens/header-tokens.go
  components/authn-service/server/grpc.go
  components/authn-service/server/grpc_test.go
  components/authn-service/server/server.go
  components/authn-service/server/server_reflection_test.go
  components/authn-service/server/server_test.go
  components/authn-service/tokens/integration/token_integration_test.go
  components/authn-service/tokens/mock/erroronly.go
  components/authn-service/tokens/mock/mock.go
  components/authn-service/tokens/mock/prod.go
  components/authn-service/tokens/pg/adapter.go
  components/authn-service/tokens/pg/pg.go
  components/authn-service/tokens/pg/pg_test.go
  components/authn-service/tokens/tokens_test.go
  components/authn-service/tokens/types/types.go
  components/authz-service/server/v2/system_integration_test.go
  components/automate-gateway/gateway/middleware/auth_interceptor.go
  components/automate-gateway/gateway/middleware/types.go
  components/automate-gateway/handler/compliance/jobs.go
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
  components/automate-gateway/handler/iam/v2beta/teams/teams.go
  e2e/cypress/integration/api/iam/05_iam_integration.spec.ts
  e2e/cypress/support/commands.ts
  lib/projectassignment/errors.go
  lib/projectassignment/project_assignment.go
Labels: auth-team

#1667 authz: update project owner role
  components/authz-service/constants/v2/constants.go
  components/authz-service/engine/opa/example_v2/store-pretty.json
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/system.go
  components/authz-service/storage/postgres/datamigration/sql/09_update_project_admin.up.sql
  components/authz-service/storage/postgres/datamigration/sql/README.md
  inspec/a2-iam-v2-integration/controls/base.rb
  inspec/a2-iam-v2-only-integration/controls/role_access.rb
  inspec/a2-iam-v2p1-only-integration/controls/role_projects.rb
Labels: auth-team, automate-auth, iamv2

#1674 Jamie/fix ingest save rule button
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
Labels: auth-team, automate-ui, ui

#1659 [automate-1618] expand ingest rule integration tests + refactor tokens in API-only tests
  .expeditor/buildkite/cypress.sh
  .expeditor/verify_private.pipeline.yml
  e2e/README.md
  e2e/cypress.json
  e2e/cypress/fixtures/converge/avengers1.json
  e2e/cypress/fixtures/converge/xmen1.json
  e2e/cypress/fixtures/converge/xmen2.json
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/api/iam/03_roles_api.spec.ts
  e2e/cypress/integration/api/iam/04_teams_api.spec.ts
  e2e/cypress/integration/api/iam/05_iam_integration.spec.ts
  e2e/cypress/integration/constants.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
  e2e/cypress/support/commands.ts
  e2e/package-lock.json
  e2e/tsconfig.json
  integration/tests/cypress_e2e.sh
Labels: auth-team, automate-auth, iamv2, tech debt

#1681 [authz 1667] Use owner role for admin policy
  components/authz-service/storage/postgres/datamigration/sql/10_add_owner_role_to_admin_pol.up.sql
  components/authz-service/storage/postgres/datamigration/sql/README.md
  components/automate-chef-io/static/images/docs/admin-policies-administrator-access.png
Labels: auth-team, documentation

#1686 [config] redact deprecated configuration
  api/config/deployment/automate_config.go
  api/config/deployment/automate_config_test.go
Labels: deployment-team

#1689 Jamie/date time trial modal
  components/automate-ui/src/app/entities/license/license.model.ts
  components/automate-ui/src/app/page-components/license-apply/license-apply.component.html
  components/automate-ui/src/app/page-components/license-apply/license-apply.component.spec.ts
  components/automate-ui/src/app/page-components/license-lockout/license-lockout.component.html
  components/automate-ui/src/app/page-components/license-lockout/license-lockout.component.spec.ts
Labels: auth-team, automate-ui, ui

#1697 Update hab helper remove_dev_license
  .studio/license-control-service
Labels: auth-team, automate-auth, bug 🐛, studio-dev

#1073 log on timeout of hab command
  components/automate-deployment/pkg/target/hab_cmd.go
Labels: deployment-team

#90 [deployment] Represent waiting states in converger
  api/interservice/deployment/errors.go
  components/automate-deployment/pkg/converge/compiler.go
  components/automate-deployment/pkg/converge/compiler_test.go
  components/automate-deployment/pkg/converge/converge_state.go
  components/automate-deployment/pkg/converge/converger.go
  components/automate-deployment/pkg/converge/converger_internal_test.go
  components/automate-deployment/pkg/converge/converger_test.go
  components/automate-deployment/pkg/converge/self_hup.go
  components/automate-deployment/pkg/events/mock_event_sender.go
  components/automate-deployment/pkg/habpkg/habpkg.go
  components/automate-deployment/pkg/server/reconfigure_handler.go
  components/automate-deployment/pkg/server/restart.go
  components/automate-deployment/pkg/server/server.go
  components/automate-deployment/pkg/target/local_target.go
  components/automate-deployment/pkg/target/mock_target.go
  components/automate-deployment/pkg/target/target.go
  lib/platform/pg/mock_db.go
Labels: deployment-team

#1696 Passing date as a string
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: automate-ui, bug 🐛, compliance reporting, ui

#1687 Resync query_projects function
  components/authz-service/storage/postgres/migration/sql/71_sync_query_projects_with_query_project.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
Labels: auth-team, automate-auth, chore

#1702 [cypress] move team_add_users to flaky tests
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
Labels: auth-team, cypress

#1716 Docs Website Formatting Fix
  components/automate-chef-io/layouts/shortcodes/danger.html
  components/automate-chef-io/layouts/shortcodes/info.html
  components/automate-chef-io/layouts/shortcodes/success.html
  components/automate-chef-io/layouts/shortcodes/tip.html
  components/automate-chef-io/layouts/shortcodes/warning.html
Labels: documentation

#1269 Improving LDAP, SAML, and OAuth documentation
  components/automate-chef-io/content/docs/OAuth.md
  components/automate-chef-io/content/docs/configuration.md
  components/automate-chef-io/content/docs/ldap.md
  components/automate-chef-io/content/docs/saml.md
Labels: auth-team, documentation

#1694 Add control_tag filters to reports search bar
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, compliance reporting, ui

#1601 control-list api
  components/automate-gateway/api/compliance/reporting/reporting.pb.go
  components/automate-gateway/api/compliance/reporting/reporting.pb.gw.go
  components/automate-gateway/api/compliance/reporting/reporting.pb.policy-v1.go
  components/automate-gateway/api/compliance/reporting/reporting.pb.policy-v2.go
  components/automate-gateway/api/compliance/reporting/reporting.proto
  components/automate-gateway/api/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/compliance_reporting_reporting.pb.swagger.go
  components/automate-gateway/handler/compliance/reporting.go
  components/compliance-service/api/reporting/reporting.pb.go
  components/compliance-service/api/reporting/reporting.proto
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/api/tests/010_controls_list_spec.rb
  components/compliance-service/reporting/relaxting/reports.go
Labels: compliance reporting

#1715 Jamie/natural sort library function 2
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.spec.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.ts
  components/automate-ui/src/app/helpers/auth/sorter.spec.ts
  components/automate-ui/src/app/helpers/auth/sorter.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.spec.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.ts
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/pages/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/pages/policy/list/policy-list.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/roles/list/roles-list.component.spec.ts
  components/automate-ui/src/app/pages/roles/list/roles-list.component.ts
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.ts
  components/automate-ui/src/app/pages/user-management/user-management.component.spec.ts
  components/automate-ui/src/app/pages/user-management/user-management.component.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.spec.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
Labels: automate-ui, ui

#1706 Fixing time zone being added to the selected calendar
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
Labels: automate-ui, bug 🐛, ui
