Repository chef/automate, pull requests merged in 2019-11, with the labels that each got.

#2043 Authz OPA test additions
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/authz_v2_test.rego
  components/authz-service/engine/opa/policy/introspection_v2.rego
Labels: auth-team, automate-auth, chore

#1941 Audit fix UI security alerts
  components/automate-ui/package-lock.json
Labels: automate-ui, ui

#2074 Update webdriver-manager
  .expeditor/nightly.pipeline.yml
  .expeditor/verify.pipeline.yml
  .expeditor/verify_private.pipeline.yml
  components/automate-ui/package-lock.json
Labels: automate-ui, ui

#2017 Fix incorrect border around compliance search
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.scss
Labels: automate-ui, ui

#2051 [automate-1840] bump the project limit on dev/acceptance environments
  terraform/test-environments/modules/chef_automate_install/main.tf
Labels: auth-team

#1983 Update format for report export filenames
  components/automate-ui/src/app/helpers/datetime/datetime.ts
  components/automate-ui/src/app/page-components/run-history/run-history.component.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
Labels: automate-ui, ui

#2053 [automate-1877] Remove IAM v2.0 specific code from authz-service
  api/interservice/authz/v2/authz.pb.go
  api/interservice/authz/v2/authz.pb.mock.go
  api/interservice/authz/v2/authz.pb.validate.go
  api/interservice/authz/v2/authz.proto
  api/interservice/authz/v2/authz_test.go
  components/authz-service/engine/conformance/conformance_test.go
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/engine.go
  components/authz-service/engine/opa/opa.go
  components/authz-service/engine/opa/opa_internal_test.go
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/authz_test.go
  components/authz-service/server/v2/migration.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/authz-service/testhelpers/testhelpers.go
  components/automate-grpc/protoc-gen-policy/policy/policy.go
  components/event-gateway/integration_test/nats_auth_test.go
  components/event-gateway/pkg/nats/authenticator.go
Labels: auth-team

#2054 document external facing reporting stats proto
  components/automate-chef-io/data/docs/api-static/00-meta.swagger.json
  components/automate-chef-io/data/docs/api-static/03-tag-groups.swagger.json
  components/automate-chef-io/data/docs/api-static/05-stats-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/automate-gateway/api/compliance/reporting/stats/stats.pb.go
  components/automate-gateway/api/compliance/reporting/stats/stats.proto
  components/automate-gateway/api/compliance/reporting/stats/stats.swagger.json
  components/automate-gateway/api/compliance_reporting_stats_stats.pb.swagger.go
Labels: documentation

#2096 Redo API docs tags.
  components/automate-chef-io/data/docs/api-static/00-meta.swagger.json
  components/automate-chef-io/data/docs/api-static/01-reporting-export.swagger.json
  components/automate-chef-io/data/docs/api-static/03-tag-groups.swagger.json
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api-static/04-reporting-tags.swagger.json
  components/automate-chef-io/data/docs/api-static/05-stats-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/compliance/reporting/reporting.pb.go
  components/automate-gateway/api/compliance/reporting/reporting.proto
  components/automate-gateway/api/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/compliance_reporting_reporting.pb.swagger.go
Labels: documentation

#2093 Auth 1877/2p1 conditional removal
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.ts
  components/automate-ui/src/app/entities/policies/policy.model.ts
  components/automate-ui/src/app/entities/policies/policy.reducer.ts
  components/automate-ui/src/app/entities/policies/policy.requests.ts
  components/automate-ui/src/app/entities/policies/policy.selectors.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.ts
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.html
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.spec.ts
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.ts
  components/automate-ui/src/app/pages/policy/list/policy-list.component.html
  components/automate-ui/src/app/pages/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/pages/policy/list/policy-list.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/roles/list/roles-list.component.html
  components/automate-ui/src/app/pages/roles/list/roles-list.component.ts
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.html
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  e2e/cypress/integration/ui/common/02_global_filter.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/06_token_mgmt.spec.ts
Labels: auth-team

#2116 builder-api-proxy: listen on ssl, add health check
  api/config/builder_api_proxy/config_request.go
  api/config/builder_api_proxy/config_request.pb.a2svc.go
  api/config/builder_api_proxy/config_request.pb.go
  api/config/builder_api_proxy/config_request.proto
  components/automate-builder-api-proxy/habitat/config/nginx.conf
  components/automate-builder-api-proxy/habitat/hooks/health-check
  components/automate-builder-api-proxy/habitat/plan.sh
  components/automate-load-balancer/habitat/config/automate-builder-api-proxy-location.conf
  components/automate-load-balancer/habitat/config/automate-builder-api-proxy-upstream.conf
  integration/helpers/ssl_filters.jq
Labels: deployment-team

#2118 automate-minio: add health check
  components/automate-minio/habitat/config/root_ca.crt
  components/automate-minio/habitat/hooks/health-check
  components/automate-minio/habitat/plan.sh
Labels: deployment-team

#2119 automate-builder-memcached: add basic healthcheck
  components/automate-builder-memcached/habitat/hooks/health-check
  components/automate-builder-memcached/habitat/hooks/run
  components/automate-builder-memcached/habitat/plan.sh
Labels: deployment-team

#2120 automate-bldr-api: add basic health check
  components/automate-builder-api/habitat/hooks/health-check
  components/automate-builder-api/habitat/plan.sh
Labels: deployment-team

#2117 Add smoke tests for builder
  .expeditor/verify_private.pipeline.yml
  e2e/cypress/integration/bldr-smoke/smoke.spec.ts
  integration/fixtures/test_plan/plan.sh
  integration/tests/bldr_smoke.sh
Labels: deployment-team

#2133 Builder proxy test
  .expeditor/verify_private.pipeline.yml
  integration/base.sh
  integration/run_test
  integration/squid.conf
  integration/tests/bldr_proxy_smoke.sh
Labels: deployment-team

#2097 [automate-1848] Auto-generate policies when creating a project
  .swn
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/authz-service/testhelpers/testhelpers.go
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.scss
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  e2e/README.md
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/constants.ts
  e2e/cypress/integration/ui/common/02_global_filter.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, documentation, ui

#2022 [deployment] Provide an http endpoint for monitoring Automate and its services
  components/automate-chef-io/content/docs/monitoring.md
  components/automate-chef-io/content/docs/servicenow-integration-install.md
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
Labels: deployment-team, documentation

#2112 [automate-1877] miscellaneous IAM v2.0 cleanup
  .studiorc
  components/authz-service/README.md
  components/authz-service/engine/opa/opa.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-gateway/gateway/middleware/authv2/authv2.go
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
  terraform/test-environments/modules/chef_automate_install/templates/install_chef_automate_cli.sh.tpl
Labels: auth-team

#2113 Removing Duplicate requests for details pages
  components/automate-ui/src/app/pages/policy/details/policy-details.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
Labels: auth-team, automate-ui

#2153 [automate-2105] Replace Stencil table with Angular table in tok…
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/table/table-body/table-body.component.html
  components/automate-ui/src/app/components/table/table-body/table-body.component.scss
  components/automate-ui/src/app/components/table/table-body/table-body.component.spec.ts
  components/automate-ui/src/app/components/table/table-body/table-body.component.ts
  components/automate-ui/src/app/components/table/table-cell/table-cell.component.html
  components/automate-ui/src/app/components/table/table-cell/table-cell.component.scss
  components/automate-ui/src/app/components/table/table-cell/table-cell.component.spec.ts
  components/automate-ui/src/app/components/table/table-cell/table-cell.component.ts
  components/automate-ui/src/app/components/table/table-header-cell/table-header-cell.component.html
  components/automate-ui/src/app/components/table/table-header-cell/table-header-cell.component.scss
  components/automate-ui/src/app/components/table/table-header-cell/table-header-cell.component.spec.ts
  components/automate-ui/src/app/components/table/table-header-cell/table-header-cell.component.ts
  components/automate-ui/src/app/components/table/table-header/table-header.component.html
  components/automate-ui/src/app/components/table/table-header/table-header.component.scss
  components/automate-ui/src/app/components/table/table-header/table-header.component.spec.ts
  components/automate-ui/src/app/components/table/table-header/table-header.component.ts
  components/automate-ui/src/app/components/table/table-row/table-row.component.html
  components/automate-ui/src/app/components/table/table-row/table-row.component.scss
  components/automate-ui/src/app/components/table/table-row/table-row.component.spec.ts
  components/automate-ui/src/app/components/table/table-row/table-row.component.ts
  components/automate-ui/src/app/components/table/table.component.html
  components/automate-ui/src/app/components/table/table.component.scss
  components/automate-ui/src/app/components/table/table.component.spec.ts
  components/automate-ui/src/app/components/table/table.component.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.scss
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.spec.ts
  e2e/cypress/integration/ui/settings/06_token_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#2033 Jamie/chef input touched
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.scss
Labels: automate-ui, ui

#2151 Removing duplicate requests
  components/automate-ui/src/app/entities/entities.ts
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/pages/policy/details/policy-details.component.ts
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.html
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/route.selectors.ts
Labels: auth-team, automate-ui, ui

#2171 changes for compliance pages to use the `chef-control-menu`
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
Labels: automate-ui, ui

#2048 Jamie/utc compliance calendar scan job
  components/automate-ui/e2e/job-add.e2e-spec.ts
  components/automate-ui/src/app/components/calendar/calendar.component.ts
  components/automate-ui/src/app/helpers/datetime/datetime.ts
  components/automate-ui/src/app/page-components/job-schedule-form/job-schedule-form.component.html
  components/automate-ui/src/app/page-components/job-schedule-form/job-schedule-form.component.scss
  components/automate-ui/src/app/page-components/job-schedule-form/job-schedule-form.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.ts
Labels: automate-ui, ui

#2158 [AUTOMATE-2138] Always refetch latest data in UI for projects, policies, and roles
  components/automate-ui/src/app/entities/entities.ts
  components/automate-ui/src/app/entities/policies/policy.reducer.ts
  components/automate-ui/src/app/entities/projects/project.reducer.ts
  components/automate-ui/src/app/entities/roles/role.reducer.ts
  components/automate-ui/src/app/entities/rules/rule.reducer.ts
  components/automate-ui/src/app/pages/policy/details/policy-details.component.html
  components/automate-ui/src/app/pages/policy/details/policy-details.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/roles/details/role-details.component.ts
Labels: auth-team

#2197 Turn off draft mode to make API docs live
  components/automate-chef-io/content/docs/api.md
Labels: documentation

#2185 Fix error related to timewizard formatting.
  components/automate-ui/src/app/entities/service-groups/service-groups.facade.ts
Labels: automate-ui, eas-team, ui

#2202 removed here link text on release dashboards
  components/release-mgmt-dashboard/src/app/app.component.html
Labels: a11y

#2170 add examples to protos for api docs
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/compliance/reporting/reporting.pb.go
  components/automate-gateway/api/compliance/reporting/reporting.proto
  components/automate-gateway/api/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/compliance/reporting/stats/stats.pb.go
  components/automate-gateway/api/compliance/reporting/stats/stats.proto
  components/automate-gateway/api/compliance/reporting/stats/stats.swagger.json
  components/automate-gateway/api/compliance_reporting_reporting.pb.swagger.go
  components/automate-gateway/api/compliance_reporting_stats_stats.pb.swagger.go
Labels: documentation

#2196 [automate-2161] Use angular component chef table
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/page-components/user-table/user-table.component.html
  components/automate-ui/src/app/page-components/user-table/user-table.component.scss
  components/automate-ui/src/app/pages/policy/details/policy-details.component.html
  components/automate-ui/src/app/pages/policy/details/policy-details.component.scss
  components/automate-ui/src/app/pages/policy/list/policy-list.component.html
  components/automate-ui/src/app/pages/policy/list/policy-list.component.scss
  components/automate-ui/src/app/pages/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.scss
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/roles/list/roles-list.component.html
  components/automate-ui/src/app/pages/roles/list/roles-list.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.html
  components/automate-ui/src/app/pages/team-management/team-management.component.scss
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
Labels: auth-team

#2159 document nodes proto, a little cleanup for cnfgmgmt proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/scanner/jobs/jobs.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/manager/manager.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/nodes.swagger.json
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/compliance/reporting/stats/stats.pb.go
  components/automate-gateway/api/compliance/reporting/stats/stats.proto
  components/automate-gateway/api/compliance/reporting/stats/stats.swagger.json
  components/automate-gateway/api/compliance/scanner/jobs/jobs.swagger.json
  components/automate-gateway/api/compliance_reporting_stats_stats.pb.swagger.go
  components/automate-gateway/api/compliance_scanner_jobs_jobs.pb.swagger.go
  components/automate-gateway/api/nodes/manager/manager.swagger.json
  components/automate-gateway/api/nodes/nodes.pb.go
  components/automate-gateway/api/nodes/nodes.proto
  components/automate-gateway/api/nodes/nodes.swagger.json
  components/automate-gateway/api/nodes_manager_manager.pb.swagger.go
  components/automate-gateway/api/nodes_nodes.pb.swagger.go
  components/compliance-service/api/common/common.pb.go
  components/compliance-service/api/common/common.proto
Labels: documentation

#2230 airgap: download new hab binary from packages.chef.io
  components/automate-deployment/pkg/airgap/bundle_creator.go
  components/automate-deployment/pkg/airgap/bundle_creator_test.go
  components/automate-deployment/pkg/habpkg/semverish.go
  components/automate-deployment/tools/upgrade-test-scaffold/upgrade-test-scaffold.go
Labels: deployment-team

#2229 ci: update automation of habitat version bumping
  .expeditor/config.yml
  .expeditor/update_habitat.sh
Labels: deployment-team

#2203 Adding client runs ingestions tagging tests
  e2e/cypress/integration/api/iam/04_projects_api_client_runs_ingestion.ts
Labels: auth-team, cypress, iamv2, tech debt

#2221 Refactor profile list code
  components/compliance-service/api/profiles/server/pgserver.go
  components/compliance-service/profiles/db/store.go
Labels: compliance profiles

#2164 Jamie/control tag filtering no values
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: HIGH PRIORITY, automate-ui, compliance reporting, ui

#2227 CSS changes to display dropdown on top of loading overlay
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.scss
Labels: automate-ui, ui

#2220 Adding compliance ingestion project tagging
  e2e/cypress/fixtures/compliance/inspec-report.json
  e2e/cypress/integration/api/iam/05_projects_api_compliance_ingestion.ts
Labels: auth-team, cypress, iamv2, tech debt

#2219 [automate-2216] Supply missing field caption for team details
  components/automate-ui/src/app/modules/team/team-details/team-details.component.scss
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, emergent, ui

#2188 [automate-2181] Fix token subscriptions
  components/automate-ui/src/app/entities/entities.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
Labels: auth-team, automate-auth, automate-ui, chore, ui

#2130 [automate-2104] reset items in ngrx/store between GET requests
  components/automate-ui/src/app/entities/api-tokens/api-token.reducer.ts
  components/automate-ui/src/app/entities/teams/team.reducer.ts
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/entities/users/user.reducer.spec.ts
  components/automate-ui/src/app/entities/users/user.reducer.ts
  components/automate-ui/src/app/entities/users/user.selectors.ts
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/team/team-details/team-details.component.scss
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.scss
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.ts
Labels: auth-team, automate-ui, ui

#2251 Scrolling up to see the notification bar
  .expeditor/verify_private.pipeline.yml
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/06_token_mgmt.spec.ts
Labels: auth-team, cypress, emergent, needs-review

#2206 [automate-2180] Fix policy subscriptions
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.ts
Labels: auth-team, automate-auth, automate-ui, chore, ui

#2205 [automate-2177] clean up team pages subscriptions
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
Labels: auth-team, automate-ui, ui

#2208 Update display formats for event feed datetimes
  components/automate-ui/src/app/helpers/datetime/datetime.ts
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.html
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.spec.ts
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.html
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.spec.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.ts
Labels: automate-ui, ui

#2222 Only show auto create msg for project modal
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
Labels: auth-team, automate-ui, bug 🐛, ui

#2242 license lockout modal design changes and add sign out functionality
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.html
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.scss
Labels: auth-team, automate-ui, ui

#2239 Update team name on save
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
Labels: auth-team, bug 🐛

#2223 [automate-2176] clean up user pages subscriptions
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.html
  components/automate-ui/src/app/modules/user/user-management/user-management.component.ts
Labels: auth-team, automate-ui

#2236 [data-lifecycle] Migrate default values from old config
  components/compliance-service/cmd/compliance-service/cmd/run.go
  components/compliance-service/compliance.go
  components/event-feed-service/habitat/config/config.toml
  components/event-feed-service/pkg/server/jobs.go
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/server/purge.go
Labels: deployment-team

#2157 [data-lifecyle] add data-lifecycle API
  .bldr.toml
  .expeditor/verify_private.pipeline.yml
  api/external/data_lifecycle/data_lifecycle.pb.go
  api/external/data_lifecycle/data_lifecycle.pb.gw.go
  api/external/data_lifecycle/data_lifecycle.pb.policy-v1.go
  api/external/data_lifecycle/data_lifecycle.pb.policy-v2.go
  api/external/data_lifecycle/data_lifecycle.proto
  api/external/data_lifecycle/data_lifecycle.swagger.json
  api/interservice/data_lifecycle/purge.proto
  api/interservice/ingest/job_scheduler.pb.go
  api/interservice/ingest/job_scheduler.proto
  api/interservice/ingest/job_scheduler.swagger.json
  components/automate-chef-io/content/docs/configuration.md
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-gateway/api/data_lifecycle.pb.swagger.go
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway/clients_test.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/gateway_mocks/mock_compliance_ingest/compliance_ingest_mock.go
  components/automate-gateway/gateway_mocks/mock_gateway/clients_mock.go
  components/automate-gateway/handler/data_lifecycle/compliance.go
  components/automate-gateway/handler/data_lifecycle/data_lifecycle.go
  components/automate-gateway/handler/data_lifecycle/event_feed.go
  components/automate-gateway/handler/data_lifecycle/infra.go
  components/automate-gateway/handler/data_lifecycle/services.go
  components/automate-gateway/integration/data_lifecycle_test.go
  components/automate-gateway/integration/license_usage_nodes_test.go
  components/automate-gateway/integration/nodes_test.go
  components/automate-gateway/integration/suite_test.go
  components/automate-grpc/protoc-gen-policy/policy/policy.go
  components/event-feed-service/pkg/integration_test/feed_purge_test.go
  components/ingest-service/integration_test/job_scheduler_test.go
  components/ingest-service/server/delete_nodes_scheduler.go
  components/ingest-service/server/job_scheduler_server.go
  components/ingest-service/server/jobs.go
  components/ingest-service/server/missing_nodes_deletion_scheduler.go
  components/ingest-service/server/node_missing_scheduler.go
  lib/datalifecycle/purge/server.go
Labels: deployment-team, documentation

#2257 Document that `chef-automate backup restore` without ID uses the latest backup
  components/automate-chef-io/content/docs/backup.md
Labels: deployment-team, documentation

#2301 [pg-sidecar-service] pin core postgres deps
  components/pg-sidecar-service/habitat/plan.sh
Labels: deployment-team

#2279 Auth 2184/project limit config docs
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
Labels: auth-team, documentation

#2261 [automate-2179] clean up project subscriptions
  components/automate-ui/src/app/modules/policy/details/policy-details.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
Labels: auth-team, automate-ui, ui

#2308 Auth 2295/increase cypress project limit
  e2e/cypress/integration/api/iam/04_projects_api_client_runs_ingestion.ts
  e2e/cypress/integration/api/iam/05_projects_api_compliance_ingestion.ts
  e2e/cypress/integration/api/iam/06_projects_api_compliance_update.ts
  e2e/cypress/integration/api/iam/07_projects_api_client_runs_update.ts
  integration/tests/cypress_e2e.sh
Labels: auth-team

#2319 Auth 2304/hide unassigned if only one allowed
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.component.html
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.spec.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.selectors.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
Labels: WIP, auth-team

#2305 [auth-2121] apply rules docs
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
Labels: auth-team, documentation, needs-review

#2311 Adding action project update integration tests
  e2e/cypress/fixtures/action/environment_create.json
  e2e/cypress/integration/api/iam/10_projects_api_action_update.spec.ts
Labels: auth-team, cypress, iamv2, tech debt

#2338 Change position of chef-page to fixed on policy add members component
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.scss
Labels: automate-ui, ui

#2339 [purge] always log purge actions
  components/es-sidecar-service/pkg/server/purge.go
  lib/datalifecycle/purge/policies.go
Labels: deployment-team

#2322 Bhd/2298/cypress actions ingestion
  e2e/cypress/integration/api/iam/11_projects_api_action_ingestion.spec.ts
Labels: auth-team

#2341 Add styles to labels in scan jobs form
  components/automate-ui/src/app/page-components/job-nodes-form/job-nodes-form.component.scss
Labels: automate-ui, bug 🐛, layout, ui

#2343 tools: add print-ds-config
  tools/print-ds-config/main.go
Labels: deployment-team

#2335 Event feed right panel does not open
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.html
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.ts
Labels: automate-ui, bug 🐛, layout, ui

#2000 Kg/how to api
  components/automate-chef-io/README.md
  components/automate-chef-io/static/images/docs/api-resource-definition.png
  public/categories/index.xml
  public/index.xml
  public/sitemap.xml
  public/tags/index.xml
Labels: documentation

#2359 fixing font size on project rules
  components/automate-ui/src/app/pages/project/rules/project-rules.component.scss
Labels: auth-team, automate-ui, ui

#2280 Adding nodemanager project update tests
  e2e/cypress/integration/api/iam/04_projects_api_client_runs_ingestion.spec.ts
  e2e/cypress/integration/api/iam/05_projects_api_compliance_ingestion.spec.ts
  e2e/cypress/integration/api/iam/06_projects_api_compliance_update.spec.ts
  e2e/cypress/integration/api/iam/07_projects_api_client_runs_update.spec.ts
  e2e/cypress/integration/api/iam/08_projects_api_nodemanager_update.spec.ts
Labels: auth-team, cypress, iamv2, tech debt

#2294 Adding nodemanager ingestion project tagging tests
  e2e/cypress/integration/api/iam/09_projects_api_nodemanager_ingestion.spec.ts
Labels: auth-team, cypress, iamv2, tech debt

#2332 Can see hidden Scan Jobs panel when scrolling right
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.html
Labels: automate-ui, bug 🐛, layout, ui

#2361 cypress: move helpers and constants to support
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/api/iam/03_iam_integration.spec.ts
  e2e/cypress/integration/api/iam/04_projects_api_client_runs_ingestion.spec.ts
  e2e/cypress/integration/api/iam/05_projects_api_compliance_ingestion.spec.ts
  e2e/cypress/integration/api/iam/06_projects_api_compliance_update.spec.ts
  e2e/cypress/integration/api/iam/07_projects_api_client_runs_update.spec.ts
  e2e/cypress/integration/api/iam/08_projects_api_nodemanager_update.spec.ts
  e2e/cypress/integration/api/iam/09_projects_api_nodemanager_ingestion.spec.ts
  e2e/cypress/integration/api/iam/10_projects_api_action_update.spec.ts
  e2e/cypress/integration/api/iam/11_projects_api_action_ingestion.spec.ts
  e2e/cypress/integration/ui/common/02_global_filter.spec.ts
  e2e/cypress/integration/ui/compliance/01_ssh_scan_job.spec.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/06_token_mgmt.spec.ts
  e2e/cypress/plugins/cy-ts-preprocessor.js
  e2e/cypress/support/constants.ts
  e2e/cypress/support/helpers.ts
  e2e/cypress/support/index.ts
Labels: auth-team, cypress, emergent

#2276 prepare docs for iamv2 ga release
  components/automate-chef-io/config.toml
  components/automate-chef-io/content/docs/api-tokens.md
  components/automate-chef-io/content/docs/iam-v1-overview.md
  components/automate-chef-io/content/docs/iam-v1-policies.md
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/ldap.md
  components/automate-chef-io/content/docs/saml.md
  components/automate-chef-io/content/docs/teams.md
  components/automate-chef-io/content/docs/users.md
Labels: auth-team, documentation

#2347 nodemanager Read RPC project filtering
  components/nodemanager-service/api/nodes/server/server.go
  components/nodemanager-service/tests/project_filtering_test.go
Labels: auth-team, iamv2, nodemanager

#2368 Dan/ingest healthcheck output
  .studio/applications-service
  api/external/habitat/README.md
  api/external/habitat/event.pb.go
  api/external/habitat/event.proto
  api/external/habitat/update-event-proto.sh
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/dev/hab-client/Dockerfile
  components/applications-service/dev/hab-client/run-hab-sup.sh
  components/applications-service/pkg/generator/config_test.go
  components/applications-service/pkg/generator/runner.go
  components/applications-service/pkg/ingester/v1/ingest.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/15_service_full_hc_streams.up.sql
  components/applications-service/pkg/storage/postgres/service_internal_test.go
  components/applications-service/pkg/storage/postgres/services.go
Labels: eas-team

#2373 Jamie/2285 v1 create team modal bug
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/components/chef-components.module.ts
Labels: HIGH PRIORITY, auth-team, bug 🐛, layout, ui

#2128 Jamie/chef input from stencil
  components/automate-ui/e2e/integrations.e2e-spec.ts
  components/automate-ui/src/app/components/input/input.directive.scss
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.scss
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.scss
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.scss
  components/automate-ui/src/app/pages/integrations/aws-form/aws-form.component.html
  components/automate-ui/src/app/pages/integrations/azure-form/azure-form.component.html
  components/automate-ui/src/app/pages/integrations/integrations-form/integrations-form.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
Labels: automate-ui, ui

#2306 Remove all applied search query filters when user clicks `clear all` button
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: automate-ui, bug 🐛, compliance reporting, ui

#2204 Update member expression regex to include special characters
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.ts
Labels: automate-ui, iamv2, ui

#2331 Loading Overlay Size Issue
  components/automate-ui/e2e/helpers/browser_expectations.ts
  components/automate-ui/src/app/entities/layout/layout.actions.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/entities/layout/layout.reducer.ts
  components/automate-ui/src/app/entities/layout/layout.selectors.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.html
  components/automate-ui/src/app/modules/policy/list/policy-list.component.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.html
  components/automate-ui/src/app/modules/roles/list/roles-list.component.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.html
  components/automate-ui/src/app/modules/team/team-management/team-management.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.html
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.html
  components/automate-ui/src/app/modules/user/user-management/user-management.component.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/scanner/scanner.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/scanner/scanner.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/ui.component.html
  components/automate-ui/src/app/ui.component.scss
Labels: automate-ui, bug 🐛, layout, ui

#2337 Right panel positioning issue
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.html
  components/automate-ui/src/app/page-components/resources/resources.component.html
  components/automate-ui/src/app/page-components/run-history/run-history.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.html
  components/automate-ui/src/app/pages/node-details/node-details.component.html
  components/automate-ui/src/app/ui.component.html
  components/automate-ui/src/styles.scss
Labels: automate-ui, bug 🐛, layout, ui

#2376 Make footer on chef-page fixed
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.scss
  components/chef-ui-library/src/templates/chef-page/chef-page.scss
Labels: automate-ui, bug 🐛, layout, ui

#2365 allow user to include region when creating aws mgr
  components/automate-chef-io/content/docs/node-integrations.md
  components/automate-ui/src/app/pages/integrations/add/integrations-add.component.ts
  components/automate-ui/src/app/pages/integrations/aws-form/aws-form.component.html
  components/compliance-service/inspec-agent/resolver/resolver.go
  components/nodemanager-service/api/manager/server/server.go
  components/nodemanager-service/managers/awsec2/awsec2.go
  components/nodemanager-service/managers/awsec2/awsec2_test.go
  components/nodemanager-service/managers/managers.go
Labels: documentation

#2323 Delete functionality for custom created roles
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/entities/roles/role.actions.ts
  components/automate-ui/src/app/entities/roles/role.effects.ts
  components/automate-ui/src/app/entities/roles/role.reducer.ts
  components/automate-ui/src/app/entities/roles/role.requests.ts
  components/automate-ui/src/app/entities/roles/role.selectors.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.html
  components/automate-ui/src/app/modules/roles/list/roles-list.component.scss
  components/automate-ui/src/app/modules/roles/list/roles-list.component.spec.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.ts
Labels: auth-team, automate-ui, ui
