Repository chef/automate, pull requests merged in 2019-08, with the labels that each got.

#1116 buildkite: separate changed components/sql files annotations
  scripts/verify_build.sh
Labels: auth-team, chore

#1120 authz-service/sql: drop iam_statements' id column
  components/authz-service/server/v2/migration_internal_test.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/system.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/postgres/migration/sql/66_iam_statements_drop_id_column.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/statement.go
Labels: auth-team, automate-auth, iamv2, tech debt

#1131 authz-service: fix hidden proxy issue with event service
  components/authn-service/habitat/hooks/run
  components/authz-service/habitat/hooks/run
Labels: auth-team, automate-auth, bug 🐛

#1141 Ensure `environment.prod.ts` is used w/ prod builds
  components/automate-ui/angular.json
  components/automate-ui/habitat/plan.sh
  components/automate-ui/src/environments/environment.prod.ts
Labels: automate-ui, ui

#1035 token UI fixes
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.ts
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.html
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.scss
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.ts
Labels: auth-team, automate-ui, iamv2, ui

#1128 [auth] make rules RESTful
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/storage/postgres/migration/sql/67_update_rule_queries.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/automate-gateway/api/iam/v2beta/request/rules.pb.go
  components/automate-gateway/api/iam/v2beta/request/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.mock.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
Labels: auth-team, automate-auth, iamv2

#1137 compliance-service: minor cleanup in profile store code
  components/compliance-service/profiles/db/store.go
Labels: compliance profiles, deployment-team

#1134 teams-service: cut down "create team" error strings
  components/teams-service/server/v1/server.go
  components/teams-service/server/v2/server.go
Labels: auth-team, automate-auth, bug 🐛

#1138 compliance, nodemanager: removed unused functions
  components/compliance-service/dao/pgdb/tags.go
  components/compliance-service/dao/pgdb/tags_test.go
  components/nodemanager-service/pgdb/tags.go
  components/nodemanager-service/pgdb/tags_test.go
Labels: deployment-team

#1133 pg-sidecar-service: apply linter
  .expeditor/verify.pipeline.yml
  components/pg-sidecar-service/Makefile
  components/pg-sidecar-service/pkg/pgw/client.go
  components/pg-sidecar-service/pkg/server/server.go
Labels: deployment-team

#1145 Return 400 if no statements passed to policy create or update
  api/interservice/authz/v2/policy.pb.go
  api/interservice/authz/v2/policy.pb.validate.go
  api/interservice/authz/v2/policy.proto
  api/interservice/authz/v2/policy_test.go
  components/authz-service/server/v2/policy_test.go
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/support/commands.ts
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
Labels: auth-team, automate-auth, iamv2

#1147 [auth] Update Condition Attribute enum values
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/automate-gateway/api/iam/v2beta/common/rules.pb.go
  components/automate-gateway/api/iam/v2beta/common/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  components/automate-ui/src/app/entities/rules/rule.reducer.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger.go
  components/compliance-service/ingest/pipeline/processor/reports_project_tagger_test.go
  components/compliance-service/integration_test/reporting_server_list_profiles_test.go
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/integration_test/stats_server_read_failures_test.go
  components/compliance-service/integration_test/stats_server_read_profiles_test.go
  components/compliance-service/integration_test/stats_server_read_summary_test.go
  components/compliance-service/integration_test/stats_server_read_trend_test.go
  components/ingest-service/backend/elastic/nodes.go
  components/ingest-service/integration_test/project_update_actions_test.go
  components/ingest-service/integration_test/project_update_test.go
  components/ingest-service/pipeline/processor/action_project_tagger.go
  components/ingest-service/pipeline/processor/action_project_tagger_test.go
  components/ingest-service/pipeline/processor/runs_project_tagger.go
  components/ingest-service/pipeline/processor/runs_project_tagger_test.go
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
Labels: auth-team, iamv2

#1127 [automate-809] Teams add user page
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/teams/team.effects.ts
  components/automate-ui/src/app/entities/teams/team.reducer.ts
  components/automate-ui/src/app/entities/teams/team.selectors.ts
  components/automate-ui/src/app/entities/users/user.selectors.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/user-team-membership-table/user-team-membership-table.component.html
  components/automate-ui/src/app/page-components/user-team-membership-table/user-team-membership-table.component.scss
  components/automate-ui/src/app/page-components/user-team-membership-table/user-team-membership-table.component.spec.ts
  components/automate-ui/src/app/page-components/user-team-membership-table/user-team-membership-table.component.ts
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.html
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.scss
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  e2e/cypress/index.d.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, automate-ui, ui

#1107 Automate-650 Remove shadow from text input fields Signed-Off-By: Tara…
  components/automate-ui/src/app/page-components/client-runs-search-bar/client-runs-search-bar.component.scss
  components/automate-ui/src/app/page-components/converge-radial-graph/converge-radial-graph.component.scss
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.scss
  components/automate-ui/src/app/pages/node-details/node-details.component.scss
Labels: automate-ui, ui

#1163 e2e: fix cypress for all envs
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
Labels: auth-team, bug 🐛

#1132 Remove unnecessary copies from pkg.path
  components/applications-service/habitat/config/config.toml
  components/applications-service/habitat/hooks/run
  components/authz-service/habitat/config/config.yml
  components/authz-service/habitat/hooks/run
  components/automate-dex/habitat/config/config.json
  components/automate-dex/habitat/hooks/run
  components/automate-dex/habitat/templates/config.yml
  components/compliance-service/habitat/hooks/run
  components/nodemanager-service/habitat/hooks/run
  components/secrets-service/habitat/config/config.toml
  components/secrets-service/habitat/hooks/run
  components/session-service/habitat/config/config.yml
  components/session-service/habitat/hooks/run
  components/teams-service/habitat/config/config.yml
  components/teams-service/habitat/hooks/run
Labels: deployment-team

#1164 integration: deduplicate umask workaround
  integration/base.sh
  integration/helpers/hab.sh
  integration/tests/iam_v2.sh
  integration/tests/iam_v2_only.sh
  integration/tests/iam_v2p1_only.sh
  integration/tests/reset_admin_access_v1.sh
  integration/tests/upgrade_reset_iam_v2.sh
  integration/tests/upgrade_reset_iam_v2p1.sh
Labels: auth-team, chore

#1139 compliance-service: prealloc linter
  components/compliance-service/Makefile
  components/compliance-service/api/profiles/conversion/conversion.go
  components/compliance-service/dao/pgdb/filtering.go
  components/compliance-service/dao/pgdb/profiles.go
  components/compliance-service/reporting/relaxting/profiles.go
Labels: deployment-team

#1151 ci: shellcheck rendered hooks
  .expeditor/verify_private.pipeline.yml
  components/automate-deployment/habitat/hooks/reload
  components/automate-dex/habitat/hooks/health-check
  components/automate-gateway/habitat/hooks/health-check
  components/automate-load-balancer/habitat/hooks/reload
  components/automate-ui/habitat/hooks/health-check
  components/backup-gateway/habitat/hooks/run
  components/compliance-service/habitat/hooks/health-check
  components/compliance-service/habitat/hooks/run
  components/compliance-service/habitat/plan.sh
  components/config-mgmt-service/habitat/hooks/health-check
  components/ingest-service/habitat/hooks/health-check
  components/ingest-service/habitat/hooks/run
  components/nodemanager-service/habitat/hooks/run
  components/session-service/habitat/hooks/health-check
  integration/tests/shellcheck_rendered_hooks.sh
Labels: auth-team, chore

#1165 e2e/cypress: make 03_team_add_users spec work for more users
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
Labels: auth-team, bug 🐛

#1154 [release notes] update release note template
  .expeditor/publish-release-notes.sh
Labels: documentation

#1119 Automate-1101 Top nav shows on page refresh for page components Sign…
  components/automate-ui/src/app/ui.component.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
Labels: automate-ui, ui

#1159 Periodic spelling sweep
  api/config/cs_nginx/config_request.go
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/pkg/ingester/v1/ingest.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/pipeline/publisher/msg_distributor.go
  components/ingest-service/server/job_scheduler_server.go
  components/ingest-service/server/jobs.go
  components/license-control-service/pkg/storage/storage.go
  components/notifications-service/server/priv/slack_post.proto
  cspell.json
  lib/cereal/cereal.go
  lib/cereal/integration/workflow_error_test.go
  lib/cereal/postgres/task_cleaner.go
  lib/cereal/workflow_scheduler.go
  lib/timef/time_diff.go
Labels: auth-team, chore

#1162 Update rules-check permission
  components/authz-service/server/v2/system.go
Labels: DO-NOT-MERGE, auth-team, automate-auth, bug 🐛

#1158 Check apply rules only in IAM v2.1
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/entities/projects/project.service.ts
  components/automate-ui/src/app/helpers/auth/authorized.ts
  components/automate-ui/src/app/ui.component.ts
Labels: auth-team, automate-ui, iamv2, ui

#1149 TypeScript Type Traps
  components/automate-ui/src/app/entities/policies/policy.model.spec.ts
  components/automate-ui/src/app/entities/policies/policy.model.ts
  components/automate-ui/src/app/entities/teams/team.reducer.spec.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/pages/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/roles/list/roles-list.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.html
  components/automate-ui/src/app/pages/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.ts
Labels: auth-team, automate-ui, chore

#1125 Update e2e cypress deps to address security warnings
  e2e/package-lock.json
  e2e/package.json
Labels: automate-ui, ui

#1150 Ensure ui-lib builds include font assets
  components/chef-ui-library/stencil.config.ts
Labels: chef-ui-library, ui

#1160 Auth input field consistency sweep
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/page-components/create-v1-team-modal/create-v1-team-modal.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.html
  components/automate-ui/src/app/pages/user-details/user-details.component.ts
  components/automate-ui/src/app/pages/user-management/user-form/user-form.component.html
  components/automate-ui/src/app/pages/user-management/user-management.component.ts
Labels: auth-team, automate-auth, chore

#1168 automate-ui/team-details: show name in breadcrumbs
  components/automate-ui/src/app/pages/team-details/team-details.component.html
Labels: auth-team, automate-auth, automate-ui, bug 🐛

#1102 Moving Org and Chef Server filtering to the search bar
  components/automate-chef-io/content/docs/client-runs.md
  components/automate-chef-io/static/images/docs/client-runs.png
  components/automate-ui/e2e/app.e2e-spec.ts
  components/automate-ui/e2e/nodes-page.e2e-spec.ts
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.effects.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.model.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.requests.spec.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.requests.ts
  components/automate-ui/src/app/page-components/client-runs-sidebar/client-runs-sidebar.component.html
  components/automate-ui/src/app/page-components/client-runs-sidebar/client-runs-sidebar.component.scss
  components/automate-ui/src/app/page-components/client-runs-sidebar/client-runs-sidebar.component.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.spec.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.html
  components/automate-ui/src/app/services/sidebar/sidebar.effects.ts
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/params/parameters.go
  components/config-mgmt-service/params/suggestions.go
  components/notifications-client/builder/ccr.go
Labels: automate-ui, documentation, ui

#1142 Add "unrecognized" update strategy to applications service backend
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/client_test.go
Labels: eas-team

#1177 Updating Elasticsearch reindexes to async
  components/ingest-service/backend/elastic/migration.go
Labels: ingest-service

#1126 [deployment] Move list of services that use platform scaffolding out of deployment-service code into package.meta files.
  components/applications-service/package.meta
  components/authn-service/package.meta
  components/authz-service/package.meta
  components/automate-cs-bookshelf/package.meta
  components/automate-cs-oc-bifrost/package.meta
  components/automate-cs-oc-erchef/package.meta
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/server/server.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/automate-dex/package.meta
  components/compliance-service/package.meta
  components/ingest-service/package.meta
  components/license-control-service/package.meta
  components/nodemanager-service/package.meta
  components/notifications-service/package.meta
  components/pg-sidecar-service/package.meta
  components/secrets-service/package.meta
  components/session-service/package.meta
  components/teams-service/package.meta
  lib/product/types.go
Labels: deployment-team

#1179 Remove non async reindexes
  components/automate-deployment/pkg/a1stub/server.go
  components/automate-deployment/pkg/a1upgrade/reindex_es2.go
Labels: deployment-team

#1190 Suppress password error upon open
  components/automate-ui/src/app/helpers/auth/validator.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.ts
  components/automate-ui/src/app/pages/user-management/user-form/user-form.component.html
  components/automate-ui/src/app/pages/user-management/user-management.component.ts
Labels: auth-team, automate-auth, bug 🐛

#1172 allow underscore IDs in IAM resources
  .expeditor/verify.pipeline.yml
  api/interservice/authn/auth_test.go
  api/interservice/authn/tokens.pb.go
  api/interservice/authn/tokens.pb.validate.go
  api/interservice/authn/tokens.proto
  api/interservice/authz/v2/authz.pb.go
  api/interservice/authz/v2/authz.pb.validate.go
  api/interservice/authz/v2/authz.proto
  api/interservice/authz/v2/policy.pb.go
  api/interservice/authz/v2/policy.pb.validate.go
  api/interservice/authz/v2/policy.proto
  api/interservice/authz/v2/policy_test.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  api/interservice/teams/v2/teams.pb.go
  api/interservice/teams/v2/teams.pb.validate.go
  api/interservice/teams/v2/teams.proto
  components/authz-service/server/v2/authz_test.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/rules_test.go
  components/automate-chef-io/content/docs/api-tokens.md
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
Labels: auth-team, automate-auth, documentation, iamv2

#1187 automate-cli: fix IAM version formatting
  components/automate-cli/cmd/chef-automate/iam.go
Labels: auth-team, automate-auth, bug 🐛

#1173 Update service now notification configuration guide and images
  components/automate-chef-io/content/docs/servicenow-integration-install.md
  components/automate-chef-io/static/images/docs/SNOW_CCR_Setup.png
  components/automate-chef-io/static/images/docs/SNOW_Scan_Setup.png
Labels: documentation

#1156 [automate-854] bring project details to life
  components/automate-ui/src/app/entities/rules/rule.actions.ts
  components/automate-ui/src/app/entities/rules/rule.effects.ts
  components/automate-ui/src/app/entities/rules/rule.model.ts
  components/automate-ui/src/app/entities/rules/rule.requests.ts
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.scss
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
  components/chef-ui-library/src/atoms/chef-input/chef-input.tsx
Labels: auth-team, automate-auth, automate-ui, iamv2, ui

#1182 [automate-809] Projects for Team Creation and List View
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.html
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.scss
  components/automate-ui/src/app/entities/teams/team.model.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.scss
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.html
  components/automate-ui/src/app/pages/team-management/team-management.component.scss
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.selectors.ts
  e2e/README.md
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, ui

#1194 [automate-854] Subpage routing for projects
  components/automate-ui/src/app/pages/policy/details/policy-details.component.html
  components/automate-ui/src/app/pages/policy/details/policy-details.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
Labels: auth-team, automate-auth, automate-ui, ui

#1205 Automate-1113 Fix colors on unkown status message Signed-Off-By: Tara…
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
Labels: a11y, automate-ui, ui

#1201 Correct action filter on getUserFailure effect
  components/automate-ui/src/app/entities/users/user.effects.ts
Labels: auth-team, automate-auth, bug 🐛

#1171 Add `FormControlDirective ` to track original value of form controls
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/form-control/form-control.directive.spec.ts
  components/automate-ui/src/app/components/form-control/form-control.directive.ts
  components/automate-ui/tslint.json
Labels: automate-ui, ui

#1202 automate-dex: allow saml and ldap at the same time
  api/config/dex/config_request.go
  api/config/dex/config_request_test.go
  components/automate-chef-io/content/docs/configuration.md
  components/automate-dex/habitat/default.toml
  components/automate-dex/habitat/templates/config.yml
  components/automate-dex/web/static/img/email-icon.png
  components/automate-dex/web/templates/login.html
  components/automate-dex/web/templates/password.html
  components/automate-dex/web/theme/styles.css
  components/session-service/server/testdata/web/static/main.css
  e2e/cypress/integration/ui/01_login.spec.ts
  e2e/cypress/support/commands.ts
Labels: a11y, auth-team, automate-auth, documentation

#1195 [issue 1185] autocomplete="off" and dirty check in id input
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/page-components/create-v1-team-modal/create-v1-team-modal.component.html
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/user-management/user-form/user-form.component.html
  components/chef-ui-library/src/atoms/chef-input/chef-input.tsx
Labels: auth-team, automate-ui, bug 🐛, ui

#1106 Adding a search bar to the event feed
  components/automate-chef-io/content/docs/event-feed.md
  components/automate-chef-io/static/images/docs/event-feed-filters-days.png
  components/automate-chef-io/static/images/docs/event-feed-filters-servers.png
  components/automate-chef-io/static/images/docs/event-feed-filters-types.png
  components/automate-chef-io/static/images/docs/guitar-strings.png
  components/automate-ui/e2e/app.e2e-spec.ts
  components/automate-ui/e2e/event-feed-page.e2e-spec.ts
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/page-components/event-feed-select/event-feed-select.component.html
  components/automate-ui/src/app/page-components/event-feed-select/event-feed-select.component.scss
  components/automate-ui/src/app/page-components/event-feed-select/event-feed-select.component.ts
  components/automate-ui/src/app/page-components/event-feed-sidebar/event-feed-sidebar.component.html
  components/automate-ui/src/app/page-components/event-feed-sidebar/event-feed-sidebar.component.scss
  components/automate-ui/src/app/page-components/event-feed-sidebar/event-feed-sidebar.component.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.html
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.spec.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/page-components/search-bar-filter-bar/search-bar-filter-bar.component.html
  components/automate-ui/src/app/page-components/search-bar-filter-bar/search-bar-filter-bar.component.scss
  components/automate-ui/src/app/page-components/search-bar-filter-bar/search-bar-filter-bar.component.ts
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.html
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.scss
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.spec.ts
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.ts
  components/automate-ui/src/app/page-components/server-org-filter-sidebar/server-org-filter-sidebar.component.html
  components/automate-ui/src/app/page-components/server-org-filter-sidebar/server-org-filter-sidebar.component.scss
  components/automate-ui/src/app/page-components/server-org-filter-sidebar/server-org-filter-sidebar.component.spec.ts
  components/automate-ui/src/app/page-components/server-org-filter-sidebar/server-org-filter-sidebar.component.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/event-feed/event-feed.component.html
  components/automate-ui/src/app/pages/event-feed/event-feed.component.scss
  components/automate-ui/src/app/pages/event-feed/event-feed.component.ts
  components/automate-ui/src/app/services/event-feed/event-feed.actions.ts
  components/automate-ui/src/app/services/event-feed/event-feed.effects.ts
  components/automate-ui/src/app/services/event-feed/event-feed.reducer.ts
  components/automate-ui/src/app/services/event-feed/event-feed.service.spec.ts
  components/automate-ui/src/app/services/event-feed/event-feed.service.ts
  components/automate-ui/src/app/types/types.ts
  components/config-mgmt-service/backend/elastic/actions.go
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/integration_test/event_feed_test.go
  components/config-mgmt-service/integration_test/event_strings_test.go
  components/config-mgmt-service/params/parameters.go
  components/event-feed-service/pkg/integration_test/feed_counts_test.go
  components/event-feed-service/pkg/integration_test/feed_purge_test.go
  components/event-feed-service/pkg/integration_test/feed_test.go
  components/event-feed-service/pkg/integration_test/feed_timeline_test.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-service/integration_test/publish_test.go
Labels: automate-ui, documentation, event feed, ui

#1161 Automate-442 Add status filters to compliance node list view Signed-O…
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, compliance reporting, ui

#1210 Automate-1021 Missing max width limits on Client Runs applied filter …
  components/automate-ui/src/app/page-components/search-bar-filter-bar/search-bar-filter-bar.component.html
  components/automate-ui/src/app/page-components/search-bar-filter-bar/search-bar-filter-bar.component.scss
Labels: automate-ui, client runs, ui

#1193 Add service group filters
  components/applications-service/integration_test/service_groups_filters_test.go
  components/applications-service/pkg/storage/postgres/schema/sql/10_drop_view.up.sql
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team

#1222 Apply ui-lib polyfills for older browsers
  components/automate-ui/src/main.ts
Labels: automate-ui, bug 🐛, ui

#1221 update dev docs with info on running a specific build
  dev-docs/DEV_ENVIRONMENT.md
Labels: auth-team

#1198 Cypress readme update + small fixes
  e2e/README.md
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/ui/common/01_login.spec.ts
  e2e/cypress/integration/ui/common/02_global_filter.spec.ts
  e2e/cypress/support/commands.ts
Labels: WIP, auth-team, cypress

#1226 ci: show *why* a component is rebuilt
  scripts/changed_components.rb
  scripts/verify_build.sh
Labels: auth-team, chore

#1229 Fixing the Client Runs page's search bar
  components/automate-ui/src/app/pages/client-runs/client-runs.component.scss
  components/automate-ui/src/app/pages/event-feed/event-feed.component.scss
Labels: automate-ui, bug 🐛, ui

#1212 Code tightening (prepping for Angular 8)
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/api-tokens/api-token.effects.ts
  components/automate-ui/src/app/entities/roles/role.requests.ts
  components/automate-ui/src/app/entities/teams/team.effects.ts
  components/automate-ui/src/app/entities/userperms/userperms.selectors.ts
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/page-components/sidebar-select-list/sidebar-select-list.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-edit/nodes-edit.component.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
  components/automate-ui/src/app/pages/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/profiles/upload.service.spec.ts
  components/automate-ui/src/app/services/profiles/upload.service.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.requests.ts
Labels: auth-team, automate-ui, chore

#1211 Automate-1042 Client Runs search bar: filter suggestions content over…
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.scss
Labels: automate-ui, client runs, ui

#1234 Removing code that was moved to ingestion
  components/automate-ui/src/app/services/node-details/node-runs.service.spec.ts
  components/automate-ui/src/app/services/node-details/node-runs.service.ts
Labels: automate-ui

#1235 Preventing empty error message suggestions
  components/automate-ui/src/app/entities/client-runs/client-runs.requests.spec.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.requests.ts
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.spec.ts
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.ts
  components/config-mgmt-service/integration_test/suggestions_test.go
  components/ingest-service/backend/converge.go
Labels: automate-ui, bug 🐛, config-mgmt-service, ui

#1238 ci: use <details> for files causing rebuilds
  scripts/changed_components.rb
Labels: auth-team, chore

#1218 Fixing event feed filtering
  components/applications-service/pkg/server/server.go
  components/config-mgmt-service/params/parameters.go
  components/config-mgmt-service/params/parameters_test.go
  components/event-feed-service/pkg/integration_test/feed_counts_test.go
  components/event-feed-service/pkg/integration_test/feed_test.go
  components/event-feed-service/pkg/migration/migration.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-feed-service/pkg/persistence/mappings.go
  components/event-feed-service/pkg/server/feed.go
  components/event-feed-service/pkg/server/server.go
  components/event-feed-service/pkg/util/util.go
  lib/stringutils/filter_parser.go
  lib/stringutils/filter_parser_test.go
Labels: event feed

#1236 fix shadow on chef-side-panel so its only visible when its on-screen
  components/chef-ui-library/src/molecules/chef-side-panel/chef-side-panel.scss
Labels: chef-ui-library, ui

#1243 automate-dex: bump core/dex (2.17.0 -> 2.18.0), adapt code
  .bldr.toml
  Gopkg.lock
  Gopkg.toml
  components/automate-dex/habitat/plan.sh
  components/local-user-service/habitat/config/config.yml
  components/local-user-service/users/dex/dex.go
  components/local-user-service/users/dex/dex_functional_test.go
  components/local-user-service/users/dex/dex_test.go
  vendor/github.com/dexidp/dex/api/api.pb.go
  vendor/github.com/dexidp/dex/connector/bitbucketcloud/bitbucketcloud.go
  vendor/github.com/dexidp/dex/connector/github/github.go
  vendor/github.com/dexidp/dex/connector/gitlab/gitlab.go
  vendor/github.com/dexidp/dex/connector/keystone/keystone.go
  vendor/github.com/dexidp/dex/connector/microsoft/microsoft.go
  vendor/github.com/dexidp/dex/connector/oidc/oidc.go
  vendor/github.com/dexidp/dex/connector/saml/saml.go
  vendor/github.com/dexidp/dex/pkg/groups/groups.go
  vendor/github.com/dexidp/dex/server/api.go
  vendor/github.com/dexidp/dex/server/handlers.go
  vendor/github.com/dexidp/dex/server/internal/types.pb.go
  vendor/github.com/dexidp/dex/server/oauth2.go
  vendor/github.com/dexidp/dex/server/rotation.go
  vendor/github.com/dexidp/dex/server/server.go
  vendor/github.com/dexidp/dex/server/templates.go
Labels: auth-team, automate-auth, chore

#1251 ci: show globs, not files
  scripts/changed_components.rb
Labels: auth-team, chore

#1257 Dan/convert to denormalized schema
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/services_by_sg_test.go
  components/applications-service/integration_test/services_test.go
  components/applications-service/integration_test/storage_service_group_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/deployments.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/12_artificial_ids_for_service_groups.up.sql
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/applications-service/pkg/storage/postgres/service_internal_test.go
  components/applications-service/pkg/storage/postgres/services.go
  components/applications-service/pkg/storage/postgres/supervisors.go
  components/applications-service/pkg/storage/postgres/testing_functions.go
  components/automate-gateway/api/applications.pb.swagger.go
Labels: WIP, eas-team

#1250 [automate-854] Update rules status on Project List page
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/storage/postgres/migration/sql/68_add_status_to_projects.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/project.go
  components/authz-service/storage/v2/project_test.go
  components/automate-gateway/api/iam/v2beta/common/policy.pb.go
  components/automate-gateway/api/iam/v2beta/common/policy.proto
  components/automate-gateway/api/iam/v2beta/policy.swagger.json
  components/automate-gateway/api/iam_v2beta_policy.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/src/app/entities/rules/rule.actions.ts
  components/automate-ui/src/app/entities/rules/rule.model.ts
  components/automate-ui/src/app/entities/rules/rule.reducer.ts
  components/automate-ui/src/app/entities/rules/rule.requests.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  inspec/a2-iam-v2p1-only-integration/controls/get_authorized_projects.rb
Labels: auth-team, automate-auth, automate-ui, ui

#1114 Accept Habitat Healthchecks via "Plain" NATS Messaging
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/pkg/ingester/v1/ingest.go
  components/applications-service/pkg/nats/nats.go
  components/applications-service/pkg/nats/publisher.go
  components/applications-service/pkg/nats/subscriber.go
  components/event-gateway/pkg/nats/authenticator.go
Labels: eas-team

#1279 automate-chef-io: increment an integer
  .bldr.toml
  components/automate-chef-io/Makefile
Labels: documentation

#1278 change the color of left nav headings
  components/automate-ui/src/app/components/sidebar/sidebar.component.scss
Labels: automate-ui, ui

#1260 [automate-809] Update projects for a team
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.html
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.scss
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.ts
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/src/app/entities/teams/team.reducer.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/pages/component-library/demos/demo-projects-dropdown/demo-projects-dropdown.component.html
  components/automate-ui/src/app/pages/component-library/demos/demo-projects-dropdown/demo-projects-dropdown.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.scss
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  e2e/cypress/index.d.ts
  e2e/cypress/integration/ui/common/02_global_filter.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, automate-auth, automate-ui, ui

#1267 Delete now-unused normalized tables for applications
  components/applications-service/pkg/storage/postgres/schema/sql/13_delete_normalized_tables.up.sql
Labels: eas-team

#1255 lib/cereal: Use in-process notifications to avoid delays
  components/cereal-service/Makefile
  components/cereal-service/pkg/server/server.go
  lib/cereal/cereal.go
  lib/cereal/workflow_scheduler.go
  tools/cereal-scaffold/main.go
Labels: deployment-team

#1300 lib/cereal: bump default polling interval to 10 seconds
  lib/cereal/backend/backend.go
  lib/cereal/cereal.go
  lib/cereal/grpc/grpc.go
  lib/cereal/integration/abandon_workflow.go
  lib/cereal/integration/cancel_workflow.go
  lib/cereal/postgres/postgres.go
  lib/cereal/postgres/task_cleaner.go
  lib/cereal/postgres/task_pinger.go
  lib/cereal/workflow_scheduler.go
Labels: deployment-team

#1299 Fix more append mistakes
  components/automate-cli/cmd/chef-automate/dev.go
  components/automate-deployment/pkg/a1stub/test_harness.go
  components/automate-deployment/pkg/server/gather-logs.go
  lib/platform/pg/exporter.go
  lib/platform/pg/exporter_integration_test.go
Labels: deployment-team

#1302 Fix race condition in disabled status of team details projects dropdown
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
Labels: cypress

#1180 Dan/suggestions api part one
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/distinct_values_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/services.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas-team

#1301 Remove polling on projects page due to flicker
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
Labels: auth-team, automate-auth, chore

#1209 Reset for initial inputs
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/components/form-control/form-control.directive.ts
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.html
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.scss
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.html
  components/automate-ui/src/app/pages/user-details/user-details.component.ts
Labels: auth-team, automate-auth, chore

#595 [compliance] Use the "cereal" library for scan jobs
  .bldr.toml
  components/compliance-service/api/jobs/server/server.go
  components/compliance-service/compliance.go
  components/compliance-service/inspec-agent/resolver/resolver.go
  components/compliance-service/inspec-agent/runner/boss.go
  components/compliance-service/inspec-agent/runner/reporter.go
  components/compliance-service/inspec-agent/runner/runner.go
  components/compliance-service/inspec-agent/runner/worker.go
  components/compliance-service/inspec-agent/scheduler/scheduler.go
  components/compliance-service/inspec-agent/scheduler/scheduler_test.go
  components/compliance-service/inspec-agent/types/types.go
  components/compliance-service/scanner/db.go
  components/compliance-service/scanner/db_integration_test.go
  components/nodemanager-service/managers/awsec2/awsec2.go
  components/nodemanager-service/managers/azure/azure.go
Labels: deployment-team

#1305 Add cypress prefix to projects and clean them up before and after the projects API tests
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
Labels: auth-team, cypress

#1277 Move platform config into lib/platform/config
  .bldr.toml
  components/applications-service/cmd/applications-service/commands/serve.go
  components/applications-service/integration_test/suite_test.go
  components/authn-service/tokens/pg/pg.go
  components/authz-service/cmd/authz-service/main.go
  components/automate-deployment/pkg/server/server.go
  components/automate-platform-tools/cmd/pg-helper/main.go
  components/automate-platform-tools/cmd/render-template/main.go
  components/cereal-service/cmd/cereal-service/cmd.go
  components/compliance-service/cmd/compliance-service/cmd/run.go
  components/ingest-service/grpc/grpc.go
  components/license-control-service/pkg/server/config.go
  components/nodemanager-service/cmd/nodemanager-service/cmd/run.go
  components/pg-sidecar-service/pkg/pgw/client.go
  components/pg-sidecar-service/pkg/server/server.go
  components/secrets-service/cmd/secrets-service/commands/serve.go
  components/session-service/cmd/session-service/main.go
  components/teams-service/cmd/teams-service/main.go
  lib/platform/config/config.go
  lib/platform/config/template.go
  lib/platform/pg/conninfo.go
Labels: deployment-team

#1308 Fix race condition in cypress test by preventing typing in input before team loaded
  components/automate-ui/src/app/components/input/input.directive.scss
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
Labels: automate-ui, cypress

#1246 session-service: send the user to dex with their connector selected already
  components/automate-ui/src/app/services/chef-session/chef-session.service.spec.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/session-service/oidc/oidc.go
  components/session-service/server/server.go
  components/session-service/server/server_functional_test.go
Labels: auth-team, automate-auth, automate-ui

#1261 Filter packages and release based on search parameters
  components/applications-service/integration_test/service_groups_filters_test.go
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team

#1307 Add note to e2e readme
  e2e/README.md
Labels: auth-team

#1214 Add cereal committed messages
  api/interservice/cereal/cereal.pb.go
  api/interservice/cereal/cereal.proto
  components/cereal-service/pkg/server/server.go
  lib/cereal/grpc/grpc.go
Labels: deployment-team

#113 Wire up override config for restore
  .expeditor/verify_private.pipeline.yml
  api/interservice/deployment/automate_deployment.pb.go
  api/interservice/deployment/automate_deployment.proto
  api/interservice/deployment/override_config.go
  api/interservice/deployment/override_config_test.go
  components/automate-cli/cmd/chef-automate/backup.go
  components/automate-deployment/pkg/server/automate_config.go
  components/es-sidecar-service/habitat/config/config.toml
  integration/services/ha_backend/init.sh
  integration/services/ha_backend/setup.sh
  integration/tests/ha_data_services_migrate.sh
Labels: deployment-team

#1247 Cypress: restore user management tests
  e2e/cypress/integration/ui/compliance/01_ssh_scan_job.spec.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, automate-auth, automate-ui, cypress

#1248 Cypress: tests for projects management in the UI
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, cypress, iamv2

#1309 [automate-854] Project update status on Projects List page
  components/automate-ui/src/app/entities/projects/project.actions.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/entities/projects/project.reducer.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  dev-docs/diagrams/rule-updates-status-check.iuml
  dev-docs/diagrams/rule-updates-status-check.png
  dev-docs/diagrams/rule-updates-timing-cancel.iuml
  dev-docs/diagrams/rule-updates-timing-cancel.png
  dev-docs/diagrams/rule-updates-timing-nominal.iuml
  dev-docs/diagrams/rule-updates-timing-nominal.png
Labels: auth-team, automate-auth, automate-ui, ui

#1329 lib/cereal: jitter the task poller wakeup
  lib/cereal/cereal.go
  lib/cereal/cereal_test.go
  lib/cereal/integration/delayed_task.go
Labels: deployment-team

#1322 Unify already on IAM version messaging and only migrate if necessary in IAM v1.0
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/automate-cli/cmd/chef-automate/iam.go
  integration/tests/upgrade_reset_iam_v2.sh
Labels: auth-team

#1372 e2e/cypress: skip more flakey tests
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
Labels: auth-team, bug 🐛, cypress

#1373 e2e/cypress: more skipping
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
Labels: auth-team, bug 🐛, cypress

#1350 Streamline projects on team details page
  components/automate-ui/src/app/entities/policies/policy.requests.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.spec.ts
Labels: auth-team, automate-auth, chore

#1348 Rename admin-sidebar to settings-sidebar
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.scss
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/containers/credentials-add-edit-screen.html
  components/automate-ui/src/app/pages/+compliance/+credentials/containers/credentials-list-screen.ts
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.spec.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/integrations/add/integrations-add.component.html
  components/automate-ui/src/app/pages/integrations/add/integrations-add.component.spec.ts
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.html
  components/automate-ui/src/app/pages/integrations/edit/integrations-edit.component.html
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.html
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.spec.ts
  components/automate-ui/src/app/pages/notification-form/notification-form.component.html
  components/automate-ui/src/app/pages/notification-form/notification-form.component.spec.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/pages/policy/details/policy-details.component.html
  components/automate-ui/src/app/pages/policy/list/policy-list.component.html
  components/automate-ui/src/app/pages/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/roles/details/role-details.component.html
  components/automate-ui/src/app/pages/roles/list/roles-list.component.html
  components/automate-ui/src/app/pages/roles/list/roles-list.component.spec.ts
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.html
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.html
  components/automate-ui/src/app/pages/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/pages/user-management/user-management.component.html
  components/automate-ui/src/app/pages/user-management/user-management.component.spec.ts
Labels: auth-team, automate-ui, chore, ui

#1389 session-service: update and fix stuff
  Gopkg.lock
  Gopkg.toml
  components/session-service/server/server.go
  components/session-service/server/server_test.go
  vendor/github.com/alexedwards/scs/manager.go
  vendor/github.com/alexedwards/scs/options.go
  vendor/github.com/alexedwards/scs/session.go
  vendor/github.com/alexedwards/scs/stores/memstore/memstore.go
  vendor/github.com/alexedwards/scs/stores/pgstore/pgstore.go
Labels: auth-team, automate-auth

#1347 [lib/cereal] Add Parallel Workflow pattern
  components/authz-service/cmd/authz-service/main.go
  components/authz-service/config/config_mgmt.go
  components/authz-service/config/config_mgmt_test.go
  components/authz-service/config/project_update_domain_service.go
  components/authz-service/config/project_update_stage.go
  components/authz-service/habitat/config/config.yml
  components/authz-service/habitat/plan.sh
  components/authz-service/server/server.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/project_update_manager.go
  components/authz-service/server/v2/project_update_manager_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/testhelpers/testhelpers.go
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/compliance-service/cmd/compliance-service/cmd/run.go
  components/compliance-service/compliance.go
  components/compliance-service/config/config_mgmt.go
  components/compliance-service/config/config_mgmt_test.go
  components/compliance-service/config/types.go
  components/compliance-service/habitat/hooks/run
  components/compliance-service/habitat/plan.sh
  components/compliance-service/ingest/server/compliance.go
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/config/config_mgmt.go
  components/ingest-service/config/config_mgmt_test.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/habitat/hooks/run
  components/ingest-service/habitat/plan.sh
  components/ingest-service/server/automate_event_handler.go
  components/ingest-service/serveropts/serveropts.go
  lib/authz/project_rules_update_workflow.go
  lib/authz/project_rules_update_workflow_test.go
  lib/authz/project_update_manager.go
  lib/cereal/cereal.go
  lib/cereal/cerealtest/task_result.go
  lib/cereal/patterns/common.go
  lib/cereal/patterns/common_test.go
  lib/cereal/patterns/parallel.go
  lib/cereal/patterns/parallel_test.go
Labels: deployment-team

#1334 lib/cereal limit number of concurrent TaskDequeue calls
  lib/cereal/backend/backend.go
  lib/cereal/cereal.go
  lib/cereal/postgres/postgres.go
  lib/cereal/task_dequeue_pool.go
  lib/cereal/task_dequeue_pool_test.go
  tools/cereal-scaffold/main.go
Labels: deployment-team

#1346 Project Update Workflow and patterns to support it
  .bldr.toml
  components/authz-service/cmd/authz-service/main.go
  components/authz-service/config/config_mgmt.go
  components/authz-service/config/config_mgmt_test.go
  components/authz-service/config/project_update_domain_service.go
  components/authz-service/config/project_update_stage.go
  components/authz-service/habitat/config/config.yml
  components/authz-service/habitat/plan.sh
  components/authz-service/server/server.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/project_update_manager.go
  components/authz-service/server/v2/project_update_manager_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/testhelpers/testhelpers.go
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/compliance-service/cmd/compliance-service/cmd/run.go
  components/compliance-service/compliance.go
  components/compliance-service/config/config_mgmt.go
  components/compliance-service/config/config_mgmt_test.go
  components/compliance-service/config/types.go
  components/compliance-service/habitat/hooks/run
  components/compliance-service/habitat/plan.sh
  components/compliance-service/ingest/server/compliance.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/integration_test/suite_test.go
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/config/config_mgmt.go
  components/ingest-service/config/config_mgmt_test.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/habitat/hooks/run
  components/ingest-service/habitat/plan.sh
  components/ingest-service/integration_test/project_update_actions_test.go
  components/ingest-service/integration_test/project_update_test.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/server/automate_event_handler.go
  components/ingest-service/serveropts/serveropts.go
  lib/authz/project_rules_update_workflow.go
  lib/authz/project_rules_update_workflow_test.go
  lib/authz/project_update_manager.go
  lib/cereal/cereal.go
  lib/cereal/cerealtest/cerealtest.go
  lib/cereal/cerealtest/event.go
  lib/cereal/cerealtest/task_result.go
  lib/cereal/cerealtest/workflow_instance.go
  lib/cereal/patterns/chain.go
  lib/cereal/patterns/chain_test.go
  lib/cereal/patterns/common.go
  lib/cereal/patterns/common_test.go
  lib/cereal/patterns/parallel.go
  lib/cereal/patterns/parallel_test.go
Labels: deployment-team

#1352 [#1318] proper logout for intercepted 401s
  components/automate-ui/src/app/page-components/profile/profile.component.spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.spec.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
Labels: auth-team, automate-ui, bug 🐛

#1370 [docs] Update data-lifecycle documentation
  components/automate-chef-io/content/docs/architectural-overview.md
  components/automate-chef-io/content/docs/configuration.md
Labels: deployment-team, documentation

#1398 Remove old data lifecycle config from terraform
  terraform/test-environments/modules/chef_automate_install/main.tf
  terraform/test-environments/modules/chef_automate_install/templates/install_chef_automate_cli.sh.tpl
Labels: deployment-team

#1312 Add the latest compliance report to all node notifications and latest…
  .bldr.toml
  .studio/data-feed-service
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/compliance-service/api/tests/03_deep_reports_spec.rb
  components/compliance-service/api/tests/03_reports_spec.rb
  components/compliance-service/reporting/relaxting/es_types.go
  components/compliance-service/reporting/relaxting/reports.go
  components/data-feed-service/.gitignore
  components/data-feed-service/Makefile
  components/data-feed-service/cmd/data-feed-service/commands/root.go
  components/data-feed-service/config.dev.toml
  components/data-feed-service/config/config.go
  components/data-feed-service/habitat/config/config.toml
  components/data-feed-service/habitat/default.toml
  components/data-feed-service/habitat/plan.sh
  components/data-feed-service/service/data-feed-service.go
  components/data-feed-service/service/data-feed-service_test.go
Labels: compliance reporting, data-feed

#1340 [Auth-1256] Added ValidateProjectAssignment and project assignment enforcement on roles
  api/interservice/authz/v2/authz.pb.go
  api/interservice/authz/v2/authz.pb.mock.go
  api/interservice/authz/v2/authz.pb.validate.go
  api/interservice/authz/v2/authz.proto
  components/authz-service/projectassignment/errors.go
  components/authz-service/projectassignment/project_assignment.go
  components/authz-service/projectassignment/project_assignment_test.go
  components/authz-service/server/server.go
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/authz-service/testhelpers/testhelpers.go
  components/automate-gateway/gateway/middleware/auth_interceptor.go
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/api/iam/03_roles_api.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, iamv2

#1385 Dan/periodic mark disconnected
  .bldr.toml
  .expeditor/verify_private.pipeline.yml
  .studio/applications-service
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/habitat/config/config.toml
  components/applications-service/habitat/plan.sh
  components/applications-service/integration_test/disconnected_services_job_test.go
  components/applications-service/integration_test/disconnected_services_test.go
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/suite_test.go
  components/applications-service/pkg/config/service.go
  components/applications-service/pkg/grpc/grpc.go
  components/applications-service/pkg/server/periodic.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/schema/sql/14_service_full_disconnected.up.sql
  components/applications-service/pkg/storage/postgres/services.go
  components/automate-cli/cmd/chef-automate/applications.go
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/automate-deployment/pkg/server/server.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas-team
