Repository chef/automate, pull requests merged in 2019-05, with the labels that each got.

#198 Adding projects to the `a2` CLI utility
  scripts/a2_collections
Labels: automate-auth

#167 Remove the default project if it exists
  components/authz-service/storage/postgres/datamigration/sql/05_remove_default_project.up.sql
Labels: automate-auth

#213 [A2-771] follow-up ProjectsAuthorized fix
  components/authz-service/constants/v2/constants.go
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/authz_test.go
  components/authz-service/server/v2/system.go
  inspec/a2-iam-v2-integration/controls/base.rb
  inspec/a2-iam-v2p1-only-integration/controls/role_projects.rb
Labels: automate-auth

#223 [pipeline] Enable EAS Dashboard in dev & acceptance envs
  terraform/test-environments/modules/chef_automate_install/main.tf
  terraform/test-environments/modules/chef_automate_install/variables.tf
  terraform/test-environments/scenarios/performance_test_single_local_inplace_upgrade.tf
Labels: eas-team

#212 Elasticsearch actions project update
  components/ingest-service/backend/chef_action.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/actions.go
  components/ingest-service/backend/elastic/mappings/actions.go
  components/ingest-service/integration_test/project_update_actions_test.go
  components/ingest-service/integration_test/suite_test.go
Labels: iamv2

#220 Enables habitat client permissions on required messaging channels
  components/event-gateway/integration_test/nats_auth_test.go
  components/event-gateway/integration_test/suite_test.go
  components/event-gateway/pkg/nats/authenticator.go
Labels: chef-conf, eas-team, enhancement

#199 [multi-node] Replication for authz V2 OPA rules
  .expeditor/verify.pipeline.yml
  components/authz-service/Makefile
  components/authz-service/habitat/hooks/run
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/storage/postgres/migration/sql/43_policy_changed.up.sql
  components/authz-service/storage/v1/postgres/postgres_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/automate-cli/cmd/chef-automate/diagnostics.go
Labels: automate-auth

#234 Unlock staging area after hab builds are complete
  .expeditor/config.yml
Labels: Expeditor: Skip All

#218 Fix all paginators from the Applications Tab
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/service_groups_filters_test.go
  components/applications-service/integration_test/service_groups_health_counts_test.go
  components/applications-service/integration_test/service_groups_test.go
  components/applications-service/pkg/params/pagination_test.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#230 Disable Create Project button if more than 6 projects
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
Labels: automate-auth, automate-ui, ui

#155 Improve sending raw messages to NATS Server(s)
  .studio/applications-service
  components/applications-service/cmd/applications-publisher/main.go
Labels: eas-team

#246 Reporting code cleanup
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/ingest/projectupdater/manager_test.go
  components/compliance-service/integration_test/suite_test.go
  components/compliance-service/reporting/relaxting/migrations.go
  components/compliance-service/reporting/relaxting/reports.go
Labels: compliance reporting

#249 Project filtering for reporting server ListNodes endpoint.
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/integration_test/reporting_server_list_nodes_test.go
Labels: compliance reporting, iamv2

#161 fixed issue for the client run page search bar shows empty suggestion
  components/automate-ui/src/app/page-components/client-runs-search-bar/client-runs-search-bar.component.ts
Labels: automate-ui, ui

#210 automate-ui-150 Initial dev of multi-select delete
  components/automate-ui/e2e/integrations.e2e-spec.ts
  components/automate-ui/src/app/entities/managers/manager.actions.ts
  components/automate-ui/src/app/entities/managers/manager.effects.ts
  components/automate-ui/src/app/entities/managers/manager.reducer.ts
  components/automate-ui/src/app/entities/managers/manager.requests.ts
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.html
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.scss
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.ts
Labels: automate-ui, ui

#245 [A2-779] Projects filter refinement
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.ts
  components/automate-ui/src/app/entities/policies/policy.effects.ts
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.component.html
  components/automate-ui/src/app/services/projects-filter/projects-filter.actions.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.spec.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.selectors.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
  components/automate-ui/src/app/ui.component.ts
Labels: automate-auth, automate-ui, ui

#132 Project update resume
  .bldr.toml
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/cmd/authz-service/main.go
  components/authz-service/config/config_mgmt.go
  components/authz-service/config/config_mgmt_test.go
  components/authz-service/config/project_update_domain_service.go
  components/authz-service/config/project_update_stage.go
  components/authz-service/habitat/config/config.yml
  components/authz-service/server/server.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/project_update_manager.go
  components/authz-service/server/v2/project_update_manager_test.go
  components/compliance-service/Makefile
  components/compliance-service/cmd/compliance-service/cmd/run.go
  components/compliance-service/compliance.go
  components/compliance-service/config/config_mgmt.go
  components/compliance-service/config/config_mgmt_test.go
  components/compliance-service/config/types.go
  components/compliance-service/habitat/hooks/run
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/projectupdater/manager.go
  components/compliance-service/ingest/server/compliance.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/compliance-service/integration_test/suite_test.go
  components/event-service/server/server.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/config/config_mgmt.go
  components/ingest-service/config/config_mgmt_test.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/integration_test/project_update_test.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/projectupdater/manager.go
  components/ingest-service/server/automate_event_handler.go
  components/ingest-service/serveropts/serveropts.go
  lib/config/config_mgmt.go
Labels: automate-auth, iamv2

#233 Trigger replication notification of authz policies
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/memstore/policy_change_notifier.go
  components/authz-service/storage/v2/postgres/policy_change_notifier.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
Labels: automate-auth

#263 include tags on nodemanager process node
  components/compliance-service/ingest/events/compliance/compliance.pb.go
  components/compliance-service/ingest/events/compliance/compliance.proto
  components/compliance-service/ingest/server/compliance.go
  components/compliance-service/inspec-agent/resolver/resolver.go
  components/compliance-service/inspec-agent/runner/reporter.go
  components/compliance-service/inspec-agent/types/types.go
  components/nodemanager-service/api/manager/manager.pb.go
  components/nodemanager-service/api/manager/manager.proto
  components/nodemanager-service/pgdb/migration/sql/02_add_unique_to_tags.up.sql
  components/nodemanager-service/pgdb/node-managers-process-node.go
  components/nodemanager-service/pgdb/node_managers_process_node_integration_test.go
  components/nodemanager-service/pgdb/tags.go
Labels: one node view

#261 cloud integrations: remove beta flag on azure and gcp
  components/automate-chef-io/content/docs/node-integrations.md
  components/automate-ui/e2e/integrations.e2e-spec.ts
  components/automate-ui/src/app/pages/integrations/integrations-form/integrations-form.component.html
  components/automate-ui/src/app/pages/integrations/integrations-form/integrations-form.component.ts
  components/automate-ui/src/app/ui.component.ts
Labels: documentation, node integrations

#264 do not run detect job if node has ssm backend
  components/compliance-service/inspec-agent/resolver/resolver.go
  components/compliance-service/inspec-agent/resolver/resolver_test.go
Labels: node integrations

#258 Add v2 version of UpdateSelf
  components/automate-gateway/api/iam/v2beta/request/users.pb.go
  components/automate-gateway/api/iam/v2beta/request/users.proto
  components/automate-gateway/api/iam/v2beta/response/users.pb.go
  components/automate-gateway/api/iam/v2beta/response/users.proto
  components/automate-gateway/api/iam/v2beta/users.pb.go
  components/automate-gateway/api/iam/v2beta/users.pb.gw.go
  components/automate-gateway/api/iam/v2beta/users.pb.mock.go
  components/automate-gateway/api/iam/v2beta/users.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/users.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/users.proto
  components/automate-gateway/api/iam/v2beta/users.swagger.json
  components/automate-gateway/api/iam_v2beta_users.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/users/users.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth

#286 Remove color definition from breadcrumb links
  components/automate-ui/src/app/components/breadcrumb/breadcrumb.component.scss
Labels: automate-ui, ui

#215 [A2-690] Add site and channel data to the instance card
  .studio/applications-service
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/service_groups_health_counts_test.go
  components/applications-service/integration_test/service_groups_test.go
  components/applications-service/integration_test/services_by_sg_test.go
  components/applications-service/integration_test/services_test.go
  components/applications-service/integration_test/storage_service_group_test.go
  components/applications-service/pkg/generator/config_test.go
  components/applications-service/pkg/generator/runner.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/02_svc_channel.up.sql
  components/applications-service/pkg/storage/postgres/service.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
Labels: automate-ui, eas-team, ui

#271 Creating a shared Project Update Manager
  .bldr.toml
  components/compliance-service/config/config_mgmt.go
  components/compliance-service/config/config_mgmt_test.go
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/projectupdater/manager.go
  components/compliance-service/ingest/server/compliance.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/config/config_mgmt.go
  components/ingest-service/config/config_mgmt_test.go
  components/ingest-service/server/automate_event_handler.go
  lib/authz/project_rules.go
  lib/authz/project_rules_test.go
  lib/authz/project_update_manager.go
Labels: compliance ingestion, iamv2

#289 Project filter GetRuns
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/nodes.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/backend/mock/mock_test.go
  components/config-mgmt-service/grpcserver/nodes.go
  components/config-mgmt-service/integration_test/nodes_test.go
  components/config-mgmt-service/integration_test/runs_test.go
  components/ingest-service/integration_test/suite_test.go
Labels: config-mgmt-service, iamv2

#293 Adding actions to the Project Updater
  components/authz-service/server/v2/project.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/integration_test/project_update_actions_test.go
  components/ingest-service/integration_test/suite_test.go
Labels: iamv2

#254 added changes to show the inspec version on node details page
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.scss
Labels: automate-ui, ui

#244 [A2-782] fetch real data for global projects filter
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/authz_v2.rego
  components/authz-service/engine/opa/policy/authz_v2_test.rego
  components/authz-service/engine/opa/policy/common.rego
  components/authz-service/engine/opa/policy/introspection_v2.rego
  components/authz-service/engine/opa/policy/introspection_v2_test.rego
  components/authz-service/server/v2/policy_refresher.go
  components/authz-service/server/v2/system.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/storage/v2/type.go
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.requests.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
  inspec/a2-iam-v2p1-only-integration/controls/get_authorized_projects.rb
  integration/tests/iam_v2p1_only.sh
Labels: automate-auth, automate-ui, iamv2, ui

#240 Updates to user menu
  components/automate-chef-io/content/docs/users.md
  components/automate-chef-io/static/images/docs/user-profile-navigation.png
  components/automate-chef-io/static/images/docs/user-profile-view.png
  components/automate-ui/e2e/app.e2e-spec.ts
  components/automate-ui/e2e/event-feed-page.e2e-spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.html
  components/automate-ui/src/app/page-components/profile/profile.component.scss
  components/automate-ui/src/app/page-components/profile/profile.component.spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
  e2e/cypress/integration/01_login.spec.js
Labels: automate-ui, documentation, ui

#279 Update Automate UI to use users V2 model and V2 APIs when beta enabled
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/users/user.actions.ts
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/entities/users/user.model.ts
  components/automate-ui/src/app/entities/users/user.reducer.spec.ts
  components/automate-ui/src/app/entities/users/user.reducer.ts
  components/automate-ui/src/app/entities/users/user.requests.ts
  components/automate-ui/src/app/entities/users/user.selectors.ts
  components/automate-ui/src/app/entities/users/userself.model.ts
  components/automate-ui/src/app/page-components/user-table/user-table.component.html
  components/automate-ui/src/app/page-components/user-team-membership-table/user-team-membership-table.component.html
  components/automate-ui/src/app/page-components/user-team-membership-table/user-team-membership-table.component.spec.ts
  components/automate-ui/src/app/page-components/user-team-membership-table/user-team-membership-table.component.ts
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.html
  components/automate-ui/src/app/pages/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.ts
  components/automate-ui/src/app/pages/user-management/user-management.component.spec.ts
  components/automate-ui/src/app/pages/user-management/user-management.component.ts
Labels: automate-auth

#292 Fix unit test bug in applications-service
  components/applications-service/pkg/storage/postgres/service_internal_test.go
Labels: bug

#310 Removing hardcoded example from testing
  components/authz-service/server/v2/project.go
Labels: iamv2

#306 Adding project filters for GetAttributes
  components/config-mgmt-service/grpcserver/nodes.go
  components/config-mgmt-service/integration_test/node_attribute_test.go
Labels: iamv2

#300 Adding project filters for GetRunsCounts
  api/external/cfgmgmt/cfgmgmt.pb.policy-v1.go
  api/external/cfgmgmt/cfgmgmt.pb.policy-v2.go
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/stats.pb.go
  api/external/cfgmgmt/request/stats.proto
  api/interservice/cfgmgmt/request/stats.pb.go
  api/interservice/cfgmgmt/request/stats.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/automate-ui/src/app/services/node-details/node-runs.service.ts
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/runs.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/backend/mock/mock_test.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/grpcserver/cfg_mgmt_test.go
  components/config-mgmt-service/integration_test/nodes_test.go
  components/config-mgmt-service/integration_test/stats_run_counts_test.go
  inspec/a2-api-integration/controls/authz_access_control.rb
Labels: iamv2

#305 improve error handling for remote execution nodes
  components/automate-gateway/api/nodes/nodes.pb.go
  components/automate-gateway/api/nodes/nodes.pb.policy-v1.go
  components/automate-gateway/api/nodes/nodes.pb.policy-v2.go
  components/automate-gateway/api/nodes/nodes.proto
  components/automate-gateway/api/nodes/nodes.swagger.json
  components/automate-gateway/api/nodes_nodes.pb.swagger.go
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.html
  components/compliance-service/inspec-agent/resolver/resolver.go
  components/nodemanager-service/managers/azure/azure.go
  components/nodemanager-service/managers/managers.go
  components/nodemanager-service/pgdb/node-managers-cloud.go
  components/nodemanager-service/pgdb/node_managers_cloud_integration_test.go
Labels: node integrations

#295 [A2-784] UI http interceptor
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/policy_refresher.go
  components/automate-gateway/gateway/middleware/auth_interceptor_internal_test.go
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
  lib/grpc/auth_context/auth_context.go
Labels: automate-auth, automate-ui, iamv2, ui

#316 [A2-783] Wire up the projects filter "Apply Changes" button
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.component.spec.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
Labels: automate-auth, automate-ui, iamv2, ui

#207 [deployment] Set HAB_LICENSE=accept-no-persist in a lot of places
  components/automate-cli/cmd/chef-automate/dev.go
  components/automate-cli/cmd/chef-automate/start_linux.go
  components/automate-deployment/pkg/bootstrap/deployment_service_cmd.go
  components/automate-deployment/pkg/gatherlogs/command.go
  components/automate-deployment/pkg/server/startup_helpers.go
  components/automate-deployment/pkg/target/hab_cmd.go
  components/automate-deployment/pkg/target/hab_cmd_test.go
  components/automate-deployment/pkg/target/local_target.go
  components/automate-deployment/pkg/target/local_target_test.go
Labels: deployment-team

#317 Adding project filters for GetSuggestions
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/suggestions.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/suggestions_test.go
Labels: iamv2

#314 Adding project filters for GetNodesCounts
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/stats_nodes_counts_test.go
Labels: iamv2

#315 Adding project filters for GetOrganizations and GetSourceFqdns
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/elastic.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/organizations_test.go
  components/config-mgmt-service/integration_test/source_fqdn_test.go
Labels: iamv2

#322 project filtering for stats summary
  components/compliance-service/api/stats/server/server.go
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/integration_test/stats_server_read_summary_test.go
  components/compliance-service/integration_test/suite_test.go
  components/compliance-service/reporting/relaxting/stats_control_level.go
  components/compliance-service/reporting/relaxting/util.go
Labels: compliance reporting, iamv2

#294 process node: add run_data and scan_data to the db and process_node logic
  components/automate-gateway/integration/nodes_test.go
  components/compliance-service/api/tests/25_nodes_spec.rb
  components/compliance-service/api/tests/30_jobs_docker_spec.rb
  components/compliance-service/api/tests/test_ingest_to_mgr_conn.rb
  components/compliance-service/ingest/server/compliance.go
  components/compliance-service/ingest/server/compliance_test.go
  components/nodemanager-service/api/manager/manager.pb.go
  components/nodemanager-service/api/manager/manager.proto
  components/nodemanager-service/api/nodes/nodes.pb.go
  components/nodemanager-service/api/nodes/nodes.proto
  components/nodemanager-service/pgdb/migration/sql/04_nodes_add_fields.up.sql
  components/nodemanager-service/pgdb/node-managers-process-node.go
  components/nodemanager-service/pgdb/node_managers_process_node_integration_test.go
  components/nodemanager-service/pgdb/nodes.go
Labels: one node view

#313 Adding project filters for GetNodeRun
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/node_run_test.go
Labels: iamv2

#330 break the summary tests into separate tests for nodes, reports and controls
  components/compliance-service/integration_test/stats_server_read_summary_test.go
  components/compliance-service/integration_test/stats_server_read_trend_test.go
Labels: compliance reporting

#273 [A2-808] OPA update for project rules
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_refresher.go
Labels: automate-auth, iamv2

#321 added changes to remove compliance label icons
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/profile-details/profile-details.component.html
Labels: automate-ui, ui

#338 deps: update grpc-gateway -- v1.8.5 -> v1.9.0
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/grpc-ecosystem/grpc-gateway/.circleci/config.yml
  vendor/github.com/grpc-ecosystem/grpc-gateway/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/grpc-gateway/Makefile
  vendor/github.com/grpc-ecosystem/grpc-gateway/WORKSPACE
  vendor/github.com/grpc-ecosystem/grpc-gateway/docs/_docs/customizingyourgateway.md
  vendor/github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway/httprule/parse.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger/defs.bzl
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/handler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/marshal_jsonpb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/mux.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/proto_errors.go
Labels: automate-gateway

#331 Adding project filter for GetEventFeed
  components/config-mgmt-service/grpcserver/event_feed.go
  components/config-mgmt-service/integration_test/event_feed_test.go
Labels: iamv2

#334 project filtering for stats top failures
  components/compliance-service/api/stats/server/server.go
  components/compliance-service/integration_test/stats_server_read_failures_test.go
Labels: compliance reporting

#318 Project filtering for reporting server export endpoint
  Gopkg.lock
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/integration_test/reporting_server_export_test.go
  vendor/google.golang.org/grpc/test/bufconn/bufconn.go
Labels: compliance reporting, iamv2

#343 Fixing flaky UI e2e test
  components/automate-ui/e2e/event-feed-page.e2e-spec.ts
Labels: automate-ui

#323 [A2-798] OPA update timing out -- part one: do less work
  components/authz-service/engine/opa/example_v2/store-pretty.json
  components/authz-service/engine/opa/opa.go
  components/authz-service/engine/opa/opa_internal_test.go
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/authz_v2.rego
  components/authz-service/engine/opa/policy/authz_v2_test.rego
  components/authz-service/engine/opa/policy/common.rego
  components/authz-service/server/v2/policy_refresher.go
Labels: automate-auth

#333 Design fixes for event feed
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.scss
  components/automate-ui/src/app/page-components/event-feed-select/event-feed-select.component.scss
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.html
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.scss
  components/chef-ui-library/src/molecules/chef-select/chef-select.scss
Labels: automate-ui, ui

#312 UI-72 (UI-138) add link to create new node from automate nodemanager details …
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.html
Labels: automate-ui, ui

#278 Add session info to the documentation
  components/automate-chef-io/content/docs/configuration.md
Labels: automate-auth, documentation

#229 [deployment] Unpin automate-ha-backend packages.
  integration/services/ha_backend/htpasswd
  integration/services/ha_backend/init
  integration/services/ha_backend/setup.sh
Labels: deployment-team

#345 ingest-service calls nodemanager-service with node metadata upon ingestion
  .bldr.toml
  .studio/common
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/habitat/hooks/run
  components/ingest-service/habitat/plan.sh
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/pipeline/chef_run.go
  components/ingest-service/pipeline/publisher/node_manager_publisher.go
  components/ingest-service/pipeline/publisher/node_manager_publisher_test.go
  components/ingest-service/server/chef.go
  components/ingest-service/serveropts/serveropts.go
  components/nodemanager-service/api/manager/manager.pb.client_mock.go
Labels: one node view

#361 Get project info from context in streaming endpoint.
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/integration_test/reporting_server_export_test.go
Labels: compliance reporting, iamv2

#337 new changes for the notifications page empty state
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.scss
Labels: automate-ui, ui

#308 added UI changes for API tokens page empty state
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.scss
Labels: automate-auth, automate-ui, ui

#332 add filtering for last scan and last run data on nodes endpoint
  components/nodemanager-service/pgdb/filtering.go
  components/nodemanager-service/pgdb/nodes.go
  components/nodemanager-service/pgdb/nodes_integration_test.go
Labels: one node view

#347 expose and document run_data and scan_data on nodes
  components/automate-chef-io/content/docs/nodes.md
  components/automate-gateway/api/nodes/nodes.pb.go
  components/automate-gateway/api/nodes/nodes.proto
  components/automate-gateway/api/nodes/nodes.swagger.json
  components/automate-gateway/api/nodes_nodes.pb.swagger.go
Labels: documentation, one node view

#351 [deployment] License fixes for a1-migration test.
  components/automate-deployment/a1-migration/create_artifact.sh
  components/automate-deployment/a1-migration/load-artifact
  components/automate-deployment/a1-migration/run_upgrade_from_a1.sh
Labels: deployment-team

#350 Adding project filter for GetEventTypeCounts
  components/config-mgmt-service/grpcserver/event_feed.go
  components/config-mgmt-service/integration_test/event_counts_test.go
  components/config-mgmt-service/integration_test/event_feed_test.go
Labels: iamv2

#360 Adding project filter for GetEventTaskCounts
  components/config-mgmt-service/grpcserver/event_feed.go
  components/config-mgmt-service/integration_test/event_task_counts_test.go
Labels: iamv2

#277 [A2-782] global projects filter cypress test
  e2e/README.md
  e2e/cypress/integration/02_global_filter.spec.js
  e2e/cypress/integration/compliance/01_ssh_scan_job.spec.js
  e2e/cypress/integration/settings/01_user_mgmt.spec.js
  e2e/cypress/integration/teams/team_mgmt.spec.js
  e2e/cypress/support/commands.js
Labels: automate-auth

#363 [UI-298] more event feed design fixes
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.html
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.scss
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.ts
  components/automate-ui/src/app/page-components/event-icon/event-icon.component.scss
Labels: automate-ui, ui

#364 UI-357 Fix reporting routes Signed-off-by: Tara Black <tblack@chef.io>
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/job-scans-list/job-scans-list.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.ts
Labels: automate-ui, ui

#373 project filtering for stats profiles
  components/compliance-service/api/stats/server/server.go
  components/compliance-service/integration_test/stats_server_read_profiles_test.go
  components/compliance-service/integration_test/suite_test.go
  components/compliance-service/reporting/relaxting/profiles.go
  components/compliance-service/reporting/relaxting/stats.go
Labels: compliance reporting

#374 Bs/cypress fix
  e2e/cypress/integration/02_global_filter.spec.js
  e2e/cypress/support/commands.js
Labels: automate-auth

#375 Adding project filtering to GetEventStringBuckets
  components/config-mgmt-service/grpcserver/event_feed.go
  components/config-mgmt-service/integration_test/event_strings_test.go
Labels: iamv2

#359 UI-272 Add warning class to radial chart in stencil library Signed-of…
  components/chef-ui-library/src/atoms/chef-alert/chef-alert.scss
  components/chef-ui-library/src/atoms/chef-button/chef-button.scss
  components/chef-ui-library/src/atoms/chef-card/chef-card.scss
  components/chef-ui-library/src/atoms/chef-checkbox/chef-checkbox.scss
  components/chef-ui-library/src/atoms/chef-click-outside/chef-click-outside.tsx
  components/chef-ui-library/src/atoms/chef-dropdown/chef-dropdown.scss
  components/chef-ui-library/src/atoms/chef-heading/chef-heading.scss
  components/chef-ui-library/src/atoms/chef-input/chef-input.scss
  components/chef-ui-library/src/atoms/chef-option/chef-option.tsx
  components/chef-ui-library/src/atoms/chef-pill/chef-pill.scss
  components/chef-ui-library/src/atoms/chef-snippet/chef-snippet.scss
  components/chef-ui-library/src/atoms/chef-step/chef-step.scss
  components/chef-ui-library/src/atoms/chef-subheading/chef-subheading.scss
  components/chef-ui-library/src/atoms/chef-tooltip/chef-tooltip.scss
  components/chef-ui-library/src/charts/chef-data-point/chef-data-point.tsx
  components/chef-ui-library/src/charts/chef-radial-chart/chef-radial-chart.scss
  components/chef-ui-library/src/charts/chef-radial-chart/chef-radial-chart.tsx
  components/chef-ui-library/src/design/chef-colors/chef-colors.scss
  components/chef-ui-library/src/design/chef-typography/chef-typography.scss
  components/chef-ui-library/src/global/_misc.scss
  components/chef-ui-library/src/global/_typography.scss
  components/chef-ui-library/src/global/ui-lib-styles.css
  components/chef-ui-library/src/global/variables.css
  components/chef-ui-library/src/internal/chef-example/chef-example.scss
  components/chef-ui-library/src/internal/chef-header-nav/chef-header-nav.scss
  components/chef-ui-library/src/molecules/chef-banner/chef-banner.scss
  components/chef-ui-library/src/molecules/chef-combobox/chef-combobox.scss
  components/chef-ui-library/src/molecules/chef-control-menu/chef-control-menu.scss
  components/chef-ui-library/src/molecules/chef-modal/chef-modal.scss
  components/chef-ui-library/src/molecules/chef-notification/chef-notification.scss
  components/chef-ui-library/src/molecules/chef-page-header/chef-page-header.scss
  components/chef-ui-library/src/molecules/chef-paginator/chef-paginator.scss
  components/chef-ui-library/src/molecules/chef-phat-radio/chef-phat-radio.scss
  components/chef-ui-library/src/molecules/chef-radio/chef-radio.scss
  components/chef-ui-library/src/molecules/chef-select/chef-select.scss
  components/chef-ui-library/src/molecules/chef-separator/chef-separator.scss
  components/chef-ui-library/src/molecules/chef-separator/chef-separator.tsx
  components/chef-ui-library/src/molecules/chef-side-panel/chef-side-panel.scss
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.scss
  components/chef-ui-library/src/molecules/chef-tab-selector/chef-tab-selector.scss
  components/chef-ui-library/src/molecules/chef-table/chef-table.scss
  components/chef-ui-library/src/molecules/chef-toggle/chef-toggle.scss
  components/chef-ui-library/src/pages/chef-ui-doc/chef-ui-doc.scss
  components/chef-ui-library/src/pages/chef-ui-docs/chef-ui-docs.scss
  components/chef-ui-library/stencil.config.js
Labels: chef-ui-library, ui

#372 [A2-830] Add application and environment to service groups
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/service_groups_filters_test.go
  components/applications-service/integration_test/service_groups_test.go
  components/applications-service/pkg/params/sorting.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/automate-gateway/api/applications.pb.swagger.go
Labels: eas-team

#304 [A2-655] Add user V2 API integration testing
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth

#353 Rule Mapping Schema and Database Functionality
  components/authz-service/storage/errors.go
  components/authz-service/storage/postgres/migration/sql/44_policy_rules.up.sql
  components/authz-service/storage/v2/condition.go
  components/authz-service/storage/v2/condition_attribute.go
  components/authz-service/storage/v2/condition_operator.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/rule.go
  components/authz-service/storage/v2/rule_type.go
  components/authz-service/storage/v2/storage.go
Labels: automate-auth

#341 User real Habitat HealthCheck event message
  .bldr.toml
  .studio/applications-service
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/helper.go
  api/external/habitat/event.pb.go
  api/external/habitat/event.proto
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/service_groups_health_counts_test.go
  components/applications-service/integration_test/service_groups_test.go
  components/applications-service/integration_test/services_by_sg_test.go
  components/applications-service/integration_test/services_test.go
  components/applications-service/integration_test/storage_service_group_test.go
  components/applications-service/integration_test/suite_test.go
  components/applications-service/pkg/generator/config_test.go
  components/applications-service/pkg/generator/runner.go
  components/applications-service/pkg/nats/nats.go
  components/applications-service/pkg/nats/publisher.go
  components/applications-service/pkg/nats/subscriber.go
  components/applications-service/pkg/server/ingest.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/hab_event.go
Labels: eas-team

#376 [A2-839] Remove duplicates from IAM roles table in DB
  components/authz-service/storage/postgres/datamigration/sql/06_v2_roles.up.sql
Labels: automate-auth, bug

#382 Adding project filters for NodeExport
  components/config-mgmt-service/grpcserver/node_export.go
  components/config-mgmt-service/integration_test/node_export_test.go
Labels: iamv2

#386 Fix bug where css variable nesting was broken
  components/chef-ui-library/src/atoms/chef-input/chef-input.scss
  components/chef-ui-library/src/atoms/chef-loading-spinner/chef-loading-spinner.scss
  components/chef-ui-library/src/atoms/chef-tooltip/chef-tooltip.scss
  components/chef-ui-library/src/global/variables.css
  components/chef-ui-library/src/molecules/chef-modal/chef-modal.scss
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.scss
  components/chef-ui-library/src/molecules/chef-toggle/chef-toggle.scss
Labels: automate-ui, bug, ui

#388 cypress: wait for introspect 'some' before moving on
  e2e/cypress/support/commands.js
Labels: cypress

#393 Spelling fix for "complete"
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  api/interservice/ingest/automate_event.pb.go
  api/interservice/ingest/automate_event.proto
  api/interservice/ingest/automate_event.swagger.json
  components/authz-service/config/config_mgmt_test.go
  components/authz-service/config/project_update_domain_service.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_update_manager.go
  components/authz-service/server/v2/project_update_manager_test.go
  components/compliance-service/ingest/ingest/compliance.pb.go
  components/compliance-service/ingest/ingest/compliance.proto
  components/compliance-service/ingest/server/compliance.go
  components/ingest-service/server/automate_event_handler.go
  lib/authz/project_update_manager.go
Labels: compliance ingestion

#390 Add projects to permission-based routing of Settings tab
  components/automate-ui/src/app/components/admin-sidebar/admin-sidebar.component.spec.ts
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
Labels: automate-auth, automate-ui

#402 automate-gateway: cleanup GRPC/HTTP multiplexing cruft
  components/automate-gateway/gateway/server.go
  components/automate-gateway/integration/license_usage_nodes_test.go
  components/automate-gateway/integration/nodes_test.go
Labels: automate-gateway

#342 added changes for node credentials page empty state
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list.html
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list.scss
Labels: automate-ui, ui

#383 Clean up data before test
  e2e/cypress/integration/02_global_filter.spec.js
  e2e/cypress/support/commands.js
Labels: automate-auth, cypress

#385 [A2-763] Hide "Access Management" on sidebar
  components/automate-ui/src/app/components/admin-sidebar/admin-sidebar.component.html
Labels: automate-auth, automate-ui, bug, ui

#404 remove node state link from client run page
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
Labels: automate-ui, ui

#395 Add checkbox filtering to service-now compliance notifications
  components/automate-gateway/api/notifications/notifications.pb.go
  components/automate-gateway/api/notifications/notifications.proto
  components/automate-gateway/api/notifications/notifications.swagger.json
  components/automate-gateway/api/notifications_notifications.pb.swagger.go
  components/automate-ui/src/app/pages/notification-form/notification-form.component.html
  components/automate-ui/src/app/pages/notification-form/notification-form.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/pages/notifications/rule.spec.ts
  components/automate-ui/src/app/pages/notifications/rule.ts
  components/automate-ui/src/app/services/rules/rules.service.spec.ts
  components/notifications-client/api/rules.pb.go
  components/notifications-service/server/lib/data/migrations.ex
  components/notifications-service/server/lib/data/store.ex
  components/notifications-service/server/lib/data/target.ex
  components/notifications-service/server/lib/dispatcher.ex
  components/notifications-service/server/lib/formatters/compliance_helper.ex
  components/notifications-service/server/lib/formatters/servicenow.compliance.ex
  components/notifications-service/server/lib/pb/rules.pb.ex
  components/notifications-service/server/lib/prefilter.ex
  components/notifications-service/server/priv/rules.proto
  components/notifications-service/server/test/prefilter_test.exs
Labels: automate-ui, ui

#412 Link fixes to LDAP docs
  components/automate-chef-io/content/docs/ldap.md
Labels: documentation

#416 Cleanup FilterAuthorizedProjects
  api/interservice/authz/authz.pb.client_mock.go
  api/interservice/authz/authz.pb.go
  api/interservice/authz/authz.pb.mock.go
  api/interservice/authz/authz.pb.validate.go
  api/interservice/authz/authz.proto
  components/authz-service/server/v1/server.go
  components/authz-service/server/v2/authz_test.go
  components/automate-gateway/gateway/middleware/auth_interceptor.go
  components/automate-gateway/gateway/middleware/authv1/authv1.go
  components/automate-gateway/gateway/middleware/authv2/authv2.go
  components/automate-gateway/handler/authz.go
  components/automate-gateway/handler/authz_test.go
  components/automate-gateway/pkg/authorizer/authorizer.go
  lib/grpc/auth_context/auth_context_test.go
Labels: automate-auth

#403 [A2-572] Add 'viewer' and 'editor' users to local-dev and dev/acceptance envs, add `--skip-policy-migration` to `upgrade-to-v2`
  .studiorc
  api/interservice/authz/v2/policy.pb.go
  api/interservice/authz/v2/policy.pb.validate.go
  api/interservice/authz/v2/policy.proto
  components/authz-service/server/v2/migration.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/automate-cli/cmd/chef-automate/dev.go
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-cli/pkg/adminmgmt/adminmgmt.go
  components/automate-gateway/api/iam/v2beta/request/policy.pb.go
  components/automate-gateway/api/iam/v2beta/request/policy.proto
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
  inspec/a2-iam-v2-only-integration/controls/role_access.rb
  integration/tests/iam_v2_only.sh
  integration/tests/iam_v2p1_only.sh
  terraform/test-environments/modules/chef_automate_install/templates/install_chef_automate_cli.sh.tpl
Labels: automate-auth, studio-dev

#391 Client Runs Narrowing Suggestions
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/common/query/parameters.pb.go
  api/external/common/query/parameters.proto
  api/interservice/cfgmgmt/request/parameters.pb.go
  api/interservice/cfgmgmt/request/parameters.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/automate-ui/src/app/entities/client-runs/client-runs.effects.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.requests.spec.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.requests.ts
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/suggestions_test.go
  components/ingest-service/examples/converge-success-report.json
Labels: automate-ui, config-mgmt-service, ui

#426 automate-gateway/middleware: cleanup comment
  components/automate-gateway/gateway/middleware/auth_interceptor.go
Labels: automate-auth, automate-gateway

#367 Reconfigure EAS dashboard to make sidebar static
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/applications/applications.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#436 [FIX-PIPELINE] Disable Angular Analytics
  components/automate-ui/habitat/plan.sh
Labels: bug

#410 [A2-802] CreateRule projects API
  Gopkg.lock
  Gopkg.toml
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/automate-gateway/api/iam/v2beta/common/rules.pb.go
  components/automate-gateway/api/iam/v2beta/common/rules.proto
  components/automate-gateway/api/iam/v2beta/request/rules.pb.go
  components/automate-gateway/api/iam/v2beta/request/rules.proto
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.mock.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  lib/grpc/grpctest/status.go
  vendor/github.com/leanovate/gopter/derived_gen.go
  vendor/github.com/leanovate/gopter/gen.go
  vendor/github.com/leanovate/gopter/gen/struct.go
  vendor/github.com/leanovate/gopter/gen_parameters.go
Labels: automate-auth, iamv2

#401 Client runs search bar wildcard filter update to be an 'or'
  components/config-mgmt-service/backend/elastic/elastic.go
  components/config-mgmt-service/integration_test/nodes_test.go
Labels: automate-ui, config-mgmt-service

#400 Fix a few issues with the policy membership UI
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/pages/policy/details/policy-details.component.html
  components/automate-ui/src/app/pages/policy/details/policy-details.component.ts
Labels: automate-auth

#417 Fix nightly migration tests
  components/automate-deployment/a1-migration/a1-migration-data-full/hooks/install
  components/automate-deployment/a1-migration/a1-migration-data-full/plan.sh
  components/automate-deployment/a1-migration/load-artifact
Labels: deployment-team

#415 Adding error messages to the search bar
  .studio/automate-gateway
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/integration_test/suggestions_test.go
  components/config-mgmt-service/params/parameters.go
  components/config-mgmt-service/params/suggestions.go
  components/ingest-service/backend/chef_client_run.go
  components/ingest-service/backend/chef_client_run_test.go
  components/ingest-service/backend/converge.go
  components/ingest-service/backend/elastic/mappings/node_state.go
Labels: automate-ui, config-mgmt-service, ui

#439 Added equals operator that can only accept a single value
  components/authz-service/storage/v2/condition.go
  components/authz-service/storage/v2/condition_operator.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: automate-auth

#379 Adding loading pattern to profiles page + hide 0 until after page loads
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/scanner/scanner.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/scanner/scanner.component.ts
Labels: automate-ui, ui

#449 [A2-846] Add operator conditions to CreateRule API
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_test.go
  components/automate-gateway/api/iam/v2beta/common/rules.pb.go
  components/automate-gateway/api/iam/v2beta/common/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
Labels: automate-auth

#435 Add app and env to service-group table
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, eas-team, ui

#430 [A2-806] GetRule + ListRules projects API
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/automate-gateway/api/iam/v2beta/request/rules.pb.go
  components/automate-gateway/api/iam/v2beta/request/rules.proto
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.mock.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
Labels: automate-auth, iamv2

#457 Specify creds for the a1 data package used by nightly migration tests
  components/automate-deployment/a1-migration/README.md
  components/automate-deployment/a1-migration/load-artifact
  scripts/nightly_migration.sh
Labels: deployment-team

#394 UI-272 Mini Donut Charts EAS Table Signed-off-by: Tara Black <ttblack…
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-ui, eas-team, ui

#461 Client Runs search bar sort types
  components/automate-ui/src/app/pages/client-runs/client-runs.component.spec.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
Labels: automate-ui, ui

#448 [A2-833] Generalize project introspection
  api/interservice/authz/v2/authz.pb.go
  api/interservice/authz/v2/authz.pb.mock.go
  api/interservice/authz/v2/authz.pb.validate.go
  api/interservice/authz/v2/authz.proto
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/engine.go
  components/authz-service/engine/opa/opa.go
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/introspection_v2.rego
  components/authz-service/engine/opa/policy/introspection_v2_test.rego
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/authz_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/automate-gateway/handler/authz.go
  components/automate-gateway/handler/authz_test.go
Labels: automate-auth

#458 [A2-804] DeleteRule API
  api/interservice/authz/v2/project.pb.client_mock.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.mock.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/automate-gateway/api/iam/v2beta/request/rules.pb.go
  components/automate-gateway/api/iam/v2beta/request/rules.proto
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.pb.gw.go
  components/automate-gateway/api/iam/v2beta/rules.pb.mock.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/rules.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
Labels: automate-auth, iamv2

#465 Re-sync introspection logging with code operation
  components/automate-gateway/handler/authz.go
Labels: automate-auth

#450 Adding compliance search bar types
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/compliance-service/integration_test/reporting_server_list_nodes_test.go
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/reporting/relaxting/reports.go
  components/compliance-service/reporting/relaxting/suggestions.go
Labels: automate-ui, compliance reporting, ui

#474 Removing Error search bar type
  components/automate-ui/src/app/pages/client-runs/client-runs.component.spec.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
Labels: automate-ui
