Repository chef/automate, pull requests merged in 2019-10, with the labels that each got.

#1735 bump go-grpc (1.23.0 -> 1.24.0)
  Gopkg.lock
  Gopkg.toml
  vendor/google.golang.org/grpc/examples/helloworld/helloworld/helloworld.pb.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health.pb.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1alpha/reflection.pb.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/test/bufconn/bufconn.go
  vendor/google.golang.org/grpc/version.go
Labels: auth-team, chore

#1747 Clone Release Notes wiki with correct GitHub Auth
  .expeditor/publish-release-notes.sh
Labels: Expeditor: Skip All

#1734 [automate-1703] Use persistent state info for project update st…
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
Labels: auth-team, automate-auth, bug 🐛

#1723 [automate-1722] Delete iam-members-viewer role
  components/authz-service/constants/v2/constants.go
  components/authz-service/server/v2/system.go
  components/authz-service/storage/postgres/datamigration/sql/11_remove_iam-members-viewer_role.up.sql
  components/authz-service/storage/postgres/datamigration/sql/README.md
  inspec/a2-iam-v2-integration/controls/base.rb
  inspec/a2-iam-v2p1-only-integration/controls/role_projects.rb
Labels: auth-team, automate-auth, chore

#1740 deployment-service: Only wait 30 seconds for HUP
  components/automate-deployment/pkg/converge/converger.go
Labels: deployment-team

#1724 Remove reconfigure hooks
  components/authn-service/habitat/hooks/reconfigure
  components/authn-service/habitat/hooks/run
  components/authz-service/habitat/hooks/reconfigure
  components/automate-cs-bookshelf/habitat/hooks/run
  components/automate-cs-nginx/habitat/hooks/reconfigure
  components/automate-cs-nginx/habitat/hooks/run
  components/automate-cs-oc-bifrost/habitat/hooks/run
  components/automate-cs-oc-erchef/habitat/hooks/run
  components/automate-deployment/habitat/hooks/reconfigure
  components/automate-deployment/habitat/hooks/reload
  components/automate-dex/habitat/hooks/reconfigure
  components/automate-dex/habitat/hooks/run
  components/automate-pg-gateway/habitat/hooks/reconfigure
  components/automate-pg-gateway/habitat/hooks/run
  components/automate-pg-gateway/habitat/plan.sh
  components/automate-postgresql/habitat/hooks/reconfigure
  components/automate-postgresql/habitat/hooks/run
  components/compliance-service/habitat/hooks/reconfigure
  components/compliance-service/habitat/hooks/run
  components/nodemanager-service/habitat/hooks/reconfigure
  components/nodemanager-service/habitat/hooks/run
  components/pg-sidecar-service/habitat/hooks/reconfigure
  components/pg-sidecar-service/habitat/hooks/run
  components/secrets-service/habitat/hooks/reconfigure
  components/secrets-service/habitat/hooks/run
  lib/scaffolding/shared.sh
  scripts/changed_components.rb
Labels: deployment-team

#1776 only return controls matching control tag filter when fetching single node report
  components/compliance-service/Makefile
  components/compliance-service/api/reporting/reporting.pb.go
  components/compliance-service/api/reporting/reporting.proto
  components/compliance-service/api/tests/03_reports_spec.rb
  components/compliance-service/api/tests/60_A1_migration_spec.rb
  components/compliance-service/inspec/types.go
  components/compliance-service/reporting/relaxting/reports.go
  components/compliance-service/reporting/relaxting/reports_test.go
Labels: compliance reporting

#1809 bump OPA 0.14.0 -> 0.14.2
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/open-policy-agent/opa/bundle/bundle.go
  vendor/github.com/open-policy-agent/opa/internal/file/loader.go
  vendor/github.com/open-policy-agent/opa/topdown/bindings.go
  vendor/github.com/open-policy-agent/opa/topdown/eval.go
  vendor/github.com/open-policy-agent/opa/topdown/query.go
Labels: auth-team, automate-auth, chore

#1742 Add disconnect notices to service group items
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/automate-ui/src/assets/img/icon-disconnected.svg
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-ui, ui

#1732 Bump golang version
  GOLANG_VERSION
Labels: auth-team

#1777 cereal: introduce WorkflowName and TaskName types
  components/applications-service/integration_test/disconnected_services_job_test.go
  components/applications-service/pkg/server/periodic.go
  components/authz-service/server/v2/project_update_manager.go
  components/compliance-service/compliance.go
  components/compliance-service/inspec-agent/runner/runner.go
  components/compliance-service/inspec-agent/scheduler/scheduler.go
  components/data-feed-service/service/data-feed-service.go
  components/event-feed-service/pkg/grpc/grpc.go
  components/event-feed-service/pkg/server/jobs.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/integration_test/job_scheduler_test.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/server/delete_nodes_scheduler.go
  components/ingest-service/server/job_scheduler_server.go
  components/ingest-service/server/jobs.go
  components/ingest-service/server/missing_nodes_deletion_scheduler.go
  components/ingest-service/server/node_missing_scheduler.go
  components/ingest-service/server/purge.go
  components/nodemanager-service/nodemanager.go
  lib/authz/project_rules_update_workflow.go
  lib/authz/project_rules_update_workflow_test.go
  lib/cereal/cereal.go
  lib/cereal/cereal_test.go
  lib/cereal/cerealtest/event.go
  lib/cereal/cerealtest/workflow_instance.go
  lib/cereal/integration/abandon_workflow.go
  lib/cereal/integration/cancel_workflow.go
  lib/cereal/integration/counting_workflow.go
  lib/cereal/integration/delayed_task.go
  lib/cereal/integration/duplicate_workflow_instance.go
  lib/cereal/integration/error_task.go
  lib/cereal/integration/helpers.go
  lib/cereal/integration/kill_workflow.go
  lib/cereal/integration/pattern_single_task_workflow.go
  lib/cereal/integration/schedule.go
  lib/cereal/integration/simple_workflow.go
  lib/cereal/integration/workflow_error.go
  lib/cereal/patterns/chain.go
  lib/cereal/patterns/chain_test.go
  lib/cereal/patterns/common.go
  lib/cereal/patterns/parallel.go
  lib/cereal/patterns/parallel_test.go
  lib/cereal/patterns/singletaskworkflow.go
  lib/datalifecycle/purge/server.go
  lib/datalifecycle/purge/workflow.go
  tools/cereal-scaffold/echo_workflow.go
  tools/cereal-scaffold/main.go
Labels: deployment-team

#1772 Update IAMv2 project tags in nodemanager
  .bldr.toml
  components/authz-service/server/v2/project_update_manager.go
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/ingest-service/integration_test/project_update_test.go
  components/nodemanager-service/cmd/nodemanager-service/cmd/run.go
  components/nodemanager-service/config/config.go
  components/nodemanager-service/habitat/hooks/run
  components/nodemanager-service/habitat/plan.sh
  components/nodemanager-service/nodemanager.go
  components/nodemanager-service/pgdb/db.go
  components/nodemanager-service/pgdb/project_update.go
  components/nodemanager-service/tests/project_update_test.go
Labels: nodemanager

#1824 Code coverage fix due to Angular upgrade
  .expeditor/coverage/automate-ui.sh
Labels: bug 🐛, chef-ui-library

#1830 Fix to code_coverage pipeline
  .expeditor/coverage/automate-ui.sh
Labels: automate-ui, bug 🐛, chef-ui-library

#1815 [AUTOMATE-1718] Remove project update status column from projects list page
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
Labels: auth-team, automate-ui, ui

#1828 Fix slowness in project related OPA queries
  components/authz-service/engine/opa/example_v2/real_world_2p1_store.json
  components/authz-service/engine/opa/opa.go
  components/authz-service/engine/opa/opa_internal_test.go
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/introspection_v2.rego
Labels: auth-team, iamv2

#1670 [AUTH-1471] Project deletion from domains via cereal
  .bldr.toml
  components/authn-service/cmd/authn-service/config.go
  components/authn-service/cmd/authn-service/serve.go
  components/authn-service/habitat/config/config.yml
  components/authn-service/habitat/plan.sh
  components/authn-service/server/grpc.go
  components/authn-service/server/server.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_purger_workflow/delete_project_from_graveyard.go
  components/authz-service/server/v2/project_purger_workflow/move_project_to_graveyard.go
  components/authz-service/server/v2/project_purger_workflow/project_purger.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/postgres/migration/sql/72_create_projects_graveyard_table.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/storage.go
  components/authz-service/testhelpers/testhelpers.go
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/teams-service/cmd/teams-service/main.go
  components/teams-service/habitat/config/config.yml
  components/teams-service/habitat/plan.sh
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
  inspec/a2-iam-v2p1-only-integration/controls/get_authorized_projects.rb
  inspec/a2-iam-v2p1-only-integration/controls/role_projects.rb
  lib/authz/project_purge/project_purge.go
  lib/authz/project_purge/project_purge_workflow.go
  lib/authz/project_purge/project_purge_workflow_test.go
  lib/authz/project_rules_update_workflow.go
Labels: auth-team, iamv2

#1823 Jamie/fix datetime infra node details
  components/automate-ui/src/app/helpers/datetime/datetime.ts
  components/automate-ui/src/app/page-components/logs-modal/logs-modal.component.html
  components/automate-ui/src/app/page-components/logs-modal/logs-modal.component.spec.ts
  components/automate-ui/src/app/page-components/logs-modal/logs-modal.component.ts
  components/automate-ui/src/app/page-components/run-history/run-history.component.html
  components/automate-ui/src/app/page-components/run-history/run-history.component.scss
  components/automate-ui/src/app/page-components/run-history/run-history.component.spec.ts
  components/automate-ui/src/app/page-components/run-history/run-history.component.ts
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.html
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.spec.ts
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.ts
Labels: automate-ui, client runs, ui

#1731 [automate-825] IAM v2 Overview Doc Updates
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/static/images/docs/admin-policies-administrator-access.png
  components/automate-chef-io/static/images/docs/admin-policies-editors-add-members.png
  components/automate-chef-io/static/images/docs/admin-policies-editors-definition.png
  components/automate-chef-io/static/images/docs/admin-policies-editors-members.png
  components/automate-chef-io/static/images/docs/admin-policies.png
  components/automate-chef-io/static/images/docs/admin-projects.png
  components/automate-chef-io/static/images/docs/admin-roles-chef-managed-owner-role.png
  components/automate-chef-io/static/images/docs/admin-roles.png
  components/automate-chef-io/static/images/docs/iam-v2-diagram.png
Labels: auth-team, automate-auth, documentation, iamv2

#1813 [automate-825] IAM v2 Reference Doc Updates
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
Labels: auth-team, automate-auth, documentation

#1833 Add controls list tab to compliance reporting view
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.module.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.routing.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.routing.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, ui

#1867 Downgrading the rrule library to post Angular v8 update
  .bldr.toml
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.ts
Labels: automate-ui

#1829 Km/app telemetry
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: telemetry

#1821 Jamie/fix datetime compliance reports
  components/automate-ui/src/app/helpers/datetime/datetime.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.module.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.module.ts
Labels: automate-ui, compliance reporting, ui

#1872 Turn on the projects beta by default so we can test :allthethings:
  .studiorc
Labels: auth-team

#1412 Documentation generation updates
  Gopkg.lock
  components/automate-chef-io/Makefile
  components/automate-chef-io/data/docs/api-static/00-meta.swagger.json
  components/automate-chef-io/data/docs/api-static/01-reporting-export.swagger.json
  components/automate-chef-io/data/docs/api-static/02-meta-description.yaml
  components/automate-chef-io/data/docs/api-static/03-tag-groups.swagger.json
  components/automate-chef-io/data/docs/api-static/04-reporting-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/automate-chef-io/habitat/plan.sh
  components/automate-chef-io/layouts/_default/data-api.html
  components/automate-gateway/api/compliance/reporting/reporting.pb.go
  components/automate-gateway/api/compliance/reporting/reporting.proto
  components/automate-gateway/api/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/compliance/reporting/stats/stats.swagger.json
  components/automate-gateway/api/compliance_reporting_reporting.pb.swagger.go
  components/automate-gateway/api/compliance_reporting_stats_stats.pb.swagger.go
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/reporting/relaxting/reports.go
  lib/grpc/grpctest/uptodate.go
Labels: documentation

#1878 Prep upgrade test with necessary code
  components/automate-deployment/pkg/server/api_token.go
Labels: auth-team

#1861 Always upgrade to v2.1 on chef-automate iam upgrade-to-v2
  .expeditor/buildkite/cypress.sh
  .expeditor/verify_private.pipeline.yml
  components/authz-service/server/v2/policy.go
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-deployment/pkg/server/api_token_test.go
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
  integration/tests/cypress_e2e.sh
  integration/tests/iam_v2_only.sh
  integration/tests/iam_v2p1.sh
  integration/tests/iam_v2p1_only.sh
  integration/tests/iam_v2p1_upgrade_diagnostics.sh
  integration/tests/reset_admin_access_v2p1.sh
  integration/tests/upgrade_reset_iam_v2.sh
  integration/tests/upgrade_reset_iam_v2p1.sh
Labels: auth-team

#1832 Client Runs: Runs Export
  api/interservice/cfgmgmt/request/node_export.pb.go
  api/interservice/cfgmgmt/request/node_export.proto
  api/interservice/cfgmgmt/response/root.pb.go
  api/interservice/cfgmgmt/response/root.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  components/automate-ui/src/app/page-components/run-history/run-history.component.ts
  components/automate-ui/src/app/services/node-details/node-runs.service.ts
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/elastic.go
  components/config-mgmt-service/backend/elastic/runs.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/grpcserver/report_export.go
  components/config-mgmt-service/integration_test/report_export_test.go
Labels: config-mgmt-service

#1875 authz database integrity fix
  components/authz-service/README.md
  components/authz-service/storage/postgres/migration/sql/73_add_constraint_iam_role_projects.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  dev-docs/diagrams/authz-entity-relationships.png
Labels: auth-team, automate-auth, bug 🐛

#1646 added new style changes for ingest rule select menu
  components/automate-ui/src/app/entities/rules/rule.model.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.scss
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
Labels: auth-team, automate-ui, iamv2, ui

#1912 Fix Access Management heading render
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
Labels: auth-team, automate-ui, bug 🐛, ui

#1873 [cypress] fix cypress tests in deploy pipeline
  .expeditor/buildkite/cypress.sh
  e2e/README.md
  e2e/cypress.json
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/api/iam/03_roles_api.spec.ts
  e2e/cypress/integration/api/iam/04_teams_api.spec.ts
  e2e/cypress/integration/api/iam/05_iam_integration.spec.ts
  e2e/cypress/integration/constants.ts
  e2e/cypress/integration/ui/common/01_login.spec.ts
  e2e/cypress/integration/ui/common/02_global_filter.spec.ts
  e2e/cypress/support/commands.ts
  e2e/cypress/support/index.ts
Labels: auth-team, cypress

#1893 Client Runs Suggestion terms have upper case
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/backup/spec_test.go
  components/config-mgmt-service/backend/elastic/suggestions.go
  components/config-mgmt-service/backend/elastic/suggestions_internal_test.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/grpcserver/node_export.go
  components/config-mgmt-service/grpcserver/nodes.go
  components/config-mgmt-service/grpcserver/report_export.go
  components/config-mgmt-service/integration_test/suggestions_test.go
  components/config-mgmt-service/params/parameters.go
  components/config-mgmt-service/params/parameters_test.go
  components/ingest-service/backend/elastic/mappings/node_state.go
  components/ingest-service/examples/converge-success-report.json
  components/ingest-service/migration/migration.go
  inspec/a2-migrate-from-v1-integration/controls/elastic.rb
Labels: config-mgmt-service

#1757 Jamie/member expression dialog improvement
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.scss
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.spec.ts
Labels: auth-team, automate-ui, documentation, iamv2, ui

#1876 Don't wait for shards to relocate
  components/es-sidecar-service/pkg/elastic/snapshot.go
Labels: deployment-team

#1911 Skip docs sync PR with no changes.
  .expeditor/generate-automate-api-docs.sh
Labels: documentation

#1928 deployment: Look at HAB_LAUNCH_BINARY not HAB_LAUNCH_BIN
  components/automate-deployment/pkg/converge/compiler.go
Labels: deployment-team

#1943 Jamie/close member expression
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/delete-object-modal/delete-object-modal.component.html
  components/automate-ui/src/app/page-components/create-v1-team-modal/create-v1-team-modal.component.html
  components/automate-ui/src/app/page-components/deletable-node-control/deletable-node-control.component.html
  components/automate-ui/src/app/page-components/license-apply/license-apply.component.html
  components/automate-ui/src/app/page-components/license-lockout/license-lockout.component.html
  components/automate-ui/src/app/page-components/logs-modal/logs-modal.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/job-scans-list/job-scans-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/data-feed-form/data-feed-form.component.html
  components/automate-ui/src/app/pages/notification-form/notification-form.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pages/project/confirm-apply-start-modal/confirm-apply-start-modal.component.html
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.html
  components/automate-ui/src/app/pages/user-management/user-management.component.html
  components/chef-ui-library/src/molecules/chef-modal/chef-modal.spec.tsx
  components/chef-ui-library/src/molecules/chef-modal/chef-modal.tsx
Labels: auth-team, automate-ui, bug 🐛, ui

#1865 Jamie/client run history drawer styling
  components/automate-ui/src/app/page-components/run-history/run-history.component.html
  components/automate-ui/src/app/page-components/run-history/run-history.component.scss
  components/automate-ui/src/app/page-components/run-history/run-history.component.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.html
  components/automate-ui/src/app/pages/node-details/node-details.component.spec.ts
Labels: automate-ui, ui

#1905 deployment: use config information for dynamic port preflight checks
  components/automate-deployment/PORT_ALLOCATION.md
  components/automate-deployment/pkg/client/deployer.go
  components/automate-deployment/pkg/preflight/checks.go
  components/automate-deployment/pkg/preflight/preflight.go
  components/automate-deployment/pkg/preflight/preflight_test.go
Labels: deployment-team

#1850 Table Overlap w/ Sidebar Bug in Docs
  components/automate-chef-io/content/docs/default-policies.md
Labels: automate-ui, bug 🐛, documentation

#1959 Declare moreContentEl variable in json-tree
  components/automate-ui/src/app/page-components/json-tree/vendor/json-tree.js
Labels: automate-ui, ui

#1966 preflight: skip workflow ports in check during a1migration
  components/automate-deployment/pkg/preflight/checks.go
Labels: deployment-team

#1950 hide global projects filter if zero projects
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
Labels: auth-team, automate-ui, ui

#1709 success message for creating, updating and deleting the scan job
  components/automate-gateway/api/compliance/scanner/jobs/jobs.pb.go
  components/automate-gateway/api/compliance/scanner/jobs/jobs.pb.gw.go
  components/automate-gateway/api/compliance/scanner/jobs/jobs.pb.policy-v1.go
  components/automate-gateway/api/compliance/scanner/jobs/jobs.pb.policy-v2.go
  components/automate-gateway/api/compliance/scanner/jobs/jobs.proto
  components/automate-gateway/api/compliance/scanner/jobs/jobs.swagger.json
  components/automate-gateway/api/compliance_scanner_jobs_jobs.pb.swagger.go
  components/automate-ui/e2e/job-list.e2e-spec.ts
  components/automate-ui/src/app/entities/jobs/job.actions.ts
  components/automate-ui/src/app/entities/jobs/job.effects.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/state/scanner.effects.ts
  components/compliance-service/api/jobs/jobs.pb.go
  components/compliance-service/api/jobs/jobs.proto
  components/compliance-service/api/jobs/server/server.go
  components/compliance-service/dao/pgdb/jobs.go
Labels: automate-ui, ui

#1968 added css changes to make project dropdowns scrollable
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
Labels: auth-team, automate-ui, ui

#1965 Automate dev docs updates
  dev-docs/DEV_ENVIRONMENT.md
Labels: documentation

#1969 ci: Add test for deploying with the unstable Habitat build
  .expeditor/create-manifest.rb
  .expeditor/update_habitat.sh
  .expeditor/verify_private.pipeline.yml
  components/automate-deployment/pkg/server/server.go
  components/automate-deployment/pkg/server/startup_helpers.go
  integration/base.sh
  integration/tests/upgrade_current_master_habdev.sh
  scripts/verify_build.sh
Labels: deployment-team

#1963 Fix bug where duplicate projects getting returned from OPA in 2.1 could result in *
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/opa/opa.go
  components/authz-service/server/v2/system_integration_test.go
Labels: auth-team, bug 🐛

#1967 preflight: larger disk space check for builder
  components/automate-cli/cmd/chef-automate/pre_flight_check.go
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/deployment/deployment.go
  components/automate-deployment/pkg/preflight/checks.go
  components/automate-deployment/pkg/preflight/preflight.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/automate-deployment/pkg/services/services.go
  products.meta
Labels: deployment-team

#1948 Attempt to de-flake projects API tests
  e2e/cypress/fixtures/converge/avengers1.json
  e2e/cypress/fixtures/converge/avengers2.json
  e2e/cypress/fixtures/converge/xmen1.json
  e2e/cypress/fixtures/converge/xmen2.json
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
Labels: auth-team, cypress

#1981 [data-feed] fix data-feed-service build in module mode
  components/data-feed-service/habitat/plan.sh
Labels: deployment-team

#1982 Fix time locale-dependent spec failures
  components/automate-ui/src/app/page-components/license-apply/license-apply.component.spec.ts
  components/automate-ui/src/app/page-components/license-lockout/license-lockout.component.spec.ts
Labels: automate-ui, ui

#1985 Update deps in docs site readme
  components/automate-chef-io/README.md
Labels: documentation

#1999 Premerge GRPC reset projects for teams and tokens functions so upgrade tests pass
  api/interservice/authn/tokens.pb.go
  api/interservice/authn/tokens.pb.mock.go
  api/interservice/authn/tokens.pb.validate.go
  api/interservice/authn/tokens.proto
  api/interservice/authn/tokens.swagger.json
  api/interservice/teams/v2/teams.pb.go
  api/interservice/teams/v2/teams.pb.mock.go
  api/interservice/teams/v2/teams.pb.validate.go
  api/interservice/teams/v2/teams.proto
  components/authn-service/server/grpc.go
  components/authn-service/tokens/mock/erroronly.go
  components/authn-service/tokens/mock/mock.go
  components/authn-service/tokens/pg/adapter.go
  components/authn-service/tokens/pg/pg_test.go
  components/authn-service/tokens/types/types.go
  components/automate-gateway/api/iam/v2beta/request/teams.pb.go
  components/automate-gateway/api/iam/v2beta/request/teams.proto
  components/automate-gateway/api/iam/v2beta/request/tokens.pb.go
  components/automate-gateway/api/iam/v2beta/request/tokens.proto
  components/automate-gateway/api/iam/v2beta/response/teams.pb.go
  components/automate-gateway/api/iam/v2beta/response/teams.proto
  components/automate-gateway/api/iam/v2beta/response/tokens.pb.go
  components/automate-gateway/api/iam/v2beta/response/tokens.proto
  components/automate-gateway/api/iam/v2beta/teams.pb.go
  components/automate-gateway/api/iam/v2beta/teams.pb.mock.go
  components/automate-gateway/api/iam/v2beta/teams.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/teams.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/teams.proto
  components/automate-gateway/api/iam/v2beta/teams.swagger.json
  components/automate-gateway/api/iam/v2beta/tokens.pb.go
  components/automate-gateway/api/iam/v2beta/tokens.pb.mock.go
  components/automate-gateway/api/iam/v2beta/tokens.pb.policy-v1.go
  components/automate-gateway/api/iam/v2beta/tokens.pb.policy-v2.go
  components/automate-gateway/api/iam/v2beta/tokens.proto
  components/automate-gateway/api/iam/v2beta/tokens.swagger.json
  components/automate-gateway/api/iam_v2beta_teams.pb.swagger.go
  components/automate-gateway/api/iam_v2beta_tokens.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/teams/teams.go
  components/automate-gateway/handler/iam/v2beta/tokens/tokens.go
  components/teams-service/server/v2/server.go
  components/teams-service/storage/conformance/conformance_test.go
  components/teams-service/storage/memstore/memstore.go
  components/teams-service/storage/postgres/postgres.go
  components/teams-service/storage/storage.go
Labels: auth-team

#1964 On reset-to-v1 remove all projects from teams and tokens
  components/automate-cli/cmd/chef-automate/iam.go
Labels: auth-team

#1874 Auth 1770/enforce unassigned perms on object create
  .bldr.toml
  api/interservice/authz/v2/authz.pb.go
  api/interservice/authz/v2/authz.pb.validate.go
  api/interservice/authz/v2/authz.proto
  components/authn-service/cmd/authn-service/serve.go
  components/authn-service/server/grpc_test.go
  components/authn-service/server/server.go
  components/authn-service/server/server_reflection_test.go
  components/authn-service/server/server_test.go
  components/authn-service/tokens/integration/token_integration_test.go
  components/authn-service/tokens/pg/adapter.go
  components/authz-service/server/v2/authz.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/teams-service/storage/postgres/postgres.go
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/api/iam/03_roles_api.spec.ts
  e2e/cypress/integration/api/iam/04_teams_api.spec.ts
  e2e/cypress/integration/api/iam/05_iam_integration.spec.ts
  lib/projectassignment/errors.go
  lib/projectassignment/project_assignment.go
  lib/projectassignment/project_assignment_test.go
Labels: auth-team

#2024 Project update for compliance and client runs elasticsearch bug
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/integration_test/reports_projects_update_test.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/backend/elastic/nodes.go
  components/ingest-service/integration_test/project_update_test.go
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
Labels: auth-team, bug 🐛

#1901 IAM v2.1 Beta Docs
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/static/images/docs/admin-policies-administrator-access.png
  components/automate-chef-io/static/images/docs/admin-policies-editors-add-members.png
  components/automate-chef-io/static/images/docs/admin-policies-editors-definition.png
  components/automate-chef-io/static/images/docs/admin-policies-editors-members.png
  components/automate-chef-io/static/images/docs/admin-policies-migrated.png
  components/automate-chef-io/static/images/docs/admin-policies.png
  components/automate-chef-io/static/images/docs/admin-projects.png
  components/automate-chef-io/static/images/docs/admin-roles-chef-managed-owner-role.png
  components/automate-chef-io/static/images/docs/admin-roles.png
  components/automate-chef-io/static/images/docs/create-project-rule.png
  components/automate-chef-io/static/images/docs/global-projects-filter.png
  components/automate-chef-io/static/images/docs/iam-v2-diagram.png
  components/automate-chef-io/static/images/docs/update-projects-button.png
Labels: auth-team, documentation

#1900 Feature branch for https://github.com/chef/automate/issues/829
  .expeditor/buildkite/cypress.sh
  .expeditor/verify_private.pipeline.yml
  components/authn-service/tokens/pg/sql/14_drop_all_projects.up.sql
  components/authn-service/tokens/pg/sql/README.md
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-cli/pkg/diagnostics/integration/iam_v2.go
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.spec.ts
  components/teams-service/storage/postgres/migration/sql/09_drop_all_projects.up.sql
  components/teams-service/storage/postgres/migration/sql/README.md
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
  integration/tests/cypress_e2e.sh
  integration/tests/iam_v2_only.sh
  integration/tests/iam_v2p1.sh
  integration/tests/iam_v2p1_only.sh
  integration/tests/iam_v2p1_upgrade_diagnostics.sh
  integration/tests/reset_admin_access_v2p1.sh
  integration/tests/upgrade_reset_iam_v2.sh
  integration/tests/upgrade_reset_iam_v2p1.sh
Labels: auth-team

#2036 Remove utc from calculation s its not really necessary, not sure if t…
  components/automate-ui/src/app/page-components/run-history/run-history.component.html
  components/automate-ui/src/app/page-components/run-history/run-history.component.ts
Labels: automate-ui, ui

#1980 No magic numbers :angryface:
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
Labels: auth-team

#2041 Downloads goes to downloads page
  components/automate-chef-io/config.toml
Labels: documentation

#2029 Auth 1840/configure project limit
  .bldr.toml
  .studio/tooling
  Makefile
  api/config/authz/config_request.go
  api/config/authz/config_request.pb.go
  api/config/authz/config_request.proto
  api/config/authz/config_request_test.go
  components/authz-service/cmd/authz-service/main.go
  components/authz-service/habitat/config/config.yml
  components/authz-service/server/server.go
  components/authz-service/server/v2/project.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/testhelpers/testhelpers.go
Labels: auth-team

#2042 [automate-1877] clean up v2 in deployed envs and Cypress
  e2e/README.md
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/api/iam/03_iam_integration.spec.ts
  e2e/cypress/integration/constants.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  terraform/test-environments/scenarios/single_local_iamv2_fresh_install.tf
  terraform/test-environments/scenarios/single_local_iamv2_inplace_upgrade.tf
Labels: auth-team, tech debt

#1996 Authz makefile enhancement
  components/authz-service/Makefile
Labels: auth-team, automate-auth, chore
