Repository chef/automate, pull requests merged in 2019-07, with the labels that each got.

#720 e2e/cypress: disable visibility checking for "Remove Credential"
  e2e/cypress/integration/compliance/01_ssh_scan_job.spec.js
Labels: bug, cypress

#727 Compliance: swap around wrong actual and expected asserts
  components/compliance-service/api/tests/02_nodes_spec.rb
  components/compliance-service/api/tests/03_deep_reports_spec.rb
  components/compliance-service/api/tests/03_reports_spec.rb
  components/compliance-service/api/tests/09_profiles_spec.rb
  components/compliance-service/api/tests/20_secrets_spec.rb
  components/compliance-service/api/tests/25_nodes_spec.rb
  components/compliance-service/api/tests/30_jobs_docker_spec.rb
  components/compliance-service/api/tests/50_scheduler_spec.rb
  components/compliance-service/api/tests/poll_test.rb
  components/compliance-service/api/tests/test_ingest_to_mgr_conn.rb
Labels: tech debt

#681 Flaky test: deleting elasticsearch documents at end of test
  components/compliance-service/integration_test/suite_test.go
Labels: compliance reporting

#682 Dan/apps stats api
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/integration_test/stats_test.go
  components/applications-service/integration_test/suite_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/service.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/applications-service/pkg/storage/postgres/supervisors.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas-team

#726 dev/acceptance envs: remove saml lies and deal with the fallout
  .expeditor/buildkite/cypress.sh
  e2e/cypress/integration/01_login.spec.js
  e2e/cypress/support/commands.js
  terraform/test-environments/README.md
  terraform/test-environments/modules/chef_automate_install/main.tf
  terraform/test-environments/modules/chef_automate_install/variables.tf
  terraform/test-environments/scenarios/airgapped_single_local_fresh_install.tf
  terraform/test-environments/scenarios/airgapped_single_local_inplace_upgrade.tf
  terraform/test-environments/scenarios/chef-server_performance_test_single_local_inplace_upgrade.tf
  terraform/test-environments/scenarios/performance_test_single_local_inplace_upgrade.tf
  terraform/test-environments/scenarios/single_hardened_local_fresh_install.tf
  terraform/test-environments/scenarios/single_local_fresh_install.tf
  terraform/test-environments/scenarios/single_local_iamv2_fresh_install.tf
  terraform/test-environments/scenarios/single_local_iamv2_inplace_upgrade.tf
  terraform/test-environments/scenarios/single_local_iamv2p1_fresh_install.tf
  terraform/test-environments/scenarios/single_local_iamv2p1_inplace_upgrade.tf
  terraform/test-environments/scenarios/single_local_inplace_upgrade.tf
  terraform/test-environments/scenarios/single_local_workflow_fresh_install.tf
  terraform/test-environments/scenarios/single_local_workflow_inplace_upgrade.tf
Labels: automate-auth, tech debt

#579 [backup] Respect context deadlines when restoring the deployment-service
  api/interservice/deployment/automate_deployment.pb.go
  api/interservice/deployment/automate_deployment.proto
  components/automate-cli/cmd/chef-automate/backup.go
  components/automate-deployment/pkg/backup/deployment_configuration.go
  components/automate-deployment/pkg/backup/manifest.go
  components/automate-deployment/pkg/backup/metadata.go
  components/automate-deployment/pkg/backup/metadata_test.go
  components/automate-deployment/pkg/backup/runner.go
  components/automate-deployment/pkg/client/connection.go
  components/automate-deployment/pkg/client/restore.go
  components/automate-deployment/pkg/manifest/a2.go
  components/automate-deployment/pkg/manifest/client/http.go
  components/automate-deployment/pkg/manifest/client/http_test.go
  components/automate-deployment/pkg/manifest/client/inmemory.go
  components/automate-deployment/pkg/manifest/client/path.go
  components/automate-deployment/pkg/manifest/client/path_test.go
  components/automate-deployment/pkg/manifest/errors.go
  components/automate-deployment/pkg/manifest/parser/parser.go
  components/automate-deployment/pkg/manifest/parser/parser_test.go
  components/automate-deployment/pkg/manifest/provider.go
  components/automate-deployment/pkg/server/backup.go
  components/automate-deployment/pkg/server/server.go
Labels: deployment-team

#745 quickfix: inspec and saml login
  .expeditor/buildkite/inspec.sh
  terraform/test-environments/scenarios/airgapped_single_local_fresh_install.tf
Labels: bug, testing

#712 [A2-292] Property-based tests for rules
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/project_update_manager.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/rule.go
  components/authz-service/testhelpers/testhelpers.go
Labels: automate-auth

#755 inspec: fix automate_api_request for single-method login
  .expeditor/buildkite/inspec.sh
  inspec/a2-resource-pack/libraries/automate_api_request.rb
Labels: automate-auth, bug, tech debt

#741 Cleanup auth collection in products.meta
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  products.meta
Labels: deployment-team

#733 Add docs for #592
  components/automate-chef-io/content/docs/backup.md
Labels: deployment-team, documentation

#721 Add HA Chef Server configuration test
  .expeditor/verify_private.pipeline.yml
  integration/run_test
  integration/services/common
  integration/services/ha_backend/init
  integration/tests/ha_chef_server.sh
Labels: deployment-team

#750 Client Runs page's node export infinite loop
  components/config-mgmt-service/backend/elastic/nodes.go
  components/config-mgmt-service/grpcserver/node_export.go
  components/config-mgmt-service/integration_test/node_export_test.go
Labels: bug, config-mgmt-service

#748 [A2-903] add db_id on policies, policy_members, policy_projects
  components/authz-service/storage/postgres/datamigration/sql/01_v2_data_migrations.up.sql
  components/authz-service/storage/postgres/migration/sql/52_add_db_id_members.up.sql
  components/authz-service/storage/postgres/migration/sql/53_add_db_id_to_iam_policies.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: automate-auth, tech debt

#713 Add time wizard to node service card (state duration)
  .bldr.toml
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/06_health_updated_at.up.sql
  components/applications-service/pkg/storage/postgres/service.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  lib/timef/time_diff.go
  lib/timef/time_diff_test.go
Labels: automate-ui, eas-team, enhancement, ui

#738 misc rules API fixes
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/v2/condition.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/rule.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: automate-auth, iamv2

#785 Bump Node.js version 8.9.4 -> 10.15.2
  .studio/automate-ui
  components/automate-ui/.nvmrc
  components/automate-ui/habitat/plan.sh
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/chef-ui-library/.nvmrc
  components/chef-ui-library/habitat/plan.sh
  components/chef-ui-library/package-lock.json
Labels: automate-ui, ui

#777 Add nginx headers for automate-ui per owasp secure headers project
  components/automate-load-balancer/habitat/config/automate-cs-nginx-location.conf
  components/automate-load-balancer/habitat/config/nginx.conf
  integration/helpers/ssl_filters.jq
Labels: automate-ui, ui

#643 UI-463 Add config gap to donut chart component Signed-Off-By: Tara Bl…
  components/chef-ui-library/src/charts/chef-radial-chart/chef-radial-chart.tsx
Labels: chef-ui-library, ui

#792 ci: run cypress pre-merge
  .expeditor/verify_private.pipeline.yml
  integration/base.sh
  integration/run_test
  integration/tests/cypress_e2e.sh
  integration/tests/iam_v2_only.sh
  integration/tests/iam_v2p1_only.sh
Labels: cypress

#816 UI-371-node-lifecycle-bug Signed-Off-By: Tara Black <tblack@chef.io>
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
Labels: automate-ui, bug, ui

#778 Event Feed Adding Data Lifecycle
  .bldr.toml
  .expeditor/verify_private.pipeline.yml
  .studio/golang
  api/config/event_feed/config_request.go
  api/config/event_feed/config_request.pb.go
  api/config/event_feed/config_request.proto
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/data-lifecycle-service/habitat/config/config.toml
  components/data-lifecycle-service/habitat/plan.sh
  components/event-feed-service/habitat/config/config.toml
  components/event-feed-service/habitat/plan.sh
  components/event-feed-service/pkg/config/service.go
  components/event-feed-service/pkg/grpc/grpc.go
  components/event-feed-service/pkg/integration_test/feed_purge_test.go
  components/event-feed-service/pkg/integration_test/global_test.go
  components/event-feed-service/pkg/server/data_lifecycle.go
Labels: event feed

#784 Replace compliance feed
  .bldr.toml
  .expeditor/verify_private.pipeline.yml
  .studio/common
  api/interservice/event_feed/event_feed.pb.client_mock.go
  components/automate-gateway/eventfeed/event_guitar_strings.go
  components/automate-gateway/eventfeed/event_guitar_strings_test.go
  components/automate-gateway/eventfeed/event_task_counts.go
  components/automate-gateway/eventfeed/event_task_counts_test.go
  components/automate-gateway/eventfeed/event_type_counts.go
  components/automate-gateway/eventfeed/event_type_counts_test.go
  components/automate-gateway/eventfeed/events.go
  components/automate-gateway/eventfeed/events_test.go
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/gateway_mocks/mock_feed/feed_mock.go
  components/automate-gateway/gateway_mocks/mock_gateway/clients_mock.go
  components/automate-gateway/handler/event_feed.go
  components/automate-gateway/handler/event_feed_test.go
  components/compliance-service/Makefile
  components/compliance-service/api/automate-feed/feed.pb.go
  components/compliance-service/api/automate-feed/feed.proto
  components/compliance-service/api/automate-feed/server/server.go
  components/compliance-service/api/datalifecycle/server/server.go
  components/compliance-service/cmd/compliance-service/cmd/run.go
  components/compliance-service/compliance.go
  components/compliance-service/config/types.go
  components/compliance-service/feed/errors/backend.go
  components/compliance-service/feed/errors/error.go
  components/compliance-service/feed/errors/grpc.go
  components/compliance-service/feed/feed.go
  components/compliance-service/feed/integration_test/feed_counts_test.go
  components/compliance-service/feed/integration_test/feed_purge_test.go
  components/compliance-service/feed/integration_test/feed_test.go
  components/compliance-service/feed/integration_test/feed_timeline_test.go
  components/compliance-service/feed/integration_test/global_test.go
  components/compliance-service/feed/integration_test/suite_test.go
  components/compliance-service/feed/persistence/elastic/feed-elastic.go
  components/compliance-service/feed/persistence/store.go
  components/compliance-service/feed/persistence/store_test.go
  components/compliance-service/feed/util/log.go
  components/compliance-service/feed/util/util.go
  components/compliance-service/ingest/ingestic/mappings/comp-feeds.go
  components/compliance-service/ingest/ingestic/mappings/mappings.go
  components/compliance-service/reporting/relaxting/indices.go
  components/compliance-service/reporting/relaxting/migrations.go
  components/compliance-service/reporting/relaxting/migrations_from_a1.go
  components/compliance-service/reporting/relaxting/migrations_from_a2_v1.go
  components/compliance-service/reporting/relaxting/migrations_from_a2_v2.go
  components/event-feed-service/pkg/grpc/grpc.go
  components/event-feed-service/pkg/migration/migration.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-feed-service/pkg/persistence/mappings.go
  components/event-feed-service/pkg/persistence/store.go
  components/event-service/config/config.go
  components/event-service/event/events.go
  components/event-service/integration_test/global_test.go
  components/event-service/integration_test/publish_test.go
  components/event-service/server/server.go
Labels: event feed

#779 Update missing db tables on service updates
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/deployments.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/applications-service/pkg/storage/postgres/services.go
  components/applications-service/pkg/storage/postgres/supervisors.go
Labels: eas-team

#786 Review and fix time format
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
  components/chef-ui-library/src/atoms/chef-tooltip/chef-tooltip.tsx
  lib/timef/time_diff.go
  lib/timef/time_diff_test.go
Labels: automate-ui, chef-ui-library, eas-team, ui

#511 Projects list updates - update projects
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/projects/project.actions.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/entities/projects/project.reducer.ts
  components/automate-ui/src/app/entities/projects/project.requests.ts
  components/automate-ui/src/app/entities/projects/project.selectors.ts
  components/automate-ui/src/app/entities/projects/project.service.ts
  components/automate-ui/src/app/pages/project/confirm-apply-start-modal/confirm-apply-start-modal.component.html
  components/automate-ui/src/app/pages/project/confirm-apply-start-modal/confirm-apply-start-modal.component.scss
  components/automate-ui/src/app/pages/project/confirm-apply-start-modal/confirm-apply-start-modal.component.spec.ts
  components/automate-ui/src/app/pages/project/confirm-apply-start-modal/confirm-apply-start-modal.component.ts
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.html
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.scss
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.spec.ts
  components/automate-ui/src/app/pages/project/confirm-apply-stop-modal/confirm-apply-stop-modal.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/project/project.module.ts
Labels: automate-auth, automate-ui, iamv2, ui

#849 Revert DRY-ing up of datamigrations that introduced bug
  .expeditor/verify_private.pipeline.yml
  components/authz-service/storage/postgres/datamigration/datamigration.go
  integration/tests/upgrade_reset_iam_v2p1.sh
Labels: automate-auth

#839 Add update strategy to the channel badge
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/cmd/applications-publisher/main.go
  components/applications-service/integration_test/global_test.go
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/integration_test/services_by_sg_test.go
  components/applications-service/integration_test/services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/08_service_update_strategy.up.sql
  components/applications-service/pkg/storage/postgres/services.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
Labels: automate-ui, eas-team, ui

#860 postgres_test: require no error, not assert no error
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: automate-auth, chore

#862 [part of #832] use db_id for iam_projects and iam_[staged_]project_rules
  components/authz-service/storage/postgres/migration/sql/54_use_project_db_id_in_references_of_project_rules.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: auth-team, automate-auth

#837 convert Cypress to Typescript
  .expeditor/buildkite/cypress.sh
  e2e/cypress/index.d.ts
  e2e/cypress/integration/02_global_filter.spec.js
  e2e/cypress/integration/ui/01_login.spec.ts
  e2e/cypress/integration/ui/02_global_filter.spec.ts
  e2e/cypress/integration/ui/compliance/01_ssh_scan_job.spec.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/plugins/cy-ts-preprocessor.js
  e2e/cypress/plugins/index.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/commands.ts
  e2e/package.json
  e2e/tsconfig.json
  integration/tests/cypress_e2e.sh
Labels: auth-team, automate-auth, cypress

#869 [AUTOMATE-867] Add status field to rule query APIs
  components/automate-gateway/api/iam/v2beta/common/rules.pb.go
  components/automate-gateway/api/iam/v2beta/common/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.pb.go
  components/automate-gateway/api/iam/v2beta/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: auth-team, automate-auth, automate-gateway

#852 Add RPC func and CLI cmd for disconnected services
  .bldr.toml
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/disconnected_services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/services.go
  components/automate-cli/cmd/chef-automate/applications.go
  components/automate-cli/pkg/client/apiclient/apiclient.go
  components/automate-cli/pkg/client/mock/mock.go
  components/automate-cli/pkg/client/types.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas-team

#857 Consistency improvement and minor bug fixes for auth UI pages
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/page-components/license-lockout/license-lockout.component.html
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.html
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.ts
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.ts
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/team-create/team-create.component.html
  components/automate-ui/src/app/pages/team-create/team-create.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/user-details/user-details.component.html
  components/automate-ui/src/app/pages/user-management/user-form/user-form.component.html
  components/automate-ui/src/app/pages/user-management/user-management.component.ts
  components/automate-ui/src/app/pipes/pluralize.pipe.spec.ts
  components/automate-ui/src/app/pipes/pluralize.pipe.ts
Labels: auth-team, automate-auth, automate-ui, chore, ui

#768 Create ingest client v1
  benchmarks/applications-service/html/PR_768.html
  benchmarks/applications-service/txt/PR_768.txt
  components/applications-service/cmd/applications-service/commands/serve.go
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/integration_test/services_by_sg_test.go
  components/applications-service/integration_test/stats_test.go
  components/applications-service/integration_test/suite_test.go
  components/applications-service/pkg/config/service.go
  components/applications-service/pkg/grpc/grpc.go
  components/applications-service/pkg/ingester/client.go
  components/applications-service/pkg/ingester/v1/ingest.go
  components/applications-service/pkg/server/server.go
Labels: eas-team

#878 [part of #832] use db_id between projects and roles
  components/authz-service/storage/postgres/migration/sql/55_use_project_db_id_in_references_of_project_roles.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: auth-team, automate-auth

#889 Use convention name for context variables
  components/applications-service/pkg/server/server.go
Labels: chore

#855 [part of 832]/add db id to statements
  components/authz-service/storage/postgres/datamigration/sql/01_v2_data_migrations.up.sql
  components/authz-service/storage/postgres/migration/sql/56_add_db_id_statements.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: auth-team, automate-auth

#898 [part of #832] db_id for projects and policies
  components/authz-service/storage/postgres/migration/sql/57_use_project_db_id_in_references_of_policies.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: auth-team, automate-auth, chore

#780 Gopter and GRPC capacity diagnostics
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_property_test.go
Labels: auth-team, automate-auth

#810 deps: bump github.com/stretcher/testify
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/stretchr/objx/LICENSE
  vendor/github.com/stretchr/objx/accessors.go
  vendor/github.com/stretchr/objx/conversions.go
  vendor/github.com/stretchr/objx/doc.go
  vendor/github.com/stretchr/objx/map.go
  vendor/github.com/stretchr/objx/mutations.go
  vendor/github.com/stretchr/objx/security.go
  vendor/github.com/stretchr/objx/type_specific_codegen.go
  vendor/github.com/stretchr/objx/value.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/mock/mock.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/github.com/stretchr/testify/suite/suite.go
Labels: auth-team, chore

#903 [automate-cli] Restore the latest backup if no backup ID is given
  components/automate-cli/cmd/chef-automate/backup.go
Labels: deployment-team

#905 [AUTOMATE-832] Use db_id in iam_statement_projects
  components/authz-service/storage/postgres/datamigration/sql/04_v2_set_projects_default.up.sql
  components/authz-service/storage/postgres/migration/sql/58_use_project_db_id_in_references_of_policy_statements.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: auth-team, automate-auth, iamv2

#851 Document how to configure external data stores.
  components/automate-chef-io/content/docs/configuration.md
  components/automate-chef-io/content/docs/install.md
  components/automate-chef-io/content/docs/log-management.md
  components/automate-chef-io/content/docs/telemetry.md
  components/automate-chef-io/content/docs/upgrade.md
Labels: deployment-team, documentation

#890 Manual conversion of protobufs in gateway
  components/automate-gateway/handler/applications.go
Labels: chore, eas-team

#906 Separate storage client and postgres implementation
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/service_internal_test.go
  components/applications-service/pkg/storage/postgres/services.go
Labels: chore, eas-team

#929 ci: shellcheck integration tests
  .studiorc
  integration/helpers/cert_auth_tests.sh
  integration/services/common
  integration/tests/a1migration.sh
  integration/tests/airgap_a1migration.sh
  integration/tests/airgap_backup.sh
  integration/tests/airgap_product.sh
  integration/tests/airgap_upgrade.sh
  integration/tests/backup-no-sha.sh
  integration/tests/backup.sh
  integration/tests/backup_external_es.sh
  integration/tests/backup_ontop.sh
  integration/tests/backup_repo_permissions.sh
  integration/tests/backup_s3.sh
  integration/tests/chef_server.sh
  integration/tests/chef_server_backup.sh
  integration/tests/chef_server_only.sh
  integration/tests/chef_server_upgrade.sh
  integration/tests/cypress_e2e.sh
  integration/tests/data_capture.sh
  integration/tests/data_lifecycle.sh
  integration/tests/deep_upgrade.sh
  integration/tests/deprecated_backup_external_es.sh
  integration/tests/ha_chef_server.sh
  integration/tests/ha_data_services.sh
  integration/tests/iam_v2.sh
  integration/tests/iam_v2_only.sh
  integration/tests/iam_v2p1_only.sh
  integration/tests/manual_upgrade.sh
  integration/tests/migrate_upgrade.sh
  integration/tests/multi_node.sh
  integration/tests/product.sh
  integration/tests/product_deployment_stress.sh
  integration/tests/product_mitm.sh
  integration/tests/reset_admin_access_v1.sh
  integration/tests/reset_admin_access_v2.sh
  integration/tests/security.sh
  integration/tests/upgrade.sh
  integration/tests/upgrade_acceptance_master.sh
  integration/tests/upgrade_current_acceptance.sh
  integration/tests/upgrade_current_master.sh
  integration/tests/upgrade_reset_iam_v2.sh
  integration/tests/upgrade_reset_iam_v2p1.sh
  integration/tests/workflow.sh
  scripts/repo_health.sh
Labels: auth-team, chore

#923 Unlock the staging area when the habitat/build pipeline completes
  .expeditor/config.yml
Labels: Expeditor: Skip All

#775 Serve combined swagger docs with redoc
  .gitignore
  components/automate-chef-io/.gitignore
  components/automate-chef-io/Makefile
  components/automate-chef-io/README.md
  components/automate-chef-io/content/docs/api.md
  components/automate-chef-io/habitat/plan.sh
  components/automate-chef-io/layouts/_default/data-api.html
  components/automate-chef-io/static/api-docs/.gitkeep
Labels: documentation

#946 deployment-service: try to create admin token using iam v2 if v1 fails
  components/automate-cli/pkg/diagnostics/context.go
  components/automate-deployment/pkg/server/api_token.go
  components/automate-deployment/pkg/server/api_token_test.go
Labels: auth-team, iamv2

#948 diagnostics: don't freak out if admin token v2 policy already exists
  components/automate-deployment/pkg/server/api_token.go
  components/automate-deployment/pkg/server/api_token_test.go
Labels: auth-team, iamv2

#951 deployment-service: reconcile this code with automate-cli usage
  components/automate-deployment/pkg/server/api_token.go
  components/automate-deployment/pkg/server/api_token_test.go
Labels: auth-team

#891 Implemented new compliance searchbar
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: automate-ui, ui

#925 [automate-867] Add overall status of rules for ListRulesForProject
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/project_rules_status.go
  components/authz-service/storage/v2/storage.go
  components/automate-gateway/api/iam/v2beta/common/rules.pb.go
  components/automate-gateway/api/iam/v2beta/common/rules.proto
  components/automate-gateway/api/iam/v2beta/response/rules.pb.go
  components/automate-gateway/api/iam/v2beta/response/rules.proto
  components/automate-gateway/api/iam/v2beta/rules.swagger.json
  components/automate-gateway/api/iam_v2beta_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/rules/rules.go
  inspec/a2-api-integration/controls/iam_v2.rb
Labels: auth-team, automate-auth, iamv2

#913 [part of #832] flip primary key for iam projects
  components/authz-service/storage/postgres/datamigration/sql/04_v2_set_projects_default.up.sql
  components/authz-service/storage/postgres/migration/sql/59_use_db_id_as_primary_key_in_iam_projects.up.sql
  components/authz-service/storage/postgres/migration/sql/60_use_db_id_as_primary_key_in_iam_statement_projects.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/testhelpers/testhelpers.go
Labels: auth-team, automate-auth

#950 Bump logrus version
  Gopkg.lock
  vendor/github.com/konsorten/go-windows-terminal-sequences/LICENSE
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences.go
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences_dummy.go
  vendor/github.com/sirupsen/logrus/alt_exit.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/exported.go
  vendor/github.com/sirupsen/logrus/formatter.go
  vendor/github.com/sirupsen/logrus/json_formatter.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/logrus.go
  vendor/github.com/sirupsen/logrus/terminal_bsd.go
  vendor/github.com/sirupsen/logrus/terminal_check_bsd.go
  vendor/github.com/sirupsen/logrus/terminal_check_no_terminal.go
  vendor/github.com/sirupsen/logrus/terminal_check_notappengine.go
  vendor/github.com/sirupsen/logrus/terminal_check_solaris.go
  vendor/github.com/sirupsen/logrus/terminal_check_unix.go
  vendor/github.com/sirupsen/logrus/terminal_check_windows.go
  vendor/github.com/sirupsen/logrus/terminal_linux.go
  vendor/github.com/sirupsen/logrus/text_formatter.go
  vendor/github.com/sirupsen/logrus/writer.go
Labels: deployment-team

#954 [deployment] Uninstall handles the case where /hab is mounted as a filesystem.
  components/automate-deployment/pkg/target/local_target.go
Labels: deployment-team

#885 Missing Cookbook suggestions
  components/config-mgmt-service/backend/elastic/suggestions.go
  components/config-mgmt-service/integration_test/suggestions_test.go
Labels: config-mgmt-service

#968 [lib/cereal] Cleanup unused variables and comments
  lib/cereal/backend/backend.go
  lib/cereal/cereal.go
  lib/cereal/postgres/postgres.go
  lib/cereal/postgres/sql_schema.go
Labels: deployment-team

#969 Update `chef-automate dev verify-packages` for use in CI
  components/automate-cli/pkg/dev/hab/verify.go
  integration/helpers/deployment.sh
Labels: deployment-team

#881 [cereal] Wire up workflow cancelation
  lib/cereal/backend/backend.go
  lib/cereal/cereal.go
  lib/cereal/integration/cancel_workflow_test.go
  lib/cereal/integration/workflow_postgres_test.go
  lib/cereal/postgres/postgres.go
  lib/cereal/postgres/postgres_test.go
  lib/cereal/postgres/sql_schema.go
  lib/cereal/postgres/task_pinger.go
Labels: deployment-team

#927 Parallelization of bulk publisher for high loads
  api/config/ingest/config_request.go
  api/config/ingest/config_request.pb.go
  api/config/ingest/config_request.proto
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/habitat/hooks/run
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/pipeline/chef_run.go
  components/ingest-service/pipeline/publisher/bulk_publisher.go
  components/ingest-service/pipeline/publisher/msg_distributor.go
  components/ingest-service/pipeline/publisher/msg_distributor_internal_test.go
  components/ingest-service/server/chef.go
  components/ingest-service/serveropts/serveropts.go
Labels: ingest-service

#940 [lib/cereal] Handle a few more TODOs
  lib/cereal/cereal.go
  lib/cereal/integration/workflow_error_test.go
Labels: deployment-team

#886 Handle empty statement projects for v2 and v2.1
  .expeditor/verify_private.pipeline.yml
  components/authz-service/server/server.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/testhelpers/testhelpers.go
  components/automate-cli/pkg/diagnostics/integration/auth_policies.go
  components/automate-cli/pkg/diagnostics/integration/auth_teams.go
  components/automate-cli/pkg/diagnostics/integration/auth_users.go
  components/automate-cli/pkg/diagnostics/integration/iam_v2.go
  inspec/a2-iam-v2-integration/controls/base.rb
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
  integration/tests/a1migration.sh
  integration/tests/airgap_a1migration.sh
  integration/tests/airgap_backup.sh
  integration/tests/airgap_upgrade.sh
  integration/tests/backup.sh
  integration/tests/backup_external_es.sh
  integration/tests/backup_ontop.sh
  integration/tests/backup_s3.sh
  integration/tests/chef_server.sh
  integration/tests/deep_upgrade.sh
  integration/tests/ha_data_services.sh
  integration/tests/iam_v2_upgrade_diagnostics.sh
  integration/tests/manual_upgrade.sh
  integration/tests/migrate_upgrade.sh
  integration/tests/upgrade_acceptance_master.sh
  integration/tests/upgrade_current_master.sh
  integration/tests/workflow.sh
Labels: auth-team, automate-auth

#870 [automate-867] apply rules integration test
  .expeditor/buildkite/cypress.sh
  .gitignore
  e2e/cypress.json
  e2e/cypress/fixtures/converge/avengers1.json
  e2e/cypress/fixtures/converge/avengers2.json
  e2e/cypress/fixtures/converge/xmen1.json
  e2e/cypress/fixtures/converge/xmen2.json
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/support/commands.ts
  integration/tests/cypress_e2e.sh
  terraform/test-environments/scenarios/performance_test_single_local_inplace_upgrade.tf
  terraform/test-environments/scenarios/single_local_fresh_install.tf
  terraform/test-environments/scenarios/single_local_iamv2_fresh_install.tf
  terraform/test-environments/scenarios/single_local_iamv2_inplace_upgrade.tf
  terraform/test-environments/scenarios/single_local_iamv2p1_fresh_install.tf
  terraform/test-environments/scenarios/single_local_iamv2p1_inplace_upgrade.tf
Labels: auth-team, automate-auth, iamv2

#945 [lib/cereal] Ignore missing task results
  lib/cereal/backend/backend.go
  lib/cereal/cereal.go
  lib/cereal/postgres/postgres.go
Labels: deployment-team

#947 [lib/cereal] Temporarily pause processing of wayward workflows
  lib/cereal/cereal.go
  lib/cereal/cereal_test.go
Labels: deployment-team

#979 Hiding excess logging from info
  components/compliance-service/profiles/db/store.go
Labels: compliance profiles

#931 Teach deployment-service how to backup ssl external pg
  components/automate-deployment/pkg/server/server.go
  components/automate-pg-gateway/habitat/config/_a2_platform_external_pg_root_ca.crt
Labels: deployment-team

#971 [deployment-service] Check NotBefore when validating certificates
  components/automate-deployment/pkg/certauthority/certauthority.go
Labels: deployment-team

#982 Hodgepodge tweaks and tests
  components/authz-service/engine/opa/policy/authz_v2_test.rego
  components/automate-ui/src/app/pages/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/pipes/pluralize.pipe.spec.ts
  components/automate-ui/src/app/pipes/pluralize.pipe.ts
  scripts/auth_collections.sh
Labels: auth-team, automate-auth

#934 Use the postgres11 client tools for backup/restore
  components/automate-deployment/habitat/plan.sh
  integration/run_test
  integration/services/common.sh
  integration/services/ha_backend/init.sh
  integration/services/ha_backend/setup.sh
  integration/tests/ha_data_services.sh
  lib/platform/pg/exporter.go
  lib/platform/pg/exporter_test.go
Labels: deployment-team

#11 [deployment] Verify config settings for external data stores
  api/config/shared/global.go
  api/config/shared/global_test.go
Labels: deployment-team

#944 Upgrade minor ui-lib dependencies
  components/chef-ui-library/package-lock.json
  components/chef-ui-library/package.json
  components/chef-ui-library/src/app.tsx
  components/chef-ui-library/src/atoms/chef-checkbox/chef-checkbox.tsx
  components/chef-ui-library/src/molecules/chef-control-menu/chef-control-menu.tsx
  components/chef-ui-library/src/molecules/chef-select/chef-select.tsx
Labels: chef-ui-library, ui

#965 EAS Apps view: delete disconnected services
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/disconnected_services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/deployments.go
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/applications-service/pkg/storage/postgres/services.go
  components/applications-service/pkg/storage/postgres/supervisors.go
  components/automate-cli/cmd/chef-automate/applications.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas-team

#7 [cli] Rename `upgrade-from-v1` to `migrate-from-v1`
  components/automate-chef-io/content/docs/upgrade.md
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate.yaml
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate_migrate-from-v1-status.yaml
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate_migrate-from-v1.yaml
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate_migrate-from-v1_gen-config.yaml
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate_preflight-check.yaml
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate_preflight-check_migrate-from-v1.yaml
  components/automate-cli/cmd/chef-automate/dev.go
  components/automate-cli/cmd/chef-automate/migrate_from_v1.go
  components/automate-cli/cmd/chef-automate/pre_flight_check.go
  components/automate-cli/cmd/chef-automate/upgrade.go
  components/automate-cli/pkg/docs/yaml_docs.go
  components/automate-deployment/Makefile
  components/automate-deployment/README.md
  components/automate-deployment/a1-migration/run_migrate_from_a1.sh
  components/automate-deployment/cmd/automate-ctl/create-backup.go
  components/automate-deployment/cmd/chef-server-ctl/unimplemented.go
  components/automate-deployment/pkg/a1stub/server.go
  components/automate-deployment/pkg/a1stub/test_harness.go
  components/automate-deployment/pkg/a1upgrade/a1upgrade_compat.go
  components/automate-deployment/pkg/client/deployer.go
  inspec/a2-migrate-from-v1-integration/controls/elastic.rb
  inspec/a2-migrate-from-v1-integration/controls/file_data.rb
  inspec/a2-migrate-from-v1-integration/controls/includes.rb
  inspec/a2-migrate-from-v1-integration/controls/migrated_users.rb
  inspec/a2-migrate-from-v1-integration/controls/postgres.rb
  inspec/a2-migrate-from-v1-integration/inspec.yml
  integration/tests/a1migration.sh
  integration/tests/airgap_a1migration.sh
  integration/tests/migrate_upgrade.sh
Labels: deployment-team

#736 UI-267 UI-268 Project Rules Signed-Off-By: Tara Black<tblack@chef.io>
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/components/delete-object-modal/delete-object-modal.component.html
  components/automate-ui/src/app/entities/rules/rule.actions.ts
  components/automate-ui/src/app/entities/rules/rule.effects.ts
  components/automate-ui/src/app/entities/rules/rule.model.ts
  components/automate-ui/src/app/entities/rules/rule.reducer.ts
  components/automate-ui/src/app/entities/rules/rule.requests.ts
  components/automate-ui/src/app/entities/rules/rule.selectors.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/project.module.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.scss
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
  components/automate-ui/src/app/ui.component.ts
  components/chef-ui-library/src/atoms/chef-button/chef-button.tsx
  components/chef-ui-library/src/templates/chef-page/chef-page.tsx
Labels: auth-team, automate-auth, automate-ui, iamv2, ui

#980 Add linting for nascent e2e typescript
  .expeditor/verify.pipeline.yml
  .gitignore
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/ui/01_login.spec.ts
  e2e/cypress/integration/ui/02_global_filter.spec.ts
  e2e/cypress/integration/ui/compliance/01_ssh_scan_job.spec.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/support/commands.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/tslint.json
Labels: auth-team, automate-ui, cypress

#998 automate-dex: support different name id policy formats
  api/config/dex/config_request.go
  api/config/dex/config_request.pb.go
  api/config/dex/config_request.proto
  api/config/dex/config_request_test.go
  components/automate-chef-io/content/docs/configuration.md
  components/automate-dex/habitat/templates/config.yml
Labels: auth-team, automate-auth, documentation

#1001 automate-ui/chef-ui-library: cleanup habitat build
  components/automate-ui/habitat/plan.sh
  components/automate-ui/package.json
Labels: auth-team, automate-ui, chef-ui-library, chore

#1012 added ui feature flag toggling info
  dev-docs/ui-development.md
Labels: automate-ui, ui

#918 Compliance missing array terms for search bar suggestions
  components/compliance-service/api/tests/07_suggestions_spec.rb
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/reporting/relaxting/suggestions.go
Labels: compliance reporting

#967 Fix ui-lib deprecation warnings
  components/chef-ui-library/src/atoms/chef-clipboard/chef-clipboard.tsx
  components/chef-ui-library/src/atoms/chef-option/chef-option.tsx
  components/chef-ui-library/src/molecules/chef-select/chef-select.tsx
Labels: chef-ui-library, ui

#1043 Update HOW_THE_PIPELINE_WORKS.md
  HOW_THE_PIPELINE_WORKS.md
Labels: Expeditor: Skip All

#942 [automate-832] Use role db_id in iam_statements (final part)
  components/authz-service/server/v2/policy.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/errors_test.go
  components/authz-service/storage/postgres/datamigration/sql/01_v2_data_migrations.up.sql
  components/authz-service/storage/postgres/datamigration/sql/02_v2_rename_all_actions.up.sql
  components/authz-service/storage/postgres/migration/sql/61_use_role_db_id_in_iam_statements.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/statement.go
  components/automate-cli/pkg/diagnostics/integration/iam_v2.go
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
Labels: auth-team, iamv2

#1049 [lib/cereal] Wire up delayed tasks
  lib/cereal/cereal.go
  lib/cereal/postgres/postgres_test.go
Labels: deployment-team

#1051 Use correct format strings for 24h instead of 12h
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
Labels: eas-team, ui

#1052 Add NOT NULL constraints in all the places we are missing it and delete / update any invalid data
  components/authz-service/storage/postgres/migration/sql/62_add_not_null_constraints.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: auth-team, automate-auth, iamv2

#700 [ingest-service] Use cereal library for periodic jobs
  .bldr.toml
  .studio/ingest-service
  Gopkg.lock
  api/external/ingest/request/job_scheduler.pb.go
  api/external/ingest/request/job_scheduler.proto
  api/external/ingest/response/job_scheduler.pb.go
  api/external/ingest/response/job_scheduler.proto
  api/interservice/ingest/job_scheduler.pb.go
  api/interservice/ingest/job_scheduler.pb.gw.go
  api/interservice/ingest/job_scheduler.proto
  api/interservice/ingest/job_scheduler.swagger.json
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/server/server.go
  components/automate-gateway/handler/ingest-job-scheduler.go
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/config/config_mgmt.go
  components/ingest-service/config/config_mgmt_test.go
  components/ingest-service/config/old_job_config.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/habitat/hooks/run
  components/ingest-service/habitat/plan.sh
  components/ingest-service/integration_test/global_test.go
  components/ingest-service/integration_test/job_scheduler_test.go
  components/ingest-service/integration_test/missing_nodes_deletion_scheduler_test.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/server/delete_nodes_scheduler.go
  components/ingest-service/server/job_scheduler_server.go
  components/ingest-service/server/jobs.go
  components/ingest-service/server/missing_nodes_deletion_scheduler.go
  components/ingest-service/server/node_missing_scheduler.go
  components/ingest-service/server/scheduler.go
  components/ingest-service/serveropts/serveropts.go
  inspec/a2-api-integration/controls/ingest-job-scheduler.rb
  vendor/github.com/robfig/cron/LICENSE
  vendor/github.com/robfig/cron/constantdelay.go
  vendor/github.com/robfig/cron/cron.go
  vendor/github.com/robfig/cron/doc.go
  vendor/github.com/robfig/cron/parser.go
  vendor/github.com/robfig/cron/spec.go
Labels: deployment-team

#952 Remove shadow and add border to top-nav and left nav
  components/automate-ui/src/app/components/sidebar-no-shade/sidebar-no-shade.component.scss
  components/automate-ui/src/app/components/sidebar/sidebar.component.scss
  components/automate-ui/src/app/page-components/navbar/navbar.component.scss
  components/automate-ui/src/app/page-components/server-org-filter-sidebar/server-org-filter-sidebar.component.scss
Labels: automate-ui, ui

#1060 Use full path to chef-server-ctl during migration
  components/automate-deployment/pkg/a1upgrade/a1commands.go
  integration/tests/a1migration.sh
Labels: deployment-team

#1055 authz-service/sql: make helper methods strict
  components/authz-service/server/v2/policy.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/errors_test.go
  components/authz-service/storage/postgres/datamigration/sql/01_v2_data_migrations.up.sql
  components/authz-service/storage/postgres/datamigration/sql/02_v2_rename_all_actions.up.sql
  components/authz-service/storage/postgres/migration/sql/63_make_db_id_lookup_functions_strict.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: auth-team, automate-auth, iamv2, tech debt

#1074 cleanup: remove member id column
  components/authz-service/server/v2/system.go
  components/authz-service/storage/postgres/migration/sql/64_drop_uuid_of_iam_members.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/member.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
Labels: auth-team, automate-auth, iamv2, tech debt

#1075 [lib/cereal] Add missing delayed task integration test
  lib/cereal/integration/delayed_task_test.go
Labels: deployment-team

#1090 e2e/cypress/iam: retry more often
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
Labels: auth-team, cypress

#1087 authz-service: cleanup foreign key error status
  components/authz-service/engine/opa/opa.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/project.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/errors_test.go
  components/authz-service/storage/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/automate-deployment/pkg/certauthority/certauthority.go
  components/automate-deployment/pkg/certauthority/certauthority_test.go
  components/automate-deployment/pkg/manifest/client/http.go
  components/automate-deployment/pkg/manifest/client/http_test.go
  components/automate-deployment/pkg/manifest/client/path.go
  components/automate-deployment/pkg/manifest/client/path_test.go
  components/automate-deployment/pkg/manifest/errors.go
  components/automate-deployment/pkg/manifest/parser/parser.go
  components/automate-deployment/pkg/manifest/parser/parser_test.go
  components/automate-deployment/pkg/server/backup.go
  components/automate-deployment/pkg/server/server.go
  components/local-user-service/password/password.go
Labels: auth-team, automate-auth, chore

#1018 Dan/improve disconnected svcs tests
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/disconnected_services_test.go
  components/applications-service/integration_test/stats_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/deployments.go
  components/automate-gateway/api/applications.pb.swagger.go
Labels: eas-team

#1095 Removing the browser's built-in autocomplete feature
  components/automate-ui/src/app/page-components/client-runs-search-bar/client-runs-search-bar.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
Labels: automate-ui, ui

#1041 [automate-794] Teams: General UI Fixes
  components/automate-chef-io/content/docs/teams.md
  components/automate-chef-io/static/images/docs/admin-tab-team-add-admins.png
  components/automate-chef-io/static/images/docs/admin-tab-team-add-users.png
  components/automate-chef-io/static/images/docs/admin-tab-team-add.png
  components/automate-chef-io/static/images/docs/admin-tab-team-create.png
  components/automate-chef-io/static/images/docs/admin-tab-team-details.png
  components/automate-chef-io/static/images/docs/admin-tab-team-edit.png
  components/automate-chef-io/static/images/docs/admin-tab-teams-list.png
  components/automate-cli/pkg/adminmgmt/adminmgmt.go
  components/automate-cli/pkg/adminmgmt/adminmgmt_test.go
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/e2e/deprecated-routes.e2e-spec.ts
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/components/admin-sidebar/admin-sidebar.component.spec.ts
  components/automate-ui/src/app/components/admin-sidebar/admin-sidebar.component.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/entities/teams/team.effects.ts
  components/automate-ui/src/app/entities/teams/team.reducer.ts
  components/automate-ui/src/app/entities/teams/team.selectors.ts
  components/automate-ui/src/app/page-components/create-v1-team-modal/create-v1-team-modal.component.html
  components/automate-ui/src/app/page-components/create-v1-team-modal/create-v1-team-modal.component.scss
  components/automate-ui/src/app/page-components/create-v1-team-modal/create-v1-team-modal.component.spec.ts
  components/automate-ui/src/app/page-components/create-v1-team-modal/create-v1-team-modal.component.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.ts
  components/automate-ui/src/app/page-components/user-table/user-table.component.html
  components/automate-ui/src/app/page-components/user-table/user-table.component.scss
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list.html
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list.scss
  components/automate-ui/src/app/pages/api-token/details/api-token-details.component.scss
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.html
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.scss
  components/automate-ui/src/app/pages/api-token/list/api-token-list.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.scss
  components/automate-ui/src/app/pages/policy/details/policy-details.component.html
  components/automate-ui/src/app/pages/policy/details/policy-details.component.scss
  components/automate-ui/src/app/pages/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/pages/policy/list/policy-list.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/roles/list/roles-list.component.ts
  components/automate-ui/src/app/pages/team-create/team-create.component.html
  components/automate-ui/src/app/pages/team-create/team-create.component.scss
  components/automate-ui/src/app/pages/team-create/team-create.component.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.html
  components/automate-ui/src/app/pages/team-details/team-details.component.scss
  components/automate-ui/src/app/pages/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/pages/team-details/team-details.component.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.html
  components/automate-ui/src/app/pages/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/pages/team-management/team-management.component.ts
  components/automate-ui/src/app/types/types.ts
  components/teams-service/server/v2/server_test.go
  components/teams-service/storage/memstore/memstore.go
  components/teams-service/storage/postgres/migration/sql/08_update_admin_team_name.up.sql
  components/teams-service/storage/postgres/migration/sql/README.md
Labels: auth-team, automate-auth, automate-ui, documentation, ui

#1105 Quick styling updates to local_target.go
  components/automate-deployment/pkg/target/local_target.go
Labels: chore

#1020 Project details and rules completion
  components/automate-ui/src/app/entities/rules/rule.model.ts
  components/automate-ui/src/app/entities/rules/rule.reducer.ts
  components/automate-ui/src/app/entities/rules/rule.requests.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.scss
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
Labels: auth-team, automate-auth, automate-ui

#1097 deps: bump grpc-gateway: 1.9.4 -> 1.9.5
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/grpc-ecosystem/grpc-gateway/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/grpc-gateway/Makefile
  vendor/github.com/grpc-ecosystem/grpc-gateway/examples/gateway/handlers.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/errors.go
Labels: auth-team, automate-gateway, chore

#1098 auth-stuff: reduce clutter in pipeline defs
  .expeditor/verify.pipeline.yml
  components/authz-service/engine/opa/policy/Makefile
  components/local-user-service/Makefile
  scripts/install_hab_pkg.sh
Labels: auth-team, automate-auth, chore

#1110 Gopkg.toml: remove github.com/robfig/cron
  Gopkg.toml
Labels: auth-team, chore

#1010 [deployment] Add guard rails around upgrading deployments done with airgap bundles
  components/automate-chef-io/content/docs/airgapped-installation.md
  components/automate-cli/cmd/chef-automate/upgrade.go
Labels: deployment-team

#1064 Dan/fix incorrect service grouping
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/integration_test/service_groups_sorting_test.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team

#1112 Move apps e2e hab client to 0.83 stable
  components/applications-service/dev/hab-client/Dockerfile
Labels: eas-team

#1083 Add support for filtering service groups by app, env and name
  .bldr.toml
  components/applications-service/integration_test/ingestion_test.go
  components/applications-service/integration_test/service_groups_filters_test.go
  components/applications-service/pkg/storage/postgres/db.go
  components/applications-service/pkg/storage/postgres/hab_event.go
  components/applications-service/pkg/storage/postgres/schema/sql/09_add_service_group_view_columns.up.sql
  components/applications-service/pkg/storage/postgres/service_groups.go
Labels: eas-team

#1109 iam_projects: drop projects column
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/storage/postgres/datamigration/sql/04_v2_set_projects_default.up.sql
  components/authz-service/storage/postgres/migration/sql/65_iam_projects_drop_projects_column.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/project.go
  components/authz-service/storage/v2/storage.go
  components/automate-gateway/api/iam/v2beta/common/policy.pb.go
  components/automate-gateway/api/iam/v2beta/common/policy.proto
  components/automate-gateway/api/iam/v2beta/policy.swagger.json
  components/automate-gateway/api/iam_v2beta_policy.pb.swagger.go
  components/automate-gateway/handler/iam/v2beta/policy/policy.go
  components/automate-ui/e2e/admin.e2e-spec.ts
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
  inspec/a2-iam-v2p1-only-integration/controls/get_authorized_projects.rb
Labels: auth-team, automate-auth, automate-gateway, iamv2, tech debt

#1100 license-control-service: store state in postgresql
  .bldr.toml
  .expeditor/verify_private.pipeline.yml
  api/interservice/license_control/license-control.pb.go
  api/interservice/license_control/license-control.proto
  api/scripts/grpc.sh
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/automate-deployment/pkg/server/server.go
  components/license-control-service/Makefile
  components/license-control-service/cmd/license-control-service/commands/pretty-print.go
  components/license-control-service/cmd/license-control-service/commands/serve.go
  components/license-control-service/habitat/config/config.toml
  components/license-control-service/habitat/hooks/run
  components/license-control-service/habitat/plan.sh
  components/license-control-service/migrations/000_base.down.sql
  components/license-control-service/migrations/000_base.up.sql
  components/license-control-service/pkg/keys/keys.go
  components/license-control-service/pkg/server/config.go
  components/license-control-service/pkg/server/grpc.go
  components/license-control-service/pkg/server/grpc_test.go
  components/license-control-service/pkg/server/server.go
  components/license-control-service/pkg/server/server_test.go
  components/license-control-service/pkg/server/testdata/config.toml
  components/license-control-service/pkg/storage/storage.go
  components/license-control-service/pkg/storage/storage_test.go
  lib/license/license.pb.go
  lib/license/license.proto
Labels: deployment-team
