Repository chef/automate, pull requests merged in 2020-12, with the labels that each got.

#4432 [infra-proxy-service] Remove dup GetVersion API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  buf.yaml
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/infra_proxy.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/server/root.go
  components/infra-proxy-service/server/root_test.go
  components/infra-proxy-service/server/server.go
Labels: automate-infra-proxy

#4428 [infra-proxy-service] updates orgs test cases & validations
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/server.go
  components/infra-proxy-service/validation/rules.go
Labels: automate-infra-proxy

#4456 ui-tooltip and circle changes made in graph for waived nodes and profiles
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.ts
Labels: automate-ui, bug 🐛, ui

#4459 Activate semgrep differential mode and other refinements
  .expeditor/verify_private.pipeline.yml
  .semgrep/general.yaml
  .semgrep/rxjs-subscription.yaml
  Makefile
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.ts
Labels: chore, tech debt

#4422 [infra-proxy-service] node list HTTP & gPRC API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  buf.yaml
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/server/nodes.go
Labels: automate-infra-proxy

#4469 Policyfile cookbooks display name in event feed
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.spec.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.ts
Labels: automate-ui, event feed

#4458 Add logs dir entry to .gitignore
  .gitignore
Labels: Expeditor: Skip All

#4481 Add 0BSD as an allowed open source license
  .license_scout.yml
Labels: Expeditor: Skip All

#4483 Update the screenshots of the node credentials
  components/docs-chef-io/content/automate/node_credentials.md
  components/docs-chef-io/static/images/automate/credentials-ssh.png
  components/docs-chef-io/static/images/automate/credentials-sudo.png
  components/docs-chef-io/static/images/automate/credentials-winrm.png
  components/docs-chef-io/static/images/automate/node-credentials.png
Labels: documentation

#4411 Fix broken link to Knife setup docs
  components/docs-chef-io/content/automate/infra_server.md
Labels: documentation

#4492 Incorporate relref links in Chef Infra Server with Chef Automate docs
  components/docs-chef-io/content/automate/infra_server.md
Labels: documentation

#4494 Update On-prem Builder Authentication Docs
  components/docs-chef-io/content/automate/on_prem_builder.md
Labels: documentation

#4484 Resolve redux devtools crashing
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-ui, bug 🐛, ui

#4486 esgateway pggateway: Changes to parsed nodes and resolvers to PG gateway HAProxy And Make resolvers configurable
  api/config/esgateway/config_request.go
  api/config/esgateway/config_request.pb.go
  api/config/esgateway/config_request.proto
  api/config/esgateway/config_request_test.go
  api/config/pg_gateway/config_request.go
  api/config/pg_gateway/config_request.pb.go
  api/config/pg_gateway/config_request.proto
  api/config/pg_gateway/config_request_test.go
  buf.yaml
  components/automate-es-gateway/habitat/config/nginx.conf
  components/automate-pg-gateway/habitat/config/haproxy.conf
Labels: customer-reported, es-gateway, pg-gateway

#4502 Doc update on how to add resolvers for PG and ES gateways
  components/docs-chef-io/content/automate/install.md
  components/docs-chef-io/static/automate-api-docs/all-apis.swagger.json
Labels: documentation, es-gateway, pg-gateway

#4499 Jamie/4439 - Bump Angular from 10 to 11
  components/automate-ui/README.md
  components/automate-ui/angular.json
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/page-components/logs-modal/logs-modal.component.html
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.ts
  components/automate-ui/src/app/pages/job-add/job-add.validators.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.spec.ts
Labels: automate-ui, ui

#4510 Workflow is EOL
  README.md
  components/docs-chef-io/content/automate/data_collection.md
  components/docs-chef-io/content/automate/delivery_build_cookbook.md
  components/docs-chef-io/content/automate/delivery_manage_dependencies.md
  components/docs-chef-io/content/automate/delivery_manage_secrets.md
  components/docs-chef-io/content/automate/delivery_truck.md
  components/docs-chef-io/content/automate/migrate.md
  components/docs-chef-io/content/automate/publish_cookbooks_multiple_servers.md
  components/docs-chef-io/content/automate/runners.md
  components/docs-chef-io/content/automate/workflow.md
  components/docs-chef-io/content/automate/workflow_install.md
Labels: documentation
