Repository chef/automate, pull requests merged in 2020-04, with the labels that each got.

#3257 Desktop UI: lasted updated message
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/entities/desktop/desktop.requests.ts
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.html
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.scss
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.ts
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.scss
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.ts
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.html
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.scss
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.ts
Labels: automate-ui, ui

#3262 update spelling issue
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-status/overview-status.component.html
Labels: automate-ui, ui

#3248 Add test cases for infra servers
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/server/servers_test.go
Labels: automate-infra-proxy

#3259 #3246 Data feed object is not updating.
  api/external/data_feed/data_feed.pb.go
  api/external/data_feed/data_feed.pb.gw.go
  api/external/data_feed/data_feed.pb.policy.go
  api/external/data_feed/data_feed.proto
  api/external/data_feed/data_feed.swagger.json
  components/automate-gateway/api/data_feed.pb.swagger.go
  components/data-feed-service/dao/destination.go
  components/data-feed-service/server/server.go
Labels: bug 🐛

#3158 Jamie/2523 data lifecycle refactor
  components/automate-ui/e2e/deprecated-routes.e2e-spec.ts
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/entities/automate-settings/automate-settings.effects.ts
  components/automate-ui/src/app/entities/automate-settings/automate-settings.model.ts
  components/automate-ui/src/app/entities/automate-settings/automate-settings.requests.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.scss
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.spec.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
  components/automate-ui/src/environments/environment.no_auth.ts
  components/automate-ui/src/environments/environment.prod.ts
  components/automate-ui/src/environments/environment.ts
  components/automate-ui/src/styles.scss
Labels: automate-ui, ui

#3268 Turn on strict Angular checks that pass
  components/automate-ui/tsconfig.json
Labels: chore

#3170 data lifecycle doc updates
  components/automate-chef-io/content/docs/applications-dashboard.md
  components/automate-chef-io/content/docs/client-runs.md
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-chef-io/content/docs/iam-v1-overview.md
  components/automate-chef-io/content/docs/node-credentials.md
  components/automate-chef-io/content/docs/node-integrations.md
  components/automate-chef-io/content/docs/node-lifecycle.md
  components/automate-chef-io/content/docs/notifications.md
  components/automate-chef-io/static/images/docs/data-lifecycle.png
  components/automate-chef-io/static/images/docs/node-lifecycle.png
Labels: documentation

#3256 removed admin token section of restore admin docs and other iam cleanup
  components/automate-chef-io/content/docs/iam-v1-overview.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/projects.md
Labels: auth-team, documentation, emergent

#3269 [Automate-3075] rename user_ids to membership_ids
  components/automate-cli/pkg/adminmgmt/adminmgmt.go
  components/automate-cli/pkg/adminmgmt/adminmgmt_test.go
  components/automate-gateway/api/iam/v2/request/teams.pb.go
  components/automate-gateway/api/iam/v2/request/teams.proto
  components/automate-gateway/api/iam/v2/response/teams.pb.go
  components/automate-gateway/api/iam/v2/response/teams.proto
  components/automate-gateway/api/iam/v2/teams.pb.go
  components/automate-gateway/api/iam/v2/teams.pb.gw.go
  components/automate-gateway/api/iam/v2/teams.pb.policy.go
  components/automate-gateway/api/iam/v2/teams.proto
  components/automate-gateway/api/iam/v2/teams.swagger.json
  components/automate-gateway/api/iam_v2_teams.pb.swagger.go
  components/automate-gateway/handler/iam/v2/teams/teams.go
  components/automate-ui/src/app/entities/teams/team.actions.ts
  components/automate-ui/src/app/entities/teams/team.effects.ts
  components/automate-ui/src/app/entities/teams/team.reducer.spec.ts
  components/automate-ui/src/app/entities/teams/team.reducer.ts
  components/automate-ui/src/app/entities/teams/team.requests.ts
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  e2e/cypress/integration/ui/settings/team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/team_details.spec.ts
  inspec/a2-api-integration/controls/iam/iam_apis.rb
  inspec/a2-iam-legacy-integration/controls/legacy_access.rb
  inspec/a2-migrate-from-v1-integration/controls/migrated_users.rb
Labels: auth-team, automate-auth

#3279 [config-mgmt-service] Minor spell check updates
  components/config-mgmt-service/backend/elastic/custom_search_aggs_bucket_date_range.go
  components/config-mgmt-service/backend/elastic/runs.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/params/parameters_test.go
Labels: chore, config-mgmt-service

#3282 [Automate-2843] introspect get projects to improve UX
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.spec.ts
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/helpers/auth/authorized.ts
Labels: auth-team, automate-auth, automate-ui, ui

#3280 Bug in UTC dateTime job scheduler
  components/automate-ui/src/app/pages/job-add/job-add.component.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.ts
Labels: automate-ui, bug 🐛, ui

#3208 Fixed - chef-server org details are not updating.
  components/automate-ui/src/app/modules/infra-proxy/cookbook-list/cookbooks-list.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#3260 [infra-proxy-service] Add chef objects affected nodes API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/cookbooks.pb.go
  api/external/infra_proxy/response/cookbooks.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/cookbooks.pb.go
  api/interservice/infra_proxy/response/cookbooks.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/cookbooks.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/infra-proxy-service/server/clients.go
  components/infra-proxy-service/server/cookbooks.go
  components/infra-proxy-service/server/databags.go
  components/infra-proxy-service/server/environments.go
  components/infra-proxy-service/server/nodes.go
  components/infra-proxy-service/server/proxy.go
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy, documentation

#3290 Adding missing node durations counts
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.pb.gw.go
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/nodes.pb.go
  api/external/cfgmgmt/request/nodes.proto
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  api/interservice/cfgmgmt/request/nodes.pb.go
  api/interservice/cfgmgmt/request/nodes.proto
  api/interservice/cfgmgmt/response/nodes.pb.go
  api/interservice/cfgmgmt/response/nodes.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/nodes.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/grpcserver/nodes.go
  components/config-mgmt-service/grpcserver/nodes_test.go
  components/config-mgmt-service/integration_test/count_missing_node_durations_test.go
  e2e/cypress/integration/api/cfg-mgmt/missing_node_duration_counts.ts
Labels: config-mgmt-service, desktop

#3293 Swapping mark missing and delete runs controls
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.spec.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
Labels: automate-ui, bug 🐛, ui

#3278 Clean up Infra Server and Org update subscriptions
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-list/cookbooks-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-list/cookbooks-list.component.ts
Labels: automate-auth, automate-infra-proxy, automate-ui, ui

#3197 [Automate-2942] Add missing "required" field constraints
  api/interservice/authn/auth_test.go
  api/interservice/authz/v2/policy.pb.go
  api/interservice/authz/v2/policy.pb.validate.go
  api/interservice/authz/v2/policy.proto
  api/interservice/authz/v2/policy_test.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  api/interservice/local_user/local_user_test.go
  api/interservice/local_user/users.pb.go
  api/interservice/local_user/users.pb.validate.go
  api/interservice/local_user/users.proto
  api/interservice/teams/v2/teams.pb.go
  api/interservice/teams/v2/teams.pb.validate.go
  api/interservice/teams/v2/teams.proto
  api/interservice/teams/v2/teams_test.go
  components/authn-service/server/grpc_test.go
  components/authn-service/tokens/pg/adapter.go
  components/authn-service/tokens/pg/pg_test.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/storage/errors.go
  components/authz-service/storage/v2/policy.go
  components/authz-service/storage/v2/project.go
  components/authz-service/storage/v2/role.go
  components/authz-service/storage/v2/rule.go
  components/authz-service/storage/v2/type.go
  components/local-user-service/password/password.go
  components/local-user-service/password/password_test.go
  components/local-user-service/server/grpc.go
  components/teams-service/storage/postgres/postgres.go
  inspec/a2-api-integration/controls/iam/iam_apis.rb
Labels: auth-team, automate-auth, chore

#3286 [infra-proxy-service] GetCookbookVersions API updates
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/cookbooks.pb.go
  api/external/infra_proxy/request/cookbooks.proto
  api/external/infra_proxy/response/cookbooks.pb.go
  api/external/infra_proxy/response/cookbooks.proto
  api/interservice/infra_proxy/request/cookbooks.pb.go
  api/interservice/infra_proxy/request/cookbooks.proto
  api/interservice/infra_proxy/response/cookbooks.pb.go
  api/interservice/infra_proxy/response/cookbooks.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/cookbooks.go
  components/infra-proxy-service/server/cookbooks.go
Labels: automate-infra-proxy

#3308 Add admin-token back in as a hidden command and give deprecation error
  components/automate-cli/cmd/chef-automate/deprecated.go
Labels: auth-team

#3304 Bump golang/protobuf to 1.3.5
  api/config/platform/config.pb.go
  api/config/shared/global.pb.go
  api/config/shared/tls.pb.go
  api/external/habitat/event.pb.go
  api/external/ingest/chef.pb.go
  api/external/nodes/nodes.pb.go
  go.mod
  go.sum
  vendor/github.com/golang/protobuf/protoc-gen-go/descriptor/descriptor.pb.go
  vendor/github.com/golang/protobuf/protoc-gen-go/descriptor/descriptor.proto
  vendor/github.com/golang/protobuf/protoc-gen-go/generator/generator.go
  vendor/github.com/golang/protobuf/ptypes/any/any.pb.go
  vendor/github.com/golang/protobuf/ptypes/any/any.proto
  vendor/github.com/golang/protobuf/ptypes/duration/duration.pb.go
  vendor/github.com/golang/protobuf/ptypes/duration/duration.proto
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
  vendor/github.com/golang/protobuf/ptypes/struct/struct.pb.go
  vendor/github.com/golang/protobuf/ptypes/struct/struct.proto
  vendor/github.com/golang/protobuf/ptypes/timestamp/timestamp.pb.go
  vendor/github.com/golang/protobuf/ptypes/timestamp/timestamp.proto
  vendor/github.com/golang/protobuf/ptypes/wrappers/wrappers.pb.go
  vendor/github.com/golang/protobuf/ptypes/wrappers/wrappers.proto
  vendor/modules.txt
Labels: chore, dependencies

#3318 Fix external ES docs
  components/automate-chef-io/content/docs/install.md
Labels: documentation

#3315 Desktop UI Rough Insight Control
  components/automate-ui/src/app/entities/client-runs/client-runs.selectors.ts
  components/automate-ui/src/app/entities/desktop/desktop.actions.ts
  components/automate-ui/src/app/entities/desktop/desktop.effects.ts
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/entities/desktop/desktop.requests.ts
  components/automate-ui/src/app/entities/desktop/desktop.selectors.ts
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/modules/desktop/insight/insight.component.html
  components/automate-ui/src/app/modules/desktop/insight/insight.component.scss
  components/automate-ui/src/app/modules/desktop/insight/insight.component.ts
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.html
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-ui, ui

#3319 [infra-proxy-service] Add cookbook name in GetCookbookVersions API
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/cookbooks.pb.go
  api/external/infra_proxy/response/cookbooks.proto
  api/interservice/infra_proxy/response/cookbooks.pb.go
  api/interservice/infra_proxy/response/cookbooks.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/cookbooks.go
  components/infra-proxy-service/server/cookbooks.go
Labels: automate-infra-proxy

#3325 [automate-platform-tools] drop dep on core/glibc
  .studio/common
  components/automate-gateway/habitat/plan.sh
  components/automate-platform-tools/habitat/plan.sh
  components/event-feed-service/habitat/plan.sh
  components/event-feed-service/pkg/integration_test/feed_timeline_test.go
Labels: deployment-team

#3323 Config mgmt Adding Error Message filter to GetNodes request.
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/integration_test/nodes_test.go
  components/config-mgmt-service/params/parameters.go
Labels: config-mgmt-service, desktop

#3231 Adding export API docs
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/nodes.pb.go
  api/external/cfgmgmt/request/nodes.proto
  api/external/common/response.pb.go
  api/external/common/response.proto
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/README.md
  components/automate-chef-io/data/docs/api-static/01-reporting-export.swagger.json
  components/automate-chef-io/data/docs/api-static/05-node-export.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway_mocks/mock_gateway/clients_mock.go
  components/automate-gateway/handler/cfgmgmt.go
  components/automate-gateway/handler/compliance/reporting.go
Labels: documentation

#3303 [Automate-3249] adjust clear selection in project filter
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-list/cookbooks-list.component.spec.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
Labels: auth-team, automate-auth, automate-ui, ui

#3339 [Automate-3327] fix delete user from team
  components/automate-ui/src/app/entities/teams/team.reducer.spec.ts
  components/automate-ui/src/app/entities/teams/team.reducer.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#3313 Support the infra server's `/version` endpoint in the automate-deployed infra server
  components/automate-load-balancer/habitat/config/automate-cs-nginx-location.conf
Labels: deployment-team

#3314 [automate-3275] skip policy creation flag on project create
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/storage/v2/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/policy.swagger.json
  components/automate-cli/pkg/diagnostics/integration/iam_projects.go
  components/automate-gateway/api/iam/v2/policy.pb.go
  components/automate-gateway/api/iam/v2/policy.proto
  components/automate-gateway/api/iam/v2/policy.swagger.json
  components/automate-gateway/api/iam/v2/request/policy.pb.go
  components/automate-gateway/api/iam/v2/request/policy.proto
  components/automate-gateway/api/iam_v2_policy.pb.swagger.go
  components/automate-gateway/handler/iam/v2/policy/policy.go
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/entities/projects/project.actions.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/src/app/entities/projects/project.reducer.ts
  components/automate-ui/src/app/entities/projects/project.requests.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  e2e/cypress/integration/api/iam/iam_integration.spec.ts
  e2e/cypress/integration/api/iam/policies_api.spec.ts
  e2e/cypress/integration/api/iam/projects_api.spec.ts
  e2e/cypress/integration/api/iam/projects_api_ingestion.spec.ts
  e2e/cypress/integration/api/iam/projects_api_update.spec.ts
  e2e/cypress/integration/ui/common/global_filter.spec.ts
  e2e/cypress/integration/ui/settings/project_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/team_details.spec.ts
  e2e/cypress/integration/ui/settings/team_mgmt.spec.ts
  e2e/cypress/support/types.ts
  inspec/a2-api-integration/controls/iam/iam_apis.rb
  inspec/a2-api-integration/controls/iam/project_filtering.rb
  inspec/a2-iam-legacy-integration/controls/legacy_access.rb
  inspec/a2-iam-no-legacy-integration/controls/chef_managed_access.rb
  inspec/a2-iam-no-legacy-integration/controls/custom_access.rb
  inspec/a2-iam-no-legacy-integration/controls/get_authorized_projects.rb
Labels: auth-team, automate-auth, automate-ui, documentation

#3345 Kill loading screen in ondestroy and add test associated
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.ts
Labels: automate-ui, bug 🐛, ui

#3341 Sidebar cleanup
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/client-runs-sidebar/client-runs-sidebar.component.html
  components/automate-ui/src/app/components/client-runs-sidebar/client-runs-sidebar.component.scss
  components/automate-ui/src/app/components/client-runs-sidebar/client-runs-sidebar.component.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.scss
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.ts
  components/automate-ui/src/app/components/sidebar-no-shade/sidebar-no-shade.component.html
  components/automate-ui/src/app/components/sidebar-no-shade/sidebar-no-shade.component.scss
  components/automate-ui/src/app/components/sidebar-no-shade/sidebar-no-shade.component.spec.ts
  components/automate-ui/src/app/components/sidebar-no-shade/sidebar-no-shade.component.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/modules/user/user-profile-sidebar/user-profile-sidebar.component.html
  components/automate-ui/src/app/modules/user/user-profile-sidebar/user-profile-sidebar.component.spec.ts
  components/automate-ui/src/app/modules/user/user-profile-sidebar/user-profile-sidebar.component.ts
  components/automate-ui/src/app/modules/user/user.module.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/page-components/client-runs-table/client-runs-table.component.spec.ts
  components/automate-ui/src/app/page-components/event-feed-sidebar/event-feed-sidebar.component.html
  components/automate-ui/src/app/page-components/event-feed-sidebar/event-feed-sidebar.component.scss
  components/automate-ui/src/app/page-components/event-feed-sidebar/event-feed-sidebar.component.ts
  components/automate-ui/src/app/page-components/sidebar-select-list/sidebar-select-list.component.html
  components/automate-ui/src/app/page-components/sidebar-select-list/sidebar-select-list.component.scss
  components/automate-ui/src/app/page-components/sidebar-select-list/sidebar-select-list.component.spec.ts
  components/automate-ui/src/app/page-components/sidebar-select-list/sidebar-select-list.component.ts
  components/automate-ui/src/app/pages/+compliance/compliance-reporting-sidebar/compliance-reporting-sidebar.component.html
  components/automate-ui/src/app/pages/+compliance/compliance-reporting-sidebar/compliance-reporting-sidebar.component.scss
  components/automate-ui/src/app/pages/+compliance/compliance-reporting-sidebar/compliance-reporting-sidebar.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/compliance-reporting-sidebar/compliance-reporting-sidebar.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/shared.module.ts
  components/automate-ui/src/app/services/sidebar/sidebar.actions.ts
  components/automate-ui/src/app/services/sidebar/sidebar.effects.ts
  components/automate-ui/src/app/services/sidebar/sidebar.reducer.ts
  components/automate-ui/src/app/services/sidebar/sidebar.selectors.ts
  components/automate-ui/src/app/services/sidebar/sidebar.service.ts
  cspell.json
Labels: automate-ui, chore, emergent, ui

#3352 Fix UI + docs branding: "Chef Server" -> "Chef Infra Server"
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/content/docs/client-runs.md
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-chef-io/content/docs/event-feed.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/projects.md
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/static/images/docs/effortless-project-rule.png
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-ui/src/app/entities/rules/rule.reducer.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/event-feed/event-feed.component.ts
Labels: automate-ui, documentation, ui

#3349 Fix UI + doc branding: "Chef Client" -> "Chef Infra Client"
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/content/docs/client-runs.md
  components/automate-chef-io/content/docs/data-collection.md
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-chef-io/content/docs/delivery_build_cookbook.md
  components/automate-chef-io/content/docs/delivery_truck.md
  components/automate-chef-io/content/docs/migrate.md
  components/automate-chef-io/content/docs/notifications.md
  components/automate-chef-io/content/docs/runners.md
  components/automate-chef-io/content/docs/servicenow-integration-install.md
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-ui/src/app/page-components/converge-radial-graph/converge-radial-graph.component.html
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/rule.ts
Labels: automate-ui, documentation, ui

#3340 Config mgmt Get Nodes date filter
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/nodes.pb.go
  api/external/cfgmgmt/request/nodes.proto
  api/interservice/cfgmgmt/request/nodes.pb.go
  api/interservice/cfgmgmt/request/nodes.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/elastic.go
  components/config-mgmt-service/backend/elastic/nodes.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/grpcserver/nodes.go
  components/config-mgmt-service/integration_test/nodes_test.go
  components/config-mgmt-service/params/parameters.go
  components/ingest-service/integration_test/suite_test.go
Labels: config-mgmt-service, desktop

#3351 fix IAM v2 migration of policies with single-term resource
  components/authz-service/storage/postgres/migration/legacy/iam.go
  components/authz-service/storage/postgres/migration/legacy/iam_migration_test.go
Labels: auth-team, automate-auth

#3369 Link Fix for Data Collection doc
  components/automate-chef-io/content/docs/data-collection.md
Labels: documentation

#3324 Describe setting up `knife` for use with Automate-deployed Infra Server
  components/automate-chef-io/content/docs/infra-server.md
Labels: deployment-team, documentation

#3373 adjusting active session language
  components/automate-chef-io/content/docs/ldap.md
  components/automate-chef-io/content/docs/saml.md
  components/automate-chef-io/content/docs/users.md
Labels: auth-team, documentation, emergent

#3312 [automate-3198] reduce validation
  api/interservice/authz/v2/policy.pb.go
  api/interservice/authz/v2/policy.pb.validate.go
  api/interservice/authz/v2/policy.proto
  api/interservice/authz/v2/policy_test.go
  api/interservice/authz/v2/project.pb.go
  api/interservice/authz/v2/project.pb.validate.go
  api/interservice/authz/v2/project.proto
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/server/v2/project.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/rules_test.go
  components/authz-service/server/v2/validation.go
  components/authz-service/storage/v2/policy.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/authz-service/storage/v2/project.go
  components/authz-service/storage/v2/project_test.go
  components/authz-service/storage/v2/role.go
  components/authz-service/storage/v2/rule.go
  components/authz-service/storage/v2/type.go
  components/automate-cli/pkg/diagnostics/integration/helpers.go
  components/automate-cli/pkg/diagnostics/integration/iam_v2_policies.go
  e2e/cypress/integration/api/iam/projects_api_ingestion.spec.ts
  e2e/cypress/integration/api/iam/projects_api_update.spec.ts
  inspec/a2-api-integration/controls/iam/iam_apis.rb
Labels: auth-team, automate-auth

#3376 automate-gateway: some tiny code cleanups
  components/automate-gateway/gateway/clients_test.go
  components/automate-gateway/gateway/datacollector.go
  components/automate-gateway/gateway/datacollector_internal_test.go
  components/automate-gateway/gateway/helpers_internal_test.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
Labels: automate-gateway, chore

#3083 Always talk to the es gateway on localhost
  .expeditor/verify_private.pipeline.yml
  api/config/esgateway/config_request.go
  components/automate-cs-nginx/habitat/config/nginx.conf
  components/automate-cs-oc-erchef/habitat/config/elasticsearch-init.sh
  components/automate-cs-oc-erchef/habitat/config/sys.config
  components/automate-es-gateway/habitat/plan.sh
  components/compliance-service/habitat/hooks/run
  components/compliance-service/habitat/plan.sh
  components/config-mgmt-service/habitat/config/config.toml
  components/config-mgmt-service/habitat/plan.sh
  components/es-sidecar-service/habitat/config/config.toml
  components/es-sidecar-service/habitat/plan.sh
  components/event-feed-service/habitat/config/config.toml
  components/event-feed-service/habitat/plan.sh
  components/ingest-service/habitat/hooks/run
  components/ingest-service/habitat/plan.sh
  integration/services/ha_backend/init.sh
Labels: deployment-team

#3350 [automate-2648] add compliance policies
  components/authz-service/storage/postgres/migration/sql/76_compliance_roles_pols.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/policies.md
  components/automate-chef-io/content/docs/roles.md
  e2e/cypress/integration/api/iam/policies_api.spec.ts
Labels: auth-team, automate-auth, documentation

#3396 Include now-required name field for toggle token
  components/automate-ui/src/app/entities/api-tokens/api-token.effects.ts
  components/automate-ui/src/app/entities/api-tokens/api-token.requests.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, emergent, ui

#3392 Patch for policies value and added test
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.spec.ts
  components/automate-ui/src/app/types/types.ts
Labels: automate-ui, bug 🐛, ui

#3368 automate-gateway: clean up iam v1/v2 switching
  components/automate-gateway/gateway/helpers_internal_test.go
  components/automate-gateway/gateway/middleware/auth_interceptor.go
  components/automate-gateway/gateway/middleware/auth_interceptor_internal_test.go
  components/automate-gateway/gateway/middleware/authz/authz.go
  components/automate-gateway/gateway/middleware/types.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/iam/v2/introspect/introspect.go
  components/automate-gateway/handler/iam/v2/introspect/introspect_test.go
  components/automate-gateway/pkg/authorizer/authorizer.go
Labels: auth-team, automate-gateway

#3403 automate-cli/Makefile: attempt to fix CLI docs issue around removed commands
  components/automate-cli/Makefile
Labels: auth-team, documentation

#3397 Fix unit test "failures"
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
Labels: auth-team, automate-auth, chore, emergent

#3409 fix focus outline on global project filter checkboxes
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
Labels: auth-team, automate-ui, emergent, ui

#3416 Only HTTPS on API
  components/automate-chef-io/data/docs/api-static/00-meta.swagger.json
Labels: documentation

#3417 Fixes Auth CURL
  components/automate-chef-io/data/docs/api-static/02-meta-description.yaml
Labels: documentation

#3422 fix margin on chef automate logo in api docs
  components/automate-chef-io/layouts/_default/data-api.html
Labels: documentation, ui

#3418 Add `v0` to API path
  components/automate-chef-io/data/docs/api-static/00-meta.swagger.json
Labels: documentation

#3365 [infra-proxy-service] Minor updates in proto files comments
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/databags.pb.go
  api/external/infra_proxy/request/databags.proto
  api/external/infra_proxy/request/environments.pb.go
  api/external/infra_proxy/request/environments.proto
  api/external/infra_proxy/response/databags.pb.go
  api/external/infra_proxy/response/databags.proto
  api/external/infra_proxy/response/environments.pb.go
  api/external/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/request/databags.pb.go
  api/interservice/infra_proxy/request/databags.proto
  api/interservice/infra_proxy/request/environments.pb.go
  api/interservice/infra_proxy/request/environments.proto
  api/interservice/infra_proxy/response/environments.pb.go
  api/interservice/infra_proxy/response/environments.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/clients.go
  components/automate-gateway/handler/infra_proxy/databags.go
  components/automate-gateway/handler/infra_proxy/environments.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/infra-proxy-service/server/environments.go
Labels: automate-infra-proxy

#3423 fix usability of return to docs button for api docs
  components/automate-chef-io/layouts/_default/data-api.html
Labels: documentation, ui

#3298 [infra-proxy-service] More specific foreign_key_violation error messages.
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/server/servers_test.go
  components/infra-proxy-service/service/service.go
  components/infra-proxy-service/storage/postgres/postgres.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy

#3404 #3393 update datafeed responses for UI
  api/external/data_feed/data_feed.pb.go
  api/external/data_feed/data_feed.proto
  api/external/data_feed/data_feed.swagger.json
  components/automate-gateway/api/data_feed.pb.swagger.go
  components/data-feed-service/dao/destination.go
  components/data-feed-service/server/server.go
Labels: data-feed

#3438 Move desktop dashboard to top-level route
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
Labels: automate-ui, ui

#3424 Treat UI unit test warnings as errors
  components/automate-ui/package.json
  components/automate-ui/scripts/unit-tests.sh
Labels: automate-ui, chore, emergent, ui

#3276 [backup] Add basic artifact repository integrity checking
  .studio/golang
  .studio/license-control-service
  .studio/tooling
  api/interservice/deployment/automate_deployment.go
  api/interservice/deployment/automate_deployment.pb.go
  api/interservice/deployment/automate_deployment.proto
  api/interservice/deployment/backup.go
  components/automate-cli/cmd/chef-automate/backup.go
  components/automate-deployment/pkg/backup/artifact_repo.go
  components/automate-deployment/pkg/backup/artifact_repo_test.go
  components/automate-deployment/pkg/backup/artifact_streams.go
  components/automate-deployment/pkg/backup/artifact_streams_test.go
  components/automate-deployment/pkg/backup/cancellable_task.go
  components/automate-deployment/pkg/backup/runner.go
  components/automate-deployment/pkg/client/backup.go
  components/automate-deployment/pkg/server/backup.go
  integration/helpers/bldr_tests.sh
  lib/io/fileutils/copy_dir.go
  lib/io/fileutils/copy_dir_test.go
  lib/io/fileutils/copy_file.go
  lib/io/fileutils/copy_file_test.go
  tools/builder-scaffolding/generate.go
  tools/builder-scaffolding/habitat/plan.sh
  tools/builder-scaffolding/integrity.go
  tools/builder-scaffolding/login.go
  tools/builder-scaffolding/main.go
  tools/builder-scaffolding/repo.go
Labels: deployment-team

#3391 Update OPA store to remove all v1 relics
  components/authz-service/README.md
  components/authz-service/engine/opa/example/input.json
  components/authz-service/engine/opa/example/policies.json
  components/authz-service/engine/opa/opa.go
  components/authz-service/engine/opa/opa_internal_test.go
  components/authz-service/engine/opa/opa_test.go
  components/authz-service/engine/opa/policy.bindata.go
  components/authz-service/engine/opa/policy/README.md
  components/authz-service/engine/opa/policy/authz.rego
  components/authz-service/engine/opa/policy/authz_test.rego
  components/authz-service/engine/opa/policy/introspection.rego
  components/authz-service/engine/opa/policy/introspection_test.rego
  e2e/cypress/integration/api/iam/policies_api.spec.ts
Labels: auth-team

#3361 [automate-3112] update teams table to v2 format
  .bldr.toml
  api/interservice/teams/v2/teams.pb.go
  api/interservice/teams/v2/teams.pb.mock.go
  api/interservice/teams/v2/teams.proto
  components/automate-deployment/pkg/usermgmt/client/client.go
  components/teams-service/Makefile
  components/teams-service/server/server.go
  components/teams-service/server/v1/server.go
  components/teams-service/server/v1/server_test.go
  components/teams-service/server/v2/server.go
  components/teams-service/server/v2/server_test.go
  components/teams-service/storage/conformance/conformance_test.go
  components/teams-service/storage/memstore/memstore.go
  components/teams-service/storage/memstore/resetter.go
  components/teams-service/storage/postgres/migration/sql/11_convert_table_to_v2.up.sql
  components/teams-service/storage/postgres/migration/sql/README.md
  components/teams-service/storage/postgres/postgres.go
  components/teams-service/storage/postgres/resetter.go
  components/teams-service/storage/storage.go
Labels: auth-team

#3442 configurable authz pg connections
  api/config/authz/config_request.go
  api/config/authz/config_request.pb.go
  api/config/authz/config_request.proto
  api/config/authz/config_request_test.go
  authz.toml
  components/authz-service/cmd/authz-service/main.go
  components/authz-service/habitat/config/config.yml
  components/authz-service/habitat/default.toml
  components/authz-service/storage/postgres/migration/migration.go
  components/authz-service/storage/postgres/postgres.go
  components/authz-service/testhelpers/testhelpers.go
Labels: auth-team, emergent

#3285 [infra-proxy-service] updating organisation admin key
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/orgs.pb.go
  api/external/infra_proxy/request/orgs.proto
  api/external/infra_proxy/response/orgs.pb.go
  api/external/infra_proxy/response/orgs.proto
  api/interservice/infra_proxy/request/orgs.pb.go
  api/interservice/infra_proxy/request/orgs.proto
  api/interservice/infra_proxy/response/orgs.pb.go
  api/interservice/infra_proxy/response/orgs.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/orgs.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/proxy.go
  components/infra-proxy-service/storage/postgres/migration/sql/03_rename_column_admin_key_in_orgs.up.sql
  components/infra-proxy-service/storage/postgres/migration/sql/README.md
  components/infra-proxy-service/storage/postgres/orgs.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy

#3287 [infra-proxy-service] Add Policyfile list & detail API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/policyfiles.pb.go
  api/external/infra_proxy/request/policyfiles.proto
  api/external/infra_proxy/response/policyfiles.pb.go
  api/external/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/request/policyfiles.pb.go
  api/interservice/infra_proxy/request/policyfiles.proto
  api/interservice/infra_proxy/response/policyfiles.pb.go
  api/interservice/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/policyfiles.go
  components/infra-proxy-service/server/policyfiles.go
  go.mod
  go.sum
  vendor/github.com/chef/go-chef/http.go
  vendor/github.com/chef/go-chef/license.go
  vendor/github.com/chef/go-chef/policy.go
  vendor/github.com/chef/go-chef/policy_group.go
  vendor/github.com/chef/go-chef/search.go
  vendor/github.com/chef/go-chef/status.go
  vendor/github.com/chef/go-chef/user.go
  vendor/modules.txt
Labels: automate-infra-proxy

#3428 move api docs styles to external stylesheet
  components/automate-chef-io/layouts/_default/data-api.html
  components/automate-chef-io/static/api-styles.css
Labels: documentation, ui

#3360 Config mgmt Get Node Metadata Counts
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.pb.gw.go
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/nodes.pb.go
  api/external/cfgmgmt/request/nodes.proto
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  api/interservice/cfgmgmt/request/nodes.pb.go
  api/interservice/cfgmgmt/request/nodes.proto
  api/interservice/cfgmgmt/response/nodes.pb.go
  api/interservice/cfgmgmt/response/nodes.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/elastic.go
  components/config-mgmt-service/backend/elastic/nodes.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/errors/backend.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/node_type_counts_test.go
  e2e/cypress/integration/api/cfg-mgmt/node_metadata_counts.spec.ts
Labels: config-mgmt-service, desktop

#3444 Part of #3332: fix diagnostics left overs -- projects and rules
  .bldr.toml
  components/automate-cli/pkg/diagnostics/context.go
  components/automate-cli/pkg/diagnostics/integration/helpers.go
  components/automate-cli/pkg/diagnostics/integration/iam_projects.go
  components/automate-cli/pkg/diagnostics/integration/iam_roles.go
  components/automate-cli/pkg/diagnostics/integration/iam_teams.go
  components/automate-cli/pkg/diagnostics/integration/iam_tokens.go
  components/automate-cli/pkg/diagnostics/integration/iam_users.go
  components/automate-cli/pkg/diagnostics/integration/iam_v1_policies.go
  components/automate-cli/pkg/diagnostics/integration/iam_v2_policies.go
  components/automate-cli/pkg/diagnostics/lbrequest/lbrequest.go
Labels: auth-team

#3427 [Automate 2940] remove v1 annotations
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/compliance/profiles/profiles.pb.go
  api/external/compliance/profiles/profiles.proto
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/stats/stats.pb.go
  api/external/compliance/reporting/stats/stats.proto
  api/external/compliance/scanner/jobs/jobs.pb.go
  api/external/compliance/scanner/jobs/jobs.proto
  api/external/data_feed/data_feed.pb.go
  api/external/data_feed/data_feed.proto
  api/external/data_lifecycle/data_lifecycle.pb.go
  api/external/data_lifecycle/data_lifecycle.proto
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/ingest/chef.pb.go
  api/external/ingest/chef.proto
  api/external/ingest/job_scheduler.pb.go
  api/external/ingest/job_scheduler.proto
  api/external/nodes/manager/manager.pb.go
  api/external/nodes/manager/manager.proto
  api/external/nodes/nodes.pb.go
  api/external/nodes/nodes.proto
  api/external/secrets/secrets.pb.go
  api/external/secrets/secrets.proto
  components/automate-gateway/README.md
  components/automate-gateway/api/api_test.go
  components/automate-gateway/api/deployment/deployment.pb.go
  components/automate-gateway/api/deployment/deployment.proto
  components/automate-gateway/api/event_feed/event_feed.pb.go
  components/automate-gateway/api/event_feed/event_feed.proto
  components/automate-gateway/api/gateway/gateway.pb.go
  components/automate-gateway/api/gateway/gateway.proto
  components/automate-gateway/api/iam/v2/introspect.pb.go
  components/automate-gateway/api/iam/v2/introspect.proto
  components/automate-gateway/api/iam/v2/policy.pb.go
  components/automate-gateway/api/iam/v2/policy.proto
  components/automate-gateway/api/iam/v2/rules.pb.go
  components/automate-gateway/api/iam/v2/rules.proto
  components/automate-gateway/api/iam/v2/teams.pb.go
  components/automate-gateway/api/iam/v2/teams.proto
  components/automate-gateway/api/iam/v2/tokens.pb.go
  components/automate-gateway/api/iam/v2/tokens.proto
  components/automate-gateway/api/iam/v2/users.pb.go
  components/automate-gateway/api/iam/v2/users.proto
  components/automate-gateway/api/legacy/legacy.pb.go
  components/automate-gateway/api/legacy/legacy.proto
  components/automate-gateway/api/license/license.pb.go
  components/automate-gateway/api/license/license.proto
  components/automate-gateway/api/notifications/notifications.pb.go
  components/automate-gateway/api/notifications/notifications.proto
  components/automate-gateway/api/telemetry/telemetry.pb.go
  components/automate-gateway/api/telemetry/telemetry.proto
  components/automate-grpc/protoc-gen-policy/README.md
  lib/grpc/debug/debug_api/debug.pb.go
  lib/grpc/debug/debug_api/debug.proto
Labels: auth-team, automate-auth

#3433 #3274 cleanup authn service iam v1 vs v2
  api/interservice/authn/tokens.pb.go
  api/interservice/authn/tokens.pb.mock.go
  api/interservice/authn/tokens.pb.validate.go
  api/interservice/authn/tokens.proto
  api/interservice/authn/tokens.swagger.json
  components/authn-service/cmd/migrate-tokens/migrate-tokens.go
  components/authn-service/server/grpc.go
  components/authn-service/tokens/mock/erroronly.go
  components/authn-service/tokens/mock/mock.go
  components/authn-service/tokens/pg/adapter.go
  components/authn-service/tokens/pg/pg_test.go
  components/authn-service/tokens/types/types.go
  components/authn-service/tokens/util/tokens.go
  components/automate-gateway/api/iam/v2/request/tokens.pb.go
  components/automate-gateway/api/iam/v2/request/tokens.proto
  components/automate-gateway/api/iam/v2/response/tokens.pb.go
  components/automate-gateway/api/iam/v2/response/tokens.proto
  components/automate-gateway/api/iam/v2/tokens.pb.go
  components/automate-gateway/api/iam/v2/tokens.pb.mock.go
  components/automate-gateway/api/iam/v2/tokens.pb.policy.go
  components/automate-gateway/api/iam/v2/tokens.proto
  components/automate-gateway/api/iam/v2/tokens.swagger.json
  components/automate-gateway/api/iam_v2_tokens.pb.swagger.go
  components/automate-gateway/handler/iam/v2/tokens/tokens.go
Labels: auth-team, automate-gateway, bug 🐛, chore

#3468 api docs: fix examples to use correct quoting
  components/automate-chef-io/data/docs/api-static/01-reporting-export.swagger.json
  components/automate-chef-io/data/docs/api-static/05-node-export.swagger.json
Labels: documentation

#3412 [es-sidecar] only verify snapshot repositories on external clusters
  api/config/es_sidecar/config_request.go
  api/config/es_sidecar/config_request.pb.go
  api/config/es_sidecar/config_request.proto
  components/es-sidecar-service/habitat/config/config.toml
  components/es-sidecar-service/pkg/elastic/snapshot.go
Labels: deployment-team

#3455 Squelch browser error regarding undefined pipe
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
Labels: auth-team, automate-auth, bug 🐛, emergent

#3469 #3434 update error error response messages
  components/data-feed-service/dao/destination.go
Labels: data-feed

#3414 [automate-3112] refactor team member APIs in storage layer
  components/teams-service/server/v2/server.go
  components/teams-service/server/v2/server_test.go
  components/teams-service/storage/conformance/conformance_test.go
  components/teams-service/storage/memstore/memstore.go
  components/teams-service/storage/postgres/postgres.go
  components/teams-service/storage/storage.go
Labels: auth-team, emergent

#3441 Global Projects Filter: Disable Apply Changes when No changes are present
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
Labels: automate-ui, bug 🐛, ui

#3452 Fix automate-workflow-ctl habitat plan paths
  components/automate-workflow-ctl/habitat/plan.sh
Labels: workflow

#3470 [infra-proxy-service] Add secrets-service credential type `chef-server`
  api/external/secrets/secrets.go
  api/external/secrets/secrets_test.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/servers_test.go
Labels: automate-infra-proxy

#3473 Handle languages unrecognized by chef-snippet
  components/chef-ui-library/src/atoms/chef-snippet/chef-snippet.e2e.tsx
  components/chef-ui-library/src/atoms/chef-snippet/chef-snippet.tsx
Labels: chef-ui-library, ui

#3447 adding proxy host logic
  api/config/esgateway/config_request.go
  api/config/esgateway/config_request.pb.go
  api/config/esgateway/config_request.proto
  components/automate-chef-io/content/docs/install.md
  components/automate-es-gateway/habitat/config/nginx.conf
  components/automate-es-gateway/habitat/default.toml
Labels: deployment-team, documentation

#3487 fix data lifecycle client run docs
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-chef-io/static/images/docs/data-lifecycle.png
Labels: bug 🐛, documentation

#3490 [infra-proxy-service] Add test resetter implementation
  components/infra-proxy-service/Makefile
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/root_test.go
  components/infra-proxy-service/server/server_test.go
  components/infra-proxy-service/server/servers_test.go
  components/infra-proxy-service/storage/postgres/resetter.go
  components/infra-proxy-service/test/test.go
Labels: automate-infra-proxy

#3460 [infra-proxy-service] Add expanded run-list to Policyfile detail API
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/policyfiles.pb.go
  api/external/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/response/policyfiles.pb.go
  api/interservice/infra_proxy/response/policyfiles.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/policyfiles.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/infra-proxy-service/server/policyfiles.go
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy

#3476 Data Feed UI consistency updates for list and details page
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/destinations/destination.actions.ts
  components/automate-ui/src/app/entities/destinations/destination.effects.ts
  components/automate-ui/src/app/entities/destinations/destination.model.ts
  components/automate-ui/src/app/entities/destinations/destination.reducer.ts
  components/automate-ui/src/app/entities/destinations/destination.requests.ts
  components/automate-ui/src/app/entities/destinations/destination.selectors.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/page-components/delete-data-feed-dialog/delete-data-feed-dialog.component.html
  components/automate-ui/src/app/page-components/delete-data-feed-dialog/delete-data-feed-dialog.component.scss
  components/automate-ui/src/app/page-components/delete-data-feed-dialog/delete-data-feed-dialog.component.ts
  components/automate-ui/src/app/pages/create-data-feed-modal/create-data-feed-modal.component.html
  components/automate-ui/src/app/pages/create-data-feed-modal/create-data-feed-modal.component.scss
  components/automate-ui/src/app/pages/create-data-feed-modal/create-data-feed-modal.component.spec.ts
  components/automate-ui/src/app/pages/create-data-feed-modal/create-data-feed-modal.component.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.html
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.scss
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.ts
  components/automate-ui/src/app/pages/data-feed-form/data-feed-form.component.html
  components/automate-ui/src/app/pages/data-feed-form/data-feed-form.component.scss
  components/automate-ui/src/app/pages/data-feed-form/data-feed-form.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-form/data-feed-form.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.html
  components/automate-ui/src/app/pages/data-feed/data-feed.component.scss
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.ts
  components/automate-ui/src/app/pages/data-feed/destination.ts
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
  components/automate-ui/src/app/services/data-feed/data-feed.service.ts
Labels: automate-ui, data-feed, ui

#3488 [documentation] Be explicit about how to install the `chef-automate` CLI tool
  components/automate-chef-io/content/docs/backup.md
  components/automate-chef-io/content/docs/install.md
Labels: deployment-team, documentation

#3494 Backup and Install doc edits
  components/automate-chef-io/content/docs/backup.md
  components/automate-chef-io/content/docs/install.md
Labels: documentation

#3504 [infra-proxy-service] README updates
  components/infra-proxy-service/README.md
  dev-docs/diagrams/infra-service-architecture.png
  dev-docs/diagrams/infra-service-db-structure.png
Labels: automate-infra-proxy, chore, documentation

#3458 [automate-3332] clean up admin token generated for diagnostics
  api/interservice/deployment/automate_deployment.pb.go
  api/interservice/deployment/automate_deployment.proto
  components/automate-cli/pkg/diagnostics/context.go
  components/automate-cli/pkg/diagnostics/runner/runner.go
  components/automate-cli/pkg/diagnostics/runner/runner_test.go
  components/automate-deployment/pkg/server/api_token.go
  components/automate-deployment/pkg/server/api_token_test.go
Labels: auth-team, testing

#3497 [automate-3273] clean up IAM version references in teams-service
  components/teams-service/README.md
  components/teams-service/cmd/teams-service/main.go
  components/teams-service/server/server.go
  components/teams-service/server/team.go
  components/teams-service/server/team_test.go
  components/teams-service/service/service.go
  components/teams-service/storage/conformance/conformance_test.go
  components/teams-service/storage/postgres/postgres.go
Labels: auth-team, tech debt

#3311 [hab] update pins for core plan refresh
  .expeditor/verify.pipeline.yml
  .expeditor/verify_private.pipeline.yml
  .license_scout.yml
  components/automate-builder-api-proxy/habitat/plan.sh
  components/automate-builder-api/habitat/plan.sh
  components/automate-cs-bookshelf/habitat/plan.sh
  components/automate-cs-nginx/habitat/plan.sh
  components/automate-cs-oc-bifrost/habitat/plan.sh
  components/automate-cs-oc-erchef/habitat/plan.sh
  components/automate-workflow-nginx/habitat/plan.sh
  components/automate-workflow-web/habitat/plan.sh
  components/compliance-service/api/tests/11_wonky_profiles_spec.rb
  components/compliance-service/habitat/plan.sh
  scripts/install_grpcurl.sh
  scripts/install_inspec_master.sh
Labels: DO-NOT-MERGE

#3411 Add log_disconnects and client_min_messages to postgres config
  api/config/postgresql/config_request.go
  api/config/postgresql/config_request.pb.go
  api/config/postgresql/config_request.proto
  components/automate-postgresql/habitat/config/postgresql.conf
  components/automate-postgresql/habitat/default.toml
Labels: deployment-team

#3523 Add new function for checking if waived.
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, bug 🐛, ui

#3157 Adding IAM Actions doc
  components/automate-chef-io/content/docs/iam-actions.md
  components/automate-chef-io/content/docs/roles.md
Labels: auth-team, documentation

#3495 Node runs daily time series statuses
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.pb.gw.go
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/nodes.pb.go
  api/external/cfgmgmt/request/nodes.proto
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  api/interservice/cfgmgmt/request/nodes.pb.go
  api/interservice/cfgmgmt/request/nodes.proto
  api/interservice/cfgmgmt/response/nodes.pb.go
  api/interservice/cfgmgmt/response/nodes.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/runs.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/node_daily_status_time_series_test.go
  e2e/cypress/integration/api/cfg-mgmt/node_runs_daily_status_time_series.spec.ts
Labels: config-mgmt-service, desktop

#3509 Add bar graph to automate
  components/automate-ui/src/app/components/chart-progress-bar/chart-progress-bar.component.html
  components/automate-ui/src/app/components/chart-progress-bar/chart-progress-bar.component.scss
  components/automate-ui/src/app/components/chart-progress-bar/chart-progress-bar.component.spec.ts
  components/automate-ui/src/app/components/chart-progress-bar/chart-progress-bar.component.ts
  components/automate-ui/src/app/components/chart-progress-bar/chart-progress-bar.model.ts
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/automate-ui/src/styles/_colors.scss
Labels: automate-ui, ui

#3511 [Automate-3385] Policy dropdown for tokens
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.html
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.scss
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.spec.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.ts
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.html
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.scss
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.spec.ts
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.ts
  components/automate-ui/src/app/entities/policies/policy.effects.ts
  components/automate-ui/src/app/entities/policies/policy.model.ts
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/team/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.html
  components/automate-ui/src/app/modules/team/team-management/team-management.component.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.html
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.scss
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.spec.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.html
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
  e2e/cypress/integration/ui/settings/team_details.spec.ts
  e2e/cypress/integration/ui/settings/team_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, ui

#3514 Add CreatedAt field to the GetNodes response
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/grpcserver/nodes.go
  components/config-mgmt-service/integration_test/nodes_test.go
Labels: config-mgmt-service

#3527 Only dispatch for policies during token creation if some specified
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.spec.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, emergent, ui

#3478 Deleting chef server message modal window
  components/automate-ui/src/app/entities/servers/server.model.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#3539 IAM Actions Chart Formatting
  components/automate-chef-io/content/docs/iam-actions.md
Labels: documentation

#3547 Fixing flaky config-mgmt-service test
  components/config-mgmt-service/integration_test/count_missing_node_durations_test.go
Labels: config-mgmt-service

#3529 automate-ui/telemetry: don't send projects header
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
Labels: auth-team, automate-ui, bug 🐛, telemetry

#3528 automate-ui/teams/add-users: feed payload into success action
  components/automate-ui/src/app/entities/teams/team.effects.ts
Labels: auth-team, automate-ui, bug 🐛

#3546 Hab studio chef load updating url path
  components/ingest-service/chef-load-data/chef-load.toml
Labels: studio-dev

#3299 Infra view role list tab and role details page
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role-details.reducer.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role-details.selectors.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.action.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.effects.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.model.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.reducer.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.requests.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-list/cookbooks-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/json-tree-table/json-tree-table.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/component/tree-table.component.html
  components/automate-ui/src/app/modules/infra-proxy/tree-table/component/tree-table.component.scss
  components/automate-ui/src/app/modules/infra-proxy/tree-table/component/tree-table.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/component/tree-table.component.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/default.options.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/mocks/mockSearchableTree.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/mocks/mockTree.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/mocks/mockTreeAsArrayOfNodes.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/mocks/mockTreeTableTree.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/mocks/models.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/models.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/services/converter/converter.service.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/services/converter/converter.service.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/services/tree/tree.service.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/services/tree/tree.service.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/services/validator/validator.service.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/services/validator/validator.service.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/tree-table.module.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  tools/credscan/credscan.go
Labels: automate-infra-proxy, automate-ui, ui

#3548 update table spacing
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.scss
Labels: automate-ui, bug 🐛, ui

#3502 [automate-3498] add validate lib
  .bldr.toml
  .studiorc
  components/authz-service/server/policy.go
  components/authz-service/server/project.go
  components/authz-service/server/validation.go
  lib/validate/validate.go
Labels: auth-team, tech debt

#3560 Use bigint for services table
  components/applications-service/pkg/storage/postgres/schema/sql/16_service_full_bigint_id.up.sql
Labels: eas
