Repository chef/automate, pull requests merged in 2020-01, with the labels that each got.

#2588 [automate-2587] Exclude non-working ts files
  components/automate-ui/tsconfig.json
Labels: automate-ui, chore, ui

#2580 [automate-2560] Change "subjects" to "members" for IAM v2
  components/automate-gateway/gateway/middleware/authv2/authv2.go
  components/event-gateway/pkg/nats/authenticator.go
Labels: auth-team, automate-auth, bug 🐛, iamv2

#2582 [automate-2570] preserve underscores in auto-generated IAM ids
  components/automate-ui/src/app/helpers/auth/id-mapper.spec.ts
  components/automate-ui/src/app/helpers/auth/id-mapper.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#2599 Spellcheck for API docs
  HOW_THE_PIPELINE_WORKS.md
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  api/external/data_lifecycle/data_lifecycle.pb.go
  api/external/data_lifecycle/data_lifecycle.proto
  api/external/data_lifecycle/data_lifecycle.swagger.json
  api/external/habitat/README.md
  benchmarks/README.md
  components/automate-chef-io/Makefile
  components/automate-chef-io/content/docs/OAuth.md
  components/automate-chef-io/content/docs/ldap.md
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/nodes.swagger.json
  components/automate-chef-io/layouts/_default/data-api.html
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/api/compliance/reporting/reporting.pb.go
  components/automate-gateway/api/compliance/reporting/reporting.proto
  components/automate-gateway/api/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/compliance_reporting_reporting.pb.swagger.go
  components/automate-gateway/api/data_lifecycle.pb.swagger.go
  components/automate-gateway/api/nodes/nodes.pb.go
  components/automate-gateway/api/nodes/nodes.proto
  components/automate-gateway/api/nodes/nodes.swagger.json
  components/automate-gateway/api/nodes_nodes.pb.swagger.go
  cspell.json
  ec2/README.md
  public/categories/index.xml
  public/index.xml
  public/sitemap.xml
  public/tags/index.xml
  scripts/spellcheck.sh
Labels: documentation

#2579 [automate-2578] bump node version 10.15.2 -> 12.13.1
  .studio/automate-ui
  components/automate-ui/.nvmrc
  components/automate-ui/habitat/plan.sh
  components/automate-ui/package-lock.json
  components/automate-workflow-web/.nvmrc
  components/automate-workflow-web/habitat/plan.sh
  components/automate-workflow-web/package-lock.json
  components/chef-ui-library/.nvmrc
  components/chef-ui-library/package-lock.json
Labels: automate-ui, chef-ui-library, chore, ui

#2585 [automate-2486] quell unit test noise
  components/automate-ui/src/app/components/landing/landing.component.spec.ts
  components/automate-ui/src/app/components/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.spec.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.spec.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.spec.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.spec.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.spec.ts
  components/automate-ui/src/app/modules/user/user-profile-sidebar/user-profile-sidebar.component.spec.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.spec.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.spec.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-form/data-feed-form.component.spec.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
  components/automate-ui/src/app/pages/integrations/add/integrations-add.component.spec.ts
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.spec.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.spec.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.spec.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.spec.ts
  components/automate-ui/src/app/pages/notification-form/notification-form.component.spec.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
Labels: automate-ui, bug 🐛, ui

#2611 cypress package updates
  e2e/package-lock.json
Labels: chore, cypress, ui

#2617 Correcting a Command on the IAMv1 Docs
  components/automate-chef-io/content/docs/iam-v1-overview.md
Labels: auth-team, documentation, emergent

#2620 updates to feature flag text + styles
  components/automate-ui/src/app/components/sidebar-no-shade/sidebar-no-shade.component.scss
  components/automate-ui/src/app/components/sidebar/sidebar.component.scss
  components/automate-ui/src/app/modules/license/license-notifications/license-notifications.component.scss
  components/automate-ui/src/app/page-components/feature-flags/feature-flags.component.html
  components/automate-ui/src/app/page-components/feature-flags/feature-flags.component.scss
  components/automate-ui/src/app/page-components/feature-flags/feature-flags.component.ts
  components/automate-ui/src/app/page-components/json-tree/json-tree.component.scss
  components/automate-ui/src/app/pages/project/rules/project-rules.component.scss
Labels: automate-ui, ui

#2318 Enable EAS Applications backend systems w/o feature flag
  api/config/applications/config_request.go
  api/config/applications/config_request.pb.go
  api/config/applications/config_request.proto
  api/config/event/config_request.pb.go
  api/config/event/config_request.proto
  api/config/event_gateway/config_request.go
  api/config/event_gateway/config_request.pb.go
  api/config/event_gateway/config_request.proto
  api/config/gateway/config_request.go
  api/config/gateway/config_request.pb.go
  api/config/gateway/config_request.proto
  components/applications-service/cmd/applications-service/commands/serve.go
  components/applications-service/habitat/config/config.toml
  components/applications-service/pkg/config/service.go
  components/automate-cli/cmd/chef-automate/applications.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/habitat/config/config.toml
  components/automate-gateway/habitat/default.toml
  components/event-gateway/cmd/event-gateway/commands/health-check.go
  components/event-gateway/cmd/event-gateway/commands/serve.go
  components/event-gateway/habitat/config/config.toml
  components/event-gateway/habitat/default.toml
  components/event-gateway/pkg/config/config.go
  components/event-gateway/pkg/nats/tls_test.go
  components/event-service/cmd/event-service/commands/serve.go
  components/event-service/config/config.go
  components/event-service/habitat/config/config.toml
  components/event-service/habitat/default.toml
  dev/config.toml
  terraform/test-environments/modules/chef_automate_install/main.tf
  terraform/test-environments/modules/chef_automate_install/variables.tf
  terraform/test-environments/scenarios/performance_test_single_local_inplace_upgrade.tf
Labels: apps tab GA, eas

#2564 [automate-2515] update v2beta to v2 API paths in tests
  components/automate-cli/pkg/diagnostics/integration/iam_v2.go
  components/automate-gateway/gateway/clients.go
  e2e/cypress/integration/api/iam/01_projects_api.spec.ts
  e2e/cypress/integration/api/iam/02_policies_api.spec.ts
  e2e/cypress/integration/api/iam/03_iam_integration.spec.ts
  e2e/cypress/integration/api/iam/10_projects_api_action_update.spec.ts
  e2e/cypress/integration/api/iam/11_projects_api_action_ingestion.spec.ts
  e2e/cypress/integration/api/iam/12_projects_api_node_ingestion.spec.ts
  e2e/cypress/integration/api/iam/13_projects_api_node_update.spec.ts
  e2e/cypress/integration/api/iam/14_projects_delete_api.spec.ts
  e2e/cypress/integration/ui/common/02_global_filter.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/03_team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/04_team_details.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
  e2e/cypress/support/commands.ts
  inspec/a2-api-integration/controls/authz_access_control.rb
  inspec/a2-api-integration/controls/ingest.rb
  inspec/a2-iam-v2-integration/controls/base.rb
  inspec/a2-iam-v2-integration/controls/iam_v2.rb
  inspec/a2-iam-v2-integration/controls/policy_version.rb
  inspec/a2-iam-v2-integration/controls/role_projects.rb
  inspec/a2-iam-v2-no-legacy-policies/controls/get_authorized_projects.rb
  inspec/a2-iam-v2-no-legacy-policies/controls/role_access.rb
  inspec/a2-iam-v2-upgrade-legacy-v1-policies/controls/base.rb
  inspec/a2-iam-v2-upgrade-legacy-v1-remove-policies/controls/base.rb
  integration/tests/airgap_ow_upgrade.sh
  integration/tests/ha_data_services_migrate.sh
  integration/tests/iam_v2_no_legacy_policies.sh
  integration/tests/manual_upgrade.sh
  integration/tests/reset_admin_access_v1.sh
  integration/tests/upgrade_current_master.sh
  integration/tests/upgrade_current_master_habdev.sh
Labels: auth-team

#2562 [automate-2517] Update v2beta -> v2 in docs
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/monitoring.md
Labels: auth-team, automate-auth, documentation

#2630 Deactivate modifyObstructiveCode cypress flag
  e2e/cypress.json
Labels: auth-team, automate-ui, bug 🐛, emergent, ui

#2633 Update the create user notification banner
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/modules/user/user-table/user-table.component.html
Labels: auth-team, automate-ui, ui

#2612 Periodic spellcheck
  .studiorc
  Makefile.common_go
  components/applications-service/cmd/applications-publisher/main.go
  components/authn-service/tokens/pg/pg_test.go
  components/authz-service/engine/opa/opa_v2_internal_test.go
  components/automate-chef-io/Makefile
  components/automate-deployment/pkg/backup/builder_operations.go
  components/automate-deployment/pkg/converge/converger.go
  components/automate-deployment/pkg/habpkg/semverish.go
  components/automate-deployment/pkg/habpkg/semverish_test.go
  components/automate-deployment/pkg/manifest/client/http.go
  components/automate-deployment/pkg/server/startup_helpers.go
  components/automate-deployment/pkg/target/local_target.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/integration/data_lifecycle_test.go
  components/automate-openjdk/habitat/plan.sh
  components/automate-ui/docs/css_scss_and_styling.md
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.html
  components/automate-ui/src/app/pages/node-details/node-details.component.ts
  components/automate-ui/src/app/pages/node-noruns-details/node-noruns-details.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
  components/automate-workflow-ctl/lib/ctl-helpers/ohai.rb
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/compliance.go
  components/compliance-service/scanner/db.go
  components/data-feed-service/service/data-feed-poll-task.go
  components/event-feed-service/pkg/server/jobs.go
  components/ingest-service/server/purge.go
  components/nodemanager-service/tests/project_filtering_test.go
  components/nodemanager-service/tests/project_update_test.go
  components/notifications-service/server/test/data/timed_cache_test.exs
  cspell.json
  lib/cereal/cereal.go
  lib/datalifecycle/purge/policies.go
  lib/datalifecycle/purge/server.go
  lib/grpc/timestamp/timestamp_test.go
  scripts/spellcheck.sh
Labels: auth-team, automate-ui, chore, emergent

#2572 Show Services' Health Check Messages
  .studio/applications-service
  components/automate-ui/src/app/entities/service-groups/service-groups.facade.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
Labels: automate-ui, eas, ui

#2636 [automate-2530] document supported LDAP/SAML configurations
  components/automate-chef-io/content/docs/ldap.md
  components/automate-chef-io/content/docs/saml.md
  dev-docs/auth.md
Labels: auth-team, documentation

#2639 roll back diagnostics test change
  components/automate-cli/pkg/diagnostics/integration/iam_v2.go
  integration/tests/airgap_ow_upgrade.sh
  integration/tests/ha_data_services_migrate.sh
  integration/tests/manual_upgrade.sh
  integration/tests/reset_admin_access_v1.sh
  integration/tests/upgrade_current_master.sh
  integration/tests/upgrade_current_master_habdev.sh
Labels: automate-auth

#2642 Update remaining v2beta stragglers
  e2e/cypress/integration/ui/settings/06_token_mgmt.spec.ts
  scripts/auth_collections.sh
Labels: auth-team, automate-auth, chore, emergent

#2644 Remove unneeded `id` attribute
  components/automate-ui/src/app/page-components/create-v1-team-modal/create-v1-team-modal.component.html
Labels: auth-team, automate-auth, automate-ui, bug 🐛, emergent, ui

#2563 How to create an effortless project
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/static/images/docs/effortless-project-rule.png
Labels: auth-team, documentation, iamv2

#2283 Jamie/control menu angular ui2
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/e2e/integrations.e2e-spec.ts
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/modules/policy/details/policy-details.component.html
  components/automate-ui/src/app/modules/policy/details/policy-details.component.scss
  components/automate-ui/src/app/modules/policy/details/policy-details.component.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.html
  components/automate-ui/src/app/modules/policy/list/policy-list.component.scss
  components/automate-ui/src/app/modules/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.html
  components/automate-ui/src/app/modules/roles/list/roles-list.component.scss
  components/automate-ui/src/app/modules/roles/list/roles-list.component.spec.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.html
  components/automate-ui/src/app/modules/team/team-management/team-management.component.scss
  components/automate-ui/src/app/modules/team/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.html
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.scss
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.spec.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
  components/automate-ui/src/app/modules/user/user-table/user-table.component.html
  components/automate-ui/src/app/modules/user/user-table/user-table.component.scss
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list-row.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/data-feed/data-feed.component.html
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.html
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.scss
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/types/material-types.ts
  components/automate-ui/src/styles.scss
  components/chef-ui-library/src/global/variables.css
  components/chef-ui-library/src/molecules/chef-control-menu/chef-control-menu.scss
  components/chef-ui-library/src/molecules/chef-control-menu/chef-control-menu.spec.tsx
  components/chef-ui-library/src/molecules/chef-control-menu/chef-control-menu.tsx
  e2e/cypress/integration/ui/compliance/01_ssh_scan_job.spec.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/02_team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/05_project_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/06_token_mgmt.spec.ts
Labels: automate-ui, ui

#2651 Dan/manual svc delete cli
  .studio/applications-service
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/services.go
  components/automate-cli/cmd/chef-automate/applications.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas

#1957 Docs for eas apps tab
  components/automate-chef-io/config.toml
  components/automate-chef-io/content/docs/applications-setup.md
  components/automate-chef-io/content/docs/applications.md
  components/automate-chef-io/content/docs/eas.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/static/images/docs/eas-architecture-diagram.png
  components/automate-chef-io/static/images/docs/eas-filtered-service-groups.png
  components/automate-chef-io/static/images/docs/eas-service-groups.png
Labels: DO-NOT-MERGE, apps tab GA, documentation, eas

#2317 Remove beta feature flag for eas apps tab
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.facade.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.ts
  components/automate-ui/src/app/pages/applications/applications.component.html
  components/automate-ui/src/app/pages/applications/applications.component.ts
  components/automate-ui/src/app/ui.component.ts
Labels: apps tab GA, eas

#2676 Remove "applications" from beta features list in release notes
  .expeditor/publish-release-notes.sh
Labels: eas

#2654 [auth-2624] user modal update
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/entities/users/user.reducer.spec.ts
  components/automate-ui/src/app/entities/users/user.reducer.ts
  components/automate-ui/src/app/entities/users/user.selectors.ts
  components/automate-ui/src/app/helpers/auth/username-mapper.spec.ts
  components/automate-ui/src/app/helpers/auth/username-mapper.ts
  components/automate-ui/src/app/modules/user/user-management/user-form/user-form.component.html
  components/automate-ui/src/app/modules/user/user-management/user-form/user-form.component.scss
  components/automate-ui/src/app/modules/user/user-management/user-form/user-form.component.spec.ts
  components/automate-ui/src/app/modules/user/user-management/user-form/user-form.component.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.html
  components/automate-ui/src/app/modules/user/user-management/user-management.component.scss
  components/automate-ui/src/app/modules/user/user-management/user-management.component.spec.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.ts
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, ui

#2652 User Detail Page Updates
  components/automate-gateway/handler/iam/v2/users/users.go
  components/automate-gateway/handler/users.go
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/users/user.actions.ts
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/entities/users/user.reducer.spec.ts
  components/automate-ui/src/app/entities/users/user.reducer.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.scss
  components/automate-ui/src/app/modules/user/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/local-user-service/server/grpc.go
  components/local-user-service/server/grpc_test.go
  e2e/cypress/integration/ui/settings/01_user_mgmt.spec.ts
Labels: auth-team, automate-ui, ui

#2685 Add three-dot-column class to any columns using control menu
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/data-feed/data-feed.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.html
Labels: automate-ui, bug 🐛, ui

#2682 Updating wording from old password to previous password
  components/automate-gateway/handler/iam/v2/users/users.go
  components/automate-gateway/handler/users.go
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/local-user-service/server/grpc.go
  components/local-user-service/server/grpc_test.go
Labels: auth-team, automate-ui, ui

#2641 [AUTOMATE-1607] Move tests in flaky system authz tests to better homes
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/server/v2/system_integration_test.go
  components/authz-service/testhelpers/testhelpers.go
  e2e/cypress/integration/api/iam/iam_integration.spec.ts
  e2e/cypress/integration/api/iam/policies_api.spec.ts
  e2e/cypress/integration/api/iam/projects_api.spec.ts
  e2e/cypress/integration/api/iam/projects_api_action_ingestion.spec.ts
  e2e/cypress/integration/api/iam/projects_api_action_update.spec.ts
  e2e/cypress/integration/api/iam/projects_api_node_ingestion.spec.ts
  e2e/cypress/integration/api/iam/projects_api_node_update.spec.ts
  e2e/cypress/integration/api/iam/projects_delete_api.spec.ts
  e2e/cypress/integration/ui/common/global_filter.spec.ts
  e2e/cypress/integration/ui/common/login.spec.ts
  e2e/cypress/integration/ui/compliance/ssh_scan_job.spec.ts
  e2e/cypress/integration/ui/settings/project_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/team_details.spec.ts
  e2e/cypress/integration/ui/settings/team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/token_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/user_mgmt.spec.ts
Labels: auth-team

#2315 Documentation for Automate-deployed on-prem Builder.
  components/automate-chef-io/content/docs/OAuth.md
  components/automate-chef-io/content/docs/airgapped-installation.md
  components/automate-chef-io/content/docs/backup.md
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/install.md
  components/automate-chef-io/content/docs/on-prem-builder.md
  components/automate-chef-io/content/docs/system-requirements.md
  components/automate-chef-io/content/docs/upgrade.md
Labels: deployment-team, documentation

#2671 Jamie/1841 search filter global projects
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
  components/automate-ui/src/app/page-components/projects-filter/projects-filter.component.html
  components/automate-ui/src/app/services/projects-filter/projects-filter.actions.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.spec.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
  e2e/cypress/integration/ui/common/global_filter.spec.ts
Labels: automate-ui, ui

#2646 Update config on automate-chef-io for Hugo 0.61 and Goldmark
  components/automate-chef-io/config.toml
Labels: documentation

#2479 Encourage people to use the CLI to uninstall
  components/automate-chef-io/content/docs/troubleshooting.md
Labels: documentation

#2690 Show a docs link when apps tab is empty
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
Labels: eas, ui

#2686 adding filtering to project assignment dropdown
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.html
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.scss
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.spec.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
Labels: automate-ui, ui

#2665 Increase project limit default to 300
  api/config/authz/config_request.go
  authz.toml
  components/authz-service/constants/v2/constants.go
  components/authz-service/server/v2/project_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/storage/v2/memstore/memstore.go
  components/authz-service/testhelpers/testhelpers.go
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  integration/tests/cypress_e2e.sh
  scripts/auth_collections.sh
  terraform/test-environments/modules/chef_automate_install/main.tf
Labels: auth-team, documentation

#2705 Document Apps API filter parameters
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/automate-gateway/api/applications.pb.swagger.go
Labels: documentation, eas

#2708 Two notifications received when removing a user from a team
  components/automate-ui/src/app/modules/user/user-table/user-table.component.html
  components/automate-ui/src/app/modules/user/user-table/user-table.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, emergent, ui

#2711 Make date user-friendly in licensing error message
  components/license-control-service/pkg/server/server.go
Labels: auth-team, automate-auth, bug 🐛, emergent

#2704 [automate-2629] add users for team workflow
  components/automate-chef-io/Makefile
  components/automate-ui/Makefile
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.html
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.html
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.scss
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  components/automate-ui/src/app/modules/user/user-management/user-form/user-form.component.html
  components/automate-ui/src/app/modules/user/user-management/user-form/user-form.component.scss
  components/automate-ui/src/app/modules/user/user-management/user-form/user-form.component.spec.ts
  components/automate-ui/src/app/modules/user/user-management/user-form/user-form.component.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.html
  components/automate-ui/src/app/modules/user/user-management/user-management.component.spec.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.ts
  components/automate-ui/src/app/modules/user/user.module.ts
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.html
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.scss
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.spec.ts
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.ts
  components/chef-ui-library/src/templates/chef-page/chef-page.tsx
  cspell.json
Labels: auth-team, automate-auth, automate-ui, ui

#2687 Apps Tab docs for Habitat 1.5 Release
  components/automate-chef-io/content/docs/applications-dashboard.md
  components/automate-chef-io/content/docs/applications-setup.md
  components/automate-chef-io/content/docs/eas.md
  components/automate-chef-io/content/docs/iam-v1-policies.md
  components/automate-cli/cmd/chef-automate/applications.go
Labels: documentation, eas

#2727 change profile tables to use angular component
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.scss
Labels: automate-ui, ui

#2728 Remove references to Asset from ServiceNow notifications UI
  components/automate-ui/src/app/pages/notification-form/notification-form.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.ts
  components/automate-ui/src/app/pages/notifications/rule.ts
  components/data-feed-service/service/data-feed-aggregate-task.go
  components/data-feed-service/service/data-feed-service.go
Labels: automate-ui, ui

#2638 Data feeds page UI changes - general with empty state
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.html
Labels: automate-ui, ui

#2713 [automate-1523] fix password match error
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.html
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.ts
  e2e/cypress/integration/ui/settings/user_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, ui

#2731 We're sharing the TLS certificate with hab, not key
  components/automate-chef-io/content/docs/applications-setup.md
Labels: documentation

#2743 added contact link to airgapped install docs
  components/automate-chef-io/content/docs/airgapped-installation.md
Labels: documentation

#2759 removing beta section from release notes template
  .expeditor/publish-release-notes.sh
Labels: documentation

#2714 Syncing changes to the user menu display name
  components/automate-ui/src/app/entities/users/user.actions.ts
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/entities/users/user.reducer.ts
  components/automate-ui/src/app/entities/users/userself.actions.ts
  components/automate-ui/src/app/entities/users/userself.effects.ts
  components/automate-ui/src/app/entities/users/userself.reducer.ts
  components/automate-ui/src/app/entities/users/userself.selectors.ts
  components/automate-ui/src/app/helpers/jwt/jwt.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/page-components/profile/profile.component.html
  components/automate-ui/src/app/page-components/profile/profile.component.spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.ts
  components/automate-ui/src/app/pages/signin/signin.component.spec.ts
  components/automate-ui/src/app/pages/signin/signin.component.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.spec.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/automate-ui/src/app/testing/mock-chef-session.service.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, automate-ui, ui

#2758 team-add-users: add app-authorized guards
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.html
Labels: auth-team, automate-auth, automate-ui, ui

#2581 Sachin/automate infra proxy server ui
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/client-runs-sidebar/client-runs-sidebar.component.html
  components/automate-ui/src/app/components/client-runs-sidebar/client-runs-sidebar.component.scss
  components/automate-ui/src/app/components/client-runs-sidebar/client-runs-sidebar.component.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/servers/server.actions.ts
  components/automate-ui/src/app/entities/servers/server.effects.ts
  components/automate-ui/src/app/entities/servers/server.model.ts
  components/automate-ui/src/app/entities/servers/server.reducer.ts
  components/automate-ui/src/app/entities/servers/server.requests.ts
  components/automate-ui/src/app/entities/servers/server.selectors.ts
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/ui.component.ts
  components/automate-ui/src/environments/environment.no_auth.ts
  components/automate-ui/src/environments/environment.prod.ts
  components/automate-ui/src/environments/environment.ts
Labels: automate-infra-proxy, automate-ui, ui

#2761 [go] update go to 1.13.7
  components/automate-scaffolding-go/habitat/plan.sh
Labels: deployment-team

#2490 [gateway] bind unknown backend gRPC clients to an unimplemented backend
  components/automate-chef-io/content/docs/on-prem-builder.md
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/automate-gateway/cmd/automate-gateway/commands/serve.go
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway/clients_test.go
  components/automate-gateway/gateway/config.go
  components/automate-gateway/gateway/helpers_internal_test.go
  components/automate-gateway/gateway/notifications.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/server_test.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/gateway_mocks/mock_gateway/clients_mock.go
  components/automate-gateway/habitat/config/config.toml
  components/automate-gateway/habitat/hooks/run
  components/automate-gateway/habitat/plan.sh
  components/automate-gateway/integration/suite_test.go
  components/automate-gateway/pkg/nullbackend/backend.go
  products.meta
Labels: deployment-team

#2768 Global filter refresh on project delete
  components/automate-ui/src/app/entities/projects/project.effects.spec.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
Labels: auth-team, automate-ui, ui
