Repository chef/automate, pull requests merged in 2020-08, with the labels that each got.

#4159 api docs: document streaming profiles endpoints
  components/automate-chef-io/data/docs/api-static/06-profiles.swagger.json
  components/automate-chef-io/static/api-docs/all-apis.swagger.json
Labels: documentation

#4121 Auto update widths of inputs on type
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.scss
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
Labels: automate-ui, bug 🐛, ui

#4149 Removes option to add teams for new project
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.scss
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  e2e/cypress/integration/ui/settings/project_mgmt.spec.ts
Labels: auth-team, automate-auth

#4178 Prevent ellipsis-ing of control menu text
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.scss
Labels: automate-ui, bug 🐛, ui

#4125 Client runs node detail with optional run-id
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/pages/node-noruns-details/node-noruns-details.component.html
  components/automate-ui/src/app/services/node-details/node-norunid-resolver.service.spec.ts
  components/automate-ui/src/app/services/node-details/node-norunid-resolver.service.ts
  components/automate-ui/src/app/services/node-details/node-runs.service.ts
Labels: automate-ui, bug 🐛, ui

#4079 Jamie/1192 manual deletion of services
  components/automate-ui/src/app/entities/service-groups/service-groups.actions.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.effects.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.selector.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.spec.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
Labels: automate-ui, eas, ui

#4185 Support compliance reporting for cloud resources
  components/data-feed-service/server/server.go
  components/data-feed-service/service/credentials.go
  components/data-feed-service/service/credentials_test.go
  components/data-feed-service/service/data-feed-aggregate-task.go
  components/data-feed-service/service/data-feed-poll-task.go
  components/data-feed-service/service/data-feed-poll-task_test.go
  components/data-feed-service/service/data-feed-service.go
  components/data-feed-service/service/data-feed-service_test.go
Labels: data-feed

#4181 Event Feed Download
  .bldr.toml
  .studio/common
  .studio/event-feed-service
  api/external/event_feed/event_feed.pb.go
  api/external/event_feed/event_feed.pb.gw.go
  api/external/event_feed/event_feed.pb.policy.go
  api/external/event_feed/event_feed.proto
  api/external/event_feed/event_feed.swagger.json
  api/external/event_feed/request/event.pb.go
  api/external/event_feed/request/event.proto
  api/external/event_feed/request/eventstrings.pb.go
  api/external/event_feed/request/eventstrings.proto
  api/external/event_feed/response/event.pb.go
  api/external/event_feed/response/event.proto
  api/external/event_feed/response/eventstrings.pb.go
  api/external/event_feed/response/eventstrings.proto
  api/interservice/event_feed/event_feed.pb.client_mock.go
  api/interservice/event_feed/event_feed.pb.go
  api/interservice/event_feed/event_feed.proto
  components/automate-gateway/api/api_test.go
  components/automate-gateway/api/event_feed.pb.swagger.go
  components/automate-gateway/api/event_feed/event_feed.pb.mock.go
  components/automate-gateway/api/event_feed/request/event.swagger.json
  components/automate-gateway/api/event_feed/request/eventstrings.swagger.json
  components/automate-gateway/api/event_feed/response/event.swagger.json
  components/automate-gateway/api/event_feed/response/eventstrings.swagger.json
  components/automate-gateway/api/event_feed_request_event.pb.swagger.go
  components/automate-gateway/api/event_feed_request_eventstrings.pb.swagger.go
  components/automate-gateway/api/event_feed_response_event.pb.swagger.go
  components/automate-gateway/api/event_feed_response_eventstrings.pb.swagger.go
  components/automate-gateway/eventfeed/event_guitar_strings.go
  components/automate-gateway/eventfeed/event_guitar_strings_test.go
  components/automate-gateway/eventfeed/event_task_counts.go
  components/automate-gateway/eventfeed/event_type_counts.go
  components/automate-gateway/eventfeed/events.go
  components/automate-gateway/eventfeed/events_test.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/event_feed.go
  components/event-feed-service/pkg/integration_test/event_export_test.go
  components/event-feed-service/pkg/integration_test/suite_test.go
  components/event-feed-service/pkg/server/event_export.go
  components/event-feed-service/pkg/server/server.go
Labels: event feed

#4202 Jamie/4186 block beta flags
  components/automate-ui/src/app/page-components/feature-flags/feature-flags.component.ts
Labels: automate-ui, bug 🐛, customer-reported, ui

#4106 adding GCS Backup Documentation
  components/automate-chef-io/content/docs/backup.md
  components/automate-chef-io/content/docs/install.md
  components/automate-chef-io/content/docs/restore.md
  tools/credscan/credscan.go
Labels: community, documentation

#4218 cypress: store deploy recordings only in buildkite
  .expeditor/buildkite/cypress.sh
  scripts/get_secrets.sh
Labels: cypress

#4197 enable configurable content-type header for data-feed-service
  api/config/data_feed/config_request.go
  api/config/data_feed/config_request.pb.go
  api/config/data_feed/config_request.proto
  components/data-feed-service/config.dev.toml
  components/data-feed-service/config/config.go
  components/data-feed-service/habitat/config/config.toml
  components/data-feed-service/habitat/default.toml
  components/data-feed-service/service/data-feed-aggregate-task.go
  components/data-feed-service/service/data-feed-aggregate-task_test.go
  components/data-feed-service/service/data-feed-service.go
Labels: data-feed

#4207 Correct error message for adding policy members
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.html
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#3860 Updated error message when user is not authorized to create profile.
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.ts
Labels: automate-ui, bug 🐛, ui

#4195 Jamie/4044 token changes saved bug
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.html
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.html
  components/automate-ui/src/app/pages/notification-details/notification-details.component.html
Labels: automate-ui, bug 🐛, ui

#4221 Helper for listing policies for local user
  scripts/auth_resources.sh
Labels: auth-team, automate-auth

#4233 Update links to infra server data collection heading
  components/automate-chef-io/content/docs/data-collection.md
Labels: documentation

#4228 Chef session logout issue on 401 error raised from chef servers API
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.requests.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.requests.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
Labels: automate-infra-proxy, automate-ui, bug 🐛, ui

#4198 Fix broken links in compliance reports ui to documentation.
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
Labels: automate-ui, compliance reporting, documentation, ui

#4240 Remove references to max report size in the docs for the infra server
  components/docs-chef-io/content/automate/infra_server.md
Labels: documentation

#4238 Update Artifactory URL to support migration to K8s Artifactory versio…
  components/config-mgmt-service/data/mappings/examples/node_attribute.json
  components/config-mgmt-service/data/mappings/examples/policy_action.json
  components/ingest-service/examples/actions/policy_update.json
  components/ingest-service/examples/converge-success-report.json
  components/ingest-service/examples/policy_action.json
  components/ingest-service/pipeline/publisher/config_mgmt_publisher_internal_test.go
  inspec/a2-api-integration/files/fixtures/converge/actions/policy_update.json
  inspec/a2-api-integration/files/fixtures/converge/chefdk-debian-8-tester-79e320_run_converge.json
  inspec/a2-api-integration/files/fixtures/converge/chefdk-mac_os_x-10.10-tester-cd52f5_run_converge.json
  inspec/a2-api-integration/files/fixtures/converge/chefdk-macos-10.13-tester-46912e_run_converge.json
  inspec/a2-api-integration/files/fixtures/converge/chefdk-rhel-7-tester-6bbaaf_run_converge.json
  inspec/a2-api-integration/files/fixtures/converge/policy-node.json
Labels: Expeditor: Skip All

#4247 fixed typo error in infra proxy client components/automate-ui/src/app/entities/clients/client.effects.ts file
  components/automate-ui/src/app/entities/clients/client.effects.ts
Labels: automate-infra-proxy

#4248 update reference to docs in readme
  README.md
Labels: documentation

#4256 Remove content from automate-chef-io
  components/automate-chef-io/README.md
  components/automate-chef-io/content/docs/airgapped-installation.md
  components/automate-chef-io/content/docs/api-tokens.md
  components/automate-chef-io/content/docs/api.md
  components/automate-chef-io/content/docs/applications-dashboard.md
  components/automate-chef-io/content/docs/applications-setup.md
  components/automate-chef-io/content/docs/architectural-overview.md
  components/automate-chef-io/content/docs/backup.md
  components/automate-chef-io/content/docs/cli-chef-automate.md
  components/automate-chef-io/content/docs/client-runs.md
  components/automate-chef-io/content/docs/configuration.md
  components/automate-chef-io/content/docs/data-collection.md
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-chef-io/content/docs/datafeed.md
  components/automate-chef-io/content/docs/delivery_build_cookbook.md
  components/automate-chef-io/content/docs/delivery_manage_dependencies.md
  components/automate-chef-io/content/docs/delivery_manage_secrets.md
  components/automate-chef-io/content/docs/delivery_truck.md
  components/automate-chef-io/content/docs/desktop.md
  components/automate-chef-io/content/docs/eas.md
  components/automate-chef-io/content/docs/elasticsearch.md
  components/automate-chef-io/content/docs/event-feed.md
  components/automate-chef-io/content/docs/iam-actions.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/infra-server.md
  components/automate-chef-io/content/docs/install.md
  components/automate-chef-io/content/docs/ldap.md
  components/automate-chef-io/content/docs/log-management.md
  components/automate-chef-io/content/docs/migrate.md
  components/automate-chef-io/content/docs/monitoring.md
  components/automate-chef-io/content/docs/node-credentials.md
  components/automate-chef-io/content/docs/node-integrations.md
  components/automate-chef-io/content/docs/nodes.md
  components/automate-chef-io/content/docs/notifications.md
  components/automate-chef-io/content/docs/on-prem-builder.md
  components/automate-chef-io/content/docs/policies.md
  components/automate-chef-io/content/docs/profiles.md
  components/automate-chef-io/content/docs/projects.md
  components/automate-chef-io/content/docs/publish_cookbooks_multiple_servers.md
  components/automate-chef-io/content/docs/quickstart.md
  components/automate-chef-io/content/docs/reports.md
  components/automate-chef-io/content/docs/restore.md
  components/automate-chef-io/content/docs/roles.md
  components/automate-chef-io/content/docs/runners.md
  components/automate-chef-io/content/docs/saml.md
  components/automate-chef-io/content/docs/scan-jobs.md
  components/automate-chef-io/content/docs/servicenow-integration-install.md
  components/automate-chef-io/content/docs/system-requirements.md
  components/automate-chef-io/content/docs/teams.md
  components/automate-chef-io/content/docs/telemetry.md
  components/automate-chef-io/content/docs/troubleshooting.md
  components/automate-chef-io/content/docs/users.md
  components/automate-chef-io/content/docs/workflow.md
  components/automate-chef-io/content/docs/workflow_install.md
  components/automate-chef-io/content/release-notes/_index.md
Labels: documentation

#4253 Add new docs component and docs-team to CODEOWNERS
  .github/CODEOWNERS
Labels: Expeditor: Skip All, documentation

#4261 Revert protocol change to es6-promisify package
  components/chef-ui-library/package-lock.json
Labels: chef-ui-library, ui

#4265 Clarify restoring on an existing Chef Automate host
  components/docs-chef-io/content/automate/restore.md
Labels: documentation

#4237 Resurrect Event Feed Download PR from being reverted
  .bldr.toml
  .studio/common
  .studio/event-feed-service
  api/external/event_feed/event_feed.pb.go
  api/external/event_feed/event_feed.pb.gw.go
  api/external/event_feed/event_feed.pb.policy.go
  api/external/event_feed/event_feed.proto
  api/external/event_feed/event_feed.swagger.json
  api/external/event_feed/request/event.pb.go
  api/external/event_feed/request/event.proto
  api/external/event_feed/request/eventstrings.pb.go
  api/external/event_feed/request/eventstrings.proto
  api/external/event_feed/response/event.pb.go
  api/external/event_feed/response/event.proto
  api/external/event_feed/response/eventstrings.pb.go
  api/external/event_feed/response/eventstrings.proto
  api/interservice/event_feed/event_feed.pb.client_mock.go
  api/interservice/event_feed/event_feed.pb.go
  api/interservice/event_feed/event_feed.proto
  components/automate-gateway/api/api_test.go
  components/automate-gateway/api/event_feed.pb.swagger.go
  components/automate-gateway/api/event_feed/event_feed.pb.go
  components/automate-gateway/api/event_feed/event_feed.pb.gw.go
  components/automate-gateway/api/event_feed/event_feed.pb.mock.go
  components/automate-gateway/api/event_feed/event_feed.pb.policy.go
  components/automate-gateway/api/event_feed/request/event.pb.go
  components/automate-gateway/api/event_feed/request/event.swagger.json
  components/automate-gateway/api/event_feed/request/eventstrings.pb.go
  components/automate-gateway/api/event_feed/request/eventstrings.swagger.json
  components/automate-gateway/api/event_feed/response/event.pb.go
  components/automate-gateway/api/event_feed/response/event.swagger.json
  components/automate-gateway/api/event_feed/response/eventstrings.pb.go
  components/automate-gateway/api/event_feed/response/eventstrings.swagger.json
  components/automate-gateway/api/event_feed_request_event.pb.swagger.go
  components/automate-gateway/api/event_feed_request_eventstrings.pb.swagger.go
  components/automate-gateway/api/event_feed_response_event.pb.swagger.go
  components/automate-gateway/api/event_feed_response_eventstrings.pb.swagger.go
  components/automate-gateway/eventfeed/event_guitar_strings.go
  components/automate-gateway/eventfeed/event_guitar_strings_test.go
  components/automate-gateway/eventfeed/event_task_counts.go
  components/automate-gateway/eventfeed/event_type_counts.go
  components/automate-gateway/eventfeed/events.go
  components/automate-gateway/eventfeed/events_test.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/event_feed.go
  components/event-feed-service/pkg/integration_test/event_export_test.go
  components/event-feed-service/pkg/integration_test/suite_test.go
  components/event-feed-service/pkg/server/event_export.go
  components/event-feed-service/pkg/server/server.go
Labels: event feed

#4275 Changes to fix long names in drop-down components should be wrapped
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.scss
Labels: automate-ui, ui

#4269 Update to the latest builder
  components/automate-builder-api-proxy/habitat/plan.sh
  components/automate-builder-api/habitat/plan.sh
Labels: builder

#4271 data-feed-service: move from port 14001 to 10501
  api/config/data_feed/config_request.go
  api/config/data_feed/config_request.pb.a2svc.go
  api/config/data_feed/config_request.pb.go
  api/config/data_feed/config_request.proto
  components/automate-gateway/config/config.toml
  components/data-feed-service/config.dev.toml
  components/data-feed-service/habitat/default.toml
Labels: data-feed

#4282 Doc reference updates in Automate code
  components/automate-ui/e2e/app.e2e-spec.ts
  components/automate-ui/src/app/modules/license/license-apply/license-apply.component.html
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.html
  components/automate-ui/src/app/page-components/welcome-modal/welcome-modal.component.html
  components/automate-ui/src/app/page-components/welcome-modal/welcome-modal.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/top-nav-landing/top-nav-landing.component.html
Labels: automate-ui, documentation, ui

#4196 client-run add error per-resource basis
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  api/external/ingest/chef.swagger.json
  api/external/ingest/request/chef.pb.go
  api/external/ingest/request/chef.proto
  api/interservice/cfgmgmt/response/nodes.pb.go
  api/interservice/cfgmgmt/response/nodes.proto
  api/interservice/ingest/chef.swagger.json
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/chef.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/automate-ui/src/app/page-components/logs-modal/logs-modal.component.ts
  components/automate-ui/src/app/page-components/resource-item/resource-item.component.html
  components/automate-ui/src/app/page-components/resource-item/resource-item.component.spec.ts
  components/automate-ui/src/app/page-components/resource-item/resource-item.component.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.html
  components/automate-ui/src/app/pages/node-details/node-details.component.spec.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.ts
  components/automate-ui/src/app/services/node-details/node-details.service.ts
  components/automate-ui/src/app/types/types.ts
  components/config-mgmt-service/grpcserver/response_conversion.go
  components/ingest-service/backend/chef_client_run.go
  components/ingest-service/backend/converge.go
Labels: client runs, ingest-service, nodemanager
