Repository chef/automate, pull requests merged in 2020-03, with the labels that each got.

#2949 Correct lifecycle comment for A1
  components/automate-chef-io/content/docs/migrate.md
Labels: documentation

#2999 Jamie/bug table header alignment
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list-row.html
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list-row.scss
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list-row.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.scss
Labels: automate-ui, ui

#2991 docs: correct URL in example curl commands
  components/automate-chef-io/content/docs/applications-dashboard.md
Labels: documentation

#2988 [automate-2868] Remove v1 policies
  api/interservice/authz/authz.pb.go
  api/interservice/authz/authz.pb.mock.go
  api/interservice/authz/authz.pb.validate.go
  api/interservice/authz/authz.proto
  api/interservice/authz/authz_test.go
  api/interservice/authz/common/subject_purge.pb.go
  api/interservice/authz/common/subject_purge.pb.validate.go
  api/interservice/authz/common/subject_purge.proto
  components/authz-service/README.md
  components/authz-service/server/server.go
  components/authz-service/server/v1/server.go
  components/authz-service/server/v1/server_test.go
  components/authz-service/server/v2/subject_purge.go
  components/authz-service/server/v2/subject_purge_test.go
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-cli/cmd/chef-automate/token.go
  components/automate-cli/pkg/adminmgmt/adminmgmt_test.go
  components/automate-gateway/api/authz/authz.pb.go
  components/automate-gateway/api/authz/authz.pb.gw.go
  components/automate-gateway/api/authz/authz.pb.mock.go
  components/automate-gateway/api/authz/authz.pb.policy-v1.go
  components/automate-gateway/api/authz/authz.pb.policy-v2.go
  components/automate-gateway/api/authz/authz.proto
  components/automate-gateway/api/authz/authz.swagger.json
  components/automate-gateway/api/authz/request/authz.pb.go
  components/automate-gateway/api/authz/request/authz.proto
  components/automate-gateway/api/authz/response/authz.pb.go
  components/automate-gateway/api/authz/response/authz.proto
  components/automate-gateway/api/authz_authz.pb.swagger.go
  components/automate-gateway/handler/authz.go
  components/automate-gateway/handler/authz_test.go
  components/automate-ui/src/app/entities/userperms/README.md
  inspec/a2-api-smoke/controls/base.rb
Labels: auth-team, v2 force upgrade branch

#3001 On-Prem Bldr Docs: remove in-development warnings
  components/automate-chef-io/content/docs/on-prem-builder.md
Labels: documentation

#3006 Add API tab on landing page
  components/automate-chef-io/layouts/partials/hero.html
Labels: automate-ui, documentation

#3007 automate-ui: don't fetch projects on iamv1
  components/automate-ui/src/app/entities/layout/layout.facade.ts
Labels: auth-team, automate-ui, bug 🐛, emergent, ui

#2990 Nodemanager updating nodes to missing
  api/interservice/nodemanager/manager/manager.pb.go
  api/interservice/nodemanager/manager/manager.proto
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/jobs.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/server/jobs.go
  e2e/cypress/integration/api/nodemanager/node_missing.spec.ts
Labels: ingest-service, nodemanager

#2956 [infra-proxy-service] Add Roles list & detail gRPC & HTTP API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy-v1.go
  api/external/infra_proxy/infra_proxy.pb.policy-v2.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/roles.pb.go
  api/external/infra_proxy/request/roles.proto
  api/external/infra_proxy/response/roles.pb.go
  api/external/infra_proxy/response/roles.proto
  api/interservice/infra_proxy/request/roles.pb.go
  api/interservice/infra_proxy/request/roles.proto
  api/interservice/infra_proxy/response/roles.pb.go
  api/interservice/infra_proxy/response/roles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/infra-proxy-service/server/v1/proxy.go
  components/infra-proxy-service/server/v1/roles.go
Labels: automate-infra-proxy

#3020 deleting nodemanager nodes when missing nodes are deleted
  .studio/common
  api/interservice/nodemanager/nodes/nodes.pb.client_mock.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/jobs.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/server/jobs.go
  e2e/cypress/integration/api/nodemanager/node_deletion.spec.ts
Labels: ingest-service, nodemanager

#2871 [elasticsearch] configure the default replicas to 0
  api/config/elasticsearch/config_request.go
  api/config/elasticsearch/config_request.pb.go
  api/config/elasticsearch/config_request.proto
  components/automate-elasticsearch/habitat/config/health_check
  components/automate-elasticsearch/habitat/hooks/health-check
  components/automate-elasticsearch/habitat/hooks/post-run
  components/automate-elasticsearch/habitat/hooks/run
Labels: deployment-team

#2986 [load-balancer] make proxy buffering configurable
  api/config/load_balancer/config_request.go
  api/config/load_balancer/config_request.pb.go
  api/config/load_balancer/config_request.proto
  api/config/load_balancer/config_request_test.go
  components/automate-load-balancer/habitat/config/nginx.conf
Labels: deployment-team

#3027 Ensure content within info columns wrap w/ the column width
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.scss
Labels: automate-ui, ui

#3025 [Automate-2960] Adjust scan jobs permissions
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.html
  components/automate-ui/src/app/pages/job-list/job-list.component.html
Labels: auth-team, automate-ui, bug 🐛, ui

#2954 [infra-proxy-service] API to get cookbook affected nodes
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy-v1.go
  api/external/infra_proxy/infra_proxy.pb.policy-v2.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/cookbooks.pb.go
  api/external/infra_proxy/response/cookbooks.proto
  api/interservice/infra_proxy/response/cookbooks.pb.go
  api/interservice/infra_proxy/response/cookbooks.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/cookbooks.go
  components/infra-proxy-service/server/v1/cookbooks.go
Labels: automate-infra-proxy

#3032 [Automate-2950] Port introspection from v1 to v2
  .bldr.toml
  components/automate-cli/pkg/client/apiclient/apiclient.go
  components/automate-cli/pkg/client/mock/mock.go
  components/automate-cli/pkg/client/types.go
  components/automate-gateway/api/api_test.go
  components/automate-gateway/api/authz/authz.pb.policy-v1.go
  components/automate-gateway/api/authz/authz.pb.policy-v2.go
  components/automate-gateway/api/authz/pairs/pairs.go
  components/automate-gateway/api/iam/v2/introspect.pb.go
  components/automate-gateway/api/iam/v2/introspect.pb.gw.go
  components/automate-gateway/api/iam/v2/introspect.pb.mock.go
  components/automate-gateway/api/iam/v2/introspect.pb.policy-v1.go
  components/automate-gateway/api/iam/v2/introspect.pb.policy-v2.go
  components/automate-gateway/api/iam/v2/introspect.proto
  components/automate-gateway/api/iam/v2/introspect.swagger.json
  components/automate-gateway/api/iam/v2/request/introspect.pb.go
  components/automate-gateway/api/iam/v2/request/introspect.proto
  components/automate-gateway/api/iam/v2/request/introspect.swagger.json
  components/automate-gateway/api/iam/v2/response/introspect.pb.go
  components/automate-gateway/api/iam/v2/response/introspect.proto
  components/automate-gateway/api/iam/v2/response/introspect.swagger.json
  components/automate-gateway/api/iam_v2_introspect.pb.swagger.go
  components/automate-gateway/api/iam_v2_request_introspect.pb.swagger.go
  components/automate-gateway/api/iam_v2_response_introspect.pb.swagger.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/iam/v2/introspect/introspect.go
  components/automate-gateway/handler/iam/v2/introspect/introspect_test.go
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/entities/api-tokens/api-token.requests.ts
  components/automate-ui/src/app/entities/policies/policy.requests.ts
  components/automate-ui/src/app/entities/projects/project.requests.ts
  components/automate-ui/src/app/entities/roles/role.requests.ts
  components/automate-ui/src/app/entities/rules/rule.requests.ts
  components/automate-ui/src/app/entities/teams/team.requests.ts
  components/automate-ui/src/app/entities/userperms/userperms.requests.ts
  components/automate-ui/src/app/entities/users/user.requests.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.requests.ts
  components/automate-ui/src/environments/environment.no_auth.ts
  components/automate-ui/src/environments/environment.prod.ts
  components/automate-ui/src/environments/environment.ts
  e2e/cypress/support/commands.ts
  inspec/a2-iam-v2-integration/controls/introspection.rb
Labels: auth-team, automate-auth, v2 force upgrade branch

#2952 remove v1 team APIs from gateway & update dependent integration tests
  components/automate-cli/pkg/adminmgmt/adminmgmt.go
  components/automate-cli/pkg/adminmgmt/adminmgmt_test.go
  components/automate-gateway/api/api_test.go
  components/automate-gateway/api/auth/teams/request/teams.pb.go
  components/automate-gateway/api/auth/teams/request/teams.proto
  components/automate-gateway/api/auth/teams/request/teams.swagger.json
  components/automate-gateway/api/auth/teams/response/teams.pb.go
  components/automate-gateway/api/auth/teams/response/teams.proto
  components/automate-gateway/api/auth/teams/response/teams.swagger.json
  components/automate-gateway/api/auth/teams/teams.pb.go
  components/automate-gateway/api/auth/teams/teams.pb.gw.go
  components/automate-gateway/api/auth/teams/teams.pb.mock.go
  components/automate-gateway/api/auth/teams/teams.pb.policy-v1.go
  components/automate-gateway/api/auth/teams/teams.pb.policy-v2.go
  components/automate-gateway/api/auth/teams/teams.proto
  components/automate-gateway/api/auth/teams/teams.swagger.json
  components/automate-gateway/api/auth_teams_request_teams.pb.swagger.go
  components/automate-gateway/api/auth_teams_response_teams.pb.swagger.go
  components/automate-gateway/api/auth_teams_teams.pb.swagger.go
  components/automate-gateway/docs/proto-integrity.md
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway/clients_test.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/gateway_mocks/mock_gateway/clients_mock.go
  components/automate-gateway/handler/teams.go
  components/automate-gateway/pkg/nullbackend/backend.go
  components/automate-grpc/protoc-gen-policy/README.md
  components/automate-ui/src/app/components/landing/landing.component.spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/entities/userperms/README.md
  components/automate-ui/src/app/helpers/auth/authorized.spec.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/team/team-management/team-management.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
  e2e/cypress/index.d.ts
  e2e/cypress/integration/ui/settings/team_add_users.spec.ts
  e2e/cypress/integration/ui/settings/team_details.spec.ts
  e2e/cypress/integration/ui/settings/team_mgmt.spec.ts
  e2e/cypress/support/commands.ts
  inspec/a2-api-integration/controls/authz_access_control.rb
  inspec/a2-api-smoke/controls/base.rb
  inspec/a2-migrate-from-v1-integration/controls/migrated_users.rb
Labels: auth-team, automate-auth, automate-gateway, v2 force upgrade branch

#3029 compliance profile docs updatez
  components/automate-chef-io/content/docs/profiles.md
  components/automate-chef-io/static/images/docs/asset-store-installed.png
  components/automate-chef-io/static/images/docs/asset-store-profiles.png
Labels: compliance profiles, documentation

#3002 Add retention to page description for better SEO
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-chef-io/content/docs/node-lifecycle.md
  components/automate-chef-io/content/docs/troubleshooting.md
Labels: documentation

#2984 [infra-proxy-service] Add Clients gRPC & HTTP API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy-v1.go
  api/external/infra_proxy/infra_proxy.pb.policy-v2.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/clients.pb.go
  api/external/infra_proxy/request/clients.proto
  api/external/infra_proxy/response/clients.pb.go
  api/external/infra_proxy/response/clients.proto
  api/interservice/infra_proxy/request/clients.pb.go
  api/interservice/infra_proxy/request/clients.proto
  api/interservice/infra_proxy/response/clients.pb.go
  api/interservice/infra_proxy/response/clients.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/clients.go
  components/infra-proxy-service/server/v1/clients.go
Labels: automate-infra-proxy

#3024 Modify project update to update 1 ES index at a time
  .bldr.toml
  .expeditor/verify_private.pipeline.yml
  components/authz-service/server/v2/project_update_manager.go
  components/compliance-service/compliance.go
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/ingestic/mappings/mappings.go
  components/compliance-service/ingest/ingestic/mappings/mappings_test.go
  components/compliance-service/ingest/ingestic/project_update.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/actions.go
  components/ingest-service/backend/elastic/mappings/mappings.go
  components/ingest-service/backend/elastic/project_update.go
  components/ingest-service/grpc/grpc.go
  lib/authz/serialized_project_rules_update_workflow.go
  lib/authz/serialized_project_update_workflow_test.go
  lib/cereal/cerealtest/workflow_instance.go
  lib/elasticutil/tasks.go
  lib/elasticutil/tasks_test.go
Labels: iamv2

#3057 Bump automate-ui package versions
  components/automate-ui/README.md
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/app/entities/license/license.model.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
Labels: auth-team, automate-ui, chore, ui

#3046 Nodemanager deleting nodes for ingest rpc delete requests
  components/automate-cli/pkg/diagnostics/integration/compliance_report_scan_nodes.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/elastic/nodes.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/server/chef.go
  components/ingest-service/test/node_delete.js
  e2e/cypress/integration/api/nodemanager/node_lifecycle_deletion.spec.ts
  e2e/cypress/integration/api/nodemanager/node_rpc_deletion.spec.ts
Labels: ingest-service, nodemanager

#3052 [elasticsearch] remove post-run sentinel in the init hook
  components/automate-elasticsearch/habitat/hooks/init
  components/automate-elasticsearch/habitat/hooks/run
Labels: deployment-team

#3078 [terraform] don't forward journald to syslog
  terraform/test-environments/modules/chef_automate_install/main.tf
Labels: deployment-team

#3069 Update builder
  components/automate-builder-api-proxy/habitat/plan.sh
  components/automate-builder-api/habitat/plan.sh
Labels: deployment-team

#3047 Fix docker local tests to be compatible with newer versions of pg image
  components/authn-service/Makefile
  components/authn-service/tokens/integration/token_integration_test.go
  components/authn-service/tokens/pg/pg_test.go
  components/authn-service/tokens/pg/testconstants/testconstants.go
  components/authn-service/tokens/tokens_test.go
  components/authz-service/Makefile
  components/authz-service/storage/v1/postgres/postgres_test.go
  components/authz-service/testhelpers/testhelpers.go
  components/teams-service/Makefile
Labels: auth-team

#3076 Optimize time range when fetching a node's compliance report
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-query.service.ts
Labels: automate-ui, compliance reporting

#3054 Added example JSON for policy, role, project, and token PUT and POST API docs using x-code-samples
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/policy.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/tokens.swagger.json
  components/automate-gateway/api/iam/v2/policy.pb.go
  components/automate-gateway/api/iam/v2/policy.proto
  components/automate-gateway/api/iam/v2/policy.swagger.json
  components/automate-gateway/api/iam/v2/request/policy.pb.go
  components/automate-gateway/api/iam/v2/request/policy.proto
  components/automate-gateway/api/iam/v2/request/tokens.pb.go
  components/automate-gateway/api/iam/v2/request/tokens.proto
  components/automate-gateway/api/iam/v2/response/policy.pb.go
  components/automate-gateway/api/iam/v2/response/policy.proto
  components/automate-gateway/api/iam/v2/response/tokens.pb.go
  components/automate-gateway/api/iam/v2/response/tokens.proto
  components/automate-gateway/api/iam/v2/tokens.pb.go
  components/automate-gateway/api/iam/v2/tokens.proto
  components/automate-gateway/api/iam/v2/tokens.swagger.json
  components/automate-gateway/api/iam_v2_policy.pb.swagger.go
  components/automate-gateway/api/iam_v2_tokens.pb.swagger.go
Labels: auth-team, documentation

#3055 [automate-2693] Add API docs for teams
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/teams.swagger.json
  components/automate-gateway/api/iam/v2/common/teams.pb.go
  components/automate-gateway/api/iam/v2/common/teams.proto
  components/automate-gateway/api/iam/v2/request/teams.pb.go
  components/automate-gateway/api/iam/v2/request/teams.proto
  components/automate-gateway/api/iam/v2/response/teams.pb.go
  components/automate-gateway/api/iam/v2/response/teams.proto
  components/automate-gateway/api/iam/v2/teams.pb.go
  components/automate-gateway/api/iam/v2/teams.pb.gw.go
  components/automate-gateway/api/iam/v2/teams.pb.mock.go
  components/automate-gateway/api/iam/v2/teams.pb.policy-v1.go
  components/automate-gateway/api/iam/v2/teams.pb.policy-v2.go
  components/automate-gateway/api/iam/v2/teams.proto
  components/automate-gateway/api/iam/v2/teams.swagger.json
  components/automate-gateway/api/iam_v2_teams.pb.swagger.go
Labels: auth-team, documentation

#3077 [Automate-2695] annotate users proto
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/users.swagger.json
  components/automate-gateway/api/iam/v2/common/users.pb.go
  components/automate-gateway/api/iam/v2/common/users.proto
  components/automate-gateway/api/iam/v2/request/users.pb.go
  components/automate-gateway/api/iam/v2/request/users.proto
  components/automate-gateway/api/iam/v2/users.pb.go
  components/automate-gateway/api/iam/v2/users.proto
  components/automate-gateway/api/iam/v2/users.swagger.json
  components/automate-gateway/api/iam_v2_users.pb.swagger.go
Labels: auth-team, automate-auth, documentation

#3044 [Automate-2987] legacy ingest policy fix
  api/external/ingest/chef.pb.go
  api/external/ingest/chef.pb.policy-v2.go
  api/external/ingest/chef.proto
  api/interservice/authz/v2/policy_test.go
  components/authz-service/engine/conformance/conformance_v2_test.go
  components/authz-service/engine/opa/example_v2/real_world_2p1_store.json
  components/authz-service/engine/opa/example_v2/store-pretty.json
  components/authz-service/engine/opa/opa_v2_internal_test.go
  components/authz-service/engine/opa/policy/authz_v2_test.rego
  components/authz-service/server/v2/system.go
  components/authz-service/storage/postgres/migration/legacy/iam.go
  components/authz-service/storage/postgres/migration/legacy/iam_migration_test.go
  components/authz-service/storage/postgres/migration/legacy/v2datamodel.go
  components/authz-service/storage/postgres/migration/sql/74_pre_force_upgrade.up.sql
  components/automate-gateway/api/legacy/legacy.pb.go
  components/automate-gateway/api/legacy/legacy.pb.policy-v2.go
  components/automate-gateway/api/legacy/legacy.proto
  components/automate-gateway/gateway/datacollector.go
  components/automate-gateway/gateway/datacollector_internal_test.go
  components/automate-gateway/handler/iam/v2/introspect/introspect_test.go
  components/event-gateway/pkg/nats/authenticator.go
  e2e/cypress/integration/api/nodemanager/node_rpc_deletion.spec.ts
  inspec/a2-iam-legacy-integration/controls/legacy_access.rb
  integration/helpers/cert_auth_tests.sh
Labels: auth-team, automate-auth, compliance ingestion

#2851 Describe how to install Chef Infra Server using Chef Automate
  components/automate-chef-io/content/docs/infra-server.md
Labels: deployment-team, documentation

#3005 Use a streaming API so CLI can show/rm large numbers of services
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.policy-v1.go
  api/external/applications/applications.pb.policy-v2.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/services_test.go
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/postgres/services.go
  components/automate-cli/cmd/chef-automate/applications.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/handler/applications.go
Labels: eas

#3028 Expand restore docs to cover questions raised by users
  components/automate-chef-io/content/docs/backup.md
  tools/credscan/credscan.go
Labels: deployment-team, documentation

#3098 fix failing project update test
  components/authz-service/server/v2/project_update_manager_test.go
  components/authz-service/server/v2/testdata/running_workflow_01/payload.json
Labels: emergent

#3043 profiles API docs
  api/external/compliance/profiles/profiles.pb.go
  api/external/compliance/profiles/profiles.proto
  api/external/compliance/profiles/profiles.swagger.json
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/profiles/profiles.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/profiles.pb.swagger.go
Labels: documentation

#3109 Update links to docs.chef.io
  components/automate-chef-io/content/docs/client-runs.md
  components/automate-chef-io/content/docs/data-collection.md
  components/automate-chef-io/content/docs/migrate.md
  components/automate-chef-io/content/docs/runners.md
  components/automate-chef-io/content/docs/servicenow-integration-install.md
  components/automate-chef-io/content/docs/workflow_install.md
Labels: documentation

#3067 upgrade cypress to latest version
  .expeditor/buildkite/cypress.sh
  e2e/cypress.json
  e2e/cypress/integration/ui/settings/token_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/user_mgmt.spec.ts
  e2e/package-lock.json
  e2e/package.json
Labels: cypress, emergent, maintenance

#3008 [automate-2917] v2 with legacy policies -> force-upgrade to latest v2 integration test
  .expeditor/verify_private.pipeline.yml
  integration/tests/iam_v2_legacy_to_v2_force_upgrade.sh
Labels: auth-team, v2 force upgrade branch

#3100 [automate-3031] Show pending edits bar promptly upon login
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.spec.ts
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.spec.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/entities/policies/policy.selectors.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.spec.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-form/data-feed-form.component.spec.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.spec.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.spec.ts
  components/automate-ui/src/app/pages/notification-form/notification-form.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#3103 Fixes from auditing Angular lifecycle hooks
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.ts
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.ts
Labels: auth-team, automate-auth, automate-ui, chore, ui

#3102 Vanished teams on force-upgrade
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, emergent, ui

#2674 Point to older docs for use with static installs
  components/automate-chef-io/content/docs/data-lifecycle.md
Labels: documentation

#3093 Automate-2561 Waivers
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-status/overview-status.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-status/overview-status.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.ts
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-ui, ui

#3089 Automate 2546 Waiver
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.ts
  components/automate-ui/src/styles.scss
Labels: automate-ui, ui

#3104 Robust Deprecation of IAM v1
  components/automate-chef-io/config.toml
  components/automate-chef-io/content/docs/api-tokens.md
  components/automate-chef-io/content/docs/iam-v1-overview.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/ldap.md
  components/automate-chef-io/content/docs/on-prem-builder.md
  components/automate-chef-io/content/docs/policies.md
  components/automate-chef-io/content/docs/roles.md
  components/automate-chef-io/content/docs/saml.md
  components/automate-chef-io/content/docs/teams.md
  components/automate-chef-io/content/docs/users.md
Labels: documentation

#3033 Improve verb tense in IAM v2 Overview doc
  components/automate-chef-io/content/docs/iam-v2-overview.md
Labels: documentation

#3113 api docs: secrets service
  api/external/secrets/secrets.pb.go
  api/external/secrets/secrets.proto
  api/external/secrets/secrets.swagger.json
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/secrets/secrets.swagger.json
  components/automate-gateway/api/secrets.pb.swagger.go
Labels: documentation

#3111 [automate-3065] Remove v1 authz storage
  components/authz-service/scripts/a2_users.txt
  components/authz-service/scripts/dump-policies.go
  components/authz-service/server/server.go
  components/authz-service/server/v1/server.go
  components/authz-service/server/v1/server_test.go
  components/authz-service/server/v2/authz_test.go
  components/authz-service/server/v2/policy.go
  components/authz-service/server/v2/policy_test.go
  components/authz-service/storage/v1/memstore/memstore.go
  components/authz-service/storage/v1/mockerr/mockerr.go
  components/authz-service/storage/v1/postgres/postgres.go
  components/authz-service/storage/v1/postgres/postgres_test.go
  components/authz-service/storage/v1/postgres/resetter.go
  components/authz-service/storage/v1/storage.go
  components/authz-service/testhelpers/testhelpers.go
  go.mod
Labels: auth-team

#3131 Run automate site on old Hugo theme
  components/automate-chef-io/config.toml
  components/automate-chef-io/scripts/clone_hugo.sh
Labels: documentation

#3140 docs: clarify a couple points about compliance reporting
  components/automate-chef-io/content/docs/reports.md
Labels: documentation

#3136 when fleet status is waived; show compliant overall status
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: ui

#3156 Fix link
  components/automate-chef-io/content/docs/on-prem-builder.md
Labels: documentation

#3141 FormControlDirective fix
  components/automate-ui/src/app/components/form-control/form-control.directive.spec.ts
  components/automate-ui/src/app/components/form-control/form-control.directive.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, emergent, ui

#3145 Revert "Revert "Improve verb tense in IAM v2 Overview doc (#3033)""
  components/automate-chef-io/content/docs/iam-v2-overview.md
Labels: documentation

#3160 Set unsafe to true
  components/automate-chef-io/config.toml
Labels: documentation

#3142 Refetch rules when project becomes applied
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, emergent, ui

#3115 Update nodemanager project update to be safe for multinode
  .bldr.toml
  components/authz-service/server/v2/project_update_manager.go
  components/nodemanager-service/nodemanager.go
  components/nodemanager-service/pgdb/db.go
  components/nodemanager-service/pgdb/nodes.go
  components/nodemanager-service/pgdb/project_update.go
  components/nodemanager-service/tests/project_update_test.go
Labels: iamv2

#3090 consolidate cypress project update tests
  e2e/cypress/fixtures/converge/xmen1.json
  e2e/cypress/fixtures/converge/xmen2.json
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/iam/projects_api.spec.ts
  e2e/cypress/integration/api/iam/projects_api_action_ingestion.spec.ts
  e2e/cypress/integration/api/iam/projects_api_action_update.spec.ts
  e2e/cypress/integration/api/iam/projects_api_ingestion.spec.ts
  e2e/cypress/integration/api/iam/projects_api_update.spec.ts
  e2e/cypress/integration/api/iam/projects_delete_api.spec.ts
  e2e/cypress/support/commands.ts
  e2e/cypress/support/helpers.ts
  e2e/cypress/support/types.ts
Labels: auth-team, cypress, emergent

#2985 [infra-proxy-service] Add Environments gRPC & HTTP API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy-v1.go
  api/external/infra_proxy/infra_proxy.pb.policy-v2.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/environments.pb.go
  api/external/infra_proxy/request/environments.proto
  api/external/infra_proxy/response/environments.pb.go
  api/external/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/request/environments.pb.go
  api/interservice/infra_proxy/request/environments.proto
  api/interservice/infra_proxy/response/environments.pb.go
  api/interservice/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/environments.go
  components/infra-proxy-service/server/v1/environments.go
Labels: automate-infra-proxy

#3166 Rm/fix ipaddress pointer race condition
  components/compliance-service/ingest/pipeline/processor/report.go
Labels: bug 🐛, emergent

#3171 adjust project update modal text
  components/automate-ui/src/app/components/confirm-apply-start-modal/confirm-apply-start-modal.component.html
Labels: auth-team, automate-ui, ui

#3040 [infra-proxy-service] Add databags list & item detail APIs
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy-v1.go
  api/external/infra_proxy/infra_proxy.pb.policy-v2.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/databags.pb.go
  api/external/infra_proxy/request/databags.proto
  api/external/infra_proxy/response/databags.pb.go
  api/external/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/request/databags.pb.go
  api/interservice/infra_proxy/request/databags.proto
  api/interservice/infra_proxy/response/databags.pb.go
  api/interservice/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/databags.go
  components/infra-proxy-service/server/v1/databags.go
Labels: automate-infra-proxy

#3137 Node check-in time series API
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.pb.gw.go
  api/external/cfgmgmt/cfgmgmt.pb.policy-v1.go
  api/external/cfgmgmt/cfgmgmt.pb.policy-v2.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/actions.proto
  api/external/cfgmgmt/request/nodes.proto
  api/external/cfgmgmt/request/root.proto
  api/external/cfgmgmt/request/stats.pb.go
  api/external/cfgmgmt/request/stats.proto
  api/external/cfgmgmt/response/actions.proto
  api/external/cfgmgmt/response/nodes.proto
  api/external/cfgmgmt/response/stats.pb.go
  api/external/cfgmgmt/response/stats.proto
  api/external/cfgmgmt/response/suggestions.proto
  api/interservice/cfgmgmt/request/stats.pb.go
  api/interservice/cfgmgmt/request/stats.proto
  api/interservice/cfgmgmt/response/stats.pb.go
  api/interservice/cfgmgmt/response/stats.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/runs.go
  components/config-mgmt-service/backend/elastic/runs_internal_test.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/check_in_count_test.go
  components/config-mgmt-service/integration_test/global_test.go
  components/ingest-service/chef-load-data/ohai-data.json
  e2e/cypress/integration/api/cfg-mgmt/check_in_time_series.spec.ts
Labels: config-mgmt-service

#3182 Fixing flaky cypress test
  e2e/cypress/integration/api/cfg-mgmt/check_in_time_series.spec.ts
Labels: cypress

#3162 [automate-2692] annotate rules protos
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/rules.swagger.json
  components/automate-gateway/api/iam/v2/common/rules.pb.go
  components/automate-gateway/api/iam/v2/common/rules.proto
  components/automate-gateway/api/iam/v2/request/rules.pb.go
  components/automate-gateway/api/iam/v2/request/rules.proto
  components/automate-gateway/api/iam/v2/response/rules.pb.go
  components/automate-gateway/api/iam/v2/response/rules.proto
  components/automate-gateway/api/iam/v2/rules.pb.go
  components/automate-gateway/api/iam/v2/rules.proto
  components/automate-gateway/api/iam/v2/rules.swagger.json
  components/automate-gateway/api/iam_v2_rules.pb.swagger.go
  components/automate-gateway/handler/iam/v2/rules/rules.go
Labels: auth-team, documentation

#3184 Update chef-hugo-theme branch in makefile
  components/automate-chef-io/Makefile
Labels: documentation

#3133 Add `waived` status to reporting nodes list and node detail
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.scss
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, ui

#3194 ensure region is always set for aws api integration
  components/compliance-service/inspec-agent/resolver/resolver.go
  components/nodemanager-service/managers/managers.go
  components/nodemanager-service/managers/managers_test.go
  components/nodemanager-service/tests/scanjob_aws_api_integration_test.go
Labels: bug 🐛

#3196 Make pending edits apply to multi-user environment
  components/automate-ui/src/app/entities/projects/project.effects.ts
Labels: auth-team, automate-auth, automate-ui, emergent, ui

#3188 [automate-1886] farewell chef-automate admin-token
  components/automate-chef-io/content/docs/configuration.md
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate.yaml
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate_admin-token.yaml
  components/compliance-service/smokin/README.md
  dev-docs/acceptance-testing/domain_services_acceptance_checklist.md
  scripts/auth_collections.sh
Labels: auth-team, documentation, v2 force upgrade branch

#3192 Add CIDR filtering to restrict data-feed to certain nodes
  components/data-feed-service/config/config.go
  components/data-feed-service/habitat/config/config.toml
  components/data-feed-service/habitat/default.toml
  components/data-feed-service/service/data-feed-poll-task.go
  components/data-feed-service/service/data-feed-poll-task_test.go
  components/data-feed-service/service/data-feed-service.go
Labels: data-feed

#3179 Check-in time series total nodes
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/response/stats.pb.go
  api/external/cfgmgmt/response/stats.proto
  api/interservice/cfgmgmt/response/stats.pb.go
  api/interservice/cfgmgmt/response/stats.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/custom_search_aggs_bucket_date_range.go
  components/config-mgmt-service/backend/elastic/runs.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/check_in_count_test.go
  components/config-mgmt-service/integration_test/suite_test.go
  components/ingest-service/backend/client.go
  components/ingest-service/backend/converge.go
  components/ingest-service/backend/elastic/elastic.go
  components/ingest-service/backend/elastic/mappings/node_state.go
  components/ingest-service/backend/elastic/nodes.go
  e2e/cypress/integration/api/cfg-mgmt/check_in_time_series.spec.ts
Labels: config-mgmt-service

#3148 [automate-2710] Remove system:* perms, modify infra:* perms
  components/authz-service/server/v2/system.go
  components/authz-service/storage/postgres/migration/sql/75_update_roles_pols.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/roles.md
  inspec/a2-iam-no-legacy-integration/controls/chef_managed_access.rb
  integration/tests/iam_v2_no_legacy_to_v2_force_upgrade.sh
Labels: auth-team, automate-auth

#3181 Refer to `infra-server` rather than `chef-server`
  components/automate-chef-io/content/docs/client-runs.md
  components/automate-chef-io/content/docs/infra-server.md
  components/automate-chef-io/content/docs/workflow_install.md
  components/automate-cli/cmd/chef-automate/deploy.go
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  integration/tests/chef_server_only.sh
  products.meta
Labels: deployment-team, documentation

#3159 Add warning about running Manage with Server and A2
  components/automate-chef-io/content/docs/infra-server.md
Labels: documentation

#2998 Turn off client cert checking at the load balancer
  components/automate-load-balancer/habitat/config/nginx.conf
  integration/helpers/cert_auth_tests.sh
Labels: deployment-team

#3204 Automate 2544 2543 Control List Waived
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-controls/reporting-controls.component.ts
Labels: automate-ui, ui

#3213 Dan/refactor studio infra data gen
  .studio/automate-gateway
Labels: config-mgmt-service, ingest-service

#3218 Remove IAM tags
  terraform/test-environments/modules/chef_automate_install/main.tf
  terraform/test-environments/modules/chef_automate_install/variables.tf
  terraform/test-environments/scenarios/performance_test_single_local_inplace_upgrade.tf
  terraform/test-environments/scenarios/single_local_fresh_install.tf
Labels: auth-team

#3187 Desktop Skeleton Page
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/desktop/desktop.actions.ts
  components/automate-ui/src/app/entities/desktop/desktop.effects.ts
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/entities/desktop/desktop.requests.ts
  components/automate-ui/src/app/entities/desktop/desktop.selectors.ts
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.html
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.scss
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.ts
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.scss
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.ts
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.scss
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/desktop-routing.module.ts
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-ui, ui

#3195 Dan/top infra errors
  .bldr.toml
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.pb.gw.go
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/errors.pb.go
  api/external/cfgmgmt/request/errors.proto
  api/external/cfgmgmt/response/errors.pb.go
  api/external/cfgmgmt/response/errors.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/nodes.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/grpcserver/nodes.go
  components/config-mgmt-service/integration_test/nodes_test.go
  components/ingest-service/backend/chef_client_run.go
  components/ingest-service/backend/converge.go
  components/ingest-service/backend/elastic/mappings/node_state.go
Labels: config-mgmt-service, ingest-service

#3183 [automate-2912] Add labels for 0 and 100 percent to project upgrade
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.spec.ts
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.ts
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.html
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.ts
Labels: automate-ui, ui

#3212 add iam version msg
  components/automate-chef-io/content/docs/api-tokens.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
Labels: auth-team, documentation, emergent

#3228 studio: add other factors for adjusting GOBIN
  .studiorc
Labels: emergent, studio-dev

#3224 Remove v1/v2 vestiges in ui
  components/automate-ui/src/app/modules/team/team-management/team-management.component.html
  components/automate-ui/src/app/modules/team/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/modules/user/user-table/user-table.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  e2e/cypress/integration/ui/common/global_filter.spec.ts
Labels: auth-team, automate-auth, chore, emergent

#3235 Top desktop errors on skeleton UI
  components/automate-ui/src/app/entities/desktop/desktop.actions.ts
  components/automate-ui/src/app/entities/desktop/desktop.effects.ts
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/entities/desktop/desktop.requests.ts
  components/automate-ui/src/app/entities/desktop/desktop.selectors.ts
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.html
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.html
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.scss
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.ts
Labels: automate-ui, desktop, ui

#3234 fix cypress in deploy pipeline
  .expeditor/buildkite/cypress.sh
Labels: cypress, emergent, testing

#3238 fix weird focus outline on chef modals
  components/chef-ui-library/src/molecules/chef-modal/chef-modal.tsx
Labels: automate-ui, bug 🐛, ui

#2908 [infra-proxy-service] iam project organisation mapping & policies
  .bldr.toml
  .expeditor/verify.pipeline.yml
  .studio/common
  .studio/infra-proxy-service
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/orgs.pb.go
  api/external/infra_proxy/request/orgs.proto
  api/external/infra_proxy/response/orgs.pb.go
  api/external/infra_proxy/response/orgs.proto
  api/external/secrets/secrets.pb.client_mock.go
  api/interservice/infra_proxy/request/orgs.pb.go
  api/interservice/infra_proxy/request/orgs.proto
  api/interservice/infra_proxy/response/orgs.pb.go
  api/interservice/infra_proxy/response/orgs.proto
  components/automate-deployment/pkg/assets/assets.bindata.go
  components/automate-deployment/pkg/assets/data/binds.txt
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/orgs.go
  components/infra-proxy-service/Makefile
  components/infra-proxy-service/cmd/infra-proxy-service/commands/serve.go
  components/infra-proxy-service/constants/constants.go
  components/infra-proxy-service/dev/config.yml
  components/infra-proxy-service/habitat/config/config.toml
  components/infra-proxy-service/habitat/default.toml
  components/infra-proxy-service/habitat/plan.sh
  components/infra-proxy-service/server/clients.go
  components/infra-proxy-service/server/cookbooks.go
  components/infra-proxy-service/server/databags.go
  components/infra-proxy-service/server/environments.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/proxy.go
  components/infra-proxy-service/server/roles.go
  components/infra-proxy-service/server/root.go
  components/infra-proxy-service/server/root_test.go
  components/infra-proxy-service/server/server.go
  components/infra-proxy-service/server/server_test.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/service/service.go
  components/infra-proxy-service/storage/postgres/migration/sql/01_add_projects_field.up.sql
  components/infra-proxy-service/storage/postgres/migration/sql/02_add_projects_filter_function.up.sql
  components/infra-proxy-service/storage/postgres/migration/sql/README.md
  components/infra-proxy-service/storage/postgres/orgs.go
  components/infra-proxy-service/storage/postgres/postgres.go
  components/infra-proxy-service/storage/storage.go
  components/infra-proxy-service/test/test.go
  dev/certs/infra-proxy-service.crt
  dev/certs/infra-proxy-service.key
Labels: automate-auth, automate-infra-proxy

#3063 API UI fixes
  components/automate-chef-io/layouts/_default/data-api.html
  components/automate-chef-io/layouts/partials/mini-hero.html
Labels: documentation

#3230 Angular 9 followup
  components/automate-ui/src/app/entities/service-groups/service-groups.model.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.ts
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/modules/policy/details/policy-details.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.html
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.ts
  components/automate-ui/src/app/page-components/job-schedule-form/job-schedule-form.component.html
  components/automate-ui/src/app/page-components/search-bar-filter-bar/search-bar-filter-bar.component.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/credentials.state.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
  components/automate-ui/src/app/pipes/datetime.pipe.spec.ts
  components/automate-ui/src/app/pipes/datetime.pipe.ts
  components/automate-ui/tsconfig.json
  components/chef-ui-library/src/molecules/chef-page-header/chef-page-header.tsx
Labels: automate-ui, chore, emergent, ui

#3205 [automate-2807] remove policy version
  components/authn-service/tokens/pg/pg_test.go
  components/authn-service/tokens/tokens_test.go
  components/authz-service/server/v2/rules_property_test.go
  components/authz-service/storage/v2/postgres/postgres_test.go
  components/automate-deployment/pkg/server/api_token.go
  components/automate-gateway/gateway/middleware/auth_interceptor_internal_test.go
  components/automate-gateway/gateway/middleware/authv2/authv2.go
  components/automate-gateway/gateway/middleware/types.go
  components/automate-gateway/handler/iam/v2/introspect/introspect_test.go
  components/compliance-service/api/jobs/server/server_test.go
  components/compliance-service/integration_test/suite_test.go
  components/config-mgmt-service/integration_test/suite_test.go
  components/event-gateway/integration_test/nats_auth_test.go
  components/infra-proxy-service/test/test.go
  components/nodemanager-service/tests/project_filtering_test.go
  components/teams-service/server/v2/server_test.go
  lib/grpc/auth_context/auth_context.go
  lib/grpc/auth_context/auth_context_test.go
Labels: auth-team, automate-auth

#3243 Cleanup teams v2 designation
  api/interservice/teams/v2/teams.pb.go
  api/interservice/teams/v2/teams.pb.mock.go
  api/interservice/teams/v2/teams.proto
  components/authn-service/server/server.go
  components/authn-service/server/server_test.go
  components/automate-deployment/pkg/usermgmt/client/client.go
  components/automate-deployment/pkg/usermgmt/client/client_test.go
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway_mocks/mock_gateway/clients_mock.go
  components/automate-gateway/handler/iam/v2/teams/teams.go
  components/automate-gateway/pkg/nullbackend/backend.go
  components/local-user-service/server/grpc_test.go
  components/local-user-service/server/server.go
  components/local-user-service/server/server_test.go
  components/teams-service/server/server.go
  components/teams-service/server/v2/server_test.go
Labels: auth-team, automate-auth, chore, emergent

#3251 [Automate-2971] fill project filter before backend calls
  components/automate-ui/src/app/services/projects-filter/projects-filter.actions.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.reducer.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
Labels: auth-team, automate-auth, bug 🐛

#3233 [automate-3165] verify force upgrade in backup restore scenarios
  integration/tests/airgap_ow_upgrade.sh
  integration/tests/backup.sh
Labels: auth-team, testing

#3190 [infra-proxy-service] Add GetCookbookFileContent gRPC & Http API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/cookbooks.pb.go
  api/external/infra_proxy/request/cookbooks.proto
  api/external/infra_proxy/response/cookbooks.pb.go
  api/external/infra_proxy/response/cookbooks.proto
  api/interservice/infra_proxy/request/cookbooks.pb.go
  api/interservice/infra_proxy/request/cookbooks.proto
  api/interservice/infra_proxy/response/cookbooks.pb.go
  api/interservice/infra_proxy/response/cookbooks.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/cookbooks.go
  components/infra-proxy-service/server/cookbooks.go
Labels: automate-infra-proxy, documentation

#3236 [infra-proxy-service] Add environments & expanded_run_lists attributes in Roles API
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/roles.pb.go
  api/external/infra_proxy/response/roles.proto
  api/interservice/infra_proxy/response/roles.pb.go
  api/interservice/infra_proxy/response/roles.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/infra-proxy-service/server/databags.go
  components/infra-proxy-service/server/roles.go
  go.mod
  go.sum
  vendor/github.com/chef/go-chef/association.go
  vendor/github.com/chef/go-chef/authenticate.go
  vendor/github.com/chef/go-chef/cookbook_download.go
  vendor/github.com/chef/go-chef/databag.go
  vendor/github.com/chef/go-chef/debug.go
  vendor/github.com/chef/go-chef/doc.go
  vendor/github.com/chef/go-chef/go.mod
  vendor/github.com/chef/go-chef/go.sum
  vendor/github.com/chef/go-chef/group.go
  vendor/github.com/chef/go-chef/http.go
  vendor/github.com/chef/go-chef/license.go
  vendor/github.com/chef/go-chef/release.go
  vendor/github.com/chef/go-chef/run_list_item.go
  vendor/github.com/chef/go-chef/sandbox.go
  vendor/github.com/chef/go-chef/search.go
  vendor/github.com/chef/go-chef/status.go
  vendor/github.com/chef/go-chef/universe.go
  vendor/github.com/chef/go-chef/updated_since.go
  vendor/github.com/chef/go-chef/user.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/modules.txt
Labels: automate-infra-proxy, documentation
