Repository chef/automate, pull requests merged in 2020-05, with the labels that each got.

#3552 [automate-ui] Reinstate some meta-unit tests
  components/automate-ui/src/app/components/sidebar/sidebar.component.spec.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/pages/compliance-landing/compliance-landing.component.ts
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
Labels: auth-team, automate-ui, bug 🐛, emergent, ui

#3550 [infra-proxy-service] Update infra views policies action
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  components/authz-service/storage/postgres/migration/sql/77_update_infra_service_policies.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
Labels: automate-auth, automate-infra-proxy

#3561 Add legacy token to ingest policy
  components/authn-service/server/server.go
Labels: auth-team

#3551 #3331: remove '*' from non legacy policies' resources in ui
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/entities/policies/policy.model.spec.ts
  components/automate-ui/src/app/entities/policies/policy.model.ts
  components/automate-ui/src/app/modules/policy/details/policy-details.component.ts
Labels: auth-team, automate-ui

#3577 automate-ui/sidebar: exclude flakey test
  components/automate-ui/src/app/components/sidebar/sidebar.component.spec.ts
Labels: auth-team, automate-ui, emergent

#3562 [Automate-3537] Sequence addPolicyMembers from createToken
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.spec.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
Labels: auth-team, automate-auth, automate-ui, ui

#3565 [automate-2699] deflake team add users
  e2e/cypress/integration/ui/settings/team_add_users.spec.ts
Labels: auth-team, cypress

#3491 Wrap notifications to pin at top
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/notification/notification.component.html
  components/automate-ui/src/app/components/notification/notification.component.scss
  components/automate-ui/src/app/components/notification/notification.component.spec.ts
  components/automate-ui/src/app/components/notification/notification.component.ts
  components/automate-ui/src/app/components/notifications/notifications.component.html
  components/automate-ui/src/app/components/notifications/notifications.component.scss
  components/automate-ui/src/app/components/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/components/notifications/notifications.component.ts
  components/automate-ui/src/app/modules/license/license-notifications/license-notifications.component.html
  components/automate-ui/src/app/modules/license/license-notifications/license-notifications.component.spec.ts
  components/automate-ui/src/app/modules/license/license.module.ts
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/ui.component.html
  components/automate-ui/src/styles.scss
  components/chef-ui-library/src/molecules/chef-notification/chef-notification.scss
  components/chef-ui-library/src/molecules/chef-notification/chef-notification.tsx
  e2e/cypress/integration/ui/settings/project_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/team_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/token_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/user_mgmt.spec.ts
Labels: automate-ui, ui

#3580 adding back in iam v2 role content
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/roles.md
Labels: auth-team, documentation

#3581 add docs for assigning policy on token creation
  components/automate-chef-io/content/docs/api-tokens.md
Labels: auth-team, documentation

#3582 Fixing InSpec e2e flaky test
  inspec/a2-api-integration/files/fixtures/converge/converge-failure-report_with_ignored_failure_run_converge.json
Labels: InSpec E2E tests

#3574 [automate-3510 amendment] Correct leaky subscription
  components/automate-ui/src/app/modules/nodes/nodes-list/nodes-list.component.ts
Labels: bug 🐛, one node view

#3543 Adding new desktop node and run fields
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  api/interservice/cfgmgmt/response/nodes.pb.go
  api/interservice/cfgmgmt/response/nodes.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/parameters.go
  components/config-mgmt-service/grpcserver/nodes.go
  components/config-mgmt-service/grpcserver/response_conversion.go
  components/config-mgmt-service/integration_test/nodes_test.go
  components/config-mgmt-service/params/parameters.go
  components/ingest-service/backend/chef_client_run.go
  components/ingest-service/backend/chef_client_run_test.go
  components/ingest-service/backend/converge.go
  components/ingest-service/backend/elastic/mappings/converge.go
  components/ingest-service/backend/elastic/mappings/node_state.go
  components/ingest-service/examples/chef_client_run.json
  inspec/a2-api-integration/controls/cfgmgmt.rb
Labels: desktop

#3603 make the label better
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.html
Labels: automate-ui, ui

#3356 Infra View Cookbook Details
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.actions.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.effects.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.model.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.reducer.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.requests.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.selectors.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.actions.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.effects.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.model.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.reducer.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.requests.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.selectors.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook.actions.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook.effects.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook.reducer.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook.requests.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-infra-proxy, automate-ui, ui

#3586 Adding date filter to GetNodesCounts API
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/stats.pb.go
  api/external/cfgmgmt/request/stats.proto
  api/interservice/cfgmgmt/request/stats.pb.go
  api/interservice/cfgmgmt/request/stats.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/nodes.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/backend/mock/mock_test.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/integration_test/stats_nodes_counts_test.go
  e2e/cypress/integration/api/cfg-mgmt/missing_node_duration_counts.spec.ts
  e2e/cypress/integration/api/cfg-mgmt/node_counts.spec.ts
Labels: config-mgmt-service, desktop

#3566 Remove v1 teams API and move v2 into base namespace
  api/interservice/teams/teams.pb.go
  api/interservice/teams/teams.pb.mock.go
  api/interservice/teams/teams.pb.validate.go
  api/interservice/teams/teams.proto
  api/interservice/teams/teams_test.go
  api/interservice/teams/v1/teams.pb.go
  api/interservice/teams/v1/teams.pb.mock.go
  api/interservice/teams/v1/teams.pb.validate.go
  api/interservice/teams/v1/teams.proto
  components/authn-service/server/server.go
  components/authn-service/server/server_test.go
  components/automate-deployment/pkg/usermgmt/client/client.go
  components/automate-deployment/pkg/usermgmt/client/client_test.go
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway_mocks/mock_gateway/clients_mock.go
  components/automate-gateway/handler/iam/v2/teams/teams.go
  components/automate-gateway/pkg/nullbackend/backend.go
  components/local-user-service/server/grpc.go
  components/local-user-service/server/grpc_test.go
  components/local-user-service/server/server.go
  components/local-user-service/server/server_test.go
  components/teams-service/server/server.go
  components/teams-service/server/team.go
  components/teams-service/server/team_test.go
Labels: auth-team

#3599 On project list fetch, remove any projects that no longer exist
  components/automate-deployment/pkg/usermgmt/client/client_test.go
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.service.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#3588 [automate-3385 followup] Simplify projects
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/team/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.spec.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.ts
Labels: auth-team, automate-auth, automate-ui, chore, emergent, ui

#3600 add a1 legacy token integration test
  .expeditor/nightly.pipeline.yml
  integration/tests/a1_legacy_token.sh
  integration/tests/backup_repo_permissions.sh
Labels: auth-team

#3614 automate-{gateway,load-balancer} integration: add test for /api/v0/status
  .studio/automate-gateway
  .studio/automate-load-balancer
Labels: auth-team, chore, emergent

#3604 notifications slack integration broken image fix
  components/notifications-service/server/lib/formatters/slack.compliance.ex
  components/notifications-service/server/lib/formatters/slack.ex
  components/notifications-service/server/test/formatters/slack.compliance_test.exs
  components/notifications-service/server/test/formatters/slack_test.exs
Labels: bug 🐛, notifications

#3579 goodbye iam v1 👋
  components/automate-chef-io/content/docs/iam-v1-overview.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
Labels: auth-team, documentation

#3569 add a blurb about waivers to compliance reports docs
  components/automate-chef-io/content/docs/reports.md
Labels: documentation

#3518 Light up an additional typescript template check
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/policy/details/policy-details.component.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
  components/automate-ui/src/app/modules/user/user-table/user-table.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.ts
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/types/material-types.ts
  components/automate-ui/tsconfig.json
Labels: automate-ui, chore, ui

#3623 Change compliance:*:export to list
  components/automate-gateway/gateway/services.go
  inspec/a2-iam-no-legacy-integration/controls/chef_managed_access.rb
Labels: auth-team, bug 🐛, customer-reported, emergent

#3634 automate_load_balancer_integration: install core/jq-static if missing
  .studio/automate-load-balancer
Labels: bug 🐛

#3619 Dan/add pg to cfg mgmt
  .bldr.toml
  components/automate-deployment/pkg/assets/binds.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/automate-platform-tools/.gitignore
  components/config-mgmt-service/backend/postgres/db.go
  components/config-mgmt-service/backend/postgres/schema/sql/01_noop.up.sql
  components/config-mgmt-service/config/service.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/habitat/config/config.toml
  components/config-mgmt-service/habitat/default.toml
  components/config-mgmt-service/habitat/hooks/run
  components/config-mgmt-service/habitat/plan.sh
  components/config-mgmt-service/package.meta
  components/config-mgmt-service/server/server.go
Labels: config-mgmt-service

#3617 [Automate-1044] Permission-based routing for top nav bar
  components/automate-chef-io/content/docs/event-feed.md
  components/automate-chef-io/content/docs/iam-actions.md
  components/automate-ui/Makefile
  components/automate-ui/e2e/app.e2e-spec.ts
  components/automate-ui/e2e/signin.e2e-spec.ts
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/components/authorized/authorized.component.ts
  components/automate-ui/src/app/components/landing/landing.component.spec.ts
  components/automate-ui/src/app/components/landing/landing.component.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/compliance-landing/compliance-landing.component.ts
  components/automate-ui/src/app/pages/event-feed/event-feed.component.html
  components/automate-ui/src/app/pages/event-feed/event-feed.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.ts
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
  components/automate-ui/src/app/pages/top-nav-landing/top-nav-landing.component.html
  components/automate-ui/src/app/pages/top-nav-landing/top-nav-landing.component.scss
  components/automate-ui/src/app/pages/top-nav-landing/top-nav-landing.component.spec.ts
  components/automate-ui/src/app/pages/top-nav-landing/top-nav-landing.component.ts
  components/automate-ui/src/styles.scss
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.scss
  components/release-mgmt-dashboard/src/styles.css
Labels: auth-team, automate-auth, automate-ui, documentation, ui

#3632 [infra-proxy-service] Add DeleteRole API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy

#3641 Update date in Event Feed label to include UTC
  components/automate-ui/src/app/helpers/datetime/datetime.ts
Labels: automate-ui, bug 🐛, customer-reported, ui

#3613 Updated Infra server and org modal UI to construct human readable Id
  components/automate-ui/src/app/entities/orgs/org.actions.ts
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/entities/servers/server.actions.ts
  components/automate-ui/src/app/entities/servers/server.model.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.ts
  tools/credscan/credscan.go
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, automate-infra-proxy, automate-ui, ui

#3431 [infra-proxy-service] chef infra servers & organization human readable ids
  .bldr.toml
  .studio/infra-proxy-service
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/orgs.pb.go
  api/external/infra_proxy/request/orgs.proto
  api/external/infra_proxy/request/policyfiles.pb.go
  api/external/infra_proxy/request/policyfiles.proto
  api/external/infra_proxy/request/servers.pb.go
  api/external/infra_proxy/request/servers.proto
  api/external/infra_proxy/response/servers.pb.go
  api/external/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/request/orgs.pb.go
  api/interservice/infra_proxy/request/orgs.proto
  api/interservice/infra_proxy/request/servers.pb.go
  api/interservice/infra_proxy/request/servers.proto
  api/interservice/infra_proxy/response/servers.pb.go
  api/interservice/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/clients.go
  components/automate-gateway/handler/infra_proxy/cookbooks.go
  components/automate-gateway/handler/infra_proxy/databags.go
  components/automate-gateway/handler/infra_proxy/environments.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/automate-gateway/handler/infra_proxy/orgs.go
  components/automate-gateway/handler/infra_proxy/policyfiles.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/automate-gateway/handler/infra_proxy/servers.go
  components/infra-proxy-service/server/clients.go
  components/infra-proxy-service/server/cookbooks.go
  components/infra-proxy-service/server/databags.go
  components/infra-proxy-service/server/environments.go
  components/infra-proxy-service/server/nodes.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/policyfiles.go
  components/infra-proxy-service/server/proxy.go
  components/infra-proxy-service/server/roles.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/server/servers_test.go
  components/infra-proxy-service/service/service.go
  components/infra-proxy-service/storage/postgres/migration/sql/04_convert_table_to_human_readable_ids.up.sql
  components/infra-proxy-service/storage/postgres/migration/sql/README.md
  components/infra-proxy-service/storage/postgres/orgs.go
  components/infra-proxy-service/storage/postgres/servers.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy

#3644 Reopen #3631 [infra-proxy-service] Add Delete data bag and data bag item APIs
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/databags.pb.go
  api/external/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/response/databags.pb.go
  api/interservice/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/databags.go
  components/infra-proxy-service/server/databags.go
Labels: automate-infra-proxy

#3616 Automate infra views ui changes
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#3650 Remove Uppercase pipe and increase font size
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/chef-ui-library/package-lock.json
  components/chef-ui-library/src/atoms/chef-badge/chef-badge.scss
Labels: bug 🐛

#3647 Add carbon grid system
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/styles.scss
Labels: automate-ui, ui

#3628 IAM v2 misc cleanup
  .studio/automate-gateway
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/response/nodes.pb.go
  api/external/cfgmgmt/response/nodes.proto
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  api/external/nodes/nodes.pb.go
  api/external/nodes/nodes.proto
  api/external/nodes/nodes.swagger.json
  components/authz-service/server/authz.go
  components/automate-chef-io/data/docs/cli_chef_automate/commands/chef-automate_iam_token_create.yaml
  components/automate-cli/cmd/chef-automate/dev.go
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/iam/v2/pairs/pairs_test.go
  components/automate-gateway/api/nodes.pb.swagger.go
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway/middleware/authz/authz.go
  components/automate-gateway/handler/iam/v2/users/users.go
Labels: auth-team, automate-auth, chore, emergent

#3655 Restore correct https protocol
  components/chef-ui-library/package-lock.json
Labels: chef-ui-library, chore, ui

#3645 Changes for scan jobs consistency fixes
  components/automate-ui/src/app/entities/nodes/nodes.model.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.scss
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.scss
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/scanner/scanner.component.html
Labels: automate-ui, ui

#3652 Fix logic error that prevented multi-select dropdowns from closing properly
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.ts
Labels: auth-team, automate-ui, bug 🐛, ui

#3666 Fixed for create user model username input is exposed but it should be hidden
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.ts
Labels: auth-team, automate-ui, ui

#3635 API Docs Improvements
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/nodes.pb.go
  api/external/cfgmgmt/request/nodes.proto
  api/external/cfgmgmt/request/stats.pb.go
  api/external/cfgmgmt/request/stats.proto
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  api/external/nodes/nodes.pb.go
  api/external/nodes/nodes.proto
  api/external/nodes/nodes.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/nodes.swagger.json
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/nodes.pb.swagger.go
  components/automate-gateway/api/reporting.pb.swagger.go
Labels: documentation

#3665 Map outgoing and incoming data to opposite inputs in client runs
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.spec.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
Labels: automate-ui, bug 🐛, customer-reported, ui

#3661 [infra-proxy-service] Add ResetOrgAdminKey API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/orgs.pb.go
  api/external/infra_proxy/request/orgs.proto
  api/external/infra_proxy/response/orgs.pb.go
  api/external/infra_proxy/response/orgs.proto
  api/interservice/infra_proxy/request/orgs.pb.go
  api/interservice/infra_proxy/request/orgs.proto
  api/interservice/infra_proxy/response/orgs.pb.go
  api/interservice/infra_proxy/response/orgs.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/orgs.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
Labels: automate-infra-proxy

#3654 Tweak navbar and sidebar styles to handle smaller viewports
  components/automate-ui/.sass-lint.yml
  components/automate-ui/src/app/components/sidebar-entry/sidebar-entry.component.html
  components/automate-ui/src/app/components/sidebar-entry/sidebar-entry.component.scss
  components/automate-ui/src/app/components/sidebar-entry/sidebar-entry.component.ts
  components/automate-ui/src/app/components/sidebar/sidebar.component.html
  components/automate-ui/src/app/components/sidebar/sidebar.component.scss
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.scss
  components/automate-ui/src/app/page-components/profile/profile.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
  components/automate-ui/src/styles.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-ui, ui

#3684 ci: fix nightly a1 legacy token test
  integration/tests/a1_legacy_token.sh
Labels: auth-team, emergent

#3591 Fixed the delete last token from API token table list
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.scss
Labels: automate-ui, bug 🐛, ui

#3662 Automate infra views roles UI changes
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/tree-table/component/tree-table.component.html
  components/automate-ui/src/app/modules/infra-proxy/tree-table/component/tree-table.component.scss
  components/automate-ui/src/app/modules/infra-proxy/tree-table/component/tree-table.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#3678 incorporated review comment for #3666
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.ts
Labels: automate-ui, ui

#3671 Data Bags tab in infra view
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.action.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.model.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.requests.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-infra-proxy, automate-ui, ui

#3667 Custom icon added for Chef Server in left side nav
  components/automate-ui/src/app/components/sidebar-entry/sidebar-entry.component.html
  components/automate-ui/src/app/components/sidebar-entry/sidebar-entry.component.ts
  components/automate-ui/src/app/components/sidebar/sidebar.component.html
  components/automate-ui/src/app/components/sidebar/sidebar.component.scss
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/layout/layout.model.ts
  components/automate-ui/src/styles.scss
Labels: automate-infra-proxy, automate-ui, ui

#3694 fixed for notification delete modal
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.ts
Labels: automate-ui, ui

#3664 Automate-3144 API compliance reports node filters
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/suggestions.service.spec.ts
Labels: automate-ui, ui

#3633 auth: filter SAML groups
  api/config/dex/config_request.pb.go
  api/config/dex/config_request.proto
  api/config/dex/config_request_test.go
  api/config/shared/config_test.go
  components/automate-chef-io/content/docs/saml.md
  components/automate-dex/habitat/plan.sh
  components/automate-dex/habitat/templates/config.yml
  components/automate-dex/web/templates/login.html
  components/automate-dex/web/templates/password.html
Labels: auth-team, customer-reported, documentation

#3693 remove frontend validation for data feed urls
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/pages/create-data-feed-modal/create-data-feed-modal.component.html
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.html
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.ts
Labels: HIGH PRIORITY, automate-ui, bug 🐛, customer-reported, ui

#3670 Updates to desktop dashboard grid layout
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.html
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.scss
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.scss
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.scss
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.html
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.scss
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.ts
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/modules/desktop/insight/insight.component.html
  components/automate-ui/src/app/modules/desktop/insight/insight.component.scss
  components/automate-ui/src/app/modules/desktop/insight/insight.component.ts
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.html
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.scss
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.ts
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.html
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.scss
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.scss
Labels: automate-ui, desktop, ui

#3687 Display Menus over notifications and table cell wrapping cleanup
  components/automate-ui/src/app/components/table/table-cell/table-cell.component.scss
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.scss
  components/automate-ui/src/styles.scss
Labels: automate-ui, bug 🐛, ui

#3699 Desktop View: Change Tracking: Create and List Rollouts
  .bldr.toml
  .expeditor/verify_private.pipeline.yml
  .studio/config-mgmt-service
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.pb.gw.go
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/rollouts.pb.go
  api/external/cfgmgmt/request/rollouts.proto
  api/external/cfgmgmt/response/rollouts.pb.go
  api/external/cfgmgmt/response/rollouts.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/postgres/db.go
  components/config-mgmt-service/backend/postgres/rollouts.go
  components/config-mgmt-service/backend/postgres/schema/sql/01_noop.up.sql
  components/config-mgmt-service/backend/postgres/schema/sql/02_add_rollouts.up.sql
  components/config-mgmt-service/backend/postgres/test_helpers.go
  components/config-mgmt-service/grpcserver/cfg_mgmt.go
  components/config-mgmt-service/grpcserver/rollouts.go
  components/config-mgmt-service/integration_test/global_test.go
  components/config-mgmt-service/integration_test/rollout_test.go
  components/config-mgmt-service/integration_test/suite_test.go
Labels: config-mgmt-service, desktop

#3690 automate-gateway: disallow unknown fields (with exceptions)
  .studio/automate-gateway
  .studiorc
  components/automate-gateway/api/iam/v2/request/rules.pb.go
  components/automate-gateway/api/iam/v2/request/rules.proto
  components/automate-gateway/api/iam/v2/rules.swagger.json
  components/automate-gateway/api/iam_v2_rules.pb.swagger.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
  e2e/cypress/integration/api/iam/iam_integration.spec.ts
  inspec/a2-api-integration/controls/iam/iam_apis.rb
  inspec/a2-api-integration/controls/iam/project_filtering.rb
  inspec/a2-iam-legacy-integration/controls/legacy_access.rb
Labels: auth-team, emergent

#3592 [infra-proxy-service] Auto populate terraform deployed chef servers.
  terraform/test-environments/modules/chef_automate_install/templates/install_chef_automate_cli.sh.tpl
Labels: automate-infra-proxy

#3718 Apps tab: Correctly support 64bit IDs in all the code
  .expeditor/verify_private.pipeline.yml
  .studio/applications-service
  components/applications-service/pkg/storage/client.go
  components/applications-service/pkg/storage/postgres/services.go
Labels: eas

#3669 Add clarification to lifecycle docs
  components/automate-chef-io/content/docs/data-lifecycle.md
Labels: documentation

#3722 Removing Automate Compliance Profiles for Desktop Installs
  api/config/compliance/config_request.go
  api/config/compliance/config_request.pb.go
  api/config/compliance/config_request.proto
  components/compliance-service/habitat/default.toml
  components/compliance-service/habitat/hooks/run
  dev/config.toml
Labels: compliance profiles, desktop

#3731 [infra-proxy-service] Update terraform server_id missing variable.
  terraform/test-environments/modules/chef_automate_install/templates/install_chef_automate_cli.sh.tpl
Labels: automate-infra-proxy

#3658 Automate infraview ui changes
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
Labels: automate-infra-proxy, automate-ui, ui

#3698 [automate-2700] stabilize team_mgmt cypress tests
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  e2e/cypress/integration/ui/settings/team_mgmt.spec.ts
  e2e/cypress/support/commands.ts
Labels: auth-team, automate-ui, cypress, ui

#3696 Desktop turn off missing and delete job schedulers
  api/config/ingest/config_request.go
  api/config/ingest/config_request.pb.go
  api/config/ingest/config_request.proto
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/config/old_job_config.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/habitat/hooks/run
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/server/jobs.go
  components/ingest-service/serveropts/serveropts.go
Labels: desktop, ingest-service

#3598 Jamie/19 new line graph
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.html
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/page-components/simple-line-graph/simple-line-graph.component.html
  components/automate-ui/src/app/page-components/simple-line-graph/simple-line-graph.component.scss
  components/automate-ui/src/app/page-components/simple-line-graph/simple-line-graph.component.spec.ts
  components/automate-ui/src/app/page-components/simple-line-graph/simple-line-graph.component.ts
  components/automate-ui/src/styles/_variables.scss
Labels: automate-ui, ui

#3727 Ensure sidebar entries receive icon rotation
  components/automate-ui/src/app/components/sidebar/sidebar.component.html
Labels: automate-ui, bug 🐛, ui

#3712 Automate 3533/multiple dropdowns
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.html
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.spec.ts
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#3720 [infra-proxy-service] Add Environment delete API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/environments.go
  components/infra-proxy-service/server/environments.go
Labels: automate-infra-proxy

#3753 Fixing a bug that the dev environment defaults to Desktop mode
  dev/config.toml
Labels: bug 🐛

#3713 [infra-proxy-service] Add DataBag Create API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/databags.pb.go
  api/external/infra_proxy/request/databags.proto
  api/external/infra_proxy/response/databags.pb.go
  api/external/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/request/databags.pb.go
  api/interservice/infra_proxy/request/databags.proto
  api/interservice/infra_proxy/response/databags.pb.go
  api/interservice/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/databags.go
  components/infra-proxy-service/server/databags.go
Labels: automate-infra-proxy

#3732 [infra-proxy-service] Uniform Orgs API responses
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/orgs.pb.go
  api/external/infra_proxy/response/orgs.proto
  api/interservice/infra_proxy/response/orgs.pb.go
  api/interservice/infra_proxy/response/orgs.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/orgs.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/storage/postgres/orgs.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy

#3739 single_local_all_inplace_upgrade: remove SAML flag
  terraform/test-environments/scenarios/single_local_all_inplace_upgrade.tf
Labels: auth-team, chore

#3752 compliance profiles: accept application/json+lax header
  components/automate-gateway/gateway/services.go
  components/compliance-service/api/profiles/server/pgserver.go
Labels: bug 🐛

#3742 fixed lock scrolling when page loading
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.scss
Labels: automate-ui, ui

#3757 #3756 never skip the report if there is no infra data
  components/data-feed-service/service/data-feed-aggregate-task.go
  components/data-feed-service/service/data-feed-service.go
Labels: bug 🐛, data-feed

#3760 Updating the habitat studio command to load Desktop Fake Data
  .studio/ingest-service
Labels: desktop

#3721 Desktop deployment UI
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.spec.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.ts
  components/automate-ui/src/app/pages/top-nav-landing/top-nav-landing.component.spec.ts
  components/automate-ui/src/app/pages/top-nav-landing/top-nav-landing.component.ts
  components/automate-ui/src/app/services/product-deployed/product-deployed.service.ts
Labels: automate-ui, desktop, ui

#3770 Desktop: Disable the mark node missing and delete missing node controls
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.spec.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
Labels: automate-ui, desktop, ui

#3767 Fixed words not wrapping when exceeding the max width
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
Labels: automate-ui, ui

#3763 add cypress api test for installing profile
  e2e/cypress/integration/api/profiles/profiles.spec.ts
Labels: cypress

#3768 [automate-2700] team_mgmt bonus test
  components/automate-ui/src/app/modules/team/team-management/team-management.component.html
  e2e/cypress/integration/ui/settings/team_mgmt.spec.ts
Labels: auth-team, cypress

#3775 Create a server that has Desktop installed
  terraform/test-environments/modules/chef_automate_install/main.tf
  terraform/test-environments/modules/chef_automate_install/variables.tf
  terraform/test-environments/scenarios/single_local_desktop_fresh_install.tf
Labels: desktop

#3789 [Infra Views Read/Write] Add create Role API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/roles.pb.go
  api/external/infra_proxy/request/roles.proto
  api/interservice/infra_proxy/request/roles.pb.go
  api/interservice/infra_proxy/request/roles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy

#3787 [infra-proxy-service] formalise chef server error response to user-readable message.
  components/infra-proxy-service/server/clients.go
  components/infra-proxy-service/server/cookbooks.go
  components/infra-proxy-service/server/databags.go
  components/infra-proxy-service/server/environments.go
  components/infra-proxy-service/server/nodes.go
  components/infra-proxy-service/server/policyfiles.go
  components/infra-proxy-service/server/proxy.go
  components/infra-proxy-service/server/roles.go
  go.mod
  go.sum
  vendor/github.com/go-chef/chef/http.go
  vendor/github.com/go-chef/chef/reader.go
  vendor/github.com/go-chef/chef/search.go
  vendor/modules.txt
Labels: automate-infra-proxy

#3796 Fix bad link
  components/automate-chef-io/content/docs/airgapped-installation.md
  components/automate-chef-io/content/docs/install.md
Labels: documentation

#3784 Chef servers list fix
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.ts
Labels: automate-infra-proxy, automate-ui, bug 🐛, ui

#3649 Keyboard control updates to ChefPhatRadio and ChefStatusFilterGroup elements
  components/automate-ui/src/app/page-components/attributes/attributes.component.html
  components/automate-ui/src/app/page-components/attributes/attributes.component.scss
  components/automate-ui/src/app/page-components/resources/resources.component.html
  components/automate-ui/src/app/page-components/resources/resources.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
  components/chef-ui-library/src/molecules/chef-phat-radio/chef-phat-radio.tsx
  components/chef-ui-library/src/molecules/chef-status-filter-group/chef-status-filter-group.tsx
Labels: a11y, automate-ui, bug 🐛, ui

#3804 Client Runs Delete check boxes not showing up.
  components/automate-ui/src/app/page-components/deletable-node-control/deletable-node-control.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  e2e/cypress/integration/ui/client-runs/delete_missing_node.spec.ts
Labels: automate-ui, bug 🐛, customer-reported, ui

#3792 Allow tooltips to be configured for interaction
  components/chef-ui-library/src/atoms/chef-tooltip/chef-tooltip.scss
  components/chef-ui-library/src/atoms/chef-tooltip/chef-tooltip.tsx
Labels: automate-ui, chef-ui-library, ui

#3751 Update chef-phat-radio to take optional canDeselect attribute
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/chef-ui-library/src/molecules/chef-phat-radio/chef-phat-radio.e2e.tsx
  components/chef-ui-library/src/molecules/chef-phat-radio/chef-phat-radio.tsx
Labels: automate-ui, desktop, ui

#3765 Jamie/3744 desktop attributes dropdown
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/modules/desktop/insight/insight.component.html
  components/automate-ui/src/app/modules/desktop/insight/insight.component.scss
  components/automate-ui/src/app/modules/desktop/insight/insight.component.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.html
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.scss
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.spec.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.model.ts
  components/automate-ui/src/styles/_variables.scss
Labels: automate-ui, desktop, ui

#3822 Ensure simple-line-graph styles remain scoped
  components/automate-ui/src/app/page-components/simple-line-graph/simple-line-graph.component.html
  components/automate-ui/src/app/page-components/simple-line-graph/simple-line-graph.component.scss
Labels: automate-ui, desktop, ui

#3811 Remove extra images, reword some text, recrop images
  components/automate-chef-io/content/docs/node-integrations.md
  components/automate-chef-io/static/images/docs/add-gcp-api-scanjob.png
  components/automate-chef-io/static/images/docs/create-aws-api-scanjob.png
  components/automate-chef-io/static/images/docs/create-aws-ec2-scanjob.png
  components/automate-chef-io/static/images/docs/create-azure-vm-scanjob.png
Labels: documentation

#3795 Update Run History Download
  components/automate-ui/src/app/page-components/run-history/run-history.component.html
  components/automate-ui/src/app/page-components/run-history/run-history.component.scss
  components/automate-ui/src/app/pages/node-details/node-details.component.html
  components/config-mgmt-service/grpcserver/report_export.go
Labels: automate-ui, desktop, ui

#3571 desktop docs: initial draft
  components/automate-chef-io/config.toml
  components/automate-chef-io/content/docs/desktop.md
Labels: chef-conf, documentation

#3780 Added Compliance config toml documentation
  components/automate-chef-io/content/docs/configuration.md
Labels: documentation

#3728 automate-3081 ui flicker on applications tab
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/pages/service-groups/service-groups.component.ts
Labels: automate-ui, bug 🐛, ui

#3808 automate-3459 Visualize the check-in history of individual desktop
  components/automate-ui/src/app/entities/desktop/desktop.actions.ts
  components/automate-ui/src/app/entities/desktop/desktop.effects.ts
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/entities/desktop/desktop.requests.ts
  components/automate-ui/src/app/entities/desktop/desktop.selectors.ts
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.html
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.scss
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.ts
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-ui, ui

#3774 Update HAB_BLDR_URL env var
  components/automate-chef-io/content/docs/on-prem-builder.md
Labels: documentation

#3786 [documentation] Expand upon/clarify Elasticsearch heap size config
  components/automate-chef-io/content/docs/configuration.md
Labels: documentation

#3827 make our chef automate logo acessible
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.scss
Labels: a11y, automate-ui, bug 🐛, ui

#3624 [documentation] How to add additional products to Automate
  components/automate-chef-io/content/docs/infra-server.md
  components/automate-chef-io/content/docs/on-prem-builder.md
Labels: documentation

#3773 [documentation] Describe use of `--patch-config` option during restore
  components/automate-chef-io/content/docs/backup.md
Labels: documentation

#3557 Document Buffer Size Config
  components/automate-chef-io/content/docs/configuration.md
Labels: deployment-team, documentation

#3828 Ensure notification content aligns vertically
  components/automate-ui/src/app/components/notification/notification.component.html
  components/automate-ui/src/app/components/notification/notification.component.scss
Labels: automate-ui, ui

#3701 Document max data collector requests
  components/automate-chef-io/content/docs/configuration.md
Labels: documentation

#3676 Add change origin to assist form control directive
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.spec.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
Labels: HIGH PRIORITY, automate-ui, bug 🐛, customer-reported, ui

#3736 #2762 guard add users button on team details view
  components/automate-gateway/api/iam/v2/request/teams.pb.go
  components/automate-gateway/api/iam/v2/request/teams.proto
  components/automate-gateway/api/iam/v2/teams.swagger.json
  components/automate-gateway/api/iam_v2_teams.pb.swagger.go
  components/automate-ui/src/app/components/authorized/authorized.component.spec.ts
  components/automate-ui/src/app/components/authorized/authorized.component.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/helpers/auth/authorized.ts
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.html
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.scss
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/team/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.html
  components/automate-ui/src/app/modules/user/user-table/user-table.component.html
  components/automate-ui/src/app/modules/user/user-table/user-table.component.scss
  components/automate-ui/src/app/modules/user/user-table/user-table.component.spec.ts
  components/automate-ui/src/app/modules/user/user-table/user-table.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
Labels: auth-team, automate-ui, ui

#3833 fix elasticsearch config docs
  components/automate-chef-io/content/docs/configuration.md
Labels: documentation

#3832 automate-ui: Omit<T,K> is builtin
  components/automate-ui/src/app/modules/policy/details/policy-details.component.ts
Labels: auth-team, automate-ui, chore, emergent

#3826 Periodic spellcheck
  Makefile.common_go
  api/config/elasticsearch/config_request.go
  api/config/es_sidecar/config_request.go
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/cookbooks.pb.go
  api/external/infra_proxy/response/cookbooks.proto
  api/interservice/deployment/backup.go
  api/interservice/infra_proxy/response/cookbooks.pb.go
  api/interservice/infra_proxy/response/cookbooks.proto
  components/applications-service/integration_test/services_test.go
  components/automate-cli/pkg/diagnostics/context.go
  components/automate-deployment/pkg/assets/assets.go
  components/automate-deployment/pkg/backup/artifact_repo.go
  components/automate-deployment/pkg/backup/artifact_repo_helpers_test.go
  components/automate-deployment/pkg/backup/artifact_streams.go
  components/automate-deployment/pkg/server/server.go
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/gateway/clients.go
  components/automate-ui/Makefile
  components/automate-ui/src/app/components/sidebar-entry/sidebar-entry.component.ts
  components/automate-ui/src/app/entities/destinations/destination.actions.ts
  components/automate-ui/src/app/entities/destinations/destination.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/tree-table/component/tree-table.component.html
  components/automate-ui/src/app/modules/infra-proxy/tree-table/models.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.model.ts
  components/compliance-service/api/profiles/server/pgserver.go
  components/config-mgmt-service/integration_test/node_daily_status_time_series_test.go
  components/config-mgmt-service/integration_test/suite_test.go
  components/data-feed-service/service/data-feed-poll-task.go
  cspell.json
  lib/db/open.go
  lib/io/fileutils/copy_file.go
Labels: chore, emergent

#3825 Standardize remaining "required" indicators in UI
  components/automate-ui/src/app/modules/license/license-apply/license-apply.component.html
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.html
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-form.html
Labels: auth-team, automate-auth, automate-ui, chore, emergent, ui

#3762 [automate-1882] Optionally add project teams if checkbox selected
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.scss
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/entities/teams/team.effects.ts
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  e2e/cypress/integration/ui/settings/project_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/user_mgmt.spec.ts
Labels: auth-team

#3785 Notification list page consistency changes
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.action.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.effects.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.model.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.reducer.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.requests.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.selectors.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.scss
  components/automate-ui/src/app/pages/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.ts
  components/automate-ui/src/assets/img/logo-ServiceNowAlert.png
  components/automate-ui/src/assets/img/logo-SlackAlert.png
  components/automate-ui/src/assets/img/logo-WebhookAlert.png
Labels: automate-ui, ui

#3839 remove eventfeed keyboard shortcut
  components/automate-chef-io/content/docs/event-feed.md
  components/automate-chef-io/static/images/docs/event-feed-details-header.png
  components/automate-chef-io/static/images/docs/event-feed-events.png
  components/automate-chef-io/static/images/docs/event-feed-filters-days.png
  components/automate-chef-io/static/images/docs/event-feed-filters-servers.png
  components/automate-chef-io/static/images/docs/event-feed.png
  components/automate-chef-io/static/images/docs/guitar-strings.png
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.ts
  components/automate-ui/src/app/pages/event-feed/event-feed.component.html
Labels: a11y, automate-ui, bug 🐛, ui
