Repository chef/automate, pull requests merged in 2020-06, with the labels that each got.

#3810 [Automate-3439] Add sections to the policies dropdown
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.spec.ts
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.spec.ts
  components/automate-ui/src/app/components/projects-dropdown/projects-dropdown.component.ts
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.html
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.scss
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.spec.ts
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.ts
  components/automate-ui/src/app/entities/policies/policy.model.ts
  components/automate-ui/src/app/entities/projects/project.model.ts
  components/automate-ui/tsconfig.json
Labels: auth-team, automate-auth, automate-ui, ui

#3823 [infra-proxy-service] Add Environment#create API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/environments.pb.go
  api/external/infra_proxy/request/environments.proto
  api/external/infra_proxy/response/environments.pb.go
  api/external/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/request/environments.pb.go
  api/interservice/infra_proxy/request/environments.proto
  api/interservice/infra_proxy/response/environments.pb.go
  api/interservice/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/environments.go
  components/infra-proxy-service/server/environments.go
Labels: automate-infra-proxy

#3857 [infra-proxy-service] Update Role API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/roles.pb.go
  api/external/infra_proxy/request/roles.proto
  api/interservice/infra_proxy/request/roles.pb.go
  api/interservice/infra_proxy/request/roles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy

#3755 Policy files list view tab on org details page
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.action.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.effects.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.model.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.reducer.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.requests.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-infra-proxy, automate-ui, ui

#3841 add missing labels to inputs
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.html
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.html
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/page-components/attributes/attributes.component.html
  components/automate-ui/src/app/page-components/job-nodes-form/job-nodes-form.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-form.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/reporting-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.scss
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.html
  components/automate-ui/src/app/pages/notification-form/notification-form.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
Labels: a11y, automate-ui, bug 🐛, ui

#3848 fix broken aria menu
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/page-components/profile/profile.component.html
Labels: a11y, automate-ui, bug 🐛, ui

#3847 fix too small text a11y
  components/automate-ui/src/app/page-components/delta-viewer/delta-viewer.component.scss
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.html
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.scss
  components/automate-ui/src/app/page-components/resource-item/resource-item.component.scss
  components/automate-ui/src/app/page-components/search-bar/search-bar.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
Labels: a11y, automate-ui, bug 🐛, ui

#3846 fix a11y heading issues
  components/automate-ui/src/app/page-components/run-summary/run-summary.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/job-scans-list/job-scans-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/jobs-list/jobs-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.html
  components/automate-ui/src/app/pages/service-groups/service-groups.component.scss
Labels: a11y, automate-ui, bug 🐛, ui

#3863 [CI] Remove cypress tests from deploy pipeline
  .expeditor/deploy.pipeline.yml
Labels: cypress

#3809 Desktop Compliance Profiles Page Update
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.scss
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.ts
Labels: automate-ui, compliance profiles, ui

#3859 [automate-ui] tsconfig update
  components/automate-ui/README.md
  components/automate-ui/package.json
  components/automate-ui/tsconfig.json
Labels: automate-ui, chore, emergent, ui

#3725 Allow configuring non-persistent session
  api/config/session/config_request.go
  api/config/session/config_request.pb.go
  api/config/session/config_request.proto
  components/automate-ui/src/app/page-components/welcome-modal/welcome-modal.component.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.spec.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.spec.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
  components/session-service/cmd/session-service/main.go
  components/session-service/habitat/default.toml
  components/session-service/habitat/templates/config.yml
  components/session-service/server/server.go
  components/session-service/server/server_functional_test.go
  components/session-service/server/server_test.go
Labels: automate-ui, deployment-team, ui

#3835 make sign in pages more accessible
  components/automate-dex/web/templates/login.html
  components/automate-dex/web/templates/password.html
  components/automate-dex/web/theme/styles.css
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
Labels: a11y, auth-team, bug 🐛, ui

#3845 fix some a11y color contrast issues
  components/automate-ui/src/app/page-components/attributes/attributes.component.scss
  components/automate-ui/src/app/page-components/converge-radial-graph/converge-radial-graph.component.scss
  components/automate-ui/src/app/page-components/deletable-node-control/deletable-node-control.component.html
  components/automate-ui/src/app/page-components/delta-viewer/delta-viewer.component.scss
  components/automate-ui/src/app/page-components/json-tree/json-tree.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-status/overview-status.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-status/overview-status.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.scss
  components/automate-ui/src/styles/_colors.scss
  components/chef-ui-library/src/atoms/chef-checkbox/chef-checkbox.scss
  components/chef-ui-library/src/global/variables.css
Labels: a11y, automate-ui, bug 🐛, ui

#3540 [infra-proxy-service] Add validation for servers & orgs
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.proto
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/validation/error.go
  components/infra-proxy-service/validation/rules.go
  components/infra-proxy-service/validation/validation.go
  vendor/google.golang.org/genproto/googleapis/rpc/errdetails/error_details.pb.go
  vendor/modules.txt
Labels: automate-infra-proxy

#3866 [infra-proxy-service] Add Environment#update API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/environments.pb.go
  api/external/infra_proxy/request/environments.proto
  api/interservice/infra_proxy/request/environments.pb.go
  api/interservice/infra_proxy/request/environments.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/environments.go
  components/infra-proxy-service/server/databags.go
  components/infra-proxy-service/server/environments.go
  components/infra-proxy-service/server/proxy.go
Labels: automate-infra-proxy, documentation

#3733 Infra view organisations and projects mapping
  components/automate-ui/src/app/entities/orgs/org.model.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.scss
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#3878 Infra project org mapping build issue fix
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#3875 [Automate-3869] filter box formatting fix
  components/automate-ui/src/app/components/resource-dropdown/resource-dropdown.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#3877 Apps Tab: Filter Bar APIs Bug Bonanza
  .studio/applications-service
  components/applications-service/pkg/storage/postgres/service_groups.go
  components/applications-service/pkg/storage/postgres/service_internal_test.go
  components/applications-service/pkg/storage/postgres/services.go
Labels: bug 🐛, customer-reported, eas

#3881 Notifications service compliance update
  components/notifications-client/builder/compliance.go
  components/notifications-client/builder/compliance_test.go
  components/notifications-client/builder/testdata/inspec-removed-controls-failure.json
  components/notifications-service/server/lib/formatters/slack.compliance.ex
  components/notifications-service/server/test/formatters/slack.compliance_test.exs
Labels: notifications

#3871 [infra-proxy-service] Add Data bag item update API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/databags.pb.go
  api/external/infra_proxy/request/databags.proto
  api/external/infra_proxy/response/databags.pb.go
  api/external/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/request/databags.pb.go
  api/interservice/infra_proxy/request/databags.proto
  api/interservice/infra_proxy/response/databags.pb.go
  api/interservice/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/databags.go
  components/infra-proxy-service/server/databags.go
  components/infra-proxy-service/server/proxy.go
Labels: automate-infra-proxy

#3885 Treat UI lint warnings as errors
  components/automate-ui/package.json
  components/automate-ui/scripts/build.sh
  components/automate-ui/scripts/unit-tests.sh
Labels: automate-ui, chore, ui

#3880 Wallaby Configuration Update
  components/automate-ui/src/test.ts
  components/automate-ui/src/wallabyTest.ts
  components/automate-ui/wallaby.js
Labels: chore, ui

#3887 Keep CCR status in node-state regardless of missing-ness
  components/ingest-service/backend/chef_client_run.go
  components/ingest-service/backend/chef_client_run_test.go
  components/ingest-service/backend/converge.go
  components/ingest-service/backend/elastic/mappings/node_state.go
  components/ingest-service/test/chef_run_node_state.js
Labels: ingest-service

#3888 Creating a new service called automate-cds
  .bldr.toml
  HABITAT_PACKAGES
  api/config/cds/config_request.go
  api/config/cds/config_request.pb.a2svc.go
  api/config/cds/config_request.pb.go
  api/config/cds/config_request.proto
  api/config/deployment/automate_config.pb.a2svc.go
  api/config/deployment/automate_config.pb.go
  api/config/deployment/automate_config.proto
  api/interservice/cds/service/cds.pb.go
  api/interservice/cds/service/cds.proto
  components/automate-cds/cmd/automate-cds/automate-cds.go
  components/automate-cds/cmd/automate-cds/commands/root.go
  components/automate-cds/cmd/automate-cds/commands/serve.go
  components/automate-cds/habitat/config/config.toml
  components/automate-cds/habitat/default.toml
  components/automate-cds/habitat/hooks/health-check
  components/automate-cds/habitat/hooks/run
  components/automate-cds/habitat/plan.sh
  components/automate-cds/package.meta
  components/automate-cds/server/root.go
  components/automate-cds/server/server.go
  components/automate-cds/service/service.go
  components/automate-deployment/pkg/assets/binds.go
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  products.meta
Labels: cds

#3907 Fix rendering of license form
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.scss
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#3919 automate-ui/role-details: pretty role JSON in "Copy Definition"
  components/automate-ui/src/app/modules/roles/details/role-details.component.ts
Labels: auth-team, automate-ui, bug 🐛

#3882 Add APIs to show the progress of policyfile code rollouts
  .studio/config-mgmt-service
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.pb.gw.go
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/rollouts.pb.go
  api/external/cfgmgmt/request/rollouts.proto
  api/external/cfgmgmt/response/rollouts.pb.go
  api/external/cfgmgmt/response/rollouts.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/backend/client.go
  components/config-mgmt-service/backend/elastic/node_segment_rollouts.go
  components/config-mgmt-service/backend/mock/mock.go
  components/config-mgmt-service/backend/postgres/node_segments.go
  components/config-mgmt-service/backend/postgres/rollouts.go
  components/config-mgmt-service/grpcserver/rollouts.go
  components/config-mgmt-service/integration_test/rollout_progress_test.go
Labels: config-mgmt-service, desktop

#3929 Cleanup abandoned a2 instances nightly
  .expeditor/cleanup-abandoned-a2-instances.sh
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3921 Adds persistence config to docs
  components/automate-chef-io/content/docs/configuration.md
Labels: documentation

#3692 Reset admin key
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/orgs/org.model.ts
  components/automate-ui/src/app/entities/reset-admin-key/reset-admin-key.actions.ts
  components/automate-ui/src/app/entities/reset-admin-key/reset-admin-key.effects.ts
  components/automate-ui/src/app/entities/reset-admin-key/reset-admin-key.model.ts
  components/automate-ui/src/app/entities/reset-admin-key/reset-admin-key.reducer.ts
  components/automate-ui/src/app/entities/reset-admin-key/reset-admin-key.requests.ts
  components/automate-ui/src/app/entities/reset-admin-key/reset-admin-key.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.scss
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  tools/credscan/credscan.go
Labels: automate-infra-proxy, automate-ui, ui

#3892 Infra view data bags details page
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.actions.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.selector.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-item-details.actions.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-item-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-item-details.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-item-details.selector.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.actions.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.model.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.requests.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-infra-proxy, automate-ui, ui

#3938 Desktop UI Download individual desktop historical data as JSON or CSV…
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.html
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.scss
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.ts
Labels: automate-ui, desktop, ui

#3894 Jamie/3745 desktop question mark tooltips
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.html
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.scss
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.spec.ts
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.scss
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.spec.ts
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.html
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.scss
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.spec.ts
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.html
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.scss
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.spec.ts
Labels: automate-ui, desktop, ui

#3838 Jamie/3744 extra fixes
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/modules/desktop/insight/insight.component.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.html
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.scss
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.spec.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.model.ts
Labels: automate-ui, desktop, ui

#3944 Fix error banner appearing for non-local users on login
  components/automate-ui/src/app/entities/users/userself.effects.ts
  components/automate-ui/src/app/pages/signin/signin.component.spec.ts
  components/automate-ui/src/app/pages/signin/signin.component.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/automate-ui/src/app/testing/mock-chef-session.service.ts
Labels: automate-ui, bug 🐛, ui

#3806 [infra-proxy-service] chef repo load into locally deploy dev env
  .studio/infra-proxy-service
  dev-docs/adding-data/infra/chef-repo/data_bags/colors/purple.json
  dev-docs/adding-data/infra/chef-repo/environments/dev.json
  dev-docs/adding-data/infra/chef-repo/roles/starter.json
  dev-docs/adding-data/infra/chef-repo/roles/web.json
Labels: automate-infra-proxy

#3946 Contain in div and add ellipsis css
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.html
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.scss
Labels: automate-ui, desktop, ui

#3931 Include Services Data in Platform-wide Data Lifecycle API
  api/external/applications/applications.pb.go
  api/external/applications/applications.pb.gw.go
  api/external/applications/applications.pb.policy.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/integration_test/disconnected_services_job_test.go
  components/applications-service/pkg/server/periodic.go
  components/applications-service/pkg/server/server.go
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/applications.go
  components/automate-gateway/handler/data_lifecycle/data_lifecycle.go
  components/automate-gateway/handler/data_lifecycle/services.go
  components/automate-gateway/integration/data_lifecycle_test.go
Labels: eas

#3824 add webhook payload examples
  components/automate-chef-io/content/docs/notifications.md
Labels: customer-reported, documentation, notifications

#3949 [automate-3918] Close modal if valid license is detected
  components/automate-ui/src/app/modules/license/license-apply/license-apply.component.ts
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.ts
Labels: auth-team, automate-auth, automate-ui, ui

#3963 [automate-ui] Fix reducer signatures
  components/automate-ui/src/app/entities/automate-settings/automate-settings.reducer.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.reducer.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/entities/jobs/job.reducer.ts
  components/automate-ui/src/app/entities/managers/manager.reducer.ts
  components/automate-ui/src/app/entities/nodes/nodes.reducer.ts
  components/automate-ui/src/app/entities/profiles/profile.reducer.ts
  components/automate-ui/src/app/entities/roles/role.reducer.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.reducer.ts
  components/automate-ui/src/app/entities/users/user.reducer.ts
  components/automate-ui/src/app/entities/users/userself.reducer.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/pages/integrations/add/integration-add.reducer.ts
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.reducer.ts
  components/automate-ui/src/app/pages/integrations/edit/integrations-edit.reducer.ts
  components/automate-ui/src/app/pages/job-add/job-add.reducer.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.reducer.ts
  components/automate-ui/src/app/pages/job-list/job-list.reducer.ts
Labels: automate-ui, chore, ui

#3964 hab studio script update deployment svc to patch products
  .studio/automate-workflow-server
  .studio/chef-server-collection
Labels: deployment-team

#3940 Automate CDS UI Skeleton
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/cds/cds.actions.ts
  components/automate-ui/src/app/entities/cds/cds.effects.ts
  components/automate-ui/src/app/entities/cds/cds.model.ts
  components/automate-ui/src/app/entities/cds/cds.reducer.ts
  components/automate-ui/src/app/entities/cds/cds.requests.ts
  components/automate-ui/src/app/entities/cds/cds.selectors.ts
  components/automate-ui/src/app/modules/cds/card-table/card-table.component.html
  components/automate-ui/src/app/modules/cds/card-table/card-table.component.scss
  components/automate-ui/src/app/modules/cds/card-table/card-table.component.ts
  components/automate-ui/src/app/modules/cds/card/card.component.html
  components/automate-ui/src/app/modules/cds/card/card.component.scss
  components/automate-ui/src/app/modules/cds/card/card.component.ts
  components/automate-ui/src/app/modules/cds/cds-routing.module.ts
  components/automate-ui/src/app/modules/cds/cds.module.ts
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.scss
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/environments/environment.no_auth.ts
  components/automate-ui/src/environments/environment.prod.ts
  components/automate-ui/src/environments/environment.ts
  components/chef-ui-library/package-lock.json
Labels: automate-ui, cds

#3967 Automate CDS install First pass
  api/external/cds/cds.pb.go
  api/external/cds/cds.pb.gw.go
  api/external/cds/cds.pb.policy.go
  api/external/cds/cds.proto
  api/external/cds/cds.swagger.json
  api/external/cds/request/root.pb.go
  api/external/cds/request/root.proto
  api/external/cds/response/root.pb.go
  api/external/cds/response/root.proto
  api/interservice/cds/service/cds.pb.go
  api/interservice/cds/service/cds.proto
  components/automate-cds/server/root.go
  components/automate-gateway/api/cds.pb.swagger.go
  components/automate-gateway/handler/cds.go
  components/automate-ui/src/app/entities/cds/cds.actions.ts
  components/automate-ui/src/app/entities/cds/cds.effects.ts
  components/automate-ui/src/app/entities/cds/cds.model.ts
  components/automate-ui/src/app/entities/cds/cds.reducer.ts
  components/automate-ui/src/app/entities/cds/cds.requests.ts
  components/automate-ui/src/app/modules/cds/card-table/card-table.component.html
  components/automate-ui/src/app/modules/cds/card-table/card-table.component.ts
  components/automate-ui/src/app/modules/cds/card/card.component.html
  components/automate-ui/src/app/modules/cds/card/card.component.scss
  components/automate-ui/src/app/modules/cds/card/card.component.ts
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.ts
Labels: automate-ui, cds

#3884 [infra-proxy-service] dynamic JSON using structpb
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/environments.pb.go
  api/external/infra_proxy/request/environments.proto
  api/external/infra_proxy/request/roles.pb.go
  api/external/infra_proxy/request/roles.proto
  api/interservice/infra_proxy/request/environments.pb.go
  api/interservice/infra_proxy/request/environments.proto
  api/interservice/infra_proxy/request/roles.pb.go
  api/interservice/infra_proxy/request/roles.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/infra-proxy-service/server/environments.go
  components/infra-proxy-service/server/proxy.go
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy, documentation

#3961 Fix click error that can occur in `chef-phat-radio`
  components/chef-ui-library/src/molecules/chef-phat-radio/chef-phat-radio.tsx
Labels: chef-ui-library, ui

#3985 Fixing Event Feed chef server filter bug
  components/config-mgmt-service/integration_test/event_feed_test.go
  components/config-mgmt-service/params/parameters.go
Labels: bug 🐛, event feed

#3986 Updating the policy file term
  components/automate-ui/src/app/pages/event-feed/event-feed.component.ts
Labels: automate-ui, event feed

#3957 add ingest policy info to data collection docs
  components/automate-chef-io/content/docs/data-collection.md
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.html
Labels: customer-reported, documentation

#3991 Remove default initialization of radio button
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#3992 Adding the cookbook_artifact_version event type to the event feed
  .studio/common
  components/automate-ui/src/app/components/guitar-string-collection/guitar-string-item/guitar-string-item.component.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.ts
  components/automate-ui/src/app/page-components/event-icon/event-icon.component.ts
  components/automate-ui/src/app/services/event-feed/event-feed.service.spec.ts
  components/automate-ui/src/app/services/event-feed/event-feed.service.ts
Labels: automate-ui, event feed

#3978 Updated toggle sort in Notification table.
  components/automate-ui/src/app/pages/notifications/notifications.component.ts
  components/automate-ui/src/app/types/types.ts
Labels: automate-ui, ui

#3993 Dan/rollouts initiator fields
  .studio/config-mgmt-service
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/rollouts.pb.go
  api/external/cfgmgmt/request/rollouts.proto
  api/external/cfgmgmt/response/rollouts.pb.go
  api/external/cfgmgmt/response/rollouts.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/config-mgmt-service/backend/postgres/rollouts.go
  components/config-mgmt-service/backend/postgres/schema/sql/03_add_rollouts_author_initiator.up.sql
  components/config-mgmt-service/grpcserver/rollouts.go
  components/config-mgmt-service/integration_test/rollout_test.go
Labels: desktop

#3996 The data feed service breaks when used with chef-load and compliance only data #3954
  components/data-feed-service/server/server.go
  components/data-feed-service/service/data-feed-service.go
  components/data-feed-service/service/data-feed-service_test.go
Labels: data-feed

#3998 Add design doc for metadata collection to config mgmt repo
  components/config-mgmt-service/docs/rollout-metadata-collection-design.md
Labels: config-mgmt-service

#3976 CDS download
  api/external/cds/cds.pb.go
  api/external/cds/cds.proto
  api/external/cds/cds.swagger.json
  api/external/cds/request/root.pb.go
  api/external/cds/request/root.proto
  api/external/cds/response/root.pb.go
  api/external/cds/response/root.proto
  api/interservice/cds/service/cds.pb.go
  api/interservice/cds/service/cds.proto
  components/automate-cds/server/root.go
  components/automate-gateway/api/cds.pb.swagger.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/cds.go
  components/automate-ui/src/app/entities/cds/cds.actions.ts
  components/automate-ui/src/app/entities/cds/cds.effects.ts
  components/automate-ui/src/app/entities/cds/cds.model.ts
  components/automate-ui/src/app/entities/cds/cds.reducer.ts
  components/automate-ui/src/app/entities/cds/cds.requests.ts
  components/automate-ui/src/app/modules/cds/card-table/card-table.component.html
  components/automate-ui/src/app/modules/cds/card-table/card-table.component.ts
  components/automate-ui/src/app/modules/cds/card/card.component.ts
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.ts
Labels: automate-ui, cds

#3876 Typescript type check fix
  components/automate-ui/src/app/pages/integrations/aws-form/aws-form.component.html
  components/automate-ui/src/app/pages/integrations/azure-form/azure-form.component.html
  components/automate-ui/src/app/pages/integrations/gcp-form/gcp-form.component.html
  components/automate-ui/src/app/pages/integrations/gcp-form/gcp-form.component.ts
  components/automate-ui/src/app/pages/integrations/integrations-form/integrations-form.component.html
  components/automate-ui/src/app/pages/job-add/job-add.component.html
  components/automate-ui/src/app/pages/job-add/job-add.component.spec.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.html
  components/automate-ui/src/app/pages/job-edit/job-edit.component.spec.ts
  components/automate-ui/src/app/pipes/cast-formgroup.pipe.ts
  components/automate-ui/src/app/pipes/chef-pipes.module.ts
Labels: automate-ui, chore, ui

#3867 Update code coverage doc
  dev-docs/code-coverage.md
Labels: chore

#4007 Tiny doc update
  components/automate-chef-io/content/docs/configuration.md
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.spec.ts
Labels: documentation

#3812 Jamie/3747 desktop pagination
  components/automate-ui/src/app/components/page-picker/page-picker.component.html
  components/automate-ui/src/app/components/page-picker/page-picker.component.scss
  components/automate-ui/src/app/components/page-picker/page-picker.component.spec.ts
  components/automate-ui/src/app/components/page-picker/page-picker.component.ts
  components/automate-ui/src/app/entities/desktop/desktop.actions.ts
  components/automate-ui/src/app/entities/desktop/desktop.effects.ts
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.spec.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/insight/insight.component.html
  components/automate-ui/src/app/modules/desktop/insight/insight.component.ts
  components/automate-ui/src/app/pipes/chef-pipes.module.ts
  components/automate-ui/src/app/pipes/pagination-true-end.pipe.spec.ts
  components/automate-ui/src/app/pipes/pagination-true-end.pipe.ts
Labels: automate-ui, desktop, ui

#4001 fix tag filter matching logic to recognize null val
  components/compliance-service/reporting/relaxting/reports.go
  components/compliance-service/reporting/relaxting/reports_test.go
Labels: bug 🐛, compliance reporting

#3454 Supply oldest date tag in `channel_contains_commit` output
  .studio/tooling
Labels: deployment-team

#3968 Specify the on-prem Builder API endpoint
  components/automate-chef-io/content/docs/on-prem-builder.md
  integration/tests/product_dev.sh
Labels: deployment-team, documentation

#4011 Adding missing 'e' to the On-prem setup
  components/automate-chef-io/content/docs/on-prem-builder.md
Labels: documentation
