Repository chef/automate, pull requests merged in 2020-10, with the labels that each got.

#4384 Add data collection step to include installer
  components/docs-chef-io/content/automate/data_collection.md
Labels: documentation

#4352 Display message when no tests were run
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
Labels: automate-ui, compliance reporting, ui

#4369 Handle 401 error in infra modules tab and show empty state UI
  components/automate-ui/src/app/entities/clients/client.requests.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.requests.ts
  components/automate-ui/src/app/entities/environments/environment.requests.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.requests.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/empty-state/empty-state.component.html
  components/automate-ui/src/app/modules/infra-proxy/empty-state/empty-state.component.scss
  components/automate-ui/src/app/modules/infra-proxy/empty-state/empty-state.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.html
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#4390 fix team list table heading
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.html
Labels: auth-team, automate-ui, ui

#4396 Fix bad link
  components/docs-chef-io/content/automate/applications_dashboard.md
Labels: documentation

#4323 Added consistency improvement in list, details and create page of node credentials.
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential-details.reducer.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential-details.selectors.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.actions.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.effects.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.model.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.reducer.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.requests.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.selectors.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-form.html
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-form.scss
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-form.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list-row.html
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list-row.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list.html
  components/automate-ui/src/app/pages/+compliance/+credentials/components/credentials-list.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/containers/credentials-add-edit-screen.html
  components/automate-ui/src/app/pages/+compliance/+credentials/containers/credentials-add-edit-screen.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/containers/credentials-list-screen.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/credentials.logic.spec.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/credentials.logic.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/credentials.module.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/credentials.routing.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/credentials.state.spec.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/credentials.state.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/create-node-credential-modal/create-node-credential-modal.component.html
  components/automate-ui/src/app/pages/+compliance/+node-credentials/create-node-credential-modal/create-node-credential-modal.component.scss
  components/automate-ui/src/app/pages/+compliance/+node-credentials/create-node-credential-modal/create-node-credential-modal.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/create-node-credential-modal/create-node-credential-modal.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credential-details/node-credential-details.component.html
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credential-details/node-credential-details.component.scss
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credential-details/node-credential-details.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credential-details/node-credential-details.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.actions.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.html
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.scss
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.reducer.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.selectors.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials.module.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials.routing.ts
Labels: automate-ui, ui

#4386 automate-dex: make local user signin disappear via config
  api/config/dex/config_request.go
  api/config/dex/config_request.pb.go
  api/config/dex/config_request.proto
  api/config/dex/config_request_test.go
  components/automate-dex/habitat/templates/config.yml
Labels: auth-team, emergent

#4395 Introduce semgrep security/language validation
  .expeditor/verify.pipeline.yml
  Makefile.common_go
  components/automate-ui/Makefile
  components/automate-ui/src/app/components/authorized/authorized.component.ts
  components/automate-ui/src/app/components/form-control/form-control.directive.ts
  components/automate-ui/src/app/components/landing/landing.component.ts
  components/automate-ui/src/app/helpers/auth/authorized.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/license/license-notifications/license-notifications.component.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  semgrep/rxjs-subscription.yaml
  semgrep/rxjs-syntax.yaml
Labels: auth-team, automate-auth, automate-ui, chore, ui

#4402 Add semgrep buildkite task for published rules
  .expeditor/verify.pipeline.yml
  Makefile.common_go
  api/config/cs_nginx/config_request.go
  components/automate-deployment/pkg/airgap/bundle_creator.go
  components/automate-deployment/pkg/backup/artifact_repo.go
  components/automate-deployment/pkg/server/server.go
  components/automate-gateway/pkg/nullbackend/backend.go
  components/cereal-service/cmd/cereal-service/cmd.go
  components/compliance-service/reporting/util/zip.go
  lib/grpc/secureconn/factory.go
  tools/cereal-scaffold/main.go
Labels: chore

#4400 automate-dex: don't hardcode 24hrs expiry for saml, make it configurable
  api/config/dex/config_request.go
  api/config/dex/config_request_test.go
  components/automate-dex/habitat/templates/config.yml
Labels: auth-team

#4392 added changes to prevent scrolling on client runs page tabs change
  components/automate-ui/src/app/page-components/client-runs-table/client-runs-table.component.scss
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.scss
Labels: automate-ui, ui

#4412 Fix incorrect compliance calendar picker zindex
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting-searchbar/reporting-searchbar.component.scss
Labels: automate-ui, bug 🐛, ui

#4419 Reconfigure source of API redoc layout page
  components/docs-chef-io/content/automate/api.md
  components/docs-chef-io/layouts/_default/data-api.html
Labels: documentation
