Repository chef/automate, pull requests merged in 2020-09, with the labels that each got.

#4299 Replace 'chef server' hardcoded desktop value
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.html
Labels: automate-ui, bug 🐛, desktop, ui

#4288 Feature Flags documentation
  components/docs-chef-io/content/automate/flags.md
Labels: documentation

#4307 Remove smartquotes from flags doc
  components/docs-chef-io/content/automate/flags.md
Labels: documentation

#4283 Add Chef patents link
  components/automate-ui/src/app/page-components/profile/profile.component.html
Labels: Epic

#4262 Chef servers summary cleanup
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
Labels: automate-infra-proxy, automate-ui, ui

#4303 Initial integration testing for data-feed-service
  .expeditor/verify_private.pipeline.yml
  .studio/data-feed-service
  components/data-feed-service/integration_test/api_test.go
  components/data-feed-service/integration_test/global_test.go
  components/data-feed-service/integration_test/ingest_test.go
  components/data-feed-service/integration_test/patch.toml
  components/data-feed-service/integration_test/suite_test.go
Labels: data-feed

#4304 [Auth-4301] Add permission check for CreateRule
  components/authz-service/Makefile
  components/authz-service/storage/postgres/rule.go
  components/authz-service/storage/postgres/rule_test.go
Labels: auth-team, automate-auth, bug 🐛, customer-reported

#4316 [auth-4300] Add guards to Save Rule and Add Condition
  components/automate-ui/src/app/helpers/auth/authorized.spec.ts
  components/automate-ui/src/app/helpers/auth/authorized.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.html
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
Labels: auth-team, automate-auth, automate-ui, customer-reported, ui

#4317 [auth-4300] Correct guard for "Create Rule" button
  components/automate-gateway/handler/iam/v2/introspect/introspect.go
  components/automate-gateway/handler/iam/v2/introspect/introspect_test.go
  components/automate-ui/src/app/pages/project/details/project-details.component.html
Labels: auth-team, automate-auth, automate-ui, customer-reported, ui

#4274 Assorted cleanup to backup and restore pages
  components/docs-chef-io/content/automate/backup.md
  components/docs-chef-io/content/automate/restore.md
Labels: documentation

#4325 Modal was already replaced, but initial modal files had not been removed
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/page-components/delete-notification-dialog/delete-notification-dialog.component.html
  components/automate-ui/src/app/page-components/delete-notification-dialog/delete-notification-dialog.component.scss
  components/automate-ui/src/app/page-components/delete-notification-dialog/delete-notification-dialog.component.ts
Labels: automate-ui, tech debt, ui

#4327 Remove imports
  components/automate-ui/src/app/components/chef-components.module.ts
Labels: automate-ui, tech debt, ui

#4315 [adding-test-data] steps to add infra views chef-repo data
  .studio/infra-proxy-service
  dev-docs/adding-data/adding_test_data.md
Labels: automate-infra-proxy

#4319 UI for empty state of cookbook when admin key invalid
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#4341 Add name filtering to ListSecrets API
  api/external/secrets/secrets.pb.go
  api/external/secrets/secrets.proto
  api/external/secrets/secrets.swagger.json
  components/automate-gateway/api/secrets.pb.swagger.go
  components/secrets-service/dao/secrets.go
  components/secrets-service/integration_test/list_secret_test.go
Labels: data-feed

#4226 Create notification form and delete notification consistency changes
  components/automate-ui/e2e/deprecated-routes.e2e-spec.ts
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.action.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.effects.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.model.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.reducer.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.requests.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.selectors.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/create-notification-modal/create-notification-modal.component.html
  components/automate-ui/src/app/pages/create-notification-modal/create-notification-modal.component.scss
  components/automate-ui/src/app/pages/create-notification-modal/create-notification-modal.component.spec.ts
  components/automate-ui/src/app/pages/create-notification-modal/create-notification-modal.component.ts
  components/automate-ui/src/app/pages/notification-form/notification-form.component.html
  components/automate-ui/src/app/pages/notification-form/notification-form.component.scss
  components/automate-ui/src/app/pages/notification-form/notification-form.component.spec.ts
  components/automate-ui/src/app/pages/notification-form/notification-form.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.ts
  components/automate-ui/src/app/pages/notifications/rule.spec.ts
  components/automate-ui/src/app/pages/notifications/rule.ts
  components/automate-ui/src/app/services/rules/rules.service.spec.ts
  components/automate-ui/src/app/services/rules/rules.service.ts
Labels: automate-ui, ui

#4330 Developer-docs: Add a bit more info on module maintenance
  dev-docs/development-overview.md
Labels: chore, documentation

#4291 Desktop Dashboard link fix
  components/docs-chef-io/content/automate/desktop.md
Labels: documentation

#4361 Resolved Add Users button overlaps with the user table.
  components/automate-ui/src/app/modules/team/team-add-users/team-add-users.component.scss
Labels: auth-team, automate-ui, bug 🐛, ui

#4364 Troubleshooting documentation for Compliance Reports
  components/docs-chef-io/content/automate/troubleshooting.md
Labels: customer-reported, documentation

#4356 Fix compliance report summary style bug
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
Labels: automate-ui, bug 🐛, ui

#4331 Added rule name in the notification instead of the id.
  components/automate-ui/src/app/entities/rules/rule.effects.ts
  e2e/cypress/integration/ui/settings/project_rule_mgmt.spec.ts
Labels: auth-team, automate-auth, automate-ui, iamv2, ui, ux

#4348 Add modal prompt to delete integration and associated nodes
  components/automate-ui/src/app/components/delete-object-modal/delete-object-modal.component.html
  components/automate-ui/src/app/components/delete-object-modal/delete-object-modal.component.ts
  components/automate-ui/src/app/entities/managers/manager.requests.ts
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.html
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.spec.ts
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.ts
Labels: automate-ui, ui

#4357 Fix incorrect reporting-profile sidebar expansion content
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/scan-results.service.ts
Labels: automate-ui, bug 🐛, ui
