Repository chef/automate, pull requests merged in 2020-11, with the labels that each got.

#4420 Additional semgrep validation
  .expeditor/verify.pipeline.yml
  components/automate-ui/Makefile
  components/automate-ui/src/app/entities/projects/project.effects.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.ts
  components/automate-ui/src/app/types/types.ts
  semgrep/general.yaml
  semgrep/rxjs-subscription.yaml
  semgrep/rxjs-syntax.yaml
Labels: automate-ui

#4414 Adding pagination to the scan history control
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui

#4426 Pin semgrep for custom rules
  .expeditor/verify.pipeline.yml
  components/automate-ui/src/app/entities/userperms/userperms.effects.ts
Labels: chore

#4398 sample-data-service mock infra client data
  .bldr.toml
  .expeditor/verify.pipeline.yml
  .studio/sample-data-service
  HABITAT_PACKAGES
  api/config/deployment/automate_config.pb.a2svc.go
  api/config/deployment/automate_config.pb.go
  api/config/deployment/automate_config.proto
  api/config/sample_data/config_request.go
  api/config/sample_data/config_request.pb.a2svc.go
  api/config/sample_data/config_request.pb.go
  api/config/sample_data/config_request.proto
  components/automate-deployment/pkg/assets/binds.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/sample-data-service/.gitignore
  components/sample-data-service/Makefile
  components/sample-data-service/README.md
  components/sample-data-service/cmd/sample-data-service/commands/root.go
  components/sample-data-service/cmd/sample-data-service/commands/serve.go
  components/sample-data-service/cmd/sample-data-service/sample-data-service.go
  components/sample-data-service/dev/config.yml
  components/sample-data-service/habitat/config/config.toml
  components/sample-data-service/habitat/default.toml
  components/sample-data-service/habitat/hooks/health-check
  components/sample-data-service/habitat/hooks/run
  components/sample-data-service/habitat/plan.sh
  components/sample-data-service/package.meta
  components/sample-data-service/server/server.go
  components/sample-data-service/service/service.go
  dev/certs/sample-data-service.crt
  dev/certs/sample-data-service.key
  integration/tests/security.sh
  products.meta
Labels: sample-data-service

#4434 Introduce rxjs-spy diagnostic tool to UI
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  components/automate-ui/src/main.ts
Labels: automate-ui, chore

#4441 Jamie/4366 disappearing pagination
  components/automate-ui/src/app/components/page-picker/page-picker.component.html
  components/automate-ui/src/app/components/page-picker/page-picker.component.spec.ts
  components/automate-ui/src/app/components/page-picker/page-picker.component.ts
  components/automate-ui/src/app/page-components/run-history/run-history.component.html
  components/automate-ui/src/app/page-components/run-history/run-history.component.scss
Labels: automate-ui, bug 🐛, customer-reported, ui

#4446 Migrate semgrep to semgrep-agent
  .expeditor/export_semgrep_token.sh
  .expeditor/verify.pipeline.yml
  .expeditor/verify_private.pipeline.yml
  .semgrep/general.yaml
  .semgrep/rxjs-subscription.yaml
  .semgrep/rxjs-syntax.yaml
  .semgrepignore
  Makefile.common_go
  components/automate-ui/Makefile
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-edit/nodes-edit.component.ts
  semgrep/rxjs-syntax.yaml
Labels: chore
