Repository chef/automate, pull requests merged in 2020-07, with the labels that each got.

#4004 add note about profile versions
  components/automate-chef-io/content/docs/profiles.md
Labels: customer-reported, documentation

#3955 Satellite15/datfeed service config
  api/config/data_feed/config_request.go
  api/config/data_feed/config_request.pb.go
  api/config/data_feed/config_request.proto
  components/data-feed-service/config/config.go
  components/data-feed-service/habitat/config/config.toml
  components/data-feed-service/habitat/default.toml
  components/data-feed-service/service/data-feed-aggregate-task.go
  components/data-feed-service/service/data-feed-service.go
  components/data-feed-service/service/data-feed-service_test.go
Labels: data-feed

#3988 [a1-upgrade] migrate infra server config
  api/config/erchef/config_request.go
  components/automate-cli/cmd/chef-automate/migrate_from_v1.go
  components/automate-deployment/a1-migration/docker-compose-services.yml
  components/automate-deployment/pkg/a1upgrade/a1config.go
  components/automate-deployment/pkg/a1upgrade/a1config_test.go
  components/automate-deployment/pkg/a1upgrade/a1upgrade.go
  components/automate-deployment/pkg/a1upgrade/generate_cfg.go
  components/automate-deployment/pkg/a1upgrade/generate_cfg_test.go
  components/automate-deployment/pkg/a1upgrade/testdata/chef-server-running.json
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/pkg/nullbackend/backend.go
  tools/credscan/credscan.go
Labels: customer-reported, deployment-team

#4022 Jamie/page picker fix
  components/automate-ui/src/app/components/page-picker/page-picker.component.html
  components/automate-ui/src/app/components/page-picker/page-picker.component.spec.ts
  components/automate-ui/src/app/components/page-picker/page-picker.component.ts
  components/automate-ui/src/app/modules/desktop/insight/insight.component.html
Labels: automate-ui, bug 🐛, ui

#4010 Jamie/3982 data lifecycle additions
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-chef-io/static/images/docs/data-lifecycle.png
  components/automate-ui/src/app/entities/automate-settings/automate-settings.model.ts
  components/automate-ui/src/app/entities/automate-settings/automate-settings.requests.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.html
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.spec.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
Labels: automate-ui, documentation, eas, ui

#4021 Rename the datafeed feature flag
  components/automate-ui/src/app/ui.component.ts
Labels: automate-ui, data-feed, ui

#4017 Configurable status codes for data-feed
  .studio/data-feed-service
  api/config/data_feed/config_request.go
  api/config/data_feed/config_request.pb.go
  api/config/data_feed/config_request.proto
  components/data-feed-service/Makefile
  components/data-feed-service/config/config.go
  components/data-feed-service/config/config_test.go
  components/data-feed-service/habitat/config/config.toml
  components/data-feed-service/habitat/default.toml
  components/data-feed-service/server/server.go
  components/data-feed-service/service/data-feed-aggregate-task.go
  components/data-feed-service/service/data-feed-service.go
  components/data-feed-service/service/data-feed-service_test.go
Labels: data-feed

#4025 Installing profiles to the compliance-service
  .bldr.toml
  api/external/cds/cds.pb.policy.go
  api/external/cds/cds.swagger.json
  api/external/cds/request/root.pb.go
  api/external/cds/request/root.proto
  components/automate-cds/backend/client.go
  components/automate-cds/cmd/automate-cds/commands/serve.go
  components/automate-cds/config/config.go
  components/automate-cds/habitat/config/config.toml
  components/automate-cds/habitat/plan.sh
  components/automate-cds/server/root.go
  components/automate-cds/server/server.go
  components/automate-deployment/pkg/assets/binds.go
  components/automate-gateway/api/cds.pb.swagger.go
  components/automate-ui/src/app/entities/cds/cds.actions.ts
  components/automate-ui/src/app/entities/cds/cds.effects.ts
  components/automate-ui/src/app/entities/cds/cds.requests.ts
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.ts
Labels: cds

#4028 Light up typescript check: strictDomLocalRefTypes
  components/automate-ui/tsconfig.json
Labels: automate-ui, chore, ui

#4038 UI Development Process Doc Update
  dev-docs/adding-data/adding_test_data.md
  dev-docs/ui-development.md
Labels: automate-ui, documentation, ui

#4041 Automate CDS adding unit test to buildkite
  .expeditor/verify.pipeline.yml
  components/automate-cds/server/root.go
Labels: cds

#3981 Add desktop filtering to desktop managment view
  components/automate-ui/src/app/entities/desktop/desktop.actions.ts
  components/automate-ui/src/app/entities/desktop/desktop.effects.ts
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/entities/desktop/desktop.requests.ts
  components/automate-ui/src/app/entities/desktop/desktop.selectors.ts
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.ts
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.html
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.scss
  components/automate-ui/src/app/modules/desktop/desktop-detail/desktop-detail.component.ts
  components/automate-ui/src/app/modules/desktop/insight/insight.component.html
  components/automate-ui/src/app/modules/desktop/insight/insight.component.scss
  components/automate-ui/src/app/modules/desktop/insight/insight.component.ts
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.html
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.scss
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.ts
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.html
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.scss
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.ts
Labels: automate-ui, ui

#4043 Send an event to the notifications-service when there are no failed r…
  components/notifications-client/builder/ccr.go
  components/notifications-service/server/test/formatters/servicenow_test.exs
  components/notifications-service/server/test/formatters/webhook_test.exs
Labels: customer-reported, notifications

#4042 Enable Content with Credentials
  api/external/cds/cds.pb.go
  api/external/cds/cds.pb.gw.go
  api/external/cds/cds.pb.policy.go
  api/external/cds/cds.proto
  api/external/cds/cds.swagger.json
  api/external/cds/request/root.pb.go
  api/external/cds/request/root.proto
  api/external/cds/response/root.pb.go
  api/external/cds/response/root.proto
  api/interservice/cds/service/cds.pb.go
  api/interservice/cds/service/cds.proto
  components/automate-cds/cloud/client.go
  components/automate-cds/creds/creds.go
  components/automate-cds/server/root.go
  components/automate-gateway/api/cds.pb.swagger.go
  components/automate-gateway/handler/cds.go
  components/automate-ui/src/app/entities/cds/cds.actions.ts
  components/automate-ui/src/app/entities/cds/cds.effects.ts
  components/automate-ui/src/app/entities/cds/cds.model.ts
  components/automate-ui/src/app/entities/cds/cds.reducer.ts
  components/automate-ui/src/app/entities/cds/cds.requests.ts
  components/automate-ui/src/app/entities/cds/cds.selectors.ts
  components/automate-ui/src/app/modules/cds/card-table/card-table.component.html
  components/automate-ui/src/app/modules/cds/cds.module.ts
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/cds/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/cds/enable-content-modal/enable-content-modal.component.html
  components/automate-ui/src/app/modules/cds/enable-content-modal/enable-content-modal.component.scss
  components/automate-ui/src/app/modules/cds/enable-content-modal/enable-content-modal.component.ts
Labels: cds

#4053 add a changelog to the repo using expeditor
  .expeditor/config.yml
  CHANGELOG.md
Labels: documentation

#3995 Cookbook details content tab
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.model.ts
  components/automate-ui/src/app/helpers/infra-proxy/collapsible-list-mapper.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.ts
Labels: WIP, automate-infra-proxy, automate-ui, ui

#3989 api docs: add docs for event feed
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/event_feed/event_feed.swagger.json
  components/automate-gateway/api/event_feed/event_feed.pb.go
  components/automate-gateway/api/event_feed/event_feed.proto
  components/automate-gateway/api/event_feed/event_feed.swagger.json
  components/automate-gateway/api/event_feed/request/event.pb.go
  components/automate-gateway/api/event_feed/request/event.proto
  components/automate-gateway/api/event_feed/request/eventstrings.pb.go
  components/automate-gateway/api/event_feed/request/eventstrings.proto
  components/automate-gateway/api/event_feed/response/event.pb.go
  components/automate-gateway/api/event_feed/response/event.proto
  components/automate-gateway/api/event_feed_event_feed.pb.swagger.go
Labels: documentation

#4047 Service Group Lifecycle Settings doc update
  components/automate-chef-io/content/docs/applications-dashboard.md
  components/automate-chef-io/content/docs/data-lifecycle.md
Labels: documentation

#3937 Reorganize backup and restore pages
  components/automate-chef-io/content/docs/backup.md
  components/automate-chef-io/content/docs/install.md
  components/automate-chef-io/content/docs/restore.md
  tools/credscan/credscan.go
Labels: deployment-team, documentation

#4030 Jamie/aus utc bug
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: HIGH PRIORITY, automate-ui, customer-reported, ui

#3966 4MB report size limit for A2-installed Chef Infra Server
  components/automate-chef-io/content/docs/infra-server.md
Labels: documentation

#4008 Infra proxy client details page UI
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/clients/client-details.reducer.ts
  components/automate-ui/src/app/entities/clients/client-details.selectors.ts
  components/automate-ui/src/app/entities/clients/client.action.ts
  components/automate-ui/src/app/entities/clients/client.effects.ts
  components/automate-ui/src/app/entities/clients/client.model.ts
  components/automate-ui/src/app/entities/clients/client.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-infra-proxy, automate-ui, ui

#4009 Fixed Environment detail page UI to show cookbook constraints
  components/automate-ui/src/app/entities/environments/environment.model.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#3590 Initial Data feed docs
  components/automate-chef-io/content/docs/datafeed.md
  components/automate-chef-io/static/images/docs/filled_form_create_data_feed.png
  components/automate-chef-io/static/images/docs/settings_data_feed.png
Labels: data-feed, documentation

#3927 Notification detail page consistency changes
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.action.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.effects.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.model.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.reducer.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.requests.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.selectors.ts
  components/automate-ui/src/app/pages/notification-details/notification-details.component.html
  components/automate-ui/src/app/pages/notification-details/notification-details.component.scss
  components/automate-ui/src/app/pages/notification-details/notification-details.component.spec.ts
  components/automate-ui/src/app/pages/notification-details/notification-details.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.html
  components/automate-ui/src/app/pages/notifications/rule.spec.ts
  components/automate-ui/src/app/pages/notifications/rule.ts
  components/automate-ui/src/app/services/rules/rules.service.ts
Labels: automate-ui, ui

#4052 Add product versions to release notes
  .expeditor/publish-release-notes.sh
Labels: documentation

#4032 Rollout Metadata CLI
  .bldr.toml
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.pb.gw.go
  api/external/cfgmgmt/cfgmgmt.pb.policy.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/cfgmgmt/request/rollouts.pb.go
  api/external/cfgmgmt/request/rollouts.proto
  api/external/cfgmgmt/response/rollouts.pb.go
  api/external/cfgmgmt/response/rollouts.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/handler/cfgmgmt.go
  components/config-mgmt-service/.gitignore
  components/config-mgmt-service/cmd/chef-automate-collect/chef-automate-collect.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/automate_config.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/cli_io.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/describe.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/environment_variables.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/gen-config.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/init_cli.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/metadata_collectors.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/report-new-rollout.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/show-config.go
  components/config-mgmt-service/cmd/chef-automate-collect/commands/test-config.go
  components/config-mgmt-service/grpcserver/rollouts.go
  go.mod
Labels: config-mgmt-service, desktop

#4060 Desktop dashboard doc updates
  components/automate-chef-io/content/docs/desktop.md
  components/automate-chef-io/content/docs/reports.md
Labels: documentation

#4059 Event Feed project filtering for the GetFeed request
  .bldr.toml
  .studio/event-feed-service
  api/interservice/event/event.pb.go
  api/interservice/event/event.proto
  components/config-mgmt-service/backend/elastic/elastic.go
  components/event-feed-service/pkg/feed/feed.go
  components/event-feed-service/pkg/integration_test/feed_test.go
  components/event-feed-service/pkg/integration_test/suite_test.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-feed-service/pkg/persistence/mappings.go
  components/event-feed-service/pkg/persistence/store.go
  components/event-feed-service/pkg/server/feed.go
  components/event-feed-service/pkg/server/server.go
Labels: event feed

#4071 Event-feed GetFeedSummary project filtering
  components/event-feed-service/pkg/integration_test/feed_counts_test.go
  components/event-feed-service/pkg/integration_test/feed_test.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-feed-service/pkg/server/feed.go
  components/event-feed-service/pkg/server/server.go
Labels: event feed

#4064 [infra-proxy-service] Added Node#delete API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/infra-proxy-service/server/nodes.go
Labels: automate-infra-proxy

#4072 Event Feed timeline project filtering
  components/event-feed-service/pkg/integration_test/feed_timeline_test.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-feed-service/pkg/persistence/store.go
  components/event-feed-service/pkg/server/feed.go
  components/event-feed-service/pkg/server/server.go
Labels: event feed

#4006 Provide a recovery message on failed attempts to run a restore.
  components/automate-cli/cmd/chef-automate/backup.go
Labels: deployment-team

#4069 Increase default max report size for infra server
  api/config/erchef/config_request.go
  components/automate-chef-io/content/docs/infra-server.md
  components/automate-cs-oc-erchef/habitat/default.toml
Labels: deployment-team

#4076 Adding chef server and orgs from events
  .studio/event-feed-service
  components/event-feed-service/pkg/feed/feed.go
  components/event-feed-service/pkg/integration_test/feed_test.go
  components/event-feed-service/pkg/persistence/feed-elastic.go
  components/event-feed-service/pkg/persistence/store.go
  components/event-feed-service/pkg/server/feed.go
Labels: event feed

#4082 Set a correct actions fqdn on Automate's Chef Server
  api/config/erchef/config_request.go
  api/config/erchef/config_request.pb.go
  api/config/erchef/config_request.proto
  components/automate-cs-oc-erchef/habitat/config/sys.config
  components/automate-cs-oc-erchef/habitat/default.toml
Labels: desktop

#4090 Event feed project update
  .bldr.toml
  .studio/event-feed-service
  components/authz-service/server/project_update_manager.go
  components/automate-deployment/pkg/assets/binds.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/event-feed-service/habitat/config/config.toml
  components/event-feed-service/habitat/plan.sh
  components/event-feed-service/pkg/config/service.go
  components/event-feed-service/pkg/grpc/grpc.go
  components/event-feed-service/pkg/integration_test/project_update_test.go
  components/event-feed-service/pkg/persistence/project_update.go
  components/event-feed-service/pkg/persistence/store.go
Labels: event feed

#4091 Bump automate-elasticsearch package
  .expeditor/create-manifest.rb
Labels: auth-team

#4104 Update links to inspec docs
  components/automate-chef-io/content/docs/node-integrations.md
  components/automate-chef-io/content/docs/profiles.md
  components/automate-chef-io/content/docs/reports.md
Labels: documentation

#4083 Enable desktop list column hide/show selection
  components/automate-ui/src/app/entities/desktop/desktop.actions.ts
  components/automate-ui/src/app/entities/desktop/desktop.effects.ts
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/entities/desktop/desktop.reducer.ts
  components/automate-ui/src/app/entities/desktop/desktop.requests.ts
  components/automate-ui/src/app/entities/desktop/desktop.selectors.ts
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.html
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/insight/insight.component.html
  components/automate-ui/src/app/modules/desktop/insight/insight.component.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.html
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.scss
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.spec.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.component.ts
  components/automate-ui/src/app/page-components/insight-attributes-dropdown/insight-attributes-dropdown.model.ts
Labels: automate-ui, desktop, ui

#4077 Fix Invalid credential in backup gateway
  components/backup-gateway/habitat/hooks/run
Labels: auth-team

#4092 Fix "See Also" links in chef-automate CLI page
  components/automate-chef-io/layouts/_default/data-cli.html
Labels: documentation

#4087 Policyfiles label change
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
Labels: automate-infra-proxy, automate-ui, ui

#4101 Add docs api swagger file
  .expeditor/generate-automate-api-docs.sh
  components/automate-chef-io/.gitignore
  components/automate-chef-io/Makefile
  components/automate-chef-io/static/api-docs/.gitkeep
  components/automate-chef-io/static/api-docs/all-apis.swagger.json
Labels: documentation

#4114 [client-runs] Fix run history counts issue
  components/automate-ui/src/app/services/run-history-store/run-history.store.ts
Labels: automate-ui, client runs, ui

#4109 Dan/rollouts from actions
  .bldr.toml
  api/interservice/cfgmgmt/request/actions.pb.go
  api/interservice/cfgmgmt/request/actions.proto
  api/interservice/cfgmgmt/response/actions.pb.go
  api/interservice/cfgmgmt/response/actions.proto
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.go
  api/interservice/cfgmgmt/service/cfgmgmt.proto
  components/automate-deployment/pkg/assets/binds.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/config-mgmt-service/backend/postgres/rollouts.go
  components/config-mgmt-service/backend/postgres/schema/sql/04_rollouts_unique_exclude_constraint.up.sql
  components/config-mgmt-service/grpcserver/actions_handler.go
  components/config-mgmt-service/integration_test/rollout_test.go
  components/ingest-service/cmd/ingest-service/commands/serve.go
  components/ingest-service/grpc/grpc.go
  components/ingest-service/habitat/hooks/run
  components/ingest-service/habitat/plan.sh
  components/ingest-service/integration_test/suite_test.go
  components/ingest-service/pipeline/chef_action.go
  components/ingest-service/pipeline/message/chef_action.go
  components/ingest-service/pipeline/publisher/config_mgmt_publisher.go
  components/ingest-service/pipeline/publisher/noop.go
  components/ingest-service/server/chef.go
  components/ingest-service/serveropts/serveropts.go
Labels: config-mgmt-service, desktop, ingest-service

#4113 Accomodate more space for numbers
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.scss
Labels: automate-ui, bug 🐛, compliance reporting, ui

#4086 [infra-proxy-service] Add Node update API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/environments.pb.go
  api/external/infra_proxy/response/environments.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/external/infra_proxy/response/policyfiles.pb.go
  api/external/infra_proxy/response/policyfiles.proto
  api/external/infra_proxy/response/roles.pb.go
  api/external/infra_proxy/response/roles.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/environments.pb.go
  api/interservice/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/response/policyfiles.pb.go
  api/interservice/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/response/roles.pb.go
  api/interservice/infra_proxy/response/roles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/infra-proxy-service/server/nodes.go
Labels: automate-infra-proxy

#4065 Infra proxy route consistency
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.selectors.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.selectors.ts
  components/automate-ui/src/app/entities/orgs/org.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#4156 Add empty data states to desktop dashboard
  components/automate-ui/src/app/entities/desktop/desktop.model.ts
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.html
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.spec.ts
  components/automate-ui/src/app/modules/desktop/check-in-time-series/check-in-time-series.component.ts
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.html
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.spec.ts
  components/automate-ui/src/app/modules/desktop/daily-check-in/daily-check-in.component.ts
  components/automate-ui/src/app/modules/desktop/dashboard/dashboard.component.ts
  components/automate-ui/src/app/modules/desktop/desktop.module.ts
  components/automate-ui/src/app/modules/desktop/empty-data/empty-data.component.html
  components/automate-ui/src/app/modules/desktop/empty-data/empty-data.component.scss
  components/automate-ui/src/app/modules/desktop/empty-data/empty-data.component.spec.ts
  components/automate-ui/src/app/modules/desktop/empty-data/empty-data.component.ts
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.html
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.spec.ts
  components/automate-ui/src/app/modules/desktop/top-errors/top-errors.component.ts
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.html
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.spec.ts
  components/automate-ui/src/app/modules/desktop/unknown-desktop-duration-counts/unknown-desktop-duration-counts.component.ts
  components/automate-ui/src/assets/img/chart.svg
Labels: automate-ui, desktop, ui

#4164 update patch instructions for data-feed-service
  components/automate-chef-io/content/docs/datafeed.md
  components/automate-chef-io/static/api-docs/all-apis.swagger.json
Labels: data-feed, documentation

#4136 docs/content/saml: add Azure AD section
  components/automate-chef-io/content/docs/saml.md
Labels: auth-team, documentation
