Repository chef/automate, pull requests merged in 2020-02, with the labels that each got.

#2773 changing angular table component to use flex
  components/automate-ui/src/app/components/table/table-body/table-body.component.scss
  components/automate-ui/src/app/components/table/table-body/table-body.component.ts
  components/automate-ui/src/app/components/table/table-cell/table-cell.component.scss
  components/automate-ui/src/app/components/table/table-header-cell/table-header-cell.component.scss
  components/automate-ui/src/app/components/table/table-header/table-header.component.scss
  components/automate-ui/src/app/components/table/table-header/table-header.component.ts
  components/automate-ui/src/app/components/table/table-row/table-row.component.scss
  components/automate-ui/src/app/components/table/table.component.scss
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.scss
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.scss
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/details/project-details.component.scss
Labels: auth-team, automate-ui, ui

#2719 Dan/apps backups
  .bldr.toml
  components/automate-cli/pkg/diagnostics/context.go
  components/automate-cli/pkg/diagnostics/integration/applications.go
  components/automate-deployment/pkg/a1upgrade/generate_cfg.go
  components/automate-deployment/pkg/backup/spec.go
  components/automate-deployment/pkg/server/server.go
  integration/tests/cluster.sh
Labels: eas

#2726 Applying license should immediately be reflected in license notification banner
  components/automate-ui/src/app/modules/license/license-apply/license-apply.component.spec.ts
  components/automate-ui/src/app/modules/license/license-apply/license-apply.component.ts
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.spec.ts
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.ts
Labels: auth-team, automate-ui, ui

#2779 Remove ngmodel without ngrx
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.html
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.component.ts
  components/automate-ui/src/app/page-components/projects-filter-dropdown/projects-filter-dropdown.spec.ts
Labels: auth-team, automate-auth, automate-ui, chore, ui

#2787 Add applications load generation to chef-load machines
  terraform/test-environments/modules/chef_load_instance/main.tf
  terraform/test-environments/modules/chef_load_instance/templates/applications_load_gen.toml.tpl
  terraform/test-environments/modules/chef_load_instance/variables.tf
Labels: eas

#2749 Library code for managing builder incremental backups
  components/automate-deployment/pkg/backup/artifact_repo.go
  components/automate-deployment/pkg/backup/artifact_repo_helpers_test.go
  components/automate-deployment/pkg/backup/artifact_repo_property_test.go
  components/automate-deployment/pkg/backup/artifact_streams.go
  components/automate-deployment/pkg/backup/artifact_streams_property_test.go
  components/automate-deployment/pkg/backup/artifact_streams_test.go
  components/automate-deployment/pkg/backup/bulk_helpers.go
  components/automate-deployment/pkg/backup/bulk_helpers_test.go
  components/automate-deployment/pkg/backup/location_spec.go
  tools/builder-scaffolding/main.go
  tools/builder-scaffolding/repo.go
  vendor/github.com/leanovate/gopter/commands/actions.go
  vendor/github.com/leanovate/gopter/commands/command.go
  vendor/github.com/leanovate/gopter/commands/commands.go
  vendor/github.com/leanovate/gopter/commands/doc.go
  vendor/modules.txt
Labels: deployment-team

#2691 Automate-835 bottom user notifications
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/confirm-apply-start-modal/confirm-apply-start-modal.component.html
  components/automate-ui/src/app/components/confirm-apply-start-modal/confirm-apply-start-modal.component.scss
  components/automate-ui/src/app/components/confirm-apply-start-modal/confirm-apply-start-modal.component.spec.ts
  components/automate-ui/src/app/components/confirm-apply-start-modal/confirm-apply-start-modal.component.ts
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.html
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.scss
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.spec.ts
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.ts
  components/automate-ui/src/app/components/notifications/notifications.component.html
  components/automate-ui/src/app/components/notifications/notifications.component.spec.ts
  components/automate-ui/src/app/components/notifications/notifications.component.ts
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.html
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.scss
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.spec.ts
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.ts
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.html
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.scss
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.spec.ts
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.ts
  components/automate-ui/src/app/components/sidebar/sidebar.component.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.html
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/project/project.module.ts
  components/automate-ui/src/app/ui.component.html
  components/automate-ui/src/styles/_mixins.scss
  components/automate-ui/src/styles/_variables.scss
  components/automate-ui/src/styles/chef-theme.scss
  components/automate-ui/src/styles/mixins/_mat-button-theme.scss
  components/automate-ui/src/styles/mixins/_mat-theming.scss
  components/automate-ui/tslint.json
  e2e/cypress/integration/ui/settings/project_mgmt.spec.ts
Labels: automate-ui, iamv2, ui

#2780 Clarify when Automate respects proxy environment variables.
  components/automate-chef-io/content/docs/configuration.md
  components/automate-chef-io/content/docs/migrate.md
Labels: deployment-team, documentation

#2810 fix styles on license modals and add sign out button
  components/automate-ui/src/app/modules/license/license-apply/license-apply.component.html
  components/automate-ui/src/app/modules/license/license-apply/license-apply.component.scss
  components/automate-ui/src/app/modules/license/license-apply/license-apply.component.ts
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.html
  components/automate-ui/src/app/modules/license/license-lockout/license-lockout.component.scss
Labels: auth-team, automate-ui, bug 🐛, ui

#2821 adjusted docs for ui changes to project update
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/static/images/docs/admin-projects.png
  components/automate-chef-io/static/images/docs/update-projects-button.png
Labels: auth-team, documentation, emergent

#2825 [Automate-2823] chrome 80 workaround
  components/automate-ui/src/main.ts
Labels: automate-ui, ui

#2789 Wire up incremental builder backups
  components/automate-deployment/pkg/backup/artifact_repo.go
  components/automate-deployment/pkg/backup/builder_operations.go
  components/automate-deployment/pkg/backup/builder_operations_v2.go
  components/automate-deployment/pkg/backup/runner.go
  components/automate-deployment/pkg/backup/spec.go
Labels: deployment-team

#2826 Adding run message validation to the ingest pipeline
  components/ingest-service/pipeline/chef_run.go
  components/ingest-service/pipeline/processor/corrections_run.go
  components/ingest-service/pipeline/processor/transmogrify_run.go
  components/ingest-service/pipeline/processor/validator_run.go
  components/ingest-service/pipeline/processor/validator_run_internal_test.go
Labels: ingest-service

#2832 Automatically retry 503s in diagnostics
  components/automate-cli/pkg/diagnostics/context.go
Labels: deployment-team

#2837 Publish the docs!
  components/automate-chef-io/content/docs/applications-dashboard.md
  components/automate-chef-io/content/docs/eas.md
Labels: documentation

#2835 Track latest redoc release in API docs
  components/automate-chef-io/layouts/_default/data-api.html
Labels: documentation

#2775 Remove Oauth page
  components/automate-chef-io/content/docs/OAuth.md
  components/automate-chef-io/content/docs/applications-setup.md
Labels: documentation

#2839 Dan/api docs formatting
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/applications/applications.swagger.json
  components/automate-gateway/api/applications.pb.swagger.go
Labels: documentation

#2827 Fix for incompatible profiles breaking A1 to A2 migration
  components/compliance-service/api/profiles/server/migrate.go
  components/compliance-service/profiles/market/market.go
Labels: bug 🐛

#2833 Remove vim swap file
  .gitignore
  .swn
Labels: deployment-team

#2838 Correcting disposition of ListProjects for IAM v1
  components/automate-ui/src/app/entities/layout/layout.facade.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#2784 Vinay/automate infra proxy org ui
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/orgs/org.actions.ts
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/entities/orgs/org.model.ts
  components/automate-ui/src/app/entities/orgs/org.reducer.ts
  components/automate-ui/src/app/entities/orgs/org.requests.ts
  components/automate-ui/src/app/entities/orgs/org.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
Labels: automate-infra-proxy, automate-ui, ui

#2679 Improve automation with Vagrant
  components/automate-chef-io/content/docs/quickstart.md
Labels: community, documentation

#2796 [Automate-1890] gateway v1 scrub
  .studio/common
  api/interservice/authz/authz.pb.client_mock.go
  api/interservice/authz/v2/authz.pb.client_mock.go
  components/automate-gateway/gateway/datacollector.go
  components/automate-gateway/gateway/datacollector_internal_test.go
  components/automate-gateway/gateway/helpers_internal_test.go
  components/automate-gateway/gateway/middleware/auth_interceptor.go
  components/automate-gateway/gateway/middleware/authv1/authv1.go
  components/automate-gateway/gateway/server.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/authz.go
  components/automate-gateway/handler/authz_test.go
  components/automate-gateway/pkg/authorizer/authorizer.go
  components/automate-gateway/pkg/authorizer/authorizer_test.go
Labels: auth-team, automate-auth, v2 force upgrade branch

#2862 [elasticsearch] Make max shards per node a configurable option
  api/config/elasticsearch/config_request.go
  api/config/elasticsearch/config_request.pb.go
  api/config/elasticsearch/config_request.proto
  components/automate-elasticsearch/habitat/config/elasticsearch.yml
  terraform/test-environments/modules/chef_automate_install/main.tf
Labels: deployment-team

#2845 [Automate-2830] Auto-document IAM actions in API documentation section
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/nodes/nodes.pb.go
  api/external/nodes/nodes.proto
  api/external/nodes/nodes.swagger.json
  api/scripts/grpc.sh
  components/automate-chef-io/Makefile
  components/automate-chef-io/README.md
  components/automate-chef-io/data/docs/api_chef_automate/applications/applications.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/nodes.swagger.json
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/compliance/reporting/reporting.pb.go
  components/automate-gateway/api/compliance/reporting/reporting.proto
  components/automate-gateway/api/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/compliance/reporting/stats/stats.pb.go
  components/automate-gateway/api/compliance/reporting/stats/stats.proto
  components/automate-gateway/api/compliance/reporting/stats/stats.swagger.json
  components/automate-gateway/api/compliance_reporting_reporting.pb.swagger.go
  components/automate-gateway/api/compliance_reporting_stats_stats.pb.swagger.go
  components/automate-gateway/api/nodes.pb.swagger.go
  components/automate-gateway/scripts/grpc.sh
  scripts/add_action_doc_to_proto.awk
Labels: auth-team, automate-auth, documentation

#2856 Improve reconnection behavior in NATS clients
  components/applications-service/pkg/nats/nats.go
Labels: eas

#2860 [automate-2857] Update user service to teams v2 client
  .bldr.toml
  api/interservice/teams/v2/teams.pb.go
  api/interservice/teams/v2/teams.pb.mock.go
  api/interservice/teams/v2/teams.pb.validate.go
  api/interservice/teams/v2/teams.proto
  components/local-user-service/server/grpc.go
  components/local-user-service/server/grpc_test.go
  components/local-user-service/server/server.go
  components/local-user-service/server/server_test.go
  components/teams-service/server/v2/server.go
Labels: auth-team, automate-auth

#2888 project update banner style updates
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.scss
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.scss
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
  components/chef-ui-library/src/global/variables.css
Labels: auth-team, automate-ui, emergent, ui

#2891 fix project update progress percentage
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.spec.ts
  components/automate-ui/src/app/components/process-progress-bar/process-progress-bar.component.ts
  components/automate-ui/src/app/entities/projects/project.reducer.ts
Labels: auth-team, automate-ui, bug 🐛, emergent, ui

#2820 Add app-authorized to applications nav link
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
Labels: automate-ui, eas, ui

#2824 Jamie/2573 accordions for long service messages
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.html
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.scss
  components/automate-ui/src/app/page-components/services-sidebar/services-sidebar.component.ts
Labels: automate-ui, eas, ui

#2903 [automate-2703] spinner forever on project updates
  components/automate-ui/src/app/entities/userperms/userperms.effects.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#2902 Add button for back to docs
  components/automate-chef-io/layouts/_default/data-api.html
Labels: documentation

#2905 [automate-2904] Remove state-clearing upon initiating "get all"
  components/automate-ui/src/app/entities/api-tokens/api-token.reducer.ts
  components/automate-ui/src/app/entities/orgs/org.reducer.ts
  components/automate-ui/src/app/entities/policies/policy.reducer.ts
  components/automate-ui/src/app/entities/projects/project.reducer.ts
  components/automate-ui/src/app/entities/roles/role.reducer.ts
  components/automate-ui/src/app/entities/rules/rule.reducer.ts
  components/automate-ui/src/app/entities/servers/server.reducer.ts
  components/automate-ui/src/app/entities/teams/team.reducer.ts
  components/automate-ui/src/app/entities/users/user.reducer.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#2907 [Automate-2889] Suppress pending banner if progress banner active
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.html
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.spec.ts
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
Labels: auth-team, automate-auth, automate-ui, bug 🐛, ui

#2906 adding more sign in details to dev docs
  dev-docs/ui-development.md
Labels: documentation

#2913 Streamline notifications (cosmetic)
  components/automate-ui/src/app/components/notifications/notifications.component.html
  components/automate-ui/src/app/entities/notifications/notification.model.ts
Labels: automate-ui, chore, ui

#2921 Fetch ReDoc js file when building hab package rather than rely on CDN.
  components/automate-chef-io/.gitignore
  components/automate-chef-io/Makefile
  components/automate-chef-io/habitat/plan.sh
  components/automate-chef-io/layouts/_default/data-api.html
Labels: documentation

#2924 Progress bar fix
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.html
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.spec.ts
  components/automate-ui/src/app/components/confirm-apply-stop-modal/confirm-apply-stop-modal.component.ts
Labels: auth-team, automate-auth, automate-ui, ui

#2842 [automate-2864] Make IAM diagnostics version-aware
  .bldr.toml
  components/automate-cli/pkg/diagnostics/context.go
  components/automate-cli/pkg/diagnostics/integration/api.go
  components/automate-cli/pkg/diagnostics/integration/auth_policies.go
  components/automate-cli/pkg/diagnostics/integration/auth_teams.go
  components/automate-cli/pkg/diagnostics/integration/auth_users.go
  components/automate-cli/pkg/diagnostics/integration/iam_projects.go
  components/automate-cli/pkg/diagnostics/integration/iam_roles.go
  components/automate-cli/pkg/diagnostics/integration/iam_teams.go
  components/automate-cli/pkg/diagnostics/integration/iam_tokens.go
  components/automate-cli/pkg/diagnostics/integration/iam_users.go
  components/automate-cli/pkg/diagnostics/integration/iam_v1_policies.go
  components/automate-cli/pkg/diagnostics/integration/iam_v2.go
  components/automate-cli/pkg/diagnostics/integration/iam_v2_policies.go
Labels: auth-team, automate-auth, testing

#2920 add retention to make searching the docs easier
  components/automate-chef-io/content/docs/data-lifecycle.md
  components/automate-chef-io/content/docs/node-lifecycle.md
Labels: documentation

#2918 Chef Manage A2 SAML auth caveat
  components/automate-chef-io/content/docs/migrate.md
Labels: auth-team, documentation

#2933 [automate-2930] Fix NATS gateway test errors related to v2 force upgrade
  components/event-gateway/integration_test/nats_auth_test.go
  components/event-gateway/integration_test/suite_test.go
Labels: auth-team, v2 force upgrade branch

#2946 adding viewer and editor to sign in docs
  dev-docs/DEV_ENVIRONMENT.md
  dev-docs/ui-development.md
Labels: documentation

#2944 Updating auth dev docs
  dev-docs/auth.md
Labels: auth-team, documentation

#2938 Add some logging around forced migration
  components/authz-service/storage/postgres/migration/migration.go
  components/authz-service/storage/v1/postgres/postgres.go
  components/authz-service/storage/v2/postgres/postgres.go
Labels: auth-team, automate-auth, chore

#2947 instructions for adding sample data to the infra views
  .studio/infra-proxy-service
  dev-docs/adding-data/adding_test_data.md
Labels: automate-infra-proxy, documentation

#2875 [automate-2861] Update authn service to teams v2 client
  .bldr.toml
  components/authn-service/server/server.go
  components/authn-service/server/server_test.go
Labels: auth-team, automate-auth

#2877 [automate-2876] Update automate-deployment to teams v2 client
  components/automate-deployment/pkg/usermgmt/client/client.go
  components/automate-deployment/pkg/usermgmt/client/client_test.go
Labels: auth-team, automate-auth

#2961 Fix IAM V2 bug for new A1 data collector token entries
  components/authn-service/tokens/pg/adapter.go
Labels: auth-team, bug 🐛

#2943 Adding required proto annotations
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/rules.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/teams.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/users.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/iam/v2/request/rules.pb.go
  components/automate-gateway/api/iam/v2/request/rules.proto
  components/automate-gateway/api/iam/v2/request/teams.pb.go
  components/automate-gateway/api/iam/v2/request/teams.proto
  components/automate-gateway/api/iam/v2/request/users.pb.go
  components/automate-gateway/api/iam/v2/request/users.proto
  components/automate-gateway/api/iam/v2/rules.swagger.json
  components/automate-gateway/api/iam/v2/teams.swagger.json
  components/automate-gateway/api/iam/v2/users.swagger.json
  components/automate-gateway/api/iam_v2_rules.pb.swagger.go
  components/automate-gateway/api/iam_v2_teams.pb.swagger.go
  components/automate-gateway/api/iam_v2_users.pb.swagger.go
Labels: auth-team, automate-auth, chore

#2467 automate-2281 automate-2278
  components/automate-ui/src/app/components/authorized/authorized.component.ts
  components/automate-ui/src/app/components/sidebar/sidebar.component.html
  components/automate-ui/src/app/components/sidebar/sidebar.component.ts
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/layout/layout.actions.ts
  components/automate-ui/src/app/entities/layout/layout.facade.ts
  components/automate-ui/src/app/entities/layout/layout.model.ts
  components/automate-ui/src/app/entities/layout/layout.reducer.ts
  components/automate-ui/src/app/entities/layout/layout.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/policy/details/policy-details.component.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.ts
  components/automate-ui/src/app/modules/roles/details/role-details.component.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/containers/credentials-add-edit-screen.ts
  components/automate-ui/src/app/pages/+compliance/+credentials/containers/credentials-list-screen.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-details/profile-details.component.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profile/reporting-profile.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/job-scans-list/job-scans-list.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-edit/nodes-edit.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/scanner/scanner.component.ts
  components/automate-ui/src/app/pages/applications/applications.component.ts
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/data-feed-form/data-feed-form.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.ts
  components/automate-ui/src/app/pages/event-feed/event-feed.component.ts
  components/automate-ui/src/app/pages/integrations/add/integrations-add.component.ts
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.ts
  components/automate-ui/src/app/pages/integrations/edit/integrations-edit.component.ts
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.ts
  components/automate-ui/src/app/pages/node-noruns-details/node-noruns-details.component.ts
  components/automate-ui/src/app/pages/notification-form/notification-form.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/staticConfig.ts
Labels: automate-ui, iamv2, layout, ui

#2715 Change IAM docs to focus on IAM v2
  components/automate-chef-io/content/docs/api-tokens.md
  components/automate-chef-io/content/docs/iam-v1-overview.md
  components/automate-chef-io/content/docs/iam-v1-policies.md
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/content/docs/iam-v2-guide.md
  components/automate-chef-io/content/docs/iam-v2-overview.md
  components/automate-chef-io/content/docs/ldap.md
  components/automate-chef-io/content/docs/monitoring.md
  components/automate-chef-io/content/docs/policies.md
  components/automate-chef-io/content/docs/projects.md
  components/automate-chef-io/content/docs/roles.md
  components/automate-chef-io/content/docs/saml.md
  components/automate-chef-io/content/docs/teams.md
  components/automate-chef-io/content/docs/users.md
  components/automate-chef-io/static/images/docs/admin-tab-API-token-create.png
  components/automate-chef-io/static/images/docs/admin-tab-API-tokens-list.png
  components/automate-chef-io/static/images/docs/admin-tab-team-add-admins.png
  components/automate-chef-io/static/images/docs/admin-tab-team-add-users.png
  components/automate-chef-io/static/images/docs/admin-tab-team-create.png
  components/automate-chef-io/static/images/docs/admin-tab-team-details.png
  components/automate-chef-io/static/images/docs/admin-tab-team-edit.png
  components/automate-chef-io/static/images/docs/admin-tab-teams-list.png
  components/automate-chef-io/static/images/docs/admin-tab-user-add.png
  components/automate-chef-io/static/images/docs/admin-tab-user-edit.png
  components/automate-chef-io/static/images/docs/admin-tab-users-list.png
  components/automate-chef-io/static/images/docs/settings-policies.png
  components/automate-chef-io/static/images/docs/settings-projects.png
  components/automate-chef-io/static/images/docs/settings-roles.png
  components/automate-chef-io/static/images/docs/user-profile-navigation.png
  components/automate-chef-io/static/images/docs/user-profile-view.png
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.html
Labels: auth-team, documentation, v2 force upgrade branch

#2953 [Auth-1887] Remove v2beta paths
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/policy.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/rules.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/teams.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/tokens.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/users.swagger.json
  components/automate-gateway/api/iam/v2/policy.pb.go
  components/automate-gateway/api/iam/v2/policy.pb.gw.go
  components/automate-gateway/api/iam/v2/policy.proto
  components/automate-gateway/api/iam/v2/policy.swagger.json
  components/automate-gateway/api/iam/v2/rules.pb.go
  components/automate-gateway/api/iam/v2/rules.pb.gw.go
  components/automate-gateway/api/iam/v2/rules.proto
  components/automate-gateway/api/iam/v2/rules.swagger.json
  components/automate-gateway/api/iam/v2/teams.pb.go
  components/automate-gateway/api/iam/v2/teams.pb.gw.go
  components/automate-gateway/api/iam/v2/teams.proto
  components/automate-gateway/api/iam/v2/teams.swagger.json
  components/automate-gateway/api/iam/v2/tokens.pb.go
  components/automate-gateway/api/iam/v2/tokens.pb.gw.go
  components/automate-gateway/api/iam/v2/tokens.proto
  components/automate-gateway/api/iam/v2/tokens.swagger.json
  components/automate-gateway/api/iam/v2/users.pb.go
  components/automate-gateway/api/iam/v2/users.pb.gw.go
  components/automate-gateway/api/iam/v2/users.proto
  components/automate-gateway/api/iam/v2/users.swagger.json
  components/automate-gateway/api/iam_v2_policy.pb.swagger.go
  components/automate-gateway/api/iam_v2_rules.pb.swagger.go
  components/automate-gateway/api/iam_v2_teams.pb.swagger.go
  components/automate-gateway/api/iam_v2_tokens.pb.swagger.go
  components/automate-gateway/api/iam_v2_users.pb.swagger.go
  inspec/a2-api-integration/controls/auth.rb
Labels: auth-team, automate-auth

#2963 Jamie/bug table widths
  components/automate-ui/src/app/components/table/table-cell/table-cell.component.scss
  components/automate-ui/src/app/modules/policy/details/policy-details.component.scss
  components/automate-ui/src/app/modules/roles/details/role-details.component.scss
  components/automate-ui/src/app/modules/team/team-details/team-details.component.scss
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.scss
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/styles.scss
Labels: automate-ui, bug 🐛, layout, ui

#2945 Revert chrome 80 workaround
  components/automate-ui/src/main.ts
Labels: auth-team, automate-auth, automate-ui, chore, ui

#2957 Updated data feed content and format
  api/external/data_feed/data_feed.pb.go
  api/external/data_feed/data_feed.proto
  api/external/data_feed/data_feed.swagger.json
  components/automate-gateway/api/data_feed.pb.swagger.go
  components/data-feed-service/dao/destination.go
  components/data-feed-service/server/server.go
  components/data-feed-service/service/data-feed-aggregate-task.go
  components/data-feed-service/service/data-feed-service.go
Labels: data-feed

#2934 Auth 2926/teams v2 migrations
  api/interservice/teams/v2/teams.pb.go
  api/interservice/teams/v2/teams.pb.mock.go
  api/interservice/teams/v2/teams.proto
  components/automate-gateway/api/iam/v2/teams.pb.go
  components/automate-gateway/api/iam/v2/teams.pb.mock.go
  components/automate-gateway/api/iam/v2/teams.pb.policy-v1.go
  components/automate-gateway/api/iam/v2/teams.pb.policy-v2.go
  components/automate-gateway/api/iam/v2/teams.proto
  components/automate-gateway/api/iam/v2/teams.swagger.json
  components/automate-gateway/api/iam_v2_teams.pb.swagger.go
  components/automate-gateway/handler/iam/v2/teams/teams.go
  components/teams-service/Makefile
  components/teams-service/cmd/teams-service/main.go
  components/teams-service/habitat/plan.sh
  components/teams-service/server/v1/server_test.go
  components/teams-service/server/v2/server.go
  components/teams-service/server/v2/server_test.go
  components/teams-service/service/service.go
  components/teams-service/storage/conformance/conformance_test.go
  components/teams-service/storage/memstore/memstore.go
  components/teams-service/storage/postgres/datamigration/datamigration.go
  components/teams-service/storage/postgres/datamigration/sql/01_rename_operators_team.down.sql
  components/teams-service/storage/postgres/datamigration/sql/01_rename_operators_team.up.sql
  components/teams-service/storage/postgres/datamigration/sql/02_set_all_team_projects_to_unassigned.up.sql
  components/teams-service/storage/postgres/datamigration/sql/README.md
  components/teams-service/storage/postgres/migration/sql/10_upgrade_to_v2_migrations.up.sql
  components/teams-service/storage/postgres/migration/sql/README.md
  components/teams-service/storage/postgres/postgres.go
  components/teams-service/storage/storage.go
Labels: auth-team

#2969 remove v2beta/policy_version path
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/policy.swagger.json
  components/automate-cli/pkg/diagnostics/context.go
  components/automate-gateway/api/iam/v2/policy.pb.go
  components/automate-gateway/api/iam/v2/policy.pb.gw.go
  components/automate-gateway/api/iam/v2/policy.proto
  components/automate-gateway/api/iam/v2/policy.swagger.json
  components/automate-gateway/api/iam_v2_policy.pb.swagger.go
  e2e/cypress/support/index.ts
Labels: auth-team, automate-gateway

#2970 Auth 2867/remove v1 tokens gateway apis
  .bldr.toml
  .studio/automate-gateway
  components/authn-service/cmd/migrate-tokens/migrate-tokens.go
  components/automate-chef-io/data/docs/api-static/02-meta-description.yaml
  components/automate-chef-io/data/docs/api_chef_automate/auth/tokens/request/tokens.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/auth/tokens/response/tokens.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/auth/tokens/tokens.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/policy.swagger.json
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-cli/pkg/client/apiclient/apiclient.go
  components/automate-cli/pkg/client/mock/mock.go
  components/automate-cli/pkg/client/types.go
  components/automate-gateway/api/api_test.go
  components/automate-gateway/api/auth/tokens/request/tokens.pb.go
  components/automate-gateway/api/auth/tokens/request/tokens.proto
  components/automate-gateway/api/auth/tokens/request/tokens.swagger.json
  components/automate-gateway/api/auth/tokens/response/tokens.pb.go
  components/automate-gateway/api/auth/tokens/response/tokens.proto
  components/automate-gateway/api/auth/tokens/response/tokens.swagger.json
  components/automate-gateway/api/auth/tokens/tokens.pb.go
  components/automate-gateway/api/auth/tokens/tokens.pb.gw.go
  components/automate-gateway/api/auth/tokens/tokens.pb.mock.go
  components/automate-gateway/api/auth/tokens/tokens.pb.policy-v1.go
  components/automate-gateway/api/auth/tokens/tokens.pb.policy-v2.go
  components/automate-gateway/api/auth/tokens/tokens.proto
  components/automate-gateway/api/auth/tokens/tokens.swagger.json
  components/automate-gateway/api/auth_tokens_request_tokens.pb.swagger.go
  components/automate-gateway/api/auth_tokens_response_tokens.pb.swagger.go
  components/automate-gateway/api/auth_tokens_tokens.pb.swagger.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/tokens.go
  components/automate-ui/src/app/components/landing/landing.component.spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/entities/userperms/README.md
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.html
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
  e2e/cypress/integration/ui/settings/token_mgmt.spec.ts
Labels: auth-team, documentation, v2 force upgrade branch

#2974 applications service api docs edits
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/applications/applications.swagger.json
  components/automate-gateway/api/applications.pb.swagger.go
Labels: documentation

#2922 [AUTOMATE-2866] Remove v1 users APIs from gateway
  .bldr.toml
  components/automate-cli/cmd/chef-automate/dev.go
  components/automate-cli/cmd/chef-automate/iam.go
  components/automate-cli/pkg/adminmgmt/adminmgmt.go
  components/automate-cli/pkg/adminmgmt/adminmgmt_test.go
  components/automate-cli/pkg/client/apiclient/apiclient.go
  components/automate-cli/pkg/client/mock/mock.go
  components/automate-cli/pkg/client/types.go
  components/automate-gateway/api/api_test.go
  components/automate-gateway/api/auth/users/request/users.pb.go
  components/automate-gateway/api/auth/users/request/users.proto
  components/automate-gateway/api/auth/users/request/users.swagger.json
  components/automate-gateway/api/auth/users/response/users.pb.go
  components/automate-gateway/api/auth/users/response/users.proto
  components/automate-gateway/api/auth/users/response/users.swagger.json
  components/automate-gateway/api/auth/users/users.pb.go
  components/automate-gateway/api/auth/users/users.pb.gw.go
  components/automate-gateway/api/auth/users/users.pb.mock.go
  components/automate-gateway/api/auth/users/users.pb.policy-v1.go
  components/automate-gateway/api/auth/users/users.pb.policy-v2.go
  components/automate-gateway/api/auth/users/users.proto
  components/automate-gateway/api/auth/users/users.swagger.json
  components/automate-gateway/api/auth_users_request_users.pb.swagger.go
  components/automate-gateway/api/auth_users_response_users.pb.swagger.go
  components/automate-gateway/api/auth_users_users.pb.swagger.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/users.go
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/components/authorized/authorized.component.ts
  components/automate-ui/src/app/components/landing/landing.component.spec.ts
  components/automate-ui/src/app/components/settings-sidebar/settings-sidebar.component.html
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/entities/userperms/README.md
  components/automate-ui/src/app/entities/userperms/userperms.requests.ts
  components/automate-ui/src/app/helpers/auth/authorized.spec.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.html
  components/automate-ui/src/app/modules/user/user-management/user-management.component.ts
  components/automate-ui/src/app/page-components/navbar/navbar.component.html
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
Labels: auth-team, v2 force upgrade branch

#2975 api documentation for manager proto
  api/external/nodes/manager/manager.pb.go
  api/external/nodes/manager/manager.proto
  api/external/nodes/manager/manager.swagger.json
  api/external/nodes/nodes.pb.go
  api/external/nodes/nodes.proto
  api/external/nodes/nodes.swagger.json
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/profiles/profiles.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/scanner/jobs/jobs.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/data_feed/data_feed.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/manager/manager.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/nodes.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/secrets/secrets.swagger.json
  components/automate-gateway/api/manager.pb.swagger.go
  components/automate-gateway/api/nodes.pb.swagger.go
Labels: documentation

#2982 Policy and token api docs
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  api/external/cfgmgmt/cfgmgmt.pb.go
  api/external/cfgmgmt/cfgmgmt.proto
  api/external/cfgmgmt/cfgmgmt.swagger.json
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  api/external/compliance/reporting/stats/stats.pb.go
  api/external/compliance/reporting/stats/stats.proto
  api/external/compliance/reporting/stats/stats.swagger.json
  api/external/nodes/nodes.pb.go
  api/external/nodes/nodes.proto
  api/external/nodes/nodes.swagger.json
  components/automate-chef-io/README.md
  components/automate-chef-io/content/docs/iam-v2-api-reference.md
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/applications/applications.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/cfgmgmt/cfgmgmt.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/policy.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/iam/v2/tokens.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/nodes/nodes.swagger.json
  components/automate-gateway/api/applications.pb.swagger.go
  components/automate-gateway/api/cfgmgmt.pb.swagger.go
  components/automate-gateway/api/iam/v2/common/policy.pb.go
  components/automate-gateway/api/iam/v2/common/policy.proto
  components/automate-gateway/api/iam/v2/common/tokens.pb.go
  components/automate-gateway/api/iam/v2/common/tokens.proto
  components/automate-gateway/api/iam/v2/policy.pb.go
  components/automate-gateway/api/iam/v2/policy.proto
  components/automate-gateway/api/iam/v2/policy.swagger.json
  components/automate-gateway/api/iam/v2/request/policy.pb.go
  components/automate-gateway/api/iam/v2/request/policy.proto
  components/automate-gateway/api/iam/v2/request/tokens.pb.go
  components/automate-gateway/api/iam/v2/request/tokens.proto
  components/automate-gateway/api/iam/v2/response/policy.pb.go
  components/automate-gateway/api/iam/v2/response/policy.proto
  components/automate-gateway/api/iam/v2/response/tokens.proto
  components/automate-gateway/api/iam/v2/tokens.pb.go
  components/automate-gateway/api/iam/v2/tokens.proto
  components/automate-gateway/api/iam/v2/tokens.swagger.json
  components/automate-gateway/api/iam_v2_policy.pb.swagger.go
  components/automate-gateway/api/iam_v2_tokens.pb.swagger.go
  components/automate-gateway/api/nodes.pb.swagger.go
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-gateway/api/stats.pb.swagger.go
  scripts/add_action_doc_to_proto.awk
Labels: auth-team, automate-auth, documentation

#2893 [authz-service] update get_admin_token in README.md
  components/authz-service/README.md
Labels: auth-team, documentation, emergent

#2594 document scan jobs proto
  api/external/compliance/scanner/jobs/jobs.pb.go
  api/external/compliance/scanner/jobs/jobs.proto
  api/external/compliance/scanner/jobs/jobs.swagger.json
  components/automate-chef-io/data/docs/api-static/03-tags.swagger.json
  components/automate-chef-io/data/docs/api_chef_automate/compliance/scanner/jobs/jobs.swagger.json
  components/automate-gateway/api/jobs.pb.swagger.go
Labels: documentation
