Repository chef/automate, pull requests merged in 2021-09, with the labels that each got.

#5627 Session Timeout feature in Chef Automate
  components/docs-chef-io/content/automate/session_timeout.md
Labels: documentation

#5640 Added pagination in policy group nodes
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-group-details.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5636 [infra-proxy-service] User management - GET Server users list API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/users.pb.go
  api/external/infra_proxy/request/users.proto
  api/external/infra_proxy/response/users.pb.go
  api/external/infra_proxy/response/users.proto
  api/interservice/infra_proxy/request/users.pb.go
  api/interservice/infra_proxy/request/users.proto
  api/interservice/infra_proxy/response/users.pb.go
  api/interservice/infra_proxy/response/users.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/users.go
  components/infra-proxy-service/server/proxy.go
  components/infra-proxy-service/server/users.go
Labels: automate-infra-proxy-api, Team: Stalwart

#5527 Update PolicyFile Details section and add Policy Group Section
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/content-scroller-tab-for-policyfiles.png
  components/docs-chef-io/static/images/automate/cookbook-dependencies-from-policyfiles.png
  components/docs-chef-io/static/images/automate/delete-policyfiles.png
  components/docs-chef-io/static/images/automate/details-of-policyfiles.png
  components/docs-chef-io/static/images/automate/details-of-the-policygroup.png
  components/docs-chef-io/static/images/automate/search-for-a-policygroup.png
Labels: documentation

#5651 Adding chef server using FQDN or IP address
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/server/servers_test.go
Labels: automate-infra-proxy-api, Team: Stalwart

#5648 [infra-proxy-service]Removed validation for description field while update role.
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy-api, Team: Stalwart

#5598 Adding automate-backend-curator
  .bldr.toml
  HABITAT_PACKAGES
  components/automate-backend-curator/habitat/README.md
  components/automate-backend-curator/habitat/config/actions.yml
  components/automate-backend-curator/habitat/config/curator.yml
  components/automate-backend-curator/habitat/default.toml
  components/automate-backend-curator/habitat/hooks/init
  components/automate-backend-curator/habitat/hooks/run
  components/automate-backend-curator/habitat/plan.sh
  components/automate-deployment/pkg/assets/binds.go
Labels: Team: Madrox

#5656 UI Improvements for node details page
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.scss
Labels: ui, automate-ui, automate-infra-proxy, Team: Stalwart

#5650 Upgrade node-sass version
  components/chef-ui-library/package.json
Labels: security, Team: Stalwart

#5643 Check the health chef infra servers before add to automate
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/servers.pb.go
  api/external/infra_proxy/request/servers.proto
  api/external/infra_proxy/response/servers.pb.go
  api/external/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/request/servers.pb.go
  api/interservice/infra_proxy/request/servers.proto
  api/interservice/infra_proxy/response/servers.pb.go
  api/interservice/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/servers.go
  components/automate-ui/package-lock.json
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/server.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/server/servers_test.go
  components/infra-proxy-service/test/test.go
Labels: automate-infra-proxy-api, Team: Stalwart

#5629 Add telemetry-checkbox in user profile page
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.scss
  components/automate-ui/src/app/modules/user/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/modules/user/user.module.ts
  components/automate-ui/src/app/page-components/telemetry-checkbox/telemetry-checkbox.component.html
  components/automate-ui/src/app/page-components/telemetry-checkbox/telemetry-checkbox.component.ts
  components/automate-ui/src/app/page-components/telemetry-checkbox/telemetry-checkbox.module.ts
  components/automate-ui/src/app/page-components/welcome-modal/welcome-modal.component.html
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.actions.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.reducer.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.service.ts
  e2e/cypress/integration/ui/common/user_settings.spec.ts
Labels: ui, automate-ui, cypress, telemetry, Team: Kinetic

#5681 Replace master branch with main in docs makefile
  components/docs-chef-io/Makefile
Labels: documentation

#5625 Data feed integration with Minio
  components/automate-ui/src/app/entities/destinations/destination.actions.ts
  components/automate-ui/src/app/entities/destinations/destination.effects.ts
  components/automate-ui/src/app/entities/destinations/destination.model.ts
  components/automate-ui/src/app/entities/destinations/destination.requests.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.html
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.scss
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-create.spec.ts
  integration/helpers/setup_minio.sh
  integration/tests/cypress_e2e.sh
Labels: data-feed, Team: S.H.I.E.L.D.

#5653 Data feed overview page
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/destinations/destination.actions.ts
  components/automate-ui/src/app/entities/destinations/destination.effects.ts
  components/automate-ui/src/app/entities/destinations/destination.reducer.ts
  components/automate-ui/src/app/entities/destinations/destination.requests.ts
  components/automate-ui/src/app/entities/destinations/destination.selectors.ts
  components/automate-ui/src/app/entities/global-config/destination-config.actions.ts
  components/automate-ui/src/app/entities/global-config/destination-config.effects.ts
  components/automate-ui/src/app/entities/global-config/destination-config.model.ts
  components/automate-ui/src/app/entities/global-config/destination-config.reducer.ts
  components/automate-ui/src/app/entities/global-config/destination-config.requests.ts
  components/automate-ui/src/app/entities/global-config/destination-config.selectors.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/data-feed-config-details/data-feed-config-details.component.html
  components/automate-ui/src/app/pages/data-feed-config-details/data-feed-config-details.component.scss
  components/automate-ui/src/app/pages/data-feed-config-details/data-feed-config-details.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-config-details/data-feed-config-details.component.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.html
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.scss
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-overview.spec.ts
Labels: Team: S.H.I.E.L.D.

#5680 Add github action labeler for docs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: documentation, Expeditor: Skip All

#5707 Add files to integration tab
  components/docs-chef-io/content/automate/servicenow_integration.md
  components/docs-chef-io/content/automate/servicenow_integration_install.md
  components/docs-chef-io/content/automate/servicenow_integration_reference.md
Labels: documentation

#5722 Script added for table 'users'
  components/infra-proxy-service/storage/postgres/migration/sql/05_user_management.down.sql
  components/infra-proxy-service/storage/postgres/migration/sql/05_user_management.up.sql
Labels: automate-infra-proxy-api, Team: Stalwart

#5738 Script added for table 'org_users'
  components/infra-proxy-service/storage/postgres/migration/sql/05_user_management.down.sql
  components/infra-proxy-service/storage/postgres/migration/sql/05_user_management.up.sql
Labels: automate-infra-proxy-api, Team: Stalwart

#5741 edit hab studio to get it working with stable channel for hab package refresh
  .envrc
  .studio/common
Labels: WIP

#5731 Storage functions for users table
  components/infra-proxy-service/storage/postgres/users.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart

#5724 Added dropdown for fqdn and ip address.
  components/automate-ui/src/app/entities/servers/server.effects.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.ts
  components/automate-ui/src/app/types/types.ts
  e2e/cypress/integration/ui/infra-proxy/chef-server-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/chef-servers.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5728 Chaitali/add server slider
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.ts
  components/automate-ui/src/styles/_variables.scss
  e2e/cypress/integration/ui/infra-proxy/chef-servers.spec.ts
Labels: automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5718 Send ComplianceStats telemetry data on login/page refresh
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/services/telemetry/complicance-stats/complicance-stats.model.ts
  components/automate-ui/src/app/services/telemetry/complicance-stats/complicance-stats.service.ts
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
Labels: automate-ui, telemetry, Team: Kinetic

#5663 Madhvi/data feed webhook custom
  components/automate-ui/src/app/entities/destinations/destination.requests.ts
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.html
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.scss
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.html
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.ts
  e2e/cypress/integration/ui/settings/data-feed/chef-datafeed.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-create.spec.ts
Labels: data-feed, Team: S.H.I.E.L.D.

#5714 ELK integration
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.html
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-create.spec.ts
Labels: Team: S.H.I.E.L.D.

#5755 Add changes for the create server slider
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.scss
Labels: automate-ui, Team: Stalwart

#5736 license scout habitat channel fix
  .expeditor/verify_private.pipeline.yml
  .license_scout.yml
Labels: tech debt, builder

#5754 Disabled edit button if databag item is encrypted.
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5756 Infra node edit attribute modal improvement
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-attribute-modal/edit-infra-node-attribute-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
Labels: automate-ui, automate-infra-proxy, Team: Stalwart

#5733 Amazon S3 Integration UI #5581
  components/automate-ui/src/app/entities/destinations/destination.model.ts
  components/automate-ui/src/app/entities/destinations/destination.requests.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.html
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.scss
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-create.spec.ts
Labels: data-feed, Team: S.H.I.E.L.D.

#5659 Remove Chef Type and JSON fields in Infra View Role
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
Labels: automate-ui, automate-infra-proxy, Team: Stalwart

#5658 Improve consistency of infra views search fields
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.html
Labels: automate-ui, automate-infra-proxy, Team: Stalwart

#5657 Improve Policyfile text in Infra Views
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
Labels: automate-ui, automate-infra-proxy, Team: Stalwart

#5783 Revert "New PR: ServiceNow Incident App"
  SNOW_Automate_diagram.png
  SNOW_CCR_Setup.png
  SNOW_Failed_Cookbook.png
  SNOW_Failed_Node_CCR.png
  SNOW_Failed_Node_Scan.png
  SNOW_Failed_Profile_Scan.png
  SNOW_Scan_Setup.png
  SNOW_config_page.png
  components/docs-chef-io/content/automate/servicenow_incident_creation.md
  components/docs-chef-io/content/automate/servicenow_integration.md
  components/docs-chef-io/content/automate/servicenow_integration_install.md
  components/docs-chef-io/content/automate/servicenow_integration_reference.md
  components/docs-chef-io/static/images/automate/SNOW_CCR_Setup.png
  components/docs-chef-io/static/images/automate/SNOW_Failed_Cookbook.png
  components/docs-chef-io/static/images/automate/SNOW_Failed_Node_CCR.png
  components/docs-chef-io/static/images/automate/SNOW_Failed_Node_Scan.png
  components/docs-chef-io/static/images/automate/SNOW_Failed_Profile_Scan.png
  components/docs-chef-io/static/images/automate/SNOW_Scan_Setup.png
  components/docs-chef-io/static/images/automate/SNOW_config_page.png
  components/docs-chef-io/static/images/automate/snow_incident_appproperties.png
  components/docs-chef-io/static/images/automate/snow_incident_plugin.png
  snow_incident_appproperties.png
  snow_incident_plugin.png
Labels: documentation

#5778 S3 and Minio Details page
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.scss
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.html
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.scss
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-create.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-overview-S3.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-overview-minio.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-overview-webhook.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-overview.spec.ts
Labels: ui, data-feed, Team: S.H.I.E.L.D.

#5761 Bug-Automate Manger gets linked to max 100 Node IDs#5631
  e2e/cypress/integration/api/nodemanager/scan_job.spec.ts
  e2e/cypress/support/helpers.ts
Labels: Team: S.H.I.E.L.D.

#5804 Table script to store the deployment id in automate
  components/license-control-service/migrations/001_deployment.down.sql
  components/license-control-service/migrations/001_deployment.up.sql
Labels: telemetry, Team: Stalwart

#5723 Profile Section Documented
  components/docs-chef-io/content/automate/chef_automate_profile.md
  components/docs-chef-io/content/automate/users.md
  components/docs-chef-io/static/images/automate/chef-automate-profile.png
  components/docs-chef-io/static/images/automate/date-time-format-in-profile.png
  components/docs-chef-io/static/images/automate/display-name-in-profile.png
  components/docs-chef-io/static/images/automate/error-in-display-name-bar.png
  components/docs-chef-io/static/images/automate/reset-password-from-profile.png
  components/docs-chef-io/static/images/automate/user-profile-navigation.png
Labels: documentation

#5701 Page lints
  components/docs-chef-io/content/automate/_index.md
  components/docs-chef-io/content/automate/airgapped_installation.md
  components/docs-chef-io/tools/vale/Microsoft/Acronyms.yml
  components/docs-chef-io/tools/vale/Microsoft/ComplexWords.yml
  components/docs-chef-io/tools/vale/chef/acronyms.yml
  cspell.json
Labels: documentation

#5678 Chef Infra Server Updates
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/nodes-tab-in-policygroup.png
  components/docs-chef-io/static/images/automate/policyfiles-under-policygroup.png
  components/docs-chef-io/static/images/automate/runlist-tab-for-policyfiles.png
Labels: documentation

#5806 Replaced /main/ from /master/
  components/docs-chef-io/content/automate/on_prem_builder.md
  components/docs-chef-io/content/automate/profiles.md
Labels: documentation

#5412 v1 was missing from dex.v1.sys.connectors
  components/docs-chef-io/content/automate/saml.md
Labels: documentation, Expeditor: Skip All

#5411 v1 was missing from dex.v1.sys.connectors
  components/docs-chef-io/content/automate/ldap.md
Labels: documentation

#5172 Update the docs for Chef Infra Server embedded in Automate
  components/docs-chef-io/content/automate/infra_server.md
Labels: documentation

#5819 Added UI improvements
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
Labels: ui, automate-ui, automate-infra-proxy, Team: Stalwart

#5786 Command to add the sample automate infra server users
  .studio/infra-proxy-service
Labels: automate-infra-proxy, Team: Stalwart
