Repository chef/automate, pull requests merged in 2021-08, with the labels that each got.

#5396 Attributes and Revision id section in Policyfiles of Chef Infra Server
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/attributes-tab-of-policyfiles.png
  components/docs-chef-io/static/images/automate/delete-policyfiles.png
  components/docs-chef-io/static/images/automate/details-of-policyfiles.png
  components/docs-chef-io/static/images/automate/policyfiles-list-and-searchbar.png
  components/docs-chef-io/static/images/automate/revision-id-of-policyfiles.png
Labels: documentation

#5398 Added included policyfile details info.
  components/automate-ui/src/app/entities/policy-files/policy-file.reducer.ts
  components/automate-ui/src/app/modules/infra-proxy/included-policies-details/included-policies-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/included-policies-details/included-policies-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/included-policies-details/included-policies-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/included-policies-details/included-policies-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/revision-id/revision-id.component.html
  components/automate-ui/src/app/modules/infra-proxy/revision-id/revision-id.component.ts
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
Labels: automate-infra-proxy, automate-ui, cypress, ui

#5409 Added policy group tab and policy group list
  components/automate-ui/src/app/entities/policy-files/policy-file.action.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.effects.ts
  components/automate-ui/src/app/entities/policy-files/policy-group.reducer.ts
  components/automate-ui/src/app/entities/policy-files/policy-group.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups-list/policy-groups-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-groups-list/policy-groups-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-groups-list.spec.ts
Labels: automate-infra-proxy, automate-ui, cypress, ui

#5423 Remove custom staging area unlock logic
  .expeditor/config.yml
Labels: Expeditor: Skip All

#5372 Don't capitalize the text in the client create modal
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.scss
Labels: Team: Stalwart

#5355 Fix for search nodes api in azure
  components/nodemanager-service/managers/azure/azure.go
  components/nodemanager-service/managers/azure/azure_test.go
Labels: Team: S.H.I.E.L.D.

#5395 Abdul/id token fix
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
Labels: automate-auth, automate-ui

#5431 Added search functionality in policy group
  components/automate-ui/src/app/modules/infra-proxy/policy-groups-list/policy-groups-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-groups-list/policy-groups-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-groups-list.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy

#5444 Upgrade the tar version to 3.2.3 - chef-ui-library
  components/chef-ui-library/package-lock.json
  components/chef-ui-library/package.json
Labels: dependencies, Team: Stalwart

#5397 Vivek shankar/fixed 50k node error issue5278
  api/interservice/cereal/cereal.pb.go
  api/interservice/cereal/cereal.proto
  components/cereal-service/pkg/server/server.go
  lib/cereal/grpc/grpc.go
Labels: Team: S.H.I.E.L.D.

#5445 Change serial number mapping for windows
  components/data-feed-service/service/data-feed-service.go
  components/data-feed-service/service/data-feed-service_test.go
Labels: Team: S.H.I.E.L.D.

#5387 Dk/sn cmdb discovery
  components/docs-chef-io/content/automate/servicenow_integration.md
  components/docs-chef-io/content/automate/servicenow_integration_reference.md
  components/docs-chef-io/static/images/automate/snow_integration_discovery.png
  components/docs-chef-io/static/images/automate/snow_integration_reconcile.png
  components/docs-chef-io/static/images/automate/snow_integration_reconcile1.png
Labels: Team: S.H.I.E.L.D.

#5450 [infra-proxy-service] GET - API changes for the policyfile details solution dependencies attr
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/policyfiles.pb.go
  api/external/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/response/policyfiles.pb.go
  api/interservice/infra_proxy/response/policyfiles.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/policyfiles.go
  components/infra-proxy-service/server/policyfiles.go
  components/infra-proxy-service/server/policyfiles_test.go
Labels: automate-infra-proxy-api, Team: Stalwart

#5457 Added pagination in policy groups list
  components/automate-ui/src/app/modules/infra-proxy/policy-groups-list/policy-groups-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-groups-list.spec.ts
Labels: ui, automate-ui, automate-infra-proxy

#5461 Added cookbook dependencies slider.
  components/automate-ui/src/app/entities/policy-files/policy-file.model.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5378 User settings - Timeformat
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/components/chef-components.module.ts
  components/automate-ui/src/app/components/time/time.component.html
  components/automate-ui/src/app/components/time/time.component.spec.ts
  components/automate-ui/src/app/components/time/time.component.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.html
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.html
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.spec.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.scss
  components/automate-ui/src/app/modules/user/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.html
  components/automate-ui/src/app/page-components/event-feed-table/event-feed-table.component.scss
  components/automate-ui/src/app/page-components/run-history/run-history.component.html
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credential-details/node-credential-details.component.html
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.html
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.actions.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.effects.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.model.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.reducer.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.requests.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.selector.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.service.ts
  components/automate-ui/src/app/ui.component.ts
  components/automate-ui/src/environments/environment.no_auth.ts
  components/automate-ui/src/environments/environment.prod.ts
  components/automate-ui/src/environments/environment.ts
  e2e/cypress/integration/ui/common/user_settings.spec.ts
  products.meta
Labels: ui, automate-ui, cypress

#5482 resolved refresh error issue
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
Labels: automate-ui

#5484 Added cookbook accordion table.
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5485 Added policy group metadata in Policy Group details page
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.action.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.effects.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.model.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.requests.ts
  components/automate-ui/src/app/entities/policy-files/policy-group-details.reducer.ts
  components/automate-ui/src/app/entities/policy-files/policy-group-details.selectors.ts
  components/automate-ui/src/app/entities/policy-files/policy-group.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups-list/policy-groups-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-groups-list/policy-groups-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.html
  components/automate-ui/src/app/ngrx.reducers.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-group-details.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5362 Abdul/UI timeout fix
  api/config/shared/global.go
  api/config/shared/global.pb.go
  api/config/shared/global.proto
  api/config/ui/config_request.go
  api/config/ui/config_request.pb.go
  api/config/ui/config_request.proto
  buf.yaml
  components/automate-load-balancer/habitat/config/nginx.conf
  components/automate-ui/habitat/config/banner.js
  components/automate-ui/habitat/config/custom_settings.js
  components/automate-ui/habitat/config/nginx.conf
  components/automate-ui/package.json
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/services/app-config/app-config.service.spec.ts
  components/automate-ui/src/app/services/app-config/app-config.service.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  dev/patch.toml
  dev/session.toml
Labels: ui, automate-ui

#5432 User setting for saml & ldap users
  api/external/user_settings/user_settings.pb.go
  api/external/user_settings/user_settings.pb.policy.go
  api/external/user_settings/user_settings.proto
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.spec.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/page-components/profile/profile.component.html
  components/automate-ui/src/app/page-components/profile/profile.component.spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/automate-ui/src/app/services/user-preferences/signin-ui-settings.ts
  components/automate-ui/src/app/services/user-preferences/user-preferences.service.ts
  components/automate-ui/src/app/ui.component.ts
Labels: ui, automate-ui

#5464 Chef Client -> Chef Infra Client on Client Runs
  components/automate-ui/src/app/page-components/client-runs-table/client-runs-table.component.html
  components/automate-ui/src/app/pages/client-runs/client-runs.component.html
Labels: Team: Stalwart

#5487 Update default search values for consistency
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.html
Labels: Team: Stalwart

#5453 Fix role run list error to not show environment
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
Labels: Team: Stalwart

#5455 Improve deletion dialog boxes
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.html
Labels: documentation, Team: Stalwart

#5446 Fix another place where Policyfile needs to be a single word
  components/automate-ui/src/app/modules/infra-proxy/included-policies-details/included-policies-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
Labels: Team: Stalwart

#5498 Added policy group list on policy group details page
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-group-details.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy

#5553 Added cookbook details slider.
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies-details/cookbook-dependencies-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies-details/cookbook-dependencies-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies-details/cookbook-dependencies-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies-details/cookbook-dependencies-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5549 [infra-proxy-service] User management - GET users list API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/users.pb.go
  api/external/infra_proxy/request/users.proto
  api/external/infra_proxy/response/users.pb.go
  api/external/infra_proxy/response/users.proto
  api/interservice/infra_proxy/request/users.pb.go
  api/interservice/infra_proxy/request/users.proto
  api/interservice/infra_proxy/response/users.pb.go
  api/interservice/infra_proxy/response/users.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/users.go
  components/infra-proxy-service/server/users.go
Labels: automate-infra-proxy-api, Team: Stalwart

#5433 Abdul/logout api
  .bldr.toml
  .expeditor/verify_private.pipeline.yml
  .license_scout.yml
  api/config/session/config_request.pb.a2svc.go
  api/config/session/config_request.pb.go
  api/config/session/config_request.proto
  api/interservice/id_token/id_token.pb.go
  api/interservice/id_token/id_token.proto
  buf.yaml
  components/authn-service/authenticator/mock/header-tokens.go
  components/authn-service/authenticator/mock/oidc.go
  components/authn-service/authenticator/mock/prod.go
  components/authn-service/authenticator/mock/static.go
  components/authn-service/authenticator/oidc/oidc.go
  components/authn-service/authenticator/oidc/oidc_functional_test.go
  components/authn-service/authenticator/oidc/oidc_test.go
  components/authn-service/authenticator/tokens/header-tokens.go
  components/authn-service/authenticator/tokens/header-tokens_test.go
  components/authn-service/cmd/authn-service/config.go
  components/authn-service/cmd/authn-service/serve.go
  components/authn-service/habitat/config/config.yml
  components/authn-service/habitat/plan.sh
  components/authn-service/server/authenticators.go
  components/authn-service/server/server.go
  components/automate-deployment/pkg/assets/binds.go
  components/automate-deployment/pkg/services/internal/generated/gen.go
  components/automate-dex/habitat/default.toml
  components/automate-ui/src/app/page-components/profile/profile.component.spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/session-service/IdTokenBlackLister/InMemoryBlockLister.go
  components/session-service/IdTokenBlackLister/PgBlackLister.go
  components/session-service/IdTokenBlackLister/idTokenBlackLister.go
  components/session-service/cmd/session-service/main.go
  components/session-service/habitat/default.toml
  components/session-service/habitat/plan.sh
  components/session-service/habitat/templates/config.yml
  components/session-service/migration/sql/02_create-blacklisted_id_tokens-table.down.sql
  components/session-service/migration/sql/02_create-blacklisted_id_tokens-table.up.sql
  components/session-service/oidc/oidc.go
  components/session-service/server/id_token_validator.go
  components/session-service/server/server.go
  components/session-service/server/server_test.go
  ec2/Vagrantfile
  go.mod
  go.sum
Labels: automate-auth

#5552 Sanitize the domain of the URL for Telemetry
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
  components/automate-ui/src/index.html
Labels: automate-ui, telemetry, Team: Kinetic

#5586 Modifying some pipeline scripts to account for new "main" branch
  .buildkite/hooks/pre-command
  .expeditor/buildkite/semgrep.sh
Labels: Expeditor: Skip All

#5519 changes for 5414 & 5415
  components/automate-ui/src/app/pages/data-feed/data-feed.component.html
  components/automate-ui/src/app/pages/data-feed/data-feed.component.scss
  components/automate-ui/src/assets/img/data-feed.svg
  e2e/cypress/integration/ui/infra-proxy/chef-datafeed.spec.ts
Labels: automate-ui, data-feed, Team: S.H.I.E.L.D.

#5619 Added run list details page.
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.scss
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart

#5630 Added policy group nodes list
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.actions.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.effects.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.reducer.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.requests.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-group-details.spec.ts
Labels: ui, automate-ui, cypress, automate-infra-proxy, Team: Stalwart
