Repository chef/automate, pull requests merged in 2021-01, with the labels that each got.

#4485 ServiceNow page fixes
  components/docs-chef-io/content/automate/servicenow_integration_install.md
Labels: documentation

#4471 [infra-proxy-service] chef infra node detail API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/server/nodes.go
  components/infra-proxy-service/server/util.go
  components/infra-proxy-service/server/util_test.go
Labels: automate-infra-proxy

#4478 [infra-proxy-service] Environment recipes list API
  .license_scout.yml
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/environments.pb.go
  api/external/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/response/environments.pb.go
  api/interservice/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/environments.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/server/environments.go
  go.mod
  go.sum
Labels: automate-infra-proxy

#4489 page crash on trend graph on selecting 3 month/1 year data
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-overview/overview-trend/overview-trend.component.ts
Labels: automate-ui, bug 🐛

#4513 added download button to get full details report of particular node
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, ui

#4594 Minor cleanup (back-end)
  api/config/cs_nginx/config_request.go
  components/automate-deployment/pkg/airgap/bundle_creator.go
  components/automate-deployment/pkg/backup/artifact_repo.go
  components/automate-deployment/pkg/client/backup.go
  components/automate-deployment/pkg/server/server.go
  components/automate-gateway/pkg/nullbackend/backend.go
  components/cereal-service/cmd/cereal-service/cmd.go
  components/compliance-service/reporting/util/zip.go
  components/config-mgmt-service/data/generator/lib/data_generator/elasticsearch_insert_client.rb
  components/config-mgmt-service/grpcserver/node_export.go
  components/config-mgmt-service/grpcserver/report_export.go
  components/data-feed-service/dao/destination.go
  components/event-feed-service/pkg/server/event_export.go
  lib/grpc/secureconn/factory.go
  tools/cereal-scaffold/main.go
Labels: chore

#4593 Minor cleanup (UI)
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-edit/nodes-edit.component.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.ts
  components/automate-ui/src/app/pages/integrations/edit/integrations-edit.component.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.ts
  components/automate-ui/src/app/pages/job-edit/job-edit.component.ts
  components/automate-ui/src/app/pages/notification-details/notification-details.component.ts
  components/automate-workflow-web/src/components/log/log.js
Labels: automate-ui, chore, ui

#4596 Update makefile and buildkite semgrep tasks
  .expeditor/verify_private.pipeline.yml
  .semgrepignore
  Makefile
  Makefile.common_go
  components/automate-deployment/pkg/airgap/bundle_creator.go
  components/automate-deployment/pkg/backup/artifact_repo.go
  components/automate-ui/Makefile
  components/compliance-service/reporting/util/zip.go
  lib/cereal/postgres/postgres.go
Labels: chore

#4597 Clarify three Buildkite scenarios for semgrep
  .expeditor/verify_private.pipeline.yml
Labels: chore

#4618 Wire up full semgrep to run nightly
  .expeditor/nightly.pipeline.yml
Labels: chore

#4641 [infra-proxy-read-only] fixed the console error on cookbook details content tab
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.ts
Labels: automate-infra-proxy

#4637 [infra-proxy-read-only] fixed the scroll bar for the infra create org modal
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.scss
Labels: automate-infra-proxy, automate-ui, ui

#4661 [infra-proxy-read-only] Added Public Key on Client Detail Page
  components/automate-ui/src/app/entities/clients/client.model.ts
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.scss
Labels: automate-infra-proxy, bug 🐛

#4600 Update notification for acceptance promotion
  .expeditor/announce-acceptance.sh
Labels: chore

#4672 Update notification for acceptance promotion/pass 2
  .expeditor/announce-acceptance.sh
Labels: Expeditor: Skip All, chore
