Repository chef/automate, pull requests merged in 2021-04, with the labels that each got.

#4604 [infra-proxy-service] node environment update API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/infra-proxy-service/integration_test/nodes_test.go
  components/infra-proxy-service/server/nodes.go
Labels: automate-infra-proxy

#4892 [Infra-proxy] Cypress specs for the server list page
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  e2e/cypress/integration/ui/infra-proxy/chef-servers.spec.ts
Labels: automate-infra-proxy, cypress

#4890 Bump FQDN regex to allow for 25 characters
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.spec.ts
Labels: customer-reported

#4875 Infra UI cleanup -- and learning resource!
  components/automate-ui/src/app/components/table/table-header-cell/table-header-cell.component.scss
  components/automate-ui/src/app/entities/cds/cds.effects.ts
  components/automate-ui/src/app/entities/clients/client.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-item-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.effects.ts
  components/automate-ui/src/app/entities/environments/environment.effects.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.effects.ts
  components/automate-ui/src/app/entities/jobs/job.effects.ts
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/entities/policies/policy.effects.ts
  components/automate-ui/src/app/entities/recipes/recipe.effects.ts
  components/automate-ui/src/app/entities/servers/server.effects.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.html
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-tab-change/infra-tab-change.component.scss
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.html
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/state/scanner.effects.ts
  components/automate-ui/src/app/pages/create-data-feed-modal/create-data-feed-modal.component.html
  components/automate-ui/src/assets/img/content-and-icon.png
Labels: automate-ui, ui

#4622 [infra-proxy-service] API to update node attributes
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/integration_test/nodes_test.go
  components/infra-proxy-service/server/nodes.go
Labels: automate-infra-proxy

#4888 Infra proxy edit mode - added some UI improvements
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.scss
Labels: automate-infra-proxy, automate-ui

#4887 Add edit functionality to environment and clients
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/attributes-in-environment.png
  components/docs-chef-io/static/images/automate/client-details-public-key.png
  components/docs-chef-io/static/images/automate/client-private-key.png
  components/docs-chef-io/static/images/automate/cookbook-constraints-in-environment.png
  components/docs-chef-io/static/images/automate/create-client-button.png
  components/docs-chef-io/static/images/automate/create-client-popup.png
  components/docs-chef-io/static/images/automate/create-environment-button.png
  components/docs-chef-io/static/images/automate/create-environment-popup.png
  components/docs-chef-io/static/images/automate/delete-a-client.png
  components/docs-chef-io/static/images/automate/delete-an-environment.png
  components/docs-chef-io/static/images/automate/reset-key-in-client-details.png
  components/docs-chef-io/static/images/automate/reset-public-key-of-a-client.png
Labels: documentation

#4924 Fix e2e make command in automate-ui
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
Labels: automate-ui, bug 🐛

#4925 [Infra-proxy] Cypress specs for the server detail page
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  e2e/cypress/integration/ui/infra-proxy/chef-server-details.spec.ts
Labels: automate-infra-proxy, cypress

#4915 Use EC2 not SEC2
  components/docs-chef-io/content/automate/node_integrations.md
Labels: documentation

#4937 Jamie/4936 bug update chef server
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
Labels: HIGH PRIORITY, automate-ui, bug 🐛

#4927 [Infra-cookbook] Fixed content tab data not loading on cookbook details page
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.ts
Labels: automate-infra-proxy, automate-ui

#4830 Jamie/4828 modal first focus flexible
  components/automate-ui/src/app/components/create-object-modal/create-object-modal.component.ts
  components/automate-ui/src/app/helpers/utilities/utilities.spec.ts
  components/automate-ui/src/app/helpers/utilities/utilities.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.ts
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/create-node-credential-modal/create-node-credential-modal.component.ts
  components/automate-ui/src/app/pages/create-data-feed-modal/create-data-feed-modal.component.ts
  components/automate-ui/src/app/pages/create-notification-modal/create-notification-modal.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
  components/chef-ui-library/src/molecules/chef-modal/chef-modal.tsx
  e2e/cypress/integration/ui/infra-proxy/chef-servers.spec.ts
Labels: automate-ui, automate-ui-suggestion, ux

#4729 [infra-proxy-service] Remove AffectedNodes API and add pagination to GetNodes API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  buf.yaml
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/integration_test/environments_test.go
  components/infra-proxy-service/integration_test/nodes_test.go
  components/infra-proxy-service/server/clients.go
  components/infra-proxy-service/server/databags.go
  components/infra-proxy-service/server/environments.go
  components/infra-proxy-service/server/nodes.go
  components/infra-proxy-service/server/proxy.go
Labels: automate-infra-proxy

#4947 Fixed references to Chef Server need to be Chef Infra Server or Infra Server
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.html
  e2e/cypress/integration/ui/infra-proxy/chef-server-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/chef-servers.spec.ts
Labels: automate-infra-proxy, automate-ui, ui

#4939 Clarify our wording around telemetry gathering
  components/automate-deployment/pkg/client/deployer.go
  components/automate-ui/src/app/page-components/telemetry-checkbox/telemetry-checkbox.component.html
  components/automate-workflow-ctl/lib/telemetry/telemetry.rb
  components/docs-chef-io/content/automate/telemetry.md
Labels: automate-ui, telemetry

#4946 Fixed loading still active & not showing the message if admin key is invalid.
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/empty-state/empty-state.component.html
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.html
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.scss
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.ts
Labels: automate-infra-proxy

#4848 [infra-proxy-service] Role API uniform response objects
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/roles.pb.go
  api/external/infra_proxy/request/roles.proto
  api/external/infra_proxy/response/roles.pb.go
  api/external/infra_proxy/response/roles.proto
  api/interservice/infra_proxy/request/roles.pb.go
  api/interservice/infra_proxy/request/roles.proto
  api/interservice/infra_proxy/response/roles.pb.go
  api/interservice/infra_proxy/response/roles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  buf.yaml
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/policyfiles.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/infra-proxy-service/integration_test/roles_test.go
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy

#4954 Added edit mode UI improvements
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra_shared/shared.scss
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.scss
Labels: automate-infra-proxy, automate-ui, ui

#4987 Added server, org, reset admin key update button css changes.
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra_shared/shared.scss
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.scss
  components/automate-ui/src/app/modules/infra-proxy/org-edit/org-edit.component.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.scss
  components/automate-ui/src/app/modules/infra-proxy/reset-admin-key/reset-admin-key.component.ts
Labels: automate-infra-proxy, automate-ui, bug 🐛

#4991 Added Improvement code for Edit Mode
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.ts
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-infra-proxy, automate-ui, ui
