Repository chef/automate, pull requests merged in 2021-03, with the labels that each got.

#4742 Revised release notes template
  .expeditor/publish-release-notes.sh
Labels: documentation

#4754 Some UI improvements for Infra Read Only Mode
  components/automate-ui/src/app/components/tabs/tabs.component.html
  components/automate-ui/src/app/components/tabs/tabs.component.scss
  components/automate-ui/src/app/components/tabs/tabs.component.ts
  components/automate-ui/src/app/entities/servers/server.reducer.ts
  components/automate-ui/src/app/entities/servers/server.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.scss
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.scss
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.spec.ts
  components/automate-ui/src/app/modules/nodes/nodes-list/nodes-list.component.scss
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.scss
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-infra-proxy, automate-ui, ui

#4792 [Infra Views Read/Write] Delete Infra Role UI
  components/automate-ui/src/app/entities/infra-roles/infra-role.action.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.effects.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.model.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.reducer.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.requests.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
  components/automate-ui/src/assets/img/delete_vector.png
  components/automate-ui/src/assets/img/infra-delete-icon.svg
Labels: automate-infra-proxy, automate-ui

#4786 [Infra Views Read/Write] Create Data Bag UI
  components/automate-ui/src/app/entities/data-bags/data-bags.actions.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.requests.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
Labels: automate-infra-proxy, automate-ui

#4788 [Infra Views Read/Write] Create/Delete server and org new UI changes
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.scss
Labels: automate-infra-proxy, automate-ui

#4793 Chaitali/create client
  components/automate-ui/src/app/entities/clients/client.action.ts
  components/automate-ui/src/app/entities/clients/client.effects.ts
  components/automate-ui/src/app/entities/clients/client.reducer.ts
  components/automate-ui/src/app/entities/clients/client.requests.ts
  components/automate-ui/src/app/entities/clients/client.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.scss
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/assets/img/icon-check-circle.png
Labels: automate-infra-proxy, automate-ui

#4801 Updates Environment the response attributes for Delete, Create and Update API
  components/automate-gateway/handler/infra_proxy/environments.go
  components/infra-proxy-service/integration_test/databags_test.go
  components/infra-proxy-service/integration_test/environments_test.go
  components/infra-proxy-service/server/environments.go
Labels: automate-infra-proxy

#4814 [infra-proxy-service] Reset client added client name in response.
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/clients.pb.go
  api/external/infra_proxy/response/clients.proto
  api/interservice/infra_proxy/response/clients.pb.go
  api/interservice/infra_proxy/response/clients.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  buf.yaml
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/clients.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/integration_test/clients_test.go
  components/infra-proxy-service/server/clients.go
Labels: automate-infra-proxy

#4824 [infra-proxy-service] Add validator true or false in client list response
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/clients.pb.go
  api/external/infra_proxy/response/clients.proto
  api/interservice/infra_proxy/response/clients.pb.go
  api/interservice/infra_proxy/response/clients.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/clients.go
  components/infra-proxy-service/integration_test/clients_test.go
  components/infra-proxy-service/server/clients.go
  components/infra-proxy-service/server/util.go
  components/infra-proxy-service/server/util_test.go
Labels: automate-infra-proxy

#4804 Document semgrep for automate
  STATIC_ANALYSIS.md
  cspell.json
Labels: documentation

#4832 [infra-proxy-service] Update data bag item create response attribute
  components/automate-gateway/handler/infra_proxy/databags.go
  components/infra-proxy-service/integration_test/databags_test.go
  components/infra-proxy-service/server/databags.go
Labels: automate-infra-proxy

#4834 [Infra Views Read/Write] Delete Data Bag item
  components/automate-ui/src/app/entities/data-bags/data-bag-details.actions.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.selector.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.model.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.scss
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.spec.ts
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-infra-proxy, automate-ui

#4833 [Infra Views Read/Write] Edit/Update Data Bag item
  components/automate-ui/src/app/entities/data-bags/data-bag-details.actions.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.selector.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.model.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
Labels: automate-infra-proxy, automate-ui

#4785 Fixes test failure and hab infra_server_load_test_data
  .studio/infra-proxy-service
  components/infra-proxy-service/integration_test/clients_test.go
  components/infra-proxy-service/integration_test/databags_test.go
  components/infra-proxy-service/integration_test/environments_test.go
  components/infra-proxy-service/integration_test/global_test.go
  components/infra-proxy-service/integration_test/nodes_test.go
  components/infra-proxy-service/integration_test/roles_test.go
  components/infra-proxy-service/integration_test/suite_test.go
  terraform/test-environments/modules/chef_automate_install/templates/install_chef_automate_cli.sh.tpl
Labels: automate-infra-proxy

#4836 [Infra Views Read/Write] Create Databag item
  components/automate-ui/src/app/entities/data-bags/data-bag-details.actions.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.selector.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.model.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
Labels: automate-infra-proxy, automate-ui

#4821 Typo client_runs.md
  components/docs-chef-io/content/automate/client_runs.md
Labels: documentation

#4803 Added Create Environment UI
  components/automate-ui/src/app/entities/environments/environment-details.reducer.ts
  components/automate-ui/src/app/entities/environments/environment.action.ts
  components/automate-ui/src/app/entities/environments/environment.effects.ts
  components/automate-ui/src/app/entities/environments/environment.model.ts
  components/automate-ui/src/app/entities/environments/environment.reducer.ts
  components/automate-ui/src/app/entities/environments/environment.requests.ts
  components/automate-ui/src/app/entities/environments/environment.selectors.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.model.ts
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.html
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-tab-change/infra-tab-change.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-tab-change/infra-tab-change.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-tab-change/infra-tab-change.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-tab-change/infra-tab/infra-tab.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-tab-change/infra-tab/infra-tab.component.ts
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-infra-proxy, automate-ui, ui

#4827 Himanshi/create role UI
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.action.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.effects.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.model.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.reducer.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.requests.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.selectors.ts
  components/automate-ui/src/app/entities/recipes/recipe.action.ts
  components/automate-ui/src/app/entities/recipes/recipe.effects.ts
  components/automate-ui/src/app/entities/recipes/recipe.reducer.ts
  components/automate-ui/src/app/entities/recipes/recipe.requests.ts
  components/automate-ui/src/app/entities/recipes/recipe.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/drag-drop/drag-drop.component.html
  components/automate-ui/src/app/modules/infra-proxy/drag-drop/drag-drop.component.scss
  components/automate-ui/src/app/modules/infra-proxy/drag-drop/drag-drop.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-tab-change/infra-tab-change.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/list-filter.pipe.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/list-item.domain.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.component.html
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.component.scss
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.component.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.module.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.service.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.service.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/public_api.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/test.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/assets/img/Button-1.png
  components/automate-ui/src/assets/img/Button-2.png
  components/automate-ui/src/assets/img/Button-3.png
  components/automate-ui/src/assets/img/Button.png
  components/automate-ui/src/assets/img/article.png
  components/automate-ui/src/assets/img/briefcase.png
Labels: automate-infra-proxy, automate-ui, ui

#4826 Adding Chef Infra Server to Chef Automate
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/content/automate/client_runs.md
  components/docs-chef-io/static/images/automate/add-chef-organization-button.png
  components/docs-chef-io/static/images/automate/add-chef-organization-popup-menu.png
  components/docs-chef-io/static/images/automate/add-chef-server-button.png
  components/docs-chef-io/static/images/automate/add-chef-server-popup-menu-with-error.png
  components/docs-chef-io/static/images/automate/add-chef-server-popup-menu.png
  components/docs-chef-io/static/images/automate/chef-automate-infrastructure.png
  components/docs-chef-io/static/images/automate/chef-automate-on-chef-infra-page.png
  components/docs-chef-io/static/images/automate/chef-infra-server-objects.png
  components/docs-chef-io/static/images/automate/chef-server-organization.png
  components/docs-chef-io/static/images/automate/chef-server-page.png
  components/docs-chef-io/static/images/automate/could-not-get-cookbooks-organization.png
Labels: automate-infra-proxy, documentation

#4844 Added UI for edit environment.
  components/automate-ui/src/app/entities/environments/environment-details.reducer.ts
  components/automate-ui/src/app/entities/environments/environment-details.selectors.ts
  components/automate-ui/src/app/entities/environments/environment.action.ts
  components/automate-ui/src/app/entities/environments/environment.effects.ts
  components/automate-ui/src/app/entities/environments/environment.model.ts
  components/automate-ui/src/app/entities/environments/environment.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/assets/img/collapse_tree.png
  components/automate-ui/src/assets/img/content and icon.png
  components/automate-ui/src/assets/img/expand_all.png
Labels: automate-infra-proxy, automate-ui, ui

#4811 Reinstate sidebar tests to have a safety net
  components/automate-ui/src/app/components/sidebar/sidebar.component.spec.ts
  components/automate-ui/src/app/pages/settings-landing/settings-landing.component.ts
Labels: bug 🐛

#4871 Remove feature flag for the data bag + some minor UI changes
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.scss
Labels: automate-infra-proxy, automate-ui

#4835 Jamie/4699 frontend update deps
  components/automate-ui/README.md
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/app/entities/api-tokens/api-token.effects.ts
  components/automate-ui/src/app/entities/automate-settings/automate-settings.effects.ts
  components/automate-ui/src/app/entities/cds/cds.effects.ts
  components/automate-ui/src/app/entities/client-runs/client-runs.effects.ts
  components/automate-ui/src/app/entities/clients/client.effects.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-details.effects.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook-versions.effects.ts
  components/automate-ui/src/app/entities/cookbooks/cookbook.effects.ts
  components/automate-ui/src/app/entities/credentials/credential.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-item-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.effects.ts
  components/automate-ui/src/app/entities/desktop/desktop.effects.ts
  components/automate-ui/src/app/entities/destinations/destination.effects.ts
  components/automate-ui/src/app/entities/environments/environment.effects.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.effects.ts
  components/automate-ui/src/app/entities/jobs/job.effects.ts
  components/automate-ui/src/app/entities/license/license.effects.ts
  components/automate-ui/src/app/entities/managers/manager.effects.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.effects.ts
  components/automate-ui/src/app/entities/nodes/nodes.effects.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.effects.ts
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/entities/policies/policy.effects.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.effects.ts
  components/automate-ui/src/app/entities/profiles/profile.effects.ts
  components/automate-ui/src/app/entities/projects/project.effects.ts
  components/automate-ui/src/app/entities/recipes/recipe.effects.ts
  components/automate-ui/src/app/entities/reset-admin-key/reset-admin-key.effects.ts
  components/automate-ui/src/app/entities/roles/role.effects.ts
  components/automate-ui/src/app/entities/rules/rule.effects.ts
  components/automate-ui/src/app/entities/servers/server.effects.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.effects.ts
  components/automate-ui/src/app/entities/service-groups/service-groups.requests.ts
  components/automate-ui/src/app/entities/teams/team.effects.ts
  components/automate-ui/src/app/entities/userperms/userperms.effects.ts
  components/automate-ui/src/app/entities/users/user.effects.ts
  components/automate-ui/src/app/entities/users/userself.effects.ts
  components/automate-ui/src/app/helpers/jwt/jwt.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/state/scanner.effects.ts
  components/automate-ui/src/app/services/event-feed/event-feed.effects.ts
  components/automate-ui/src/app/services/projects-filter/projects-filter.effects.ts
Labels: automate-ui, chore, ui

#4843 Jamie/4701 karma coverage migration
  components/automate-ui/karma.conf.js
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
Labels: automate-ui, chore, testing, ui
