Repository chef/automate, pull requests merged in 2021-06, with the labels that each got.

#5101 Details of the Node
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/node-information-metadata.png
  components/docs-chef-io/static/images/automate/update-node-environment.png
Labels: documentation

#5108 Added Update node tag UI modal and cypress testcases
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/update-node-tag-modal/update-node-tag-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/update-node-tag-modal/update-node-tag-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/update-node-tag-modal/update-node-tag-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/update-node-tag-modal/update-node-tag-modal.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
Labels: automate-infra-proxy, automate-ui, cypress, documentation, ui

#5086 Added node run list UI and cypress test cases.
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-node-details.reducer.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-node-details.selectors.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.actions.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.effects.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.model.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.reducer.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.requests.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.selectors.ts
  components/automate-ui/src/app/entities/nodeRunlists/nodeRunlists.action.ts
  components/automate-ui/src/app/entities/nodeRunlists/nodeRunlists.effects.ts
  components/automate-ui/src/app/entities/nodeRunlists/nodeRunlists.model.ts
  components/automate-ui/src/app/entities/nodeRunlists/nodeRunlists.reducer.ts
  components/automate-ui/src/app/entities/nodeRunlists/nodeRunlists.requests.ts
  components/automate-ui/src/app/entities/nodeRunlists/nodeRunlists.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-modal/edit-infra-node-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-modal/edit-infra-node-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-modal/edit-infra-node-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-modal/edit-infra-node-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-role-details.spec.ts
Labels: automate-infra-proxy, automate-ui, cypress, ui

#5194 Added Infra Node attributes UI and cypress test cases.
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.actions.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.effects.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.model.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.reducer.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.requests.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-attribute-modal/edit-infra-node-attribute-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-attribute-modal/edit-infra-node-attribute-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-attribute-modal/edit-infra-node-attribute-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-attribute-modal/edit-infra-node-attribute-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
Labels: automate-infra-proxy, automate-ui, ui

#5196 Added changes for cypress issue in pipeline
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
Labels: automate-infra-proxy, cypress

#5201 Added disable edit button functionality in Infra-Role
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#5234 Added spinner on delete operation in Infra tabs
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.scss
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.html
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#5205 Don't capitalize the attributes in the environment details
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
Labels: automate-infra-proxy

#5251 Review fixes for the node changes
  components/docs-chef-io/content/automate/chef_infra_server.md
Labels: documentation

#5009 Add Credentials link fix
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-edit/nodes-edit.component.html
Labels: automate-ui, bug 🐛

#5253 Updating Expeditor configuration
  .expeditor/config.yml
Labels: Expeditor: Skip All

#5249 removed id from details page and edit data bag pop-up.
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.scss
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
Labels: automate-infra-proxy, automate-ui, ui

#5254 Added Infra Node Attributes
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/delete-a-node.png
  components/docs-chef-io/static/images/automate/node-attributes-list.png
  components/docs-chef-io/static/images/automate/run-list-of-a-node.png
  components/docs-chef-io/static/images/automate/update-node-environment.png
Labels: documentation

#5276 Added UI improvements
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.scss
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-modal/create-chef-server-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-org-modal/create-org-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-attribute-modal/edit-infra-node-attribute-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-modal/edit-infra-node-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-role-modal/edit-infra-role-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-role-modal/edit-infra-role-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.scss
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.scss
Labels: automate-infra-proxy, automate-ui, ui

#5277 Added policyfile tab and list
  components/automate-ui/src/app/components/tabs/tabs.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/pagination/components/pagination.component.html
  components/automate-ui/src/app/modules/infra-proxy/pagination/components/pagination.component.scss
  components/automate-ui/src/app/modules/infra-proxy/pagination/components/pagination.component.ts
  components/automate-ui/src/app/modules/infra-proxy/pagination/pagination.util.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-list.spec.ts
Labels: automate-infra-proxy, automate-ui, cypress, ui

#4988 How to set up the Habitat Studio
  dev-docs/DEV_ENVIRONMENT.md
Labels: documentation

#5280 Update Screenshots for the Data Bag Items
  components/docs-chef-io/static/images/automate/edit-and-delete-data-bag-item.png
  components/docs-chef-io/static/images/automate/edit-data-bag-item.png
Labels: documentation

#5273 Disclosure Panel and Banner
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/content/automate/configuration.md
  components/docs-chef-io/content/automate/disclosure_panel_and_banner.md
  components/docs-chef-io/static/images/automate/banner-in-chef-automate.png
  components/docs-chef-io/static/images/automate/disclosure-panel-in-chef-automate.png
Labels: documentation

#5285 [infra-proxy-service] Add Policyfile delete API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/policyfiles.pb.go
  api/external/infra_proxy/request/policyfiles.proto
  api/external/infra_proxy/response/policyfiles.pb.go
  api/external/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/request/policyfiles.pb.go
  api/interservice/infra_proxy/request/policyfiles.proto
  api/interservice/infra_proxy/response/policyfiles.pb.go
  api/interservice/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/policyfiles.go
  components/infra-proxy-service/server/policyfiles.go
Labels: automate-infra-proxy-api
