Repository chef/automate, pull requests merged in 2021-11, with the labels that each got.

#6041 Telemetry applications for Hab Supervisor
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/services/telemetry/application-stats/application-stats.model.ts
  components/automate-ui/src/app/services/telemetry/application-stats/application-stats.service.ts
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
Labels: telemetry, Team: Stalwart

#6043 Suman/dependabot
  components/chef-ui-library/package.json
Labels: dependencies

#6050 Performance testing doc changes for application service usage count and client runs node usage count
  dev-docs/automate_license_usage.md
Labels: telemetry

#5788 Allow addition of new node with selected node credentials
  components/automate-ui/package.json
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/credentials/credential.actions.ts
  components/automate-ui/src/app/entities/credentials/credential.effects.ts
  components/automate-ui/src/app/entities/credentials/credential.model.ts
  components/automate-ui/src/app/entities/credentials/credential.reducer.ts
  components/automate-ui/src/app/entities/credentials/credential.selectors.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.actions.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.reducer.ts
  components/automate-ui/src/app/entities/node-credentials/node-credential.selectors.ts
  components/automate-ui/src/app/page-components/accordion/accordion-item/accordion-item.component.html
  components/automate-ui/src/app/page-components/accordion/accordion-item/accordion-item.component.scss
  components/automate-ui/src/app/page-components/accordion/accordion-item/accordion-item.component.spec.ts
  components/automate-ui/src/app/page-components/accordion/accordion-item/accordion-item.component.ts
  components/automate-ui/src/app/page-components/accordion/accordion.component.html
  components/automate-ui/src/app/page-components/accordion/accordion.component.scss
  components/automate-ui/src/app/page-components/accordion/accordion.component.spec.ts
  components/automate-ui/src/app/page-components/accordion/accordion.component.ts
  components/automate-ui/src/app/page-components/selectbox/selectbox.component.html
  components/automate-ui/src/app/page-components/selectbox/selectbox.component.scss
  components/automate-ui/src/app/page-components/selectbox/selectbox.component.spec.ts
  components/automate-ui/src/app/page-components/selectbox/selectbox.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.html
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.scss
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials.module.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.scss
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-add/nodes-add.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-edit/nodes-edit.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-edit/nodes-edit.component.scss
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-edit/nodes-edit.component.ts
  components/automate-ui/src/app/pages/+compliance/+scanner/containers/nodes-list/nodes-list.component.html
  components/automate-ui/src/app/pages/+compliance/+scanner/scanner.module.ts
  components/automate-ui/src/assets/img/search.svg
  components/nodemanager-service/pgdb/node-managers.go
  e2e/cypress/integration/ui/compliance/scan_job/add_update_node.spec.ts
Labels: automate-ui, compliance scan jobs

#5364 Increase RAM in quickstart demo
  components/docs-chef-io/content/automate/_index.md
Labels: documentation

#6071 fix verify pipeline notification service
  .studio/notifications-service
  components/notifications-service/server/Makefile
  components/notifications-service/server/mix.exs
  components/notifications-service/server/mix.lock
Labels: Team: S.H.I.E.L.D.

#6039 Shivangi/node manager 5774
  .expeditor/verify.pipeline.yml
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/managers/manager.actions.ts
  components/automate-ui/src/app/entities/managers/manager.reducer.ts
  components/automate-ui/src/app/entities/managers/manager.selectors.ts
  components/automate-ui/src/app/page-components/job-nodes-form/job-nodes-form.component.html
  components/automate-ui/src/app/page-components/job-nodes-form/job-nodes-form.component.scss
  components/automate-ui/src/app/page-components/job-nodes-form/job-nodes-form.component.spec.ts
  components/automate-ui/src/app/page-components/job-nodes-form/job-nodes-form.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials.module.ts
  components/automate-ui/src/app/pages/job-add/job-add.component.html
  components/automate-ui/src/app/pages/job-add/job-add.component.ts
Labels: Team: S.H.I.E.L.D.

#5258 Doc update on the azure-API which is present in node integration Tab
  components/docs-chef-io/content/automate/node_integrations.md
  components/docs-chef-io/static/images/automate/Node-Integrations-api-Azure.png
  components/nodemanager-service/README.md
Labels: documentation

#6074 Added paginator UI in Infra Roles tab (#5923)
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
  components/automate-ui/src/app/modules/infra-proxy/paginator/paginator.component.html
  components/automate-ui/src/app/modules/infra-proxy/paginator/paginator.component.scss
  components/automate-ui/src/app/modules/infra-proxy/paginator/paginator.component.ts
  components/automate-ui/src/styles/_colors.scss
  components/automate-ui/src/styles/_variables.scss
Labels: automate-infra-proxy, Team: Stalwart

#5757 Missing or insecure "Content-Security-Policy" header (API)
  api/config/load_balancer/config_request.pb.go
  api/config/load_balancer/config_request.proto
  components/automate-load-balancer/habitat/config/nginx.conf
  components/automate-load-balancer/habitat/default.toml
  components/docs-chef-io/content/automate/configuration.md
Labels: documentation, automate-ui, security, Team: Kinetic

#6087 Added compliance reporting controls metadata
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: compliance reporting, automate-ui, Team: Stalwart

#6019 Chef-automate ssh
  components/automate-cli/cmd/chef-automate/Ssh-ha-template.go
  components/automate-cli/cmd/chef-automate/Ssh-ha.go
  components/automate-cli/cmd/chef-automate/automateClusterCtlUtil.go
  components/automate-cli/cmd/chef-automate/sshAutomateHA.go
Labels: Team: Madrox

#6079 automate-backend-elasticsidecar changes
  components/automate-backend-elasticsidecar/habitat/automate-backend-elasticsidecar/.gitignore
  components/automate-backend-elasticsidecar/habitat/automate-backend-elasticsidecar/.rubocop.yml
  components/automate-backend-elasticsidecar/habitat/automate-backend-elasticsidecar/Gemfile
  components/automate-backend-elasticsidecar/habitat/automate-backend-elasticsidecar/Gemfile.lock
  components/automate-backend-elasticsidecar/habitat/automate-backend-elasticsidecar/Rakefile
  components/automate-backend-elasticsidecar/habitat/automate-backend-elasticsidecar/automate-backend-elasticsidecar.gemspec
  components/automate-backend-elasticsidecar/habitat/automate-backend-elasticsidecar/lib/automate/backend/elasticsidecar.rb
  components/automate-backend-elasticsidecar/habitat/automate-backend-elasticsidecar/lib/automate/backend/elasticsidecar/version.rb
  components/automate-backend-elasticsidecar/habitat/bin/elastic_sidecar.rb
  components/automate-backend-elasticsidecar/habitat/plan.sh
Labels: Team: Madrox

#6086 Integrate ACK API - download
  components/automate-ui/src/app/entities/download-reports/download-reports.actions.ts
  components/automate-ui/src/app/entities/download-reports/download-reports.reducer.ts
  components/automate-ui/src/app/entities/download-reports/download-reports.selector.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui, Team: Kinetic, large_compliance_report

#6083 adding dev channel support for deployment
  components/automate-cluster-ctl/libexec/cluster-deploy
  scripts/bundle_creation.sh
  terraform/a2ha-terraform/deployment-makefile/Makefile
Labels: Team: Madrox

#6062 automate-backend-elasticsearch and automate-backend-postgresql certificate path changes
  components/automate-backend-elasticsearch/habitat/cert.sh
  components/automate-backend-elasticsearch/habitat/plan.sh
  components/automate-backend-pgleaderchk/habitat/hooks/run
  components/automate-backend-postgresql/habitat/cert.sh
  components/automate-backend-postgresql/habitat/plan.sh
Labels: Team: Madrox

#6090 automate ui Pipeline fix
  components/automate-ui/e2e/job-add.e2e-spec.ts
Labels: Team: S.H.I.E.L.D.

#6120 Additional changes for the application stats ack API.
  components/automate-ui/src/app/services/telemetry/application-stats/application-stats.model.ts
  components/automate-ui/src/app/services/telemetry/application-stats/application-stats.service.ts
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
Labels: telemetry, Team: Stalwart

#6105 Added days since last reported for the application stats telemetry API
  api/external/applications/applications.pb.go
  api/external/applications/applications.proto
  api/external/applications/applications.swagger.json
  components/applications-service/pkg/server/server.go
  components/applications-service/pkg/storage/postgres/telemetry.go
  components/automate-gateway/api/applications.pb.swagger.go
  components/compliance-service/reporting/relaxting/stats.go
  components/config-mgmt-service/backend/elastic/telemetry.go
Labels: telemetry, Team: Stalwart

#6140 Selected type in dropdown is not shown properly in notification details page
  components/automate-ui/src/app/pages/notification-details/notification-details.component.html
Labels: automate-ui, Team: S.H.I.E.L.D.

#6137 fixed manual upgrade private pipeline
  integration/tests/manual_upgrade.sh
Labels: Team: S.H.I.E.L.D.

#6197 Updated Automate Nav
  components/docs-chef-io/content/automate/airgapped_installation.md
  components/docs-chef-io/content/automate/backup.md
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/content/automate/configuration.md
  components/docs-chef-io/content/automate/data_collection.md
  components/docs-chef-io/content/automate/disclosure_panel_and_banner.md
  components/docs-chef-io/content/automate/elasticsearch.md
  components/docs-chef-io/content/automate/event_feed.md
  components/docs-chef-io/content/automate/infra_server.md
  components/docs-chef-io/content/automate/install.md
  components/docs-chef-io/content/automate/migrate.md
  components/docs-chef-io/content/automate/monitoring.md
  components/docs-chef-io/content/automate/on_prem_builder.md
  components/docs-chef-io/content/automate/restore.md
  components/docs-chef-io/content/automate/session_timeout.md
  components/docs-chef-io/content/automate/telemetry.md
Labels: documentation

#6186 Exit message on deployment completion, Secrets issue fixes, Info & status formatting issue fixes
  components/automate-cli/cmd/chef-automate/automateClusterCtlUtil.go
  components/automate-cli/cmd/chef-automate/automateHAAwsDeployment.go
  components/automate-cli/cmd/chef-automate/automateHADeployExistingInfra.go
  components/automate-cli/cmd/chef-automate/gather-logs.go
  components/automate-cli/cmd/chef-automate/genA2haRbTmpl.go
  components/automate-cli/cmd/chef-automate/info-ha.go
  components/automate-cli/cmd/chef-automate/initConfigHa.go
  components/automate-cli/cmd/chef-automate/initConfigHaTmpl.go
  components/automate-cli/cmd/chef-automate/provisionInfraHa.go
  components/automate-cli/cmd/chef-automate/secretsHa.go
  components/automate-cli/cmd/chef-automate/sshAutomateHA.go
  components/automate-cli/cmd/chef-automate/testHA.go
  components/automate-cli/cmd/chef-automate/workspaceHa.go
  components/automate-cluster-ctl/lib/cluster/secrets.rb
  components/automate-cluster-ctl/libexec/cluster-info
  components/automate-cluster-ctl/libexec/cluster-secrets
  components/automate-cluster-ctl/libexec/cluster-status
  terraform/a2ha-terraform/reference_architectures/aws/outputs.tf
Labels: Team: Madrox

#6141 Upgrade flags passed to underlying command
  components/automate-backend-deployment/README.md
  components/automate-cli/cmd/chef-automate/deploy.go
  components/automate-cli/cmd/chef-automate/upgrade.go
  components/automate-cluster-ctl/libexec/cluster-deploy
Labels: Team: Madrox

#6144 Add LCR configuration for new download-report feature
  api/config/shared/global.go
  api/config/shared/global.pb.go
  api/config/shared/global.proto
  api/config/ui/config_request.go
  api/config/ui/config_request.pb.go
  api/config/ui/config_request.proto
Labels: automate-ui, Team: Kinetic, large_compliance_report

#6214 removing unwanted cli installation
  components/automate-backend-deployment/README.md
  scripts/bundle_creation.sh
Labels: Team: Madrox

#6212 Cypress fix
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-groups-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-roles.spec.ts
Labels: automate-ui, Team: Stalwart

#6165 node-notifier packages-updated
  components/chef-ui-library/package-lock.json
Labels: dependabot

#6064 added changes for the update package kind-of: 6.0.3
  components/chef-ui-library/package-lock.json
  components/chef-ui-library/package.json
Labels: dependencies

#6228 comment or uncomment in config.toml
  components/automate-cli/cmd/chef-automate/automateHADeployExistingInfra.go
  components/automate-cli/cmd/chef-automate/gather-logs.go
  components/automate-cli/cmd/chef-automate/genA2haRbTmpl.go
  components/automate-cli/cmd/chef-automate/initConfigHa.go
  components/automate-cli/cmd/chef-automate/upgrade.go
  components/automate-cli/cmd/chef-automate/workspaceHa.go
Labels: Team: Madrox

#6063 added changes for the update package highlight.js 9.15.8
  components/chef-ui-library/package-lock.json
  components/chef-ui-library/package.json
Labels: dependabot

#6236 Fixes for double time output
  components/automate-cli/cmd/chef-automate/automateClusterCtlUtil.go
Labels: Team: Madrox

#6245 Flag --full to in test command
  components/automate-cli/cmd/chef-automate/testHA.go
Labels: Team: Madrox

#6244 User confirmation for Upgrade command.
  components/automate-cli/cmd/chef-automate/upgrade.go
Labels: Team: Madrox

#6253 Password validation for automate admin password in HA config.toml
  components/automate-cli/cmd/chef-automate/automateHAAwsDeployment.go
  components/automate-cli/cmd/chef-automate/initConfigHaTmpl.go
Labels: Team: Madrox

#6290 stable2021-q2 to stable
  .envrc
  .expeditor/build.habitat.yml
  .expeditor/nightly.pipeline.yml
  .expeditor/verify.pipeline.yml
  .expeditor/verify_private.pipeline.yml
  .license_scout.yml
Labels: Team: S.H.I.E.L.D.

#6293 postgresSQL pipline fix
  components/automate-postgresql/habitat/plan.sh
Labels: Team: S.H.I.E.L.D.

#6292 Scaffolding go pipline fix
  components/automate-scaffolding-go/habitat/plan.sh
Labels: Team: S.H.I.E.L.D.
