Repository chef/automate, pull requests merged in 2021-10, with the labels that each got.

#5832 Abdul/infra server actions
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  dev-docs/infra-server-iam.md
  e2e/cypress/integration/api/iam/infra_server_actions_integration.spec.ts
Labels: Team: Kinetic

#5840 Fixed cypress build issue on buildkite
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.html
  e2e/cypress/integration/ui/client-runs/delete_missing_node.spec.ts
  e2e/cypress/integration/ui/common/user_settings.spec.ts
  e2e/cypress/integration/ui/infra-proxy/chef-organization-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/chef-server-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/chef-servers.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-databags.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-group-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-groups-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-role-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-roles.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-create.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-overview-webhook.spec.ts
  e2e/cypress/integration/ui/settings/data-feed/data-feed-table.spec.ts
  e2e/cypress/integration/ui/settings/project_mgmt.spec.ts
  e2e/cypress/integration/ui/settings/team_details.spec.ts
  e2e/cypress/integration/ui/settings/team_mgmt.spec.ts
  e2e/cypress/support/commands.ts
Labels: cypress

#5845 Fix for Masking User Cred in PG DB URI
  components/data-feed-service/config/config.go
  components/data-feed-service/config/mask.go
  components/data-feed-service/config/mask_test.go
Labels: Team: S.H.I.E.L.D.

#5829 Store the unique id for every deployment in DB
  components/license-control-service/migrations/001_deployment.up.sql
  components/license-control-service/pkg/server/grpc.go
  components/license-control-service/pkg/storage/storage.go
Labels: telemetry, Team: Stalwart

#5837 Infra server UI improvements
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-environment-constraint/infra-environment-constraint.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-role-details.spec.ts
Labels: ui, automate-ui, automate-infra-proxy, Team: Stalwart

#5875 Get the deployment id in telemetry config API
  components/automate-gateway/handler/telemetry.go
Labels: telemetry, Team: Stalwart

#5871 added changes for the update package
  components/chef-ui-library/package-lock.json
  components/chef-ui-library/package.json
Labels: dependencies
