Repository chef/automate, pull requests merged in 2021-05, with the labels that each got.

#5019 Add Edit functionality to data bags and roles (Updated Screenshots)
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/add-chef-server-popup-menu-with-error.png
  components/docs-chef-io/static/images/automate/add-chef-server-popup-menu.png
  components/docs-chef-io/static/images/automate/attributes-in-environment.png
  components/docs-chef-io/static/images/automate/chef-infra-server-objects.png
  components/docs-chef-io/static/images/automate/chef-server-organization.png
  components/docs-chef-io/static/images/automate/chef-server-page.png
  components/docs-chef-io/static/images/automate/client-details-public-key.png
  components/docs-chef-io/static/images/automate/cookbook-constraints-in-environment.png
  components/docs-chef-io/static/images/automate/create-client-button.png
  components/docs-chef-io/static/images/automate/create-data-bag-button.png
  components/docs-chef-io/static/images/automate/create-data-bag-item-button.png
  components/docs-chef-io/static/images/automate/create-data-bag-item-popup.png
  components/docs-chef-io/static/images/automate/create-data-bag-popup.png
  components/docs-chef-io/static/images/automate/create-role-button.png
  components/docs-chef-io/static/images/automate/create-role-popup.png
  components/docs-chef-io/static/images/automate/delete-a-data-bag.png
  components/docs-chef-io/static/images/automate/delete-a-role.png
  components/docs-chef-io/static/images/automate/delete-data-bag-item.png
  components/docs-chef-io/static/images/automate/edit-and-delete-data-bag-item.png
  components/docs-chef-io/static/images/automate/edit-data-bag-item.png
  components/docs-chef-io/static/images/automate/view-attributes-details.png
  components/docs-chef-io/static/images/automate/view-role-details.png
Labels: documentation

#5018 [Read only] Infra node list page UI with search and pagination.
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.actions.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.effects.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.model.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.reducer.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.requests.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.selectors.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-role-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-roles.spec.ts
Labels: automate-infra-proxy, automate-ui

#5006 [Infra-proxy] Cypress specs for the Chef organization details page
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.html
  e2e/cypress/integration/ui/infra-proxy/chef-organization-details.spec.ts
Labels: automate-infra-proxy, cypress

#5042 Added delete button on node list page
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.actions.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.effects.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.reducer.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.requests.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/delete-infra-object-modal/delete-infra-object-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
Labels: automate-infra-proxy, automate-ui, ui

#5026 Added validation on create pop-up, search bar inside org details
  components/automate-ui/src/app/helpers/auth/regex.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.ts
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.component.scss
  components/automate-ui/src/app/modules/infra-proxy/select-box/src/lib/select-box.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#5066 Added Nodes Section to the Chef Infra Server
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/delete-a-node.png
  components/docs-chef-io/static/images/automate/search-a-node.png
Labels: documentation

#5071 Infra node details page UI
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.actions.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.effects.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.model.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.reducer.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.requests.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/styles.scss
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
Labels: automate-infra-proxy, ui

#5069 Added search bar for Data Bags list page
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-databags.spec.ts
Labels: automate-infra-proxy, automate-ui

#5043 Update Hugo and fix netlify docs build command
  components/docs-chef-io/Makefile
  components/docs-chef-io/netlify.toml
Labels: documentation

#5078 Make sure that InSpec has a capital S in all the docs
  .expeditor/config.yml
  HOW_THE_PIPELINE_WORKS.md
  README.md
  components/docs-chef-io/content/automate/data_collection.md
  components/docs-chef-io/content/automate/eas.md
  components/docs-chef-io/content/automate/node_integrations.md
  dev-docs/adr/adr-2018-09-19.md
Labels: documentation

#5088 Infra node reset client key
  components/automate-ui/src/app/entities/clients/client.effects.ts
  components/automate-ui/src/app/entities/infra-nodes/infra-nodes.reducer.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-node-key/reset-node-key.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-node-key/reset-node-key.component.scss
  components/automate-ui/src/app/modules/infra-proxy/reset-node-key/reset-node-key.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-node-key/reset-node-key.component.ts
  components/automate-ui/src/assets/img/key.svg
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
Labels: automate-infra-proxy, automate-ui

#5089 Fixed Chef Environment Cookbooks constraints capitalisation
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.scss
Labels: automate-infra-proxy, automate-ui
