Repository chef/automate, pull requests merged in 2021-02, with the labels that each got.

#4393 Added Ids column in Policies and Roles List
  components/automate-ui/e2e/admin.e2e-spec.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.html
  components/automate-ui/src/app/modules/roles/list/roles-list.component.html
Labels: auth-team, automate-auth, automate-ui, ui, ux

#2470 deployment: always restart service on reconfigure
  .expeditor/verify_private.pipeline.yml
  components/automate-deployment/habitat/hooks/reload
  components/automate-deployment/pkg/converge/converger.go
  components/automate-deployment/pkg/converge/converger_internal_test.go
  components/automate-deployment/pkg/converge/self_hup.go
  components/automate-deployment/pkg/server/reconfigure_handler.go
  components/automate-deployment/pkg/server/server.go
  components/automate-deployment/pkg/server/startup_helpers.go
Labels: deployment-team

#4640 [infra-proxy-read-only] On server update show the top notification
  components/automate-ui/src/app/entities/servers/server.effects.ts
Labels: automate-infra-proxy, automate-ui, ui

#4638 [infra-proxy-read-only] Fixed update server details form fields UI
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
Labels: automate-infra-proxy, automate-ui, ui

#4671 Fix links
  components/docs-chef-io/Makefile
  components/docs-chef-io/config.toml
  components/docs-chef-io/content/automate/_index.md
  components/docs-chef-io/content/automate/airgapped_installation.md
  components/docs-chef-io/content/automate/api.md
  components/docs-chef-io/content/automate/api_tokens.md
  components/docs-chef-io/content/automate/applications_dashboard.md
  components/docs-chef-io/content/automate/applications_setup.md
  components/docs-chef-io/content/automate/architectural_overview.md
  components/docs-chef-io/content/automate/backup.md
  components/docs-chef-io/content/automate/cli_chef_automate.md
  components/docs-chef-io/content/automate/client_runs.md
  components/docs-chef-io/content/automate/configuration.md
  components/docs-chef-io/content/automate/data_collection.md
  components/docs-chef-io/content/automate/data_lifecycle.md
  components/docs-chef-io/content/automate/datafeed.md
  components/docs-chef-io/content/automate/desktop.md
  components/docs-chef-io/content/automate/eas.md
  components/docs-chef-io/content/automate/elasticsearch.md
  components/docs-chef-io/content/automate/event_feed.md
  components/docs-chef-io/content/automate/flags.md
  components/docs-chef-io/content/automate/iam_actions.md
  components/docs-chef-io/content/automate/iam_v2_guide.md
  components/docs-chef-io/content/automate/iam_v2_overview.md
  components/docs-chef-io/content/automate/infra_server.md
  components/docs-chef-io/content/automate/install.md
  components/docs-chef-io/content/automate/ldap.md
  components/docs-chef-io/content/automate/log_management.md
  components/docs-chef-io/content/automate/migrate.md
  components/docs-chef-io/content/automate/monitoring.md
  components/docs-chef-io/content/automate/node_credentials.md
  components/docs-chef-io/content/automate/node_integrations.md
  components/docs-chef-io/content/automate/nodes.md
  components/docs-chef-io/content/automate/notifications.md
  components/docs-chef-io/content/automate/on_prem_builder.md
  components/docs-chef-io/content/automate/policies.md
  components/docs-chef-io/content/automate/profiles.md
  components/docs-chef-io/content/automate/projects.md
  components/docs-chef-io/content/automate/reports.md
  components/docs-chef-io/content/automate/restore.md
  components/docs-chef-io/content/automate/roles.md
  components/docs-chef-io/content/automate/saml.md
  components/docs-chef-io/content/automate/scan_jobs.md
  components/docs-chef-io/content/automate/servicenow_integration_install.md
  components/docs-chef-io/content/automate/system_requirements.md
  components/docs-chef-io/content/automate/teams.md
  components/docs-chef-io/content/automate/telemetry.md
  components/docs-chef-io/content/automate/troubleshooting.md
  components/docs-chef-io/content/automate/users.md
Labels: documentation

#4592 [infra-proxy-service] reset node client key, create client & delete client API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/clients.pb.go
  api/external/infra_proxy/request/clients.proto
  api/external/infra_proxy/response/clients.pb.go
  api/external/infra_proxy/response/clients.proto
  api/interservice/infra_proxy/request/clients.pb.go
  api/interservice/infra_proxy/request/clients.proto
  api/interservice/infra_proxy/response/clients.pb.go
  api/interservice/infra_proxy/response/clients.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/clients.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/server/clients.go
Labels: automate-infra-proxy

#4660 [infra-proxy-service] Client list using search API
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/clients.pb.go
  api/external/infra_proxy/request/clients.proto
  api/external/infra_proxy/request/common.pb.go
  api/external/infra_proxy/request/common.proto
  api/external/infra_proxy/response/clients.pb.go
  api/external/infra_proxy/response/clients.proto
  api/interservice/infra_proxy/request/clients.pb.go
  api/interservice/infra_proxy/request/clients.proto
  api/interservice/infra_proxy/request/common.pb.go
  api/interservice/infra_proxy/request/common.proto
  api/interservice/infra_proxy/response/clients.pb.go
  api/interservice/infra_proxy/response/clients.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/clients.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/integration_test/clients_test.go
  components/infra-proxy-service/server/clients.go
  dev-docs/adding-data/infra/chef-repo/clients/chef-load-3.json
  dev-docs/adding-data/infra/chef-repo/clients/chef-load-4.json
  dev-docs/adding-data/infra/chef-repo/clients/chef-load-5.json
  dev-docs/adding-data/infra/chef-repo/clients/chef-load-6.json
  dev-docs/adding-data/infra/chef-repo/clients/chef-load-7.json
  dev-docs/adding-data/infra/chef-repo/clients/chef-load-8.json
  dev-docs/adding-data/infra/chef-repo/clients/chef-load-9.json
Labels: automate-infra-proxy

#4659 [infra-proxy-service] Environments list using search API with pagination
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/environments.pb.go
  api/external/infra_proxy/request/environments.proto
  api/external/infra_proxy/response/environments.pb.go
  api/external/infra_proxy/response/environments.proto
  api/interservice/infra_proxy/request/environments.pb.go
  api/interservice/infra_proxy/request/environments.proto
  api/interservice/infra_proxy/response/environments.pb.go
  api/interservice/infra_proxy/response/environments.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/environments.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/integration_test/environments_test.go
  components/infra-proxy-service/server/environments.go
Labels: automate-infra-proxy

#4662 [infra-proxy-service] break data bag and item APIs & search items API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/databags.pb.go
  api/external/infra_proxy/request/databags.proto
  api/external/infra_proxy/response/databags.pb.go
  api/external/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/request/databags.pb.go
  api/interservice/infra_proxy/request/databags.proto
  api/interservice/infra_proxy/response/databags.pb.go
  api/interservice/infra_proxy/response/databags.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  buf.yaml
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/databags.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/integration_test/databags_test.go
  components/infra-proxy-service/integration_test/environments_test.go
  components/infra-proxy-service/server/databags.go
Labels: automate-infra-proxy

#4658 [infra-proxy-service] Roles list using search API with pagination
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/roles.pb.go
  api/external/infra_proxy/request/roles.proto
  api/external/infra_proxy/response/roles.pb.go
  api/external/infra_proxy/response/roles.proto
  api/interservice/infra_proxy/request/roles.pb.go
  api/interservice/infra_proxy/request/roles.proto
  api/interservice/infra_proxy/response/roles.pb.go
  api/interservice/infra_proxy/response/roles.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/roles.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/integration_test/roles_test.go
  components/infra-proxy-service/server/policyfiles.go
  components/infra-proxy-service/server/roles.go
Labels: automate-infra-proxy

#4718 Added UI improvements for server and org list.
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
Labels: bug 🐛

#4425 compliance: upgrade inspec to latest current build
  .expeditor/verify.pipeline.yml
  INSPEC_VERSION
  components/compliance-service/habitat/plan.sh
Labels: WIP

#4710 Remove advice to call CS
  components/docs-chef-io/content/automate/data_lifecycle.md
  components/docs-chef-io/content/automate/install.md
Labels: documentation

#4715 Chef Infra tabs should be enable/disable using the feature flag
  components/automate-ui/src/app/entities/layout/layout-sidebar.service.ts
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.ts
  components/automate-ui/src/app/ui.component.ts
Labels: automate-infra-proxy

#4726 Fix incorrect doc-comments
  api/external/compliance/scanner/jobs/jobs.pb.go
  api/external/compliance/scanner/jobs/jobs.proto
  api/external/compliance/scanner/jobs/jobs.swagger.json
  api/external/nodes/nodes.pb.go
  api/external/nodes/nodes.proto
  api/external/nodes/nodes.swagger.json
  api/external/secrets/secrets.pb.go
  api/external/secrets/secrets.proto
  api/external/secrets/secrets.swagger.json
  components/automate-gateway/api/jobs.pb.swagger.go
  components/automate-gateway/api/nodes.pb.swagger.go
  components/automate-gateway/api/secrets.pb.swagger.go
Labels: bug 🐛, documentation

#4727 Hab studio tech debt
  .studio/protobuf
  HOW_TO_MAINTAIN_A2.md
  components/notifications-client/api/health.pb.go
  components/notifications-client/api/notifications.pb.go
  components/notifications-client/api/rules.pb.go
  components/notifications-client/api/server.pb.go
  components/notifications-service/server/priv/health.proto
  components/notifications-service/server/priv/notifications.proto
  components/notifications-service/server/priv/rules.proto
  components/notifications-service/server/priv/server.proto
Labels: bug 🐛, chore

#4714 Publish Event Feed API
  api/external/event_feed/event_feed.pb.go
  api/external/event_feed/event_feed.pb.gw.go
  api/external/event_feed/event_feed.pb.policy.go
  api/external/event_feed/event_feed.proto
  api/external/event_feed/event_feed.swagger.json
  api/interservice/event_feed/event_feed.proto
  components/automate-gateway/api/event_feed.pb.swagger.go
  components/docs-chef-io/data/automate/api-static/03-tags.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/compliance/scanner/jobs/jobs.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/event_feed/event_feed.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/nodes/nodes.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/secrets/secrets.swagger.json
  components/docs-chef-io/static/automate-api-docs/all-apis.swagger.json
Labels: documentation

#4673 infra proxy list pages UI improvements
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbooks/cookbooks.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.html
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
Labels: automate-infra-proxy, automate-ui, ui

#4675 Data bag details UI improvements changes with search box
  components/automate-ui/src/app/entities/data-bags/data-bag-details.actions.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.effects.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.reducer.ts
  components/automate-ui/src/app/entities/data-bags/data-bag-details.selector.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.model.ts
  components/automate-ui/src/app/entities/data-bags/data-bags.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/page-components/json-tree/json-tree.component.scss
  components/automate-ui/src/assets/img/no_preview.gif
Labels: automate-infra-proxy, automate-ui, ui

#4722 Show the description column on environment tab
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
Labels: automate-infra-proxy

#4679 Role List search bar changes
  components/automate-ui/src/app/entities/infra-roles/infra-role.action.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.effects.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.model.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.reducer.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.requests.ts
  components/automate-ui/src/app/entities/infra-roles/infra-role.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-search-bar/infra-search-bar.component.ts
Labels: automate-infra-proxy, automate-ui, ui

#4716 add metadata to every page in docs.chef.io/automate
  components/docs-chef-io/content/automate/_index.md
Labels: documentation

#4598 [infra-proxy-service] Manage node tags with add, delete and set actions
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/nodes.pb.go
  api/external/infra_proxy/request/nodes.proto
  api/external/infra_proxy/response/nodes.pb.go
  api/external/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/request/nodes.pb.go
  api/interservice/infra_proxy/request/nodes.proto
  api/interservice/infra_proxy/response/nodes.pb.go
  api/interservice/infra_proxy/response/nodes.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  buf.yaml
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/nodes.go
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/infra-proxy-service/integration_test/nodes_test.go
  components/infra-proxy-service/server/nodes.go
  components/infra-proxy-service/server/util.go
  components/infra-proxy-service/server/util_test.go
Labels: automate-infra-proxy
