Repository chef/automate, pull requests merged in 2021-07, with the labels that each got.

#5304 Documentation for windows machine configuration
  components/docs-chef-io/content/automate/node_credentials.md
Labels: documentation

#5307 Added search bar in policy files
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-list.spec.ts
Labels: automate-infra-proxy, automate-ui, ui

#5266 add some more verbage to describe requirements for deep filtering
  components/docs-chef-io/content/automate/reports.md
Labels: compliance reporting, documentation

#5326 Added search text changes.
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
Labels: automate-ui

#5328 Removed bintray dependencies from deployment
  components/automate-deployment/a1-migration/install.rb
  components/automate-deployment/basic-a1/install.rb
  components/automate-deployment/pkg/airgap/bundle_creator.go
  components/automate-deployment/pkg/target/local_target.go
  components/automate-deployment/pkg/target/local_target_test.go
Labels: automate-deployment, bug 🐛

#5321 Added delete option in policy files
  components/automate-ui/src/app/entities/policy-files/policy-file.action.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.effects.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.reducer.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.requests.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-list.spec.ts
Labels: automate-infra-proxy, automate-ui

#5286 Security Improvements in Load balancer
  components/automate-load-balancer/habitat/config/nginx.conf
Labels: automate-ui, load-balancer, security

#5284 Venkatesh/telemetry preference save UI
  components/automate-ui/e2e/signin.e2e-spec.ts
  components/automate-ui/src/app/page-components/telemetry-checkbox/telemetry-checkbox.component.html
  components/automate-ui/src/app/page-components/telemetry-checkbox/telemetry-checkbox.component.scss
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/automate-ui/src/app/services/telemetry/telemetry.service.ts
  components/chef-ui-library/package.json
Labels: automate-ui, telemetry, ui

#5268 adjust apis so that they document the proper return structs
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  api/interservice/compliance/reporting/reporting.pb.go
  api/interservice/compliance/reporting/reporting.proto
  buf.yaml
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-gateway/handler/compliance/reporting.go
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/reporting/relaxting/reports.go
  components/data-feed-service/service/data-feed-poll-task.go
  components/data-feed-service/service/data-feed-poll-task_test.go
  components/docs-chef-io/data/automate/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/infra_proxy/infra_proxy.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/secrets/secrets.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/user_settings/user_settings.swagger.json
  components/docs-chef-io/static/automate-api-docs/all-apis.swagger.json
Labels: documentation

#5327 Added Policy file details Page.
  components/automate-ui/src/app/app-routing.module.ts
  components/automate-ui/src/app/entities/policy-files/policy-file-details.reducer.ts
  components/automate-ui/src/app/entities/policy-files/policy-file-details.selectors.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.action.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.effects.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.model.ts
  components/automate-ui/src/app/entities/policy-files/policy-file.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/ngrx.reducers.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
Labels: automate-infra-proxy, automate-ui, cypress, ui

#5320 Use Chef vale lints & add 'select' config
  components/docs-chef-io/.vale.ini
  components/docs-chef-io/tools/vale/chef/select.yml
Labels: documentation

#5374 Added Attributes in policyfiles
  components/automate-ui/src/app/entities/policy-files/policy-file.model.ts
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
Labels: automate-infra-proxy, automate-ui, ui

#5360 Updated pagination in Compliance reports
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-nodes/reporting-nodes.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-profiles/reporting-profiles.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/report-data.service.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: automate-ui

#5358 Add Details and Delete section to the Policyfiles in Chef Infra Server
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/delete-policyfiles.png
  components/docs-chef-io/static/images/automate/details-of-policyfiles.png
Labels: documentation

#5365 [infra-proxy-service] GET policyfile revisions API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/policyfiles.pb.go
  api/external/infra_proxy/request/policyfiles.proto
  api/external/infra_proxy/response/policyfiles.pb.go
  api/external/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/request/policyfiles.pb.go
  api/interservice/infra_proxy/request/policyfiles.proto
  api/interservice/infra_proxy/response/policyfiles.pb.go
  api/interservice/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/policyfiles.go
  components/infra-proxy-service/server/policyfiles.go
Labels: automate-infra-proxy-api

#5363 added sameSite_lax in cookie
  components/session-service/server/server.go
Labels: automate-auth

#5361 [infra-proxy-service] GET policy group details API
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/policyfiles.pb.go
  api/external/infra_proxy/request/policyfiles.proto
  api/external/infra_proxy/response/policyfiles.pb.go
  api/external/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/request/policyfiles.pb.go
  api/interservice/infra_proxy/request/policyfiles.proto
  api/interservice/infra_proxy/response/policyfiles.pb.go
  api/interservice/infra_proxy/response/policyfiles.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/policyfiles.go
  components/infra-proxy-service/server/policyfiles.go
Labels: automate-infra-proxy-api

#5305 Adding members-expression URL
  components/docs-chef-io/content/automate/saml.md
Labels: documentation

#5377 Added revision id for policy file.
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/revisions/revision.action.ts
  components/automate-ui/src/app/entities/revisions/revision.effects.ts
  components/automate-ui/src/app/entities/revisions/revision.model.ts
  components/automate-ui/src/app/entities/revisions/revision.reducer.ts
  components/automate-ui/src/app/entities/revisions/revision.requests.ts
  components/automate-ui/src/app/entities/revisions/revision.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/infra_shared/slide-panel.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.ts
  components/automate-ui/src/app/modules/infra-proxy/revision-id/revision-id.component.html
  components/automate-ui/src/app/modules/infra-proxy/revision-id/revision-id.component.scss
  components/automate-ui/src/app/modules/infra-proxy/revision-id/revision-id.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/revision-id/revision-id.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-list.spec.ts
Labels: automate-infra-proxy, automate-ui, cypress, ui
