Repository chef/automate, pull requests merged in 2021-12, with the labels that each got.

#6143 Added pagination API for Compliance reporting control list UI
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.module.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.module.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: compliance reporting, automate-ui, Team: Stalwart

#6255 Show list of Reports in the Report panel
  components/automate-ui/src/app/entities/download-reports/download-reports.service.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
  components/automate-ui/src/environments/environment.no_auth.ts
  components/automate-ui/src/environments/environment.prod.ts
  components/automate-ui/src/environments/environment.ts
Labels: automate-ui, Team: Kinetic, large_compliance_report

#6297 Control details ex-pander in compliance reporting
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/control-details/control-details.action.ts
  components/automate-ui/src/app/entities/control-details/control-details.effects.ts
  components/automate-ui/src/app/entities/control-details/control-details.model.ts
  components/automate-ui/src/app/entities/control-details/control-details.reducer.ts
  components/automate-ui/src/app/entities/control-details/control-details.requests.ts
  components/automate-ui/src/app/entities/control-details/control-details.selectors.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: compliance reporting, Team: Stalwart

#6296 Provide link to download the reports
  components/automate-ui/src/app/entities/download-reports/download-reports.actions.ts
  components/automate-ui/src/app/entities/download-reports/download-reports.model.ts
  components/automate-ui/src/app/entities/download-reports/download-reports.reducer.ts
  components/automate-ui/src/app/entities/download-reports/download-reports.selector.ts
  components/automate-ui/src/app/entities/download-reports/download-reports.service.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: automate-ui, Team: Kinetic, large_compliance_report

#6344 Align the tooltip missing part in report panel (LCR)
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
Labels: automate-ui, Team: Kinetic, large_compliance_report

#6376 Create server API - create the chef server using the webui key
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/servers.pb.go
  api/external/infra_proxy/request/servers.proto
  api/interservice/infra_proxy/request/servers.pb.go
  api/interservice/infra_proxy/request/servers.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/servers.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/server/servers_test.go
  components/infra-proxy-service/storage/postgres/servers.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6281 Removed extra space in Node Run list tab
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.scss
Labels: Team: Stalwart

#6283 Fixed reset client modal width on scroll
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.scss
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.scss
Labels: Team: Stalwart

#6358 Adding prompt for patch command
  components/automate-cli/cmd/chef-automate/config.go
Labels: Team: Madrox

#6364 API to validate the webui key
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/servers.pb.go
  api/external/infra_proxy/request/servers.proto
  api/external/infra_proxy/response/servers.pb.go
  api/external/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/request/servers.pb.go
  api/interservice/infra_proxy/request/servers.proto
  api/interservice/infra_proxy/response/servers.pb.go
  api/interservice/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/servers.go
  components/infra-proxy-service/server/proxy.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/server/servers_test.go
  components/infra-proxy-service/server/users.go
  components/infra-proxy-service/storage/postgres/servers.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6372 Added Update web ui key slider
  components/automate-ui/src/app/entities/servers/server.actions.ts
  components/automate-ui/src/app/entities/servers/server.effects.ts
  components/automate-ui/src/app/entities/servers/server.model.ts
  components/automate-ui/src/app/entities/servers/server.reducer.ts
  components/automate-ui/src/app/entities/servers/server.requests.ts
  components/automate-ui/src/app/entities/servers/server.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-slider/create-chef-server-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-slider/create-chef-server-slider.component.scss
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/update-web-uikey-slider/update-web-uikey-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/update-web-uikey-slider/update-web-uikey-slider.component.scss
  components/automate-ui/src/app/modules/infra-proxy/update-web-uikey-slider/update-web-uikey-slider.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/update-web-uikey-slider/update-web-uikey-slider.component.ts
  components/automate-ui/src/assets/img/warning.png
  e2e/cypress/integration/ui/infra-proxy/update-web-uikey-slider.spec.ts
Labels: automate-infra-proxy, Team: Stalwart

#6419 ES upgrade to 6.8.22
  components/automate-elasticsearch/habitat/plan.sh
Labels: Team: S.H.I.E.L.D.

#6387 UI-API integration for web UI key
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-slider/create-chef-server-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-slider/create-chef-server-slider.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups-list/policy-groups-list.component.html
  e2e/cypress/integration/api/iam/infra_clients_actions.spec.ts
  e2e/cypress/integration/api/iam/node_actions.spec.ts
Labels: automate-infra-proxy, Team: Stalwart

#6363 Infra proxy API to get the organisation of chef server
  .studio/infra-proxy-service
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/orgs.pb.go
  api/external/infra_proxy/request/orgs.proto
  api/external/infra_proxy/response/orgs.pb.go
  api/external/infra_proxy/response/orgs.proto
  api/interservice/infra_proxy/request/orgs.pb.go
  api/interservice/infra_proxy/request/orgs.proto
  api/interservice/infra_proxy/response/orgs.pb.go
  api/interservice/infra_proxy/response/orgs.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/orgs.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/storage/storage.go
  go.mod
  go.sum
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6440 Server details page - UI should have the option to update the WebUI key
  components/automate-ui/src/app/entities/servers/server.actions.ts
  components/automate-ui/src/app/entities/servers/server.effects.ts
  components/automate-ui/src/app/entities/servers/server.model.ts
  components/automate-ui/src/app/entities/servers/server.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/update-web-uikey-slider/update-web-uikey-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/update-web-uikey-slider/update-web-uikey-slider.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/update-web-uikey-slider/update-web-uikey-slider.component.ts
  e2e/cypress/integration/ui/infra-proxy/chef-server-details.spec.ts
Labels: automate-ui, automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6435 Show the validation status of the WebUI key on the Chef Server Metadata
  components/automate-ui/src/app/entities/servers/server.actions.ts
  components/automate-ui/src/app/entities/servers/server.effects.ts
  components/automate-ui/src/app/entities/servers/server.reducer.ts
  components/automate-ui/src/app/entities/servers/server.requests.ts
  components/automate-ui/src/app/entities/servers/server.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  e2e/cypress/integration/ui/infra-proxy/chef-server-details.spec.ts
Labels: automate-ui, automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6433 API to update the web ui key
  .studio/common
  api/external/infra_proxy/infra_proxy.pb.client_mock.go
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/servers.pb.go
  api/external/infra_proxy/request/servers.proto
  api/external/infra_proxy/response/servers.pb.go
  api/external/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/request/servers.pb.go
  api/interservice/infra_proxy/request/servers.proto
  api/interservice/infra_proxy/response/servers.pb.go
  api/interservice/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/servers.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/server/servers_test.go
  components/infra-proxy-service/storage/postgres/servers.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6436 infra_viewer_actions added
  components/authz-service/storage/postgres/migration/sql/78_update_viewer_role_pols.up.sql
  e2e/cypress/integration/api/iam/infra_viewer_actions.spec.ts
Labels: iamv2, Team: Kinetic

#6453 Abdul/infra editor actions
  components/authz-service/storage/postgres/migration/sql/79_infra_editor_update.up.sql
  e2e/cypress/integration/api/iam/infra_editor_actions.spec.ts
Labels: iamv2, Team: Kinetic

#6452 show loader when click on download link
  components/automate-ui/src/app/entities/download-reports/download-reports.service.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: ui, automate-ui, Team: Kinetic, large_compliance_report

#6457 Changes to use web ui key in all the Infra Proxy APIs for Cookbooks, Policy Files, Policy Groups, Clients
  components/automate-ui/src/app/modules/infra-proxy/create-chef-server-slider/create-chef-server-slider.component.html
  components/infra-proxy-service/server/proxy.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6369 5517 a2ha to automate ha migration script
  components/automate-backend-deployment/migration/A2HA-to-AutomateHA/migration.md
Labels: Team: Madrox

#6491 Upgrading postgres client library to postgresql13-client
  components/automate-deployment/habitat/plan.sh
  lib/platform/pg/exporter.go
  lib/platform/pg/exporter_test.go
Labels: Team: S.H.I.E.L.D.
