Repository chef/automate, pull requests merged in 2022-03, with the labels that each got.

#6743 FAQs
  components/docs-chef-io/content/automate/ha_faqs.md
  components/docs-chef-io/static/images/automate/ha_faq_access.png
  components/docs-chef-io/static/images/automate/ha_faq_bucket_region.png
  components/docs-chef-io/static/images/automate/ha_faq_cache.png
  components/docs-chef-io/static/images/automate/ha_faq_deployfail.png
Labels: documentation

#6741 Storage functions for org users association
  components/infra-proxy-service/storage/postgres/automate_infra_server_users.go
  components/infra-proxy-service/storage/postgres/migration/sql/06_user_management.up.sql
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6740 Telemetry coverage for Chef Infra Server Environment tab
  components/automate-ui/src/app/modules/infra-proxy/create-environment-modal/create-environment-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-environment-attribute-modal/edit-environment-attribute-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/environments/environments.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6749 Telemetry coverage for Chef Infra Server Clients tab
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6758 Set pages to drafts
  components/docs-chef-io/content/automate/ha.md
  components/docs-chef-io/content/automate/ha_destroy.md
  components/docs-chef-io/content/automate/ha_healthcheck.md
  components/docs-chef-io/content/automate/ha_security_firewall.md
  components/docs-chef-io/content/automate/ha_upgrade.md
  components/docs-chef-io/content/automate/ha_validation.md
Labels: documentation, Expeditor: Skip All

#6760 Telemetry coverage for Chef Infra Server Nodes tab
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-attribute-modal/edit-infra-node-attribute-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-attribute-modal/edit-infra-node-attribute-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-modal/edit-infra-node-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-node-modal/edit-infra-node-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-node-key/reset-node-key.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-node-key/reset-node-key.component.ts
  components/automate-ui/src/app/modules/infra-proxy/update-node-tag-modal/update-node-tag-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/update-node-tag-modal/update-node-tag-modal.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6761 Store Users
  components/infra-proxy-service/migrations/pipeline/phaseonemigration.go
  components/infra-proxy-service/migrations/pipeline/phasetwomigration.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
  components/infra-proxy-service/pipeline/models.go
  components/infra-proxy-service/pipeline/utils.go
  components/infra-proxy-service/server/automate_infra_server_users.go
  components/infra-proxy-service/storage/postgres/automate_infra_server_users.go
  components/infra-proxy-service/storage/storage.go
  components/infra-proxy-service/storage/testDB/testDB.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6775 Telemetry coverage for Chef Infra Server Databags tab
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-data-bag-modal/create-data-bag-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/create-databag-item-modal/create-databag-item-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/data-bags-list/data-bags-list.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-data-bag-item-modal/edit-data-bag-item-modal.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6801 Confirm preview button should send the changed and selected user details from UI.
  components/automate-ui/src/app/entities/orgs/org.actions.ts
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/entities/orgs/org.model.ts
  components/automate-ui/src/app/entities/orgs/org.requests.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.ts
Labels: automate-ui, automate-infra-proxy, infra-user-mgnt

#6797 Telemetry coverage for Chef Infra Server Policy Groups tab
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies-details/cookbook-dependencies-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies-details/cookbook-dependencies-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/cookbook-dependencies/cookbook-dependencies.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-groups/policy-groups.component.ts
  components/automate-ui/src/app/modules/infra-proxy/revision-id/revision-id.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/revision-id/revision-id.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6805 Telemetry coverage for Chef Infra Server Policy Files tab
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-files/policy-files.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6802 API to fetch the organisation users from automate DB
  api/external/infra_proxy/infra_proxy.pb.client_mock.go
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/automate_infra_server_users.pb.go
  api/external/infra_proxy/request/automate_infra_server_users.proto
  api/external/infra_proxy/response/automate_infra_server_users.pb.go
  api/external/infra_proxy/response/automate_infra_server_users.proto
  api/interservice/infra_proxy/request/automate_infra_server_users.pb.go
  api/interservice/infra_proxy/request/automate_infra_server_users.proto
  api/interservice/infra_proxy/response/automate_infra_server_users.pb.go
  api/interservice/infra_proxy/response/automate_infra_server_users.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/automate_infra_server_users.go
  components/automate-gateway/handler/infra_proxy/migrations/infra_proxy_migrations.go
  components/infra-proxy-service/migrations/migrations_test.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_phase_one.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
  components/infra-proxy-service/server/automate_infra_server_users.go
  components/infra-proxy-service/server/automate_infra_server_users_test.go
  components/infra-proxy-service/storage/postgres/automate_infra_server_users.go
  components/infra-proxy-service/storage/storage.go
  components/infra-proxy-service/storage/testDB/testDB.go
  components/infra-proxy-service/storage/testDB/testMigrationsDB.go
  components/infra-proxy-service/testdata/backup/organizations/org1/groups/admins.json
  components/infra-proxy-service/testdata/backup/organizations/org1/members.json
  components/infra-proxy-service/testdata/backup/organizations/org1/org.json
  components/infra-proxy-service/testdata/emptyBackup/organizations/.gitkeep
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6819 Migrate users to DB After send the changed and selected user details from UI.
  api/external/infra_proxy/migrations/migrations.pb.go
  api/external/infra_proxy/migrations/migrations.pb.gw.go
  api/external/infra_proxy/migrations/migrations.pb.policy.go
  api/external/infra_proxy/migrations/migrations.proto
  api/external/infra_proxy/migrations/migrations.swagger.json
  api/external/infra_proxy/migrations/request/migrations.pb.go
  api/external/infra_proxy/migrations/request/migrations.proto
  api/external/infra_proxy/migrations/response/migrations.pb.go
  api/external/infra_proxy/migrations/response/migrations.proto
  api/interservice/authz/policy.pb.client_mock.go
  api/interservice/infra_proxy/migrations/request/migrations.pb.go
  api/interservice/infra_proxy/migrations/request/migrations.proto
  api/interservice/infra_proxy/migrations/response/migrations.pb.go
  api/interservice/infra_proxy/migrations/response/migrations.proto
  components/automate-gateway/api/migrations.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/migrations/migrations.go
  components/automate-ui/src/app/entities/orgs/org.model.ts
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.ts
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/migrations_test.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/storage/testDB/testMigrationsDB.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6812 Telemetry Coverage for Notifications page under settings tab
  components/automate-ui/src/app/pages/create-notification-modal/create-notification-modal.component.spec.ts
  components/automate-ui/src/app/pages/create-notification-modal/create-notification-modal.component.ts
  components/automate-ui/src/app/pages/notification-details/notification-details.component.spec.ts
  components/automate-ui/src/app/pages/notification-details/notification-details.component.ts
  components/automate-ui/src/app/pages/notifications/notifications.component.ts
Labels: automate-ui, telemetry, Team: Kinetic

#6823 Testing observations of zip file upload
  dev-docs/infra-server-testing.md
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6817 Added org user API integration
  components/automate-ui/src/app/app.module.ts
  components/automate-ui/src/app/entities/org-users/org-users.action.ts
  components/automate-ui/src/app/entities/org-users/org-users.effects.ts
  components/automate-ui/src/app/entities/org-users/org-users.model.ts
  components/automate-ui/src/app/entities/org-users/org-users.reducer.ts
  components/automate-ui/src/app/entities/org-users/org-users.requests.ts
  components/automate-ui/src/app/entities/org-users/org-users.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/org-users/org-users.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-users/org-users.component.ts
  components/automate-ui/src/app/ngrx.effects.ts
  components/automate-ui/src/app/ngrx.reducers.ts
  e2e/cypress/integration/ui/infra-proxy/infra-orgUsers.spec.ts
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6808 Dave/stalwart 54
  api/external/infra_proxy/infra_proxy.pb.client_mock.go
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/automate_infra_server_users.pb.go
  api/external/infra_proxy/request/automate_infra_server_users.proto
  api/external/infra_proxy/response/automate_infra_server_users.pb.go
  api/external/infra_proxy/response/automate_infra_server_users.proto
  api/interservice/infra_proxy/request/automate_infra_server_users.pb.go
  api/interservice/infra_proxy/request/automate_infra_server_users.proto
  api/interservice/infra_proxy/response/automate_infra_server_users.pb.go
  api/interservice/infra_proxy/response/automate_infra_server_users.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/automate_infra_server_users.go
  components/infra-proxy-service/server/automate_infra_server_users.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6831 Disable add chef org button
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6830 On a freshly provisioned server, you get a notice saying that your license is about to expire.
  components/automate-ui/src/app/ui.component.ts
Labels: automate-ui, Team: Kinetic

#6833 Show static Banner UI - automate-ui
  components/automate-ui/src/app/page-components/profile/profile.component.ts
  components/automate-ui/src/app/pages/signin/signin.component.ts
  components/automate-ui/src/app/ui.component.ts
Labels: automate-ui, Team: Kinetic

#6834 fix workflow build pipeline
  components/automate-workflow-server/habitat/plan.sh
Labels: Team: S.H.I.E.L.D.

#6800 Update docs makefile
  components/docs-chef-io/Makefile
Labels: documentation
