Repository chef/automate, pull requests merged in 2022-01, with the labels that each got.

#6509 Kg/pg reorg
  components/docs-chef-io/content/automate/elasticsearch.md
  components/docs-chef-io/content/automate/monitoring.md
  components/docs-chef-io/content/automate/postgres_external_upgrade.md
  components/docs-chef-io/content/automate/postgresql.md
  components/docs-chef-io/content/automate/upgrade.md
Labels: documentation

#6500 Database script for migration tables
  components/infra-proxy-service/storage/postgres/migration/sql/07_migration.down.sql
  components/infra-proxy-service/storage/postgres/migration/sql/07_migration.up.sql
  components/infra-proxy-service/storage/postgres/migration/sql/README.md
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6467 Dropdown items should have common alignment while hover the items
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
Labels: ui, automate-ui, Team: Kinetic, large_compliance_report

#6508 Abdul/infra editor actions
  components/authz-service/storage/postgres/migration/sql/79_infra_editor_update.up.sql
  components/authz-service/storage/storage.go
  e2e/cypress/integration/api/iam/infra_editor_actions.spec.ts
Labels: iamv2, Team: Kinetic

#6512 Abdul/infra project owner
  components/authz-service/storage/postgres/migration/sql/80_infra_project_owner.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  dev-docs/infra-server-iam.md
  e2e/cypress/integration/api/iam/infra_project_owner_actions.spec.ts
Labels: iamv2, Team: Kinetic

#6494 Increasing validity for pg certs
  components/automate-backend-elasticsearch/habitat/cert.sh
  components/automate-backend-postgresql/habitat/cert.sh
  components/automate-backend-postgresql/habitat/plan.sh
Labels: Team: Madrox

#6528 Infra proxy client cypress tests
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/clients/clients.component.html
  components/automate-ui/src/app/modules/infra-proxy/create-client-modal/create-client-modal.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-client-key/reset-client-key.component.html
  e2e/cypress/integration/ui/infra-proxy/infra-clients.spec.js
Labels: cypress, automate-infra-proxy, Team: Stalwart

#6534 Command to create the organisations in chef server
  .studio/infra-proxy-service
  api/external/infra_proxy/infra_proxy.pb.client_mock.go
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.gw.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/orgs.pb.go
  api/external/infra_proxy/request/orgs.proto
  api/external/infra_proxy/response/orgs.pb.go
  api/external/infra_proxy/response/orgs.proto
  api/interservice/infra_proxy/request/orgs.pb.go
  api/interservice/infra_proxy/request/orgs.proto
  api/interservice/infra_proxy/response/orgs.pb.go
  api/interservice/infra_proxy/response/orgs.proto
  api/interservice/infra_proxy/service/infra_proxy.pb.go
  api/interservice/infra_proxy/service/infra_proxy.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/orgs.go
  components/infra-proxy-service/server/migration.go
  components/infra-proxy-service/server/orgs.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6543 Associate Project with every organisation
  components/infra-proxy-service/cmd/infra-proxy-service/commands/serve.go
  components/infra-proxy-service/config/service.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/service/service.go
  components/infra-proxy-service/test/test.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6458 Bump hugo version to 0.91.2
  components/docs-chef-io/netlify.toml
Labels: documentation

#6551 fixing upgrade command
  components/automate-cli/cmd/chef-automate/automateClusterCtlUtil.go
  components/automate-cli/cmd/chef-automate/upgrade.go
  scripts/bundle_creation.sh
Labels: Team: Madrox

#6578 Added migrations proto files and updated protoc version for new files
  api/external/infra_proxy/infra_proxy.pb.client_mock.go
  api/external/infra_proxy/migrations.pb.go
  api/external/infra_proxy/migrations.proto
  api/external/infra_proxy/migrations.swagger.json
  api/external/infra_proxy/request/automate_infra_server_users.pb.go
  api/external/infra_proxy/request/migrations.pb.go
  api/external/infra_proxy/request/migrations.proto
  api/external/infra_proxy/response/automate_infra_server_users.pb.go
  api/external/infra_proxy/response/migrations.pb.go
  api/external/infra_proxy/response/migrations.proto
  api/external/secrets/secrets.pb.client_mock.go
  api/interservice/authn/authenticate.pb.client_mock.go
  api/interservice/authz/authz.pb.client_mock.go
  api/interservice/authz/project.pb.client_mock.go
  api/interservice/cfgmgmt/service/cfgmgmt.pb.client_mock.go
  api/interservice/compliance/ingest/ingest/compliance.pb.client_mock.go
  api/interservice/event/event.pb.client_mock.go
  api/interservice/event_feed/event_feed.pb.client_mock.go
  api/interservice/infra_proxy/request/automate_infra_server_users.pb.go
  api/interservice/infra_proxy/request/migrations.pb.go
  api/interservice/infra_proxy/request/migrations.proto
  api/interservice/infra_proxy/response/automate_infra_server_users.pb.go
  api/interservice/infra_proxy/response/migrations.pb.go
  api/interservice/infra_proxy/response/migrations.proto
  api/interservice/infra_proxy/service/migrations.pb.go
  api/interservice/infra_proxy/service/migrations.proto
  api/interservice/ingest/chef.pb.client_mock.go
  api/interservice/nodemanager/manager/manager.pb.client_mock.go
  api/interservice/nodemanager/nodes/nodes.pb.client_mock.go
  components/automate-gateway/api/migrations.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/migrations.go
Labels: automate-infra-proxy, Team: Stalwart

#5070 Do not obscure problems in response, ignore SSL
  components/docs-chef-io/content/automate/data_lifecycle.md
Labels: documentation

#6592 Added sync organization and user button
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
Labels: automate-infra-proxy, Team: Stalwart

#5905 Proxy config passed to inspec
  api/config/compliance/config_request.go
  api/config/compliance/config_request.pb.go
  api/config/compliance/config_request.proto
  components/compliance-service/habitat/hooks/run
  components/compliance-service/inspec/cli.go
  e2e/cypress/fixtures/testproxy-0.1.0.tar.gz
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/compliance/ssh_scan_job_proxy.spec.ts
  e2e/package.json
  integration/tests/proxy.sh
  testproxy-0.1.0.tar.gz
Labels: WIP

#6609 Bump elastic search to 6.8.23
  components/automate-elasticsearch/habitat/plan.sh
Labels: Team: S.H.I.E.L.D.

#5735 sp-initiated only SAML logins
  components/docs-chef-io/content/automate/saml.md
Labels: documentation

#6215 Change master to main in docs
  components/docs-chef-io/config.toml
  components/docs-chef-io/data/automate/api-static/00-meta.swagger.json
Labels: documentation

#6549 Broken Links Updated
  components/docs-chef-io/archetypes/default.md
  components/docs-chef-io/content/automate/desktop.md
  components/docs-chef-io/content/automate/postgresql.md
  components/docs-chef-io/content/automate/upgrade.md
Labels: documentation

#6619 Storage functions and script for the migration stage
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/storage/postgres/migration/sql/07_migration.down.sql
  components/infra-proxy-service/storage/postgres/migration/sql/07_migration.up.sql
  components/infra-proxy-service/storage/postgres/migrations.go
  components/infra-proxy-service/storage/postgres/postgres.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6613 Addition of migration id and migration status in get server api
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/servers.pb.go
  api/external/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/response/servers.pb.go
  api/interservice/infra_proxy/response/servers.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/servers.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/storage/postgres/migrations.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart

#6622 Changes to audit the log for infra proxy
  components/automate-gateway/gateway/middleware/auth_interceptor.go
Labels: infra-user-mgnt

#6416 Image Updates using UserDocs
  components/docs-chef-io/static/images/automate/add-chef-organization-popup-menu.png
  components/docs-chef-io/static/images/automate/chef-infra-server-objects.png
  components/docs-chef-io/static/images/automate/chef-server-page.png
  components/docs-chef-io/static/images/automate/choose-a-data-feed-integration.png
Labels: documentation

#6579 chore: Added ruby path
  components/automate-backend-deployment/README.md
  components/automate-cluster-ctl/readme
  scripts/credentials
Labels: Team: Madrox

#6637 API to fetch the status of the migration
  .studio/common
  api/external/infra_proxy/migrations/migrations.pb.go
  api/external/infra_proxy/migrations/migrations.pb.gw.go
  api/external/infra_proxy/migrations/migrations.pb.policy.go
  api/external/infra_proxy/migrations/migrations.proto
  api/external/infra_proxy/migrations/migrations.swagger.json
  api/external/infra_proxy/migrations/request/migrations.pb.go
  api/external/infra_proxy/migrations/request/migrations.proto
  api/external/infra_proxy/migrations/response/migrations.pb.go
  api/external/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/request/migrations.pb.go
  api/interservice/infra_proxy/migrations/request/migrations.proto
  api/interservice/infra_proxy/migrations/response/migrations.pb.go
  api/interservice/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/service/migrations.pb.go
  api/interservice/infra_proxy/migrations/service/migrations.proto
  api/interservice/infra_proxy/response/servers.pb.go
  components/automate-gateway/api/migrations.pb.swagger.go
  components/automate-gateway/gateway/clients.go
  components/automate-gateway/gateway/services.go
  components/automate-gateway/handler/infra_proxy/infra_proxy.go
  components/automate-gateway/handler/infra_proxy/migrations/infra_proxy_migrations.go
  components/automate-gateway/handler/infra_proxy/migrations/migrations.go
  components/infra-proxy-service/server/migration.go
  components/infra-proxy-service/server/migrations.go
  components/infra-proxy-service/server/migrations/migrations.go
  components/infra-proxy-service/server/migrations/migrations_test.go
  components/infra-proxy-service/server/migrations/server.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/server.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/storage/postgres/migrations.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6645 Modify Get server API for Migration status
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/servers.pb.go
  api/external/infra_proxy/response/servers.proto
  api/interservice/infra_proxy/response/servers.pb.go
  api/interservice/infra_proxy/response/servers.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/servers.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/storage/postgres/migrations.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt
