Repository chef/automate, pull requests merged in 2022-05, with the labels that each got.

#6987 Branch 2 rest user key New PR
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/infra_proxy.swagger.json
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-ui/src/app/modules/infra-proxy/org-users/org-users.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-users/org-users.component.ts
Labels: automate-infra-proxy, automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#7006 Add reset user key under the server users tab
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/org-users/org-users.component.ts
Labels: automate-ui, infra-user-mgnt

#6998 Warning Message on Major Upgrade page
  components/docs-chef-io/content/automate/major_upgrade.md
Labels: documentation

#7009 not create a project if the project already exists during migration
  components/infra-proxy-service/migrations/pipeline/utility.go
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6933 SHIELD-37 SHIELD-42 Documentation for automate 4.x upgrade
  components/docs-chef-io/content/automate/architectural_overview.md
  components/docs-chef-io/content/automate/backup.md
  components/docs-chef-io/content/automate/client_runs.md
  components/docs-chef-io/content/automate/configuration.md
  components/docs-chef-io/content/automate/data_lifecycle.md
  components/docs-chef-io/content/automate/install.md
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
  components/docs-chef-io/content/automate/migrate.md
  components/docs-chef-io/content/automate/on_prem_builder.md
  components/docs-chef-io/content/automate/opensearch.md
  components/docs-chef-io/content/automate/opensearch_external_upgrade.md
  components/docs-chef-io/content/automate/restore.md
  components/docs-chef-io/content/automate/troubleshooting.md
  components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_init-config.yaml
  components/docs-chef-io/static/images/automate/a2-architecture-os.png
Labels: documentation

#7022 update the ’ -> '
  components/docs-chef-io/content/automate/opensearch_external_upgrade.md
Labels: documentation

#7000 Fixed issues on preview screen for conflicting users and confirm preview not allow on some cases
  components/automate-ui/src/app/entities/orgs/org.actions.ts
  components/automate-ui/src/app/entities/orgs/org.model.ts
  components/automate-ui/src/app/entities/orgs/org.reducer.ts
  components/automate-ui/src/app/entities/orgs/org.requests.ts
  components/automate-ui/src/app/entities/orgs/org.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.ts
Labels: bug 🐛, automate-infra-proxy

#7027 doc fix and change for external os
  components/docs-chef-io/content/automate/backup.md
  components/docs-chef-io/content/automate/elasticsearch.md
  components/docs-chef-io/content/automate/install.md
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
  components/docs-chef-io/content/automate/opensearch_external_upgrade.md
  components/docs-chef-io/content/automate/troubleshooting.md
Labels: documentation

#7033 Added the announcement
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
Labels: documentation

#7023 Remove special char from project names
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/storage/postgres/automate_infra_server_users.go
  components/infra-proxy-service/storage/storage.go
  components/infra-proxy-service/storage/testDB/testDB.go
  components/infra-proxy-service/storage/testDB/testMigrationsDB.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6973 Creating and Uploading airgap bundle
  .expeditor/config.yml
  .expeditor/create-upload-airgap-bundle.sh
  .expeditor/promote-hab-pkgs-and-cli.sh
  components/docs-chef-io/content/automate/airgapped_installation.md
Labels: documentation

#6923 Abdul/add invalid attempts
  api/config/dex/config_request.go
  api/config/dex/config_request.pb.go
  api/config/dex/config_request.proto
  components/automate-dex/habitat/config/config.json
  components/automate-dex/habitat/plan.sh
  components/automate-dex/habitat/templates/config.yml
  components/automate-dex/web/templates/password.html
  components/automate-dex/web/theme/styles.css
  components/docs-chef-io/content/automate/data_collection.md
  components/docs-chef-io/content/automate/disclosure_panel_and_banner.md
  components/docs-chef-io/content/automate/invalid_login_attempts.md
  components/docs-chef-io/content/automate/session_timeout.md
  components/docs-chef-io/content/automate/telemetry.md
  dev-docs/images/blockd_user_login_error_msg.png
  dev-docs/images/invalid_login_attempts_error_msg.png
  dev/invalid_login_attempts.toml
Labels: documentation

#7032 update the test case for the inspec profile testcase for automate-ha
  components/automate-backend-deployment/habitat/plan.sh
  components/automate-backend-elasticsidecar/README.md
  components/automate-cluster-ctl/habitat/plan.sh
  components/automate-cluster-ctl/libexec/cluster-test
  components/docs-chef-io/content/automate/ha_backup_restore.md
  dev-docs/external_dependency.md
  inspec/automate-backend-elasticsearch-smoke/README.md
  inspec/automate-backend-elasticsearch-smoke/controls/base.rb
  inspec/automate-backend-opensearch-smoke/README.md
  inspec/automate-backend-opensearch-smoke/controls/base.rb
  inspec/automate-backend-opensearch-smoke/inspec.yml
  inspec/automate-backend-opensearch-smoke/libraries/.gitkeep
  inspec/automate-backend-postgresql-smoke/README.md
  inspec/automate-backend-postgresql-smoke/controls/base.rb
  inspec/automate-backend-resources/README.md
  inspec/automate-frontend-chef-server-smoke/README.md
  inspec/automate-frontend-chef-server-smoke/controls/base.rb
  inspec/automate-frontend-smoke/README.md
  inspec/automate-frontend-smoke/controls/base.rb
  terraform/a2ha-terraform/modules/elasticsearch/README.md
  terraform/a2ha-terraform/modules/opensearch/README.md
  test/lib/smoke-test.rb
Labels: documentation

#7050 UpDate the note for OpenSearch
  components/docs-chef-io/content/automate/opensearch.md
Labels: documentation

#7051 Updated the Major Upgrade 4.0.x Page
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
Labels: documentation

#7062 Remove hugo version and go version from netlify config.
  components/docs-chef-io/netlify.toml
Labels: documentation

#7076 added changes to fix the client run search
  components/compliance-service/reporting/relaxting/suggestions.go
  components/config-mgmt-service/backend/elastic/suggestions.go
Labels: bug 🐛, Team: Stalwart

#7030 minor doc correction in upgrade page
  components/docs-chef-io/content/automate/elasticsearch.md
  components/docs-chef-io/content/automate/major_upgrade.md
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
  components/docs-chef-io/content/automate/opensearch_external_upgrade.md
Labels: documentation
