Repository chef/automate, pull requests merged in 2022-06, with the labels that each got.

#7024 add annotation for external es and os
  .bldr.toml
  api/config/deployment/automate_config.pb.a2svc.go
  api/config/esgateway/config_request.go
  api/config/shared/global.go
  api/config/shared/global.pb.a2svc.go
  api/config/shared/global.pb.go
  api/config/shared/global.proto
Labels: Team: S.H.I.E.L.D.

#7037 Updated Chef-backend to Automate HA migration commands
  components/docs-chef-io/content/automate/ha_chef_backend_to_automate_ha.md
Labels: documentation

#7130 Fix typos
  components/docs-chef-io/content/automate/applications_setup.md
  components/docs-chef-io/content/automate/architectural_overview.md
  components/docs-chef-io/content/automate/backup.md
  components/docs-chef-io/content/automate/cli_chef_automate.md
  components/docs-chef-io/content/automate/client_runs.md
  components/docs-chef-io/content/automate/configuration.md
  components/docs-chef-io/content/automate/data_collection.md
  components/docs-chef-io/content/automate/elasticsearch.md
  components/docs-chef-io/content/automate/ha.md
  components/docs-chef-io/content/automate/ha_architecture_reference.md
  components/docs-chef-io/content/automate/ha_backup_restore.md
  components/docs-chef-io/content/automate/ha_common.md
  components/docs-chef-io/content/automate/ha_deploy_bareinfra.md
  components/docs-chef-io/content/automate/ha_faqs.md
  components/docs-chef-io/content/automate/ha_upgrade.md
  components/docs-chef-io/content/automate/iam_v2_guide.md
  components/docs-chef-io/content/automate/iam_v2_overview.md
  components/docs-chef-io/content/automate/install.md
  components/docs-chef-io/content/automate/major_upgrade.md
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
  components/docs-chef-io/content/automate/migrate.md
  components/docs-chef-io/content/automate/on_prem_builder.md
  components/docs-chef-io/content/automate/opensearch.md
  components/docs-chef-io/content/automate/opensearch_external_upgrade.md
  components/docs-chef-io/content/automate/scan_jobs.md
  components/docs-chef-io/content/automate/system_requirements.md
  components/docs-chef-io/content/automate/telemetry.md
  components/docs-chef-io/content/automate/troubleshooting.md
Labels: documentation

#7127 Performance Benchmarking doc added
  components/docs-chef-io/content/automate/performance_benchmarking.md
Labels: documentation

#7143 show older scan job report
  components/compliance-service/reporting/relaxting/nodes.go
  components/compliance-service/reporting/relaxting/profiles.go
  components/compliance-service/reporting/relaxting/reports.go
  components/compliance-service/reporting/relaxting/stats.go
  components/compliance-service/reporting/relaxting/trend.go
  components/compliance-service/reporting/relaxting/util.go
  components/compliance-service/reporting/relaxting/util_test.go
Labels: compliance reporting

#7148 Validate all indexes are of version 6 before upgrade of Elasticsearch in major upgrade to 4.x
  components/automate-deployment/pkg/majorupgradechecklist/v4.go
  components/automate-deployment/pkg/majorupgradechecklist/v4_test.go
  components/automate-es-gateway/habitat/hooks/run
Labels: Team: S.H.I.E.L.D.

#7158 Im/automate shortcodes
  components/docs-chef-io/content/automate/cli_chef_automate.md
  components/docs-chef-io/content/automate/elasticsearch.md
  components/docs-chef-io/content/automate/ha_architecture_reference.md
  components/docs-chef-io/content/automate/ha_common.md
  components/docs-chef-io/content/automate/ha_deploy_aws.md
  components/docs-chef-io/content/automate/iam_actions.md
  components/docs-chef-io/content/automate/iam_v2_guide.md
  components/docs-chef-io/content/automate/infra_server.md
  components/docs-chef-io/content/automate/ldap.md
  components/docs-chef-io/content/automate/opensearch_external_upgrade.md
  components/docs-chef-io/content/automate/postgres_external_upgrade.md
  components/docs-chef-io/content/automate/reports.md
  components/docs-chef-io/content/automate/saml.md
  components/docs-chef-io/content/automate/servicenow_incident_creation.md
  components/docs-chef-io/layouts/shortcodes/automate/automate_cli_commands.html
  components/docs-chef-io/layouts/shortcodes/automate/automate_cli_status_errors.html
  components/docs-chef-io/layouts/shortcodes/servicenow_incidents.md
Labels: documentation

#7172 added final ha arch files and calculator
  components/docs-chef-io/content/automate/ha.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  components/docs-chef-io/content/automate/ha_platform_support.md
  components/docs-chef-io/static/calculator/automate_ha_hardware_calculator.xlsx
  components/docs-chef-io/static/images/automate/ha_arch_aws_managed.png
  components/docs-chef-io/static/images/automate/ha_arch_onpremise.png
Labels: documentation

#7171 Adding warning for OpenSearch heap size
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
Labels: documentation

#7149 Standalone Automate with AWS managed services PostgreSQL/OpenSearch Backup/restore document
  components/docs-chef-io/content/automate/managed_services.md
Labels: documentation

#7180 fix hugo lint errors
  components/docs-chef-io/content/automate/managed_services.md
Labels: documentation

#7182 bump the version from 4.0 -> 4.1
  README.md
Labels: Expeditor: Bump Version Minor

#7184 doc update - 1.0
  components/docs-chef-io/content/automate/opensearch.md
Labels: documentation

#6777 HA writeup - Type II - 30+ pages
  components/docs-chef-io/content/automate/ha.md
  components/docs-chef-io/content/automate/ha_architecture_reference.md
  components/docs-chef-io/content/automate/ha_automate_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_aws_bastion.md
  components/docs-chef-io/content/automate/ha_aws_cert_mngr.md
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_backup_restore.md
  components/docs-chef-io/content/automate/ha_backup_restore_prerequisites.md
  components/docs-chef-io/content/automate/ha_bastion.md
  components/docs-chef-io/content/automate/ha_cert_rotaion.md
  components/docs-chef-io/content/automate/ha_cert_selfsign.md
  components/docs-chef-io/content/automate/ha_chef_backend_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_common.md
  components/docs-chef-io/content/automate/ha_deploy_aws.md
  components/docs-chef-io/content/automate/ha_deploy_bareinfra.md
  components/docs-chef-io/content/automate/ha_existing_a2ha_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_faqs.md
  components/docs-chef-io/content/automate/ha_healthcheck.md
  components/docs-chef-io/content/automate/ha_iam_user.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  components/docs-chef-io/content/automate/ha_platform_support.md
  components/docs-chef-io/content/automate/ha_restore.md
  components/docs-chef-io/content/automate/ha_security_firewall.md
  components/docs-chef-io/content/automate/ha_troubleshooting.md
  components/docs-chef-io/content/automate/ha_upgrade_introduction.md
  components/docs-chef-io/content/automate/ha_vpc_setup.md
  components/docs-chef-io/content/automate/ha_workflow.md
  components/docs-chef-io/content/automate/loadbalancer_configuration.md
  components/docs-chef-io/static/calculator/automate_ha_hardware_calculator.xlsx
  components/docs-chef-io/static/images/automate/HA_Architecture.png
  components/docs-chef-io/static/images/automate/ha_arch_aws_managed.png
  components/docs-chef-io/static/images/automate/ha_arch_onpremise.png
  components/docs-chef-io/static/images/automate/ha_aws_deploy.png
  components/docs-chef-io/static/images/automate/ha_aws_launchinstances.png
  components/docs-chef-io/static/images/automate/ha_aws_secretkeys.png
  components/docs-chef-io/static/images/automate/ha_backup_success.png
  components/docs-chef-io/static/images/automate/ha_bare_infra_deploy.png
  components/docs-chef-io/static/images/automate/ha_cert.png
  components/docs-chef-io/static/images/automate/ha_cert_rotation.png
  components/docs-chef-io/static/images/automate/ha_restore.png
  components/docs-chef-io/static/images/automate/ha_restore_success.png
  components/docs-chef-io/static/images/automate/ha_s3_backup.png
  components/docs-chef-io/static/images/automate/ha_status.png
  components/docs-chef-io/static/images/automate/ha_upgrade.png
  components/docs-chef-io/static/images/automate/ha_upgrade_complete.png
  components/docs-chef-io/static/images/automate/minimal_node.png
  components/docs-chef-io/static/images/automate/minimal_node_config.png
  components/docs-chef-io/static/images/automate/subnet_creation.png
Labels: documentation

#7186 feedback changes updated
  components/docs-chef-io/content/automate/ha.md
  components/docs-chef-io/content/automate/ha_automate_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_aws_bastion.md
  components/docs-chef-io/content/automate/ha_aws_cert_mngr.md
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_common.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  components/docs-chef-io/content/automate/ha_platform_support.md
Labels: documentation

#7195 bump the version from 4.1 -> 4.2
  README.md
Labels: Expeditor: Bump Version Minor

#7200 Adding modified all-apis swagger file
  components/docs-chef-io/data/automate/api-static/07-report-manager-export.swagger.json
  components/docs-chef-io/static/automate-api-docs/all-apis.swagger.json
Labels: documentation

#7189 Documentation update for HA
  components/docs-chef-io/content/automate/ha_automate_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_aws_cert_mngr.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_backup_restore_prerequisites.md
  components/docs-chef-io/content/automate/ha_chef_backend_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_existing_a2ha_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_faqs.md
  components/docs-chef-io/content/automate/ha_healthcheck.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  components/docs-chef-io/content/automate/ha_platform_support.md
  components/docs-chef-io/content/automate/ha_troubleshooting.md
  components/docs-chef-io/content/automate/ha_upgrade_introduction.md
  components/docs-chef-io/content/automate/major_upgrade.md
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
  ha_healthcheck.md
Labels: documentation

#7201 lcr update for ha docs
  components/docs-chef-io/content/automate/large_compliance_report.md
Labels: documentation

#7193 Parse Report structs
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/pipeline/processor/parse_struct.go
  components/compliance-service/ingest/pipeline/processor/parse_struct_test.go
Labels: Team: Stalwart

#7206 adding lcr permissions for viewer and editor
  components/authz-service/storage/postgres/migration/sql/78_update_roles.up.sql
  components/authz-service/storage/postgres/migration/sql/README.md
  components/docs-chef-io/content/automate/iam_actions.md
Labels: documentation

#7207 Setting day_latest to false
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/integration_lcr_test/suite_test.go
Labels: Team: Stalwart

#7209 Added config for opensearch over http
  components/automate-es-gateway/habitat/config/nginx.conf
  components/docs-chef-io/content/automate/install.md
  components/docs-chef-io/content/automate/opensearch.md
Labels: documentation
