Repository chef/automate, pull requests merged in 2022-08, with the labels that each got.

#7288 docs changes for custom ssh port support
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_chef_backend_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
Labels: documentation

#7272 Update docs for AIB bundle
  components/docs-chef-io/content/automate/airgapped_installation.md
  components/docs-chef-io/content/automate/major_upgrade.md
Labels: documentation

#7317 Change the version for Migration In HA Docs
  components/docs-chef-io/content/automate/ha_automate_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_existing_a2ha_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_platform_support.md
  components/docs-chef-io/content/automate/ha_security_firewall.md
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
Labels: documentation

#7323 doc update for endpoint attribute for automate bkp and restore
  components/docs-chef-io/content/automate/backup.md
  components/docs-chef-io/content/automate/ha_backup_restore.md
  components/docs-chef-io/content/automate/ha_backup_restore_prerequisites.md
Labels: documentation

#7320 Build Assets API
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.pb.gw.go
  api/external/compliance/reporting/reporting.pb.policy.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  api/interservice/compliance/reporting/reporting.pb.go
  api/interservice/compliance/reporting/reporting.proto
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-gateway/handler/compliance/reporting.go
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/reporting/constants.go
  components/compliance-service/reporting/relaxting/assets.go
  components/compliance-service/reporting/relaxting/util.go
Labels: collection-percentage

#7329 Date range docs update
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  api/external/compliance/reporting/stats/stats.pb.go
  api/external/compliance/reporting/stats/stats.proto
  api/external/compliance/reporting/stats/stats.swagger.json
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-gateway/api/stats.pb.swagger.go
  components/docs-chef-io/data/automate/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/compliance/reporting/stats/stats.swagger.json
  components/docs-chef-io/static/automate-api-docs/all-apis.swagger.json
Labels: documentation

#7327 Dave/stalwart 189
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.pb.gw.go
  api/external/compliance/reporting/reporting.pb.policy.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  api/interservice/compliance/reporting/reporting.pb.go
  api/interservice/compliance/reporting/reporting.proto
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-gateway/handler/compliance/reporting.go
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/compliance.go
  components/compliance-service/dao/pgdb/config.go
  components/compliance-service/dao/pgdb/migration/sql/43_create_data_lifecycle.down.sql
  components/compliance-service/dao/pgdb/migration/sql/43_create_data_lifecycle.up.sql
  components/compliance-service/integration_test/reporting_server_export_test.go
  components/compliance-service/integration_test/reporting_server_list_nodes_test.go
  components/compliance-service/integration_test/reporting_server_list_profiles_test.go
  components/compliance-service/integration_test/reporting_server_list_reports_test.go
  components/compliance-service/integration_test/reporting_server_list_suggestions_test.go
  components/compliance-service/integration_test/reporting_server_node_controls_test.go
  components/compliance-service/integration_test/reporting_server_read_node_test.go
  components/compliance-service/integration_test/reporting_server_read_nodeinfo_test.go
  components/compliance-service/integration_test/reporting_server_read_report_test.go
  components/compliance-service/integration_test/reporting_server_run_info_test.go
  components/compliance-service/integration_test/stats_server_read_failures_test.go
  components/compliance-service/integration_test/stats_server_read_profiles_test.go
  components/compliance-service/integration_test/stats_server_read_summary_test.go
  components/compliance-service/integration_test/stats_server_read_trend_test.go
  components/compliance-service/reporting/relaxting/assets_test.go
  components/compliance-service/reporting/relaxting/util.go
  components/report-manager-service/worker/worker_test.go
Labels: compliance reporting, compliance profiles, collection-percentage

#7332 update the conf path in prerequisite section
  components/docs-chef-io/content/automate/ha_backup_restore_prerequisites.md
Labels: documentation

#7339 Added upgrade troubleshooting step
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
Labels: documentation

#7343 Fix typo for tcp port 9638 firewall documentation
  components/docs-chef-io/content/automate/ha_security_firewall.md
Labels: documentation

#7338 Filters test
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  api/interservice/compliance/reporting/reporting.pb.go
  api/interservice/compliance/reporting/reporting.proto
  components/automate-gateway/api/reporting.pb.swagger.go
  components/automate-gateway/handler/compliance/reporting.go
  components/compliance-service/api/reporting/server/server.go
  components/compliance-service/ingest/ingestic/ingestic.go
  components/compliance-service/ingest/ingestic/mappings/comp-run-info.go
  components/compliance-service/reporting/constants.go
  components/compliance-service/reporting/relaxting/assets.go
  components/compliance-service/reporting/relaxting/assets_test.go
  components/compliance-service/reporting/relaxting/es_types.go
  components/compliance-service/reporting/relaxting/util.go
Labels: collection-percentage

#7353 Assets api documentation
  api/external/compliance/reporting/reporting.pb.go
  api/external/compliance/reporting/reporting.proto
  api/external/compliance/reporting/reporting.swagger.json
  components/automate-gateway/api/reporting.pb.swagger.go
  components/docs-chef-io/data/automate/api-static/03-tags.swagger.json
  components/docs-chef-io/data/automate/api_chef_automate/compliance/reporting/reporting.swagger.json
  components/docs-chef-io/static/automate-api-docs/all-apis.swagger.json
  ec2/Vagrantfile
Labels: documentation

#7351 update the migration docs
  components/docs-chef-io/content/automate/ha_existing_a2ha_to_automate_ha.md
  components/docs-chef-io/content/automate/ha_platform_support.md
Labels: documentation

#7366 restart service by killing PID of deployment svc
  components/automate-cli/cmd/chef-automate/status.go
  components/automate-cli/cmd/chef-automate/upgrade.go
  components/automate-cli/pkg/status/error.go
  components/docs-chef-io/content/automate/major_upgrade_4.x.md
Labels: documentation

#7378 Fixing build kite
  components/automate-cli/cmd/chef-automate/migration_pg.go
Labels: documentation
