Repository chef/automate, pull requests merged in 2022-02, with the labels that each got.

#6654 Stalwart 32 upload slider functionality
  components/automate-ui/src/app/entities/orgs/org.actions.ts
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/entities/orgs/org.model.ts
  components/automate-ui/src/app/entities/orgs/org.reducer.ts
  components/automate-ui/src/app/entities/orgs/org.requests.ts
  components/automate-ui/src/app/entities/orgs/org.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/drag-drop/drag-drop.directive.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/drag-drop/drag-drop.directive.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.scss
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.ts
  components/automate-ui/src/app/modules/infra-proxy/sync-org-users-slider/sync-org-users-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/sync-org-users-slider/sync-org-users-slider.component.scss
  components/automate-ui/src/app/modules/infra-proxy/sync-org-users-slider/sync-org-users-slider.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/sync-org-users-slider/sync-org-users-slider.component.ts
  components/automate-ui/src/app/services/http/http-client-auth.interceptor.ts
  components/automate-ui/src/assets/img/sync_arrow.png
  components/automate-ui/src/assets/img/upload-file.png
  e2e/cypress/fixtures/infra-proxy/backup.zip
  e2e/cypress/integration/ui/infra-proxy/upload-file-slider.spec.ts
  e2e/cypress/support/commands.ts
  e2e/package.json
  e2e/tsconfig.json
Labels: cypress, automate-infra-proxy, Team: Stalwart

#6653 Cancel migration API to cancel the running migration
  api/external/infra_proxy/migrations/migrations.pb.go
  api/external/infra_proxy/migrations/migrations.pb.gw.go
  api/external/infra_proxy/migrations/migrations.pb.policy.go
  api/external/infra_proxy/migrations/migrations.proto
  api/external/infra_proxy/migrations/migrations.swagger.json
  api/external/infra_proxy/migrations/request/migrations.pb.go
  api/external/infra_proxy/migrations/request/migrations.proto
  api/external/infra_proxy/migrations/response/migrations.pb.go
  api/external/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/request/migrations.pb.go
  api/interservice/infra_proxy/migrations/request/migrations.proto
  api/interservice/infra_proxy/migrations/response/migrations.pb.go
  api/interservice/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/service/migrations.pb.go
  api/interservice/infra_proxy/migrations/service/migrations.proto
  components/authz-service/storage/storage.go
  components/automate-gateway/api/migrations.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/migrations/migrations.go
  components/infra-proxy-service/constants/constants.go
  components/infra-proxy-service/server/migrations/migrations.go
  components/infra-proxy-service/storage/postgres/migration/sql/07_migration.up.sql
  components/infra-proxy-service/storage/postgres/migrations.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6658 Stalwart 24 Pipeline function to store the orgs to database
  api/external/infra_proxy/migrations/migrations.pb.client_mock.go
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/migrations_test.go
  components/infra-proxy-service/migrations/pipeline/models.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
  components/infra-proxy-service/migrations/server.go
  components/infra-proxy-service/server/server.go
  components/infra-proxy-service/storage/testDB/testDB.go
  components/infra-proxy-service/storage/testDB/testMigrationsDB.go
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6564 Add telemetry preference in localStorage if not exist
  components/automate-ui/e2e/signin.e2e-spec.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.spec.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
Labels: automate-ui, telemetry, Team: Kinetic

#6608 Command fixes for info and version command
  components/automate-backend-deployment/README.md
  components/automate-cli/cmd/chef-automate/version.go
  components/automate-cluster-ctl/libexec/cluster-info
Labels: Team: Madrox

#6641 Proto changes to pass proxy connection_string to compliance service
  api/config/compliance/config_request.go
  api/config/compliance/config_request.pb.go
  api/config/compliance/config_request.proto
  buf.yaml
  e2e/cypress/fixtures/testproxy-0.1.0.tar.gz
  e2e/cypress/index.d.ts
  e2e/cypress/integration/api/compliance/ssh_scan_job_proxy.spec.ts
  e2e/package.json
  integration/tests/proxy.sh
Labels: Team: S.H.I.E.L.D.

#6643 Chef server ctl external database support
  .bldr.toml
  components/automate-cs-nginx/cmd/chef-server-ctl/ctl.go
  lib/platform/config/config.go
Labels: Team: S.H.I.E.L.D.

#6662 Add 'Users' nav entry for user managment
  components/docs-chef-io/content/automate/api_tokens.md
  components/docs-chef-io/content/automate/desktop.md
  components/docs-chef-io/content/automate/iam_actions.md
  components/docs-chef-io/content/automate/iam_v2_guide.md
  components/docs-chef-io/content/automate/iam_v2_overview.md
  components/docs-chef-io/content/automate/ldap.md
  components/docs-chef-io/content/automate/policies.md
  components/docs-chef-io/content/automate/roles.md
  components/docs-chef-io/content/automate/saml.md
  components/docs-chef-io/content/automate/teams.md
  components/docs-chef-io/content/automate/users.md
  components/docs-chef-io/static/automate-api-docs/all-apis.swagger.json
Labels: documentation

#6647 Feature/migration pipe
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/pipeline/phaseonemigration.go
  components/infra-proxy-service/migrations/server.go
  components/infra-proxy-service/pipeline/models.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6664 Parse org pipeline function and test cases
  components/infra-proxy-service/migrations/pipeline/models.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
  components/infra-proxy-service/storage/testDB/testDB.go
  components/infra-proxy-service/storage/testDB/testMigrationsDB.go
  components/infra-proxy-service/testdata/deleteBackup/organizations/.gitkeep
  components/infra-proxy-service/testdata/insertBackup/organizations/org1/org.json
  components/infra-proxy-service/testdata/skipBackup/organizations/org3/org.json
  components/infra-proxy-service/testdata/updateBackup/organizations/org2/org.json
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6671 Fix unit test errors in LCR pipeline
  components/automate-ui/src/app/pages/+compliance/+reporting/+reporting-node/reporting-node.component.ts
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.scss
Labels: automate-ui, Team: Kinetic, large_compliance_report

#6672 Fix cypress lint errors
  e2e/cypress/integration/ui/compliance/large_compliance_report/large_compliance_report.spec.ts
Labels: automate-ui, cypress, Team: Kinetic, large_compliance_report

#6667 Phase 2 migration pipeline
  components/infra-proxy-service/migrations/pipeline/phasetwomigration.go
Labels: automate-infra-proxy-api, infra-user-mgnt

#6669 Add projects for every org to be inserted in the database
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
Labels: automate-infra-proxy, automate-infra-proxy-api, infra-user-mgnt

#6614 Changes for postgresql13 in automate-postgresql service
  .expeditor/create-manifest.rb
  .expeditor/verify.pipeline.yml
  .studio/automate-workflow-server
  .studio/secrets-service
  api/config/postgresql/config_request.go
  api/config/postgresql/config_request.pb.go
  api/config/postgresql/config_request.proto
  components/automate-postgresql/habitat/config/functions.sh
  components/automate-postgresql/habitat/config/postgresql.conf
  components/automate-postgresql/habitat/default.toml
  components/automate-postgresql/habitat/hooks/health-check
  components/automate-postgresql/habitat/hooks/init
  components/automate-postgresql/habitat/hooks/run
  components/automate-postgresql/habitat/plan.sh
  components/pg-sidecar-service/habitat/plan.sh
  components/pg-sidecar-service/pkg/pgw/client.go
Labels: documentation

#6673 Get migration staged data API
  .studio/infra-proxy-service
  api/external/infra_proxy/migrations/migrations.pb.client_mock.go
  api/external/infra_proxy/migrations/migrations.pb.go
  api/external/infra_proxy/migrations/migrations.pb.gw.go
  api/external/infra_proxy/migrations/migrations.pb.policy.go
  api/external/infra_proxy/migrations/migrations.proto
  api/external/infra_proxy/migrations/migrations.swagger.json
  api/external/infra_proxy/migrations/request/migrations.pb.go
  api/external/infra_proxy/migrations/request/migrations.proto
  api/external/infra_proxy/migrations/response/migrations.pb.go
  api/external/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/request/migrations.pb.go
  api/interservice/infra_proxy/migrations/request/migrations.proto
  api/interservice/infra_proxy/migrations/response/migrations.pb.go
  api/interservice/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/service/migrations.pb.go
  api/interservice/infra_proxy/migrations/service/migrations.proto
  components/automate-gateway/api/migrations.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/migrations/migrations.go
  components/infra-proxy-service/integration_test/migrations.json
  components/infra-proxy-service/integration_test/migrations_test.go
  components/infra-proxy-service/integration_test/suite_test.go
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/migrations_test.go
  components/infra-proxy-service/migrations/pipeline/models.go
  components/infra-proxy-service/pipeline/models.go
  components/infra-proxy-service/storage/postgres/migration/sql/07_migration.up.sql
  components/infra-proxy-service/storage/postgres/migrations.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6678 Feb/pipeline(unzip, pipeline log for error and success)
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/pipeline/models.go
  components/infra-proxy-service/migrations/pipeline/phaseonemigration.go
  components/infra-proxy-service/migrations/pipeline/phasetwomigration.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
  components/infra-proxy-service/service/service.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6670 STALWART-31 Show migration acknowledgement on server details page
  components/automate-gateway/gateway/services.go
  components/automate-ui/src/app/entities/servers/server.actions.ts
  components/automate-ui/src/app/entities/servers/server.effects.ts
  components/automate-ui/src/app/entities/servers/server.model.ts
  components/automate-ui/src/app/entities/servers/server.reducer.ts
  components/automate-ui/src/app/entities/servers/server.requests.ts
  components/automate-ui/src/app/entities/servers/server.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/assets/img/completed.png
  components/automate-ui/src/assets/img/failed.png
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6677 API to trigger the second pipeline function - confirm preview
  api/external/infra_proxy/migrations/migrations.pb.client_mock.go
  api/external/infra_proxy/migrations/migrations.pb.go
  api/external/infra_proxy/migrations/migrations.pb.gw.go
  api/external/infra_proxy/migrations/migrations.pb.policy.go
  api/external/infra_proxy/migrations/migrations.proto
  api/external/infra_proxy/migrations/migrations.swagger.json
  api/external/infra_proxy/migrations/request/migrations.pb.go
  api/external/infra_proxy/migrations/request/migrations.proto
  api/external/infra_proxy/migrations/response/migrations.pb.go
  api/external/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/request/migrations.pb.go
  api/interservice/infra_proxy/migrations/request/migrations.proto
  api/interservice/infra_proxy/migrations/response/migrations.pb.go
  api/interservice/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/service/migrations.pb.go
  api/interservice/infra_proxy/migrations/service/migrations.proto
  components/automate-gateway/api/migrations.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/migrations/migrations.go
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/pipeline/phaseonemigration.go
  components/infra-proxy-service/migrations/pipeline/phasetwomigration.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/server.go
  components/infra-proxy-service/pipeline/models.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/storage/testDB/testDB.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6683 Stalwart 25 pipeline function to store parsed stage file
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
  components/infra-proxy-service/storage/testDB/testMigrationsDB.go
Labels: Team: Stalwart, infra-user-mgnt

#6679 Stalwart 22 preview screen modal
  .expeditor/verify_private.pipeline.yml
  api/external/infra_proxy/migrations/migrations.pb.client_mock.go
  api/external/infra_proxy/migrations/migrations.pb.go
  api/external/infra_proxy/migrations/migrations.pb.gw.go
  api/external/infra_proxy/migrations/migrations.pb.policy.go
  api/external/infra_proxy/migrations/migrations.proto
  api/external/infra_proxy/migrations/migrations.swagger.json
  api/external/infra_proxy/migrations/request/migrations.pb.go
  api/external/infra_proxy/migrations/request/migrations.proto
  api/external/infra_proxy/migrations/response/migrations.pb.go
  api/external/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/request/migrations.pb.go
  api/interservice/infra_proxy/migrations/request/migrations.proto
  api/interservice/infra_proxy/migrations/response/migrations.pb.go
  api/interservice/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/service/migrations.pb.go
  api/interservice/infra_proxy/migrations/service/migrations.proto
  buf.yaml
  components/authz-service/storage/postgres/migration/sql/README.md
  components/automate-gateway/api/migrations.pb.swagger.go
  components/automate-gateway/gateway/services.go
  components/automate-ui/src/app/entities/orgs/org.actions.ts
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/entities/orgs/org.model.ts
  components/automate-ui/src/app/entities/orgs/org.reducer.ts
  components/automate-ui/src/app/entities/orgs/org.requests.ts
  components/automate-ui/src/app/entities/orgs/org.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.scss
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.ts
  components/automate-ui/src/app/modules/infra-proxy/sync-org-users-slider/sync-org-users-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/sync-org-users-slider/sync-org-users-slider.component.ts
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/pipeline/phaseonemigration.go
  components/infra-proxy-service/migrations/pipeline/phasetwomigration.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  e2e/cypress/integration/api/iam/infra_editor_actions.spec.ts
  e2e/cypress/integration/api/iam/infra_project_owner_actions.spec.ts
  e2e/cypress/integration/ui/infra-proxy/chef-organization-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/chef-server-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/chef-servers.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-databags.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-node-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-file-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-group-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-policy-groups-list.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-role-details.spec.ts
  e2e/cypress/integration/ui/infra-proxy/infra-roles.spec.ts
  e2e/cypress/integration/ui/infra-proxy/update-web-uikey-slider.spec.ts
  e2e/cypress/integration/ui/infra-proxy/upload-file-slider.spec.ts
Labels: cypress, automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6704 Feature/testing pipeline
  components/automate-gateway/handler/infra_proxy/migrations/migrations.go
  components/automate-ui/src/app/entities/orgs/org.actions.ts
  components/automate-ui/src/app/entities/orgs/org.effects.ts
  components/automate-ui/src/app/entities/orgs/org.reducer.ts
  components/automate-ui/src/app/entities/orgs/org.requests.ts
  components/automate-ui/src/app/entities/orgs/org.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.scss
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.html
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.scss
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.ts
  components/automate-ui/src/app/modules/infra-proxy/sync-org-users-slider/sync-org-users-slider.component.scss
  components/automate-ui/src/app/modules/infra-proxy/update-web-uikey-slider/update-web-uikey-slider.component.scss
  components/infra-proxy-service/cmd/infra-proxy-service/commands/serve.go
  components/infra-proxy-service/config/service.go
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/pipeline/phaseonemigration.go
  components/infra-proxy-service/migrations/pipeline/phasetwomigration.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/server.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/service/service.go
  components/infra-proxy-service/storage/postgres/migration/sql/07_migration.up.sql
  components/infra-proxy-service/storage/postgres/migrations.go
  components/infra-proxy-service/test/test.go
Labels: automate-infra-proxy, automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6530 Dk/automate hadoc certificates
  components/docs-chef-io/content/automate/HA_architecture_reference.md
  components/docs-chef-io/content/automate/HA_bastion_setup.md
  components/docs-chef-io/content/automate/ha.md
  components/docs-chef-io/content/automate/ha_a2rb_lb_certificate.png
  components/docs-chef-io/content/automate/ha_aws_cert_mngr.md
  components/docs-chef-io/content/automate/ha_aws_cert_mngr_arn.png
  components/docs-chef-io/content/automate/ha_aws_cert_mngr_console.png
  components/docs-chef-io/content/automate/ha_cert_rotaion.md
  components/docs-chef-io/content/automate/ha_cert_selfsign.md
  components/docs-chef-io/content/automate/servicenow_reference.md
  components/docs-chef-io/static/images/automate/ha_self_sign_certificate.png
Labels: documentation

#6708 Telemetry coverage for InfraServer Roles Tab
  components/automate-ui/src/app/modules/infra-proxy/create-infra-role-modal/create-infra-role-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-role-modal/edit-infra-role-modal.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/edit-infra-role-modal/edit-infra-role-modal.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-roles/infra-roles.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6718 Telemetry coverage for Add Chef Infra Server and Add Chef Org button
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-servers-list/chef-servers-list.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6722 Added cypress test cases
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/migration-slider/migration-slider.component.html
  e2e/cypress/fixtures/infra-proxy/migrationStatus.json
  e2e/cypress/fixtures/infra-proxy/previewData.json
  e2e/cypress/integration/ui/infra-proxy/chef-server-details.spec.ts
Labels: cypress, automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6719 Dave/stalwart 27
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
  components/infra-proxy-service/pipeline/models.go
  components/infra-proxy-service/testdata/backup/key_dump.json
  components/infra-proxy-service/testdata/keydumpnotfound/organizations/key_dump.json
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6713 Pappu/stalwart 35
  .studio/common
  api/interservice/local_user/users.pb.client_mock.go
  components/automate-deployment/pkg/assets/binds.go
  components/infra-proxy-service/cmd/infra-proxy-service/commands/serve.go
  components/infra-proxy-service/config/service.go
  components/infra-proxy-service/dev/config.yml
  components/infra-proxy-service/habitat/config/config.toml
  components/infra-proxy-service/habitat/default.toml
  components/infra-proxy-service/habitat/plan.sh
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/migrations/pipeline/phaseonemigration.go
  components/infra-proxy-service/migrations/pipeline/phasetwomigration.go
  components/infra-proxy-service/migrations/pipeline/utility.go
  components/infra-proxy-service/migrations/pipeline/utility_test.go
  components/infra-proxy-service/pipeline/models.go
  components/infra-proxy-service/pipeline/utils.go
  components/infra-proxy-service/service/service.go
  components/infra-proxy-service/storage/postgres/automate_infra_server_users.go
  components/infra-proxy-service/storage/storage.go
  components/infra-proxy-service/storage/testDB/testDB.go
  components/infra-proxy-service/storage/testDB/testMigrationsDB.go
  components/infra-proxy-service/test/test.go
  components/infra-proxy-service/testdata/deleteBackup/key_dump.json
  components/infra-proxy-service/testdata/insertBackup/key_dump.json
  components/infra-proxy-service/testdata/skipBackup/key_dump.json
  components/infra-proxy-service/testdata/updateBackup/key_dump.json
Labels: automate-infra-proxy-api, infra-user-mgnt

#6716 Abdul/id token fix url
  components/automate-ui/e2e/signin.e2e-spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.spec.ts
  components/automate-ui/src/app/page-components/profile/profile.component.ts
  components/automate-ui/src/app/pages/signin/signin.component.spec.ts
  components/automate-ui/src/app/pages/signin/signin.component.ts
  components/automate-ui/src/app/services/chef-session/chef-session.service.ts
  components/session-service/server/server.go
  components/session-service/server/server_functional_test.go
  components/session-service/server/server_test.go
  e2e/cypress/integration/ui/common/login.spec.ts
Labels: automate-auth, Team: Kinetic

#6712 Stalwart 52 Improvements in infra server integration test cases
  .studio/infra-proxy-service
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/request/orgs.pb.go
  api/external/infra_proxy/request/orgs.proto
  api/interservice/infra_proxy/request/orgs.pb.go
  api/interservice/infra_proxy/request/orgs.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/orgs.go
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/server/orgs_test.go
  components/infra-proxy-service/server/servers_test.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6729 Duplicate docs
  components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate.yaml
Labels: documentation

#6731 validation writeup
  components/docs-chef-io/content/automate/HA_architecture_reference.md
  components/docs-chef-io/content/automate/HA_bastion_setup.md
  components/docs-chef-io/content/automate/HA_components.md
  components/docs-chef-io/content/automate/HA_system_requirements.md
  components/docs-chef-io/content/automate/ha.md
  components/docs-chef-io/content/automate/ha_a2rb_lb_certificate.png
  components/docs-chef-io/content/automate/ha_auto_install.md
  components/docs-chef-io/content/automate/ha_aws_bastion.md
  components/docs-chef-io/content/automate/ha_aws_cert_mngr.md
  components/docs-chef-io/content/automate/ha_aws_cert_mngr_arn.png
  components/docs-chef-io/content/automate/ha_aws_cert_mngr_console.png
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_ssh_connect_bastion.md
  components/docs-chef-io/content/automate/ha_bastion.md
  components/docs-chef-io/content/automate/ha_cert_rotaion.md
  components/docs-chef-io/content/automate/ha_cert_selfsign.md
  components/docs-chef-io/content/automate/ha_configure_aws_credentials.md
  components/docs-chef-io/content/automate/ha_deploy_aws.md
  components/docs-chef-io/content/automate/ha_deploy_bareinfra.md
  components/docs-chef-io/content/automate/ha_iam_user.md
  components/docs-chef-io/content/automate/ha_validation.md
  components/docs-chef-io/content/automate/ha_vpc_setup.md
  components/docs-chef-io/content/automate/ha_workflow.md
  components/docs-chef-io/static/images/automate/ha_aws_subnet.png
  components/docs-chef-io/static/images/automate/ha_aws_vpc.png
  components/docs-chef-io/static/images/automate/ha_aws_vpc_existing.png
  components/docs-chef-io/static/images/automate/ha_aws_vpc_existing_subnet.png
  components/docs-chef-io/static/images/automate/ha_self_sign_certificate.png
Labels: documentation

#6736 sec n firwall settings
  components/docs-chef-io/content/automate/ha_security_firewall.md
Labels: documentation
