Repository chef/automate, pull requests merged in 2022-04, with the labels that each got.

#6860 Automate API needs to handle sync status
  api/external/infra_proxy/infra_proxy.swagger.json
  api/external/infra_proxy/response/servers.pb.go
  api/external/infra_proxy/response/servers.proto
  api/interservice/authz/policy.pb.client_mock.go
  api/interservice/infra_proxy/response/servers.pb.go
  api/interservice/infra_proxy/response/servers.proto
  components/automate-gateway/api/infra_proxy.pb.swagger.go
  components/automate-gateway/handler/infra_proxy/servers.go
  components/infra-proxy-service/server/automate_infra_server_users.go
  components/infra-proxy-service/server/servers.go
  components/infra-proxy-service/storage/postgres/migrations.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6841 Chef Infra Server WebUI Key
  components/docs-chef-io/content/automate/chef_infra_server.md
  components/docs-chef-io/static/images/automate/add-chef-server-popup-menu-with-error.png
  components/docs-chef-io/static/images/automate/add-chef-server-popup-menu.png
  components/docs-chef-io/static/images/automate/chef-infra-server-update-webui-key-main-page.png
  components/docs-chef-io/static/images/automate/chef-infra-server-update-webui-key.png
  components/docs-chef-io/static/images/automate/chef-server-details-page.png
Labels: documentation

#6825 PG changes release version 3.x
  .expeditor/nightly.pipeline.yml
  .expeditor/verify.pipeline.yml
  .expeditor/verify_private.pipeline.yml
  .studio/automate-workflow-server
  .studio/secrets-service
  api/config/postgresql/config_request.go
  api/config/postgresql/config_request.pb.go
  api/config/postgresql/config_request.proto
  buf.yaml
  components/automate-cli/cmd/chef-automate/migration_pg.go
  components/automate-deployment/testdata/old_manifests/20220329091442.json
  components/automate-postgresql/habitat/config/functions.sh
  components/automate-postgresql/habitat/config/postgresql.conf
  components/automate-postgresql/habitat/default.toml
  components/automate-postgresql/habitat/hooks/health-check
  components/automate-postgresql/habitat/hooks/init
  components/automate-postgresql/habitat/hooks/run
  components/automate-postgresql/habitat/plan.sh
  components/notifications-service/habitat/hooks/run
  components/notifications-service/habitat/plan.sh
  components/notifications-service/server/mix.exs
  components/notifications-service/server/mix.lock
  components/pg-sidecar-service/habitat/plan.sh
  components/pg-sidecar-service/pkg/pgw/client.go
  inspec/a2-deploy-integration/controls/base.rb
  integration/base.sh
  integration/helpers/build.sh
  integration/helpers/deployment.sh
  integration/helpers/ssl_tests.sh
  integration/tests/ha_data_services_migrate.sh
  integration/tests/iam_v1_to_v2_force_upgrade.sh
  integration/tests/iam_v1_to_v2_force_upgrade_diagnostics.sh
  integration/tests/iam_v2_legacy_to_v2_force_upgrade.sh
  integration/tests/iam_v2_no_legacy_to_v2_force_upgrade.sh
  integration/tests/iam_v2_no_legacy_to_v2_force_upgrade_diagnostics.sh
  integration/tests/manual_upgrade.sh
  integration/tests/migrate_upgrade.sh
  integration/tests/upgrade.sh
  integration/tests/upgrade_acceptance_master.sh
  integration/tests/upgrade_current_acceptance.sh
  integration/tests/upgrade_current_master.sh
  integration/tests/upgrade_current_master_habdev.sh
  integration/tests/v2_to_v3_upgrade.sh
  lib/platform/sys/darwin.go
  lib/platform/sys/linux.go
  scripts/pgdata.sh
  scripts/pgdata13.sh
  scripts/verify_build.sh
  terraform/a2ha-terraform/modules/automate/templates/provision.sh.tpl
  terraform/test-environments/modules/chef_automate_install/templates/install_chef_automate_cli.sh.tpl
Labels: Team: S.H.I.E.L.D.

#6754 SHIELD-17 doc first draft for pg upgrade
  components/automate-deployment/habitat/plan.sh
  components/docs-chef-io/content/automate/major_upgrade.md
  components/docs-chef-io/content/automate/postgres_external_upgrade.md
  components/docs-chef-io/content/automate/upgrade.md
Labels: documentation

#6859 Stalwart 81/infra reset user key
  api/external/infra_proxy/infra_proxy.pb.go
  api/external/infra_proxy/infra_proxy.pb.policy.go
  api/external/infra_proxy/infra_proxy.proto
  api/external/infra_proxy/migrations/migrations.pb.go
  api/external/infra_proxy/migrations/migrations.pb.policy.go
  api/external/infra_proxy/migrations/migrations.proto
  api/external/infra_proxy/response/servers.proto
  components/automate-ui/src/app/entities/org-users/org-users.action.ts
  components/automate-ui/src/app/entities/org-users/org-users.effects.ts
  components/automate-ui/src/app/entities/org-users/org-users.reducer.ts
  components/automate-ui/src/app/entities/org-users/org-users.requests.ts
  components/automate-ui/src/app/entities/org-users/org-users.selectors.ts
  components/automate-ui/src/app/modules/infra-proxy/chef-server-details/chef-server-details.component.ts
  components/automate-ui/src/app/modules/infra-proxy/infra-proxy.module.ts
  components/automate-ui/src/app/modules/infra-proxy/org-users/org-users.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-users/org-users.component.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-user-key/reset-user-key.component.html
  components/automate-ui/src/app/modules/infra-proxy/reset-user-key/reset-user-key.component.scss
  components/automate-ui/src/app/modules/infra-proxy/reset-user-key/reset-user-key.component.spec.ts
  components/automate-ui/src/app/modules/infra-proxy/reset-user-key/reset-user-key.component.ts
  components/infra-proxy-service/server/servers.go
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6926 Remove the user from organization/server if deleting from automate
  api/interservice/infra_proxy/migrations/request/migrations.pb.go
  api/interservice/infra_proxy/migrations/request/migrations.proto
  api/interservice/infra_proxy/migrations/response/migrations.pb.go
  api/interservice/infra_proxy/migrations/response/migrations.proto
  api/interservice/infra_proxy/migrations/service/migrations.pb.go
  api/interservice/infra_proxy/migrations/service/migrations.proto
  components/automate-deployment/pkg/assets/binds.go
  components/infra-proxy-service/migrations/migrations.go
  components/infra-proxy-service/storage/postgres/automate_infra_server_users.go
  components/infra-proxy-service/storage/storage.go
  components/local-user-service/cmd/users/serve.go
  components/local-user-service/config/config.go
  components/local-user-service/habitat/config/config.yml
  components/local-user-service/habitat/plan.sh
  components/local-user-service/server/grpc.go
  components/local-user-service/server/server.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6836 Add backup_config to config.toml file
  components/automate-cli/cmd/chef-automate/config.toml
  components/automate-cli/cmd/chef-automate/genA2haRbTmpl.go
  components/automate-cli/cmd/chef-automate/initConfigHa.go
  components/automate-cli/cmd/chef-automate/initConfigHaTmpl.go
  components/automate-cluster-ctl/lib/cluster/config.rb
  components/automate-cluster-ctl/lib/cluster/config/generator.rb
  components/automate-cluster-ctl/templates/terraform.tfvars.erb
  terraform/a2ha-terraform/modules/aws/inputs.tf
  terraform/a2ha-terraform/modules/aws/loadbalancing.tf
  terraform/a2ha-terraform/modules/aws/main.tf
  terraform/a2ha-terraform/modules/aws/outputs.tf
  terraform/a2ha-terraform/modules/aws_output/files/output.tfvars.tpl
  terraform/a2ha-terraform/modules/aws_output/inputs.tf
  terraform/a2ha-terraform/modules/aws_output/main.tf
  terraform/a2ha-terraform/modules/efs/files/mount_nfs.tpl
  terraform/a2ha-terraform/modules/efs/inputs.tf
  terraform/a2ha-terraform/modules/efs/main.tf
  terraform/a2ha-terraform/modules/s3/inputs.tf
  terraform/a2ha-terraform/modules/s3/main.tf
  terraform/a2ha-terraform/modules/s3/outputs.tf
  terraform/a2ha-terraform/reference_architectures/aws/main.tf
  terraform/a2ha-terraform/reference_architectures/aws/variables.tf
Labels: Team: Madrox

#6936 Minor Changes to the Major Upgrade 3.x
  components/docs-chef-io/content/automate/major_upgrade.md
Labels: documentation

#6938 Fix typo
  components/docs-chef-io/content/automate/major_upgrade.md
Labels: documentation

#6824 Fixed 0-byte file with Chrome/Edge for CSV/JSON Download of Compliance Reports
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.spec.ts
  components/automate-ui/src/app/pages/+compliance/shared/reporting/stats.service.ts
Labels: compliance reporting, automate-ui

#6863 Telemetry coverage for Data feeds
  components/automate-ui/src/app/page-components/data-feed-table/data-feed-table.component.spec.ts
  components/automate-ui/src/app/page-components/data-feed-table/data-feed-table.component.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.spec.ts
  components/automate-ui/src/app/pages/data-feed-details/data-feed-details.component.ts
  components/automate-ui/src/app/pages/data-feed/data-feed.component.spec.ts
Labels: automate-ui, telemetry, Team: Kinetic

#6840 Send telemetry for profile searches and add search button
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.html
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.scss
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+profile/+profile-overview/profile-overview.component.ts
Labels: automate-ui, telemetry, Team: Kinetic

#6864 Telemetry coverage for Data Lifecycle
  components/automate-ui/src/app/pages/automate-settings/automate-settings.component.ts
Labels: automate-ui, telemetry, Team: Kinetic

#6858 STALWART-86/Chef Infra Server nodes should show checkin time
  components/automate-ui/src/app/modules/infra-proxy/infra-nodes/infra-nodes.component.ts
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.ts
Labels: automate-ui, Team: Stalwart

#6913 Telemetry Coverage for Access Management in Automate-ui
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.spec.ts
  components/automate-ui/src/app/components/pending-edits-bar/pending-edits-bar.component.ts
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.component.ts
  components/automate-ui/src/app/modules/policy/add-members/policy-add-members.spec.ts
  components/automate-ui/src/app/modules/policy/details/policy-details.component.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.spec.ts
  components/automate-ui/src/app/modules/policy/list/policy-list.component.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.spec.ts
  components/automate-ui/src/app/modules/roles/list/roles-list.component.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.spec.ts
  components/automate-ui/src/app/pages/project/details/project-details.component.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.spec.ts
  components/automate-ui/src/app/pages/project/list/project-list.component.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.spec.ts
  components/automate-ui/src/app/pages/project/rules/project-rules.component.ts
Labels: automate-ui, telemetry, Team: Kinetic

#6917 Telemetry coverage for Node management in Settings tab
  components/automate-ui/src/app/pages/+compliance/+node-credentials/create-node-credential-modal/create-node-credential-modal.component.html
  components/automate-ui/src/app/pages/+compliance/+node-credentials/create-node-credential-modal/create-node-credential-modal.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/create-node-credential-modal/create-node-credential-modal.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credential-details/node-credential-details.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credential-details/node-credential-details.component.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.spec.ts
  components/automate-ui/src/app/pages/+compliance/+node-credentials/node-credentials-list/node-credential-list.component.ts
  components/automate-ui/src/app/pages/integrations/add/integrations-add.component.spec.ts
  components/automate-ui/src/app/pages/integrations/add/integrations-add.component.ts
  components/automate-ui/src/app/pages/integrations/detail/integrations-detail.component.ts
  components/automate-ui/src/app/pages/integrations/edit/integrations-edit.component.ts
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.spec.ts
  components/automate-ui/src/app/pages/integrations/list/integrations-list.component.ts
Labels: automate-ui, telemetry, Team: Kinetic

#6903 Telemetry Coverage for identity under Settings in Automate-ui
  components/automate-ui/src/app/modules/team/team-details/team-details.component.spec.ts
  components/automate-ui/src/app/modules/team/team-details/team-details.component.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.spec.ts
  components/automate-ui/src/app/modules/team/team-management/team-management.component.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.spec.ts
  components/automate-ui/src/app/modules/token/token-details/api-token-details.component.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.spec.ts
  components/automate-ui/src/app/modules/token/token-list/api-token-list.component.ts
  components/automate-ui/src/app/modules/user/user-details/user-details.component.html
  components/automate-ui/src/app/modules/user/user-details/user-details.component.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.spec.ts
  components/automate-ui/src/app/modules/user/user-management/user-management.component.ts
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.spec.ts
  components/automate-ui/src/app/page-components/create-user-modal/create-user-modal.component.ts
Labels: automate-ui, telemetry, Team: Kinetic

#6943 announcement and release notes changes
  .expeditor/announce-acceptance.sh
  .expeditor/announce-release.sh
  .expeditor/publish-release-notes.sh
  .studio/deployment-service
  .studio/tooling
  HOW_THE_PIPELINE_WORKS.md
  README.md
  RELEASE_PROCESS.md
  Vagrantfile
  components/authn-service/DESIGN.md
  components/authz-service/README.md
  components/automate-deployment/docs/backup_plan.md
  components/automate-deployment/docs/how-to-add-a-service.md
  components/automate-deployment/scripts/generate_owca_manifest.rb
  components/automate-deployment/tools/upgrade-test-scaffold/upgrade-test-scaffold.go
  components/docs-chef-io/content/automate/data_collection.md
  components/docs-chef-io/content/automate/log_management.md
  components/release-mgmt-dashboard/src/app/app.component.ts
  dev-docs/a2-manifest-urls.md
  ec2/README.md
  scripts/git_difference_expression.rb
  scripts/verify_build.sh
  tools/hab-dep-graph/main.go
Labels: documentation

#6948 fix nodemanager integration
  components/nodemanager-service/tests/aws_ec2_nodes_integration_test.go
Labels: Team: S.H.I.E.L.D.

#6947 Pipeline fixes
  components/automate-backend-deployment/README.md
  components/automate-backend-postgresql/habitat/README.md
  components/automate-cluster-ctl/readme
  components/docs-chef-io/content/automate/ha_architecture_reference.md
  integration/services/ha_backend/init.sh
  terraform/a2ha-terraform/destroy/aws/main.tf
  terraform/a2ha-terraform/reference_architectures/aws/outputs.tf
  test/lib/backend_utils.rb
Labels: documentation

#6944 Remove the users association with org while deleting orgs from automate
  components/infra-proxy-service/server/orgs.go
  components/infra-proxy-service/storage/postgres/automate_infra_server_users.go
  components/infra-proxy-service/storage/storage.go
Labels: automate-infra-proxy-api, Team: Stalwart, infra-user-mgnt

#6964 Migration ID is missing on server details api response
  components/infra-proxy-service/storage/postgres/migrations.go
Labels: automate-infra-proxy, Team: Stalwart, infra-user-mgnt

#6962 Add telemetry coverage for Client runs
  components/automate-ui/src/app/page-components/attributes/attributes.component.spec.ts
  components/automate-ui/src/app/page-components/attributes/attributes.component.ts
  components/automate-ui/src/app/page-components/run-history/run-history.component.spec.ts
  components/automate-ui/src/app/page-components/run-history/run-history.component.ts
  components/automate-ui/src/app/pages/client-runs/client-runs.component.ts
  components/automate-ui/src/app/pages/node-details/node-details.component.ts
Labels: automate-ui, telemetry, automate-infra-proxy, Team: Kinetic

#6981 dummy changes for release bump
  README.md
Labels: Expeditor: Bump Version Major
