Repository chef/automate, pull requests merged in 2023-02, with the labels that each got.

#7694 Update the Docs with Service Now Versions
  components/docs-chef-io/content/automate/datafeed.md
  components/docs-chef-io/content/automate/notifications.md
  components/docs-chef-io/content/automate/servicenow_incident_creation.md
  components/docs-chef-io/content/automate/servicenow_integration.md
  components/docs-chef-io/static/images/automate/servicenow-notifications-navigation.png
Labels: documentation

#7670 Added support `config set` command from Automate HA Bastion Node
  components/automate-cli/cmd/chef-automate/automateConstants.go
  components/automate-cli/cmd/chef-automate/certRotate.go
  components/automate-cli/cmd/chef-automate/config.go
  components/automate-cli/cmd/chef-automate/config_test.go
  components/automate-cli/cmd/chef-automate/constants.go
  components/docs-chef-io/content/automate/ha_config.md
Labels: documentation

#7704 Changing the logic from 90 to one day
  components/compliance-service/ingest/ingestic/ingestic.go
  components/docs-chef-io/content/automate/enhanced_compliance_report.md
Labels: documentation

#7683 Ha delete node for aws
  components/automate-cli/cmd/chef-automate/ha_node_delete.go
  components/automate-cli/cmd/chef-automate/ha_node_delete_aws.go
  components/automate-cli/cmd/chef-automate/ha_node_delete_aws_test.go
  components/automate-cli/cmd/chef-automate/ha_node_delete_onprem.go
  components/automate-cli/cmd/chef-automate/ha_node_delete_onprem_test.go
  components/automate-cli/cmd/chef-automate/ha_node_delete_test.go
  components/automate-cli/cmd/chef-automate/ha_node_operations_utils.go
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_faqs.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  terraform/a2ha-terraform/modules/aws/main.tf
Labels: documentation

#7709 fix for remove node in managed services
  components/automate-cli/cmd/chef-automate/ha_node_delete_aws.go
  components/automate-cli/cmd/chef-automate/ha_node_delete_onprem.go
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
Labels: documentation

#7716 HA Documentation Fix [4.5.20]
  components/docs-chef-io/content/automate/ha_backup_restore_aws_efs.md
  components/docs-chef-io/content/automate/ha_backup_restore_aws_s3.md
  components/docs-chef-io/content/automate/ha_backup_restore_file_system.md
  components/docs-chef-io/content/automate/ha_backup_restore_object_storage.md
Labels: documentation

#7714 update the subnet and AZ requirement
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
Labels: documentation

#7719 Doc improvement for `updated_nodes_only` in data feed
  components/automate-cli/cmd/chef-automate/initConfigHaAws.go
  components/docs-chef-io/content/automate/datafeed.md
Labels: documentation

#7717 Documentation Update for AWS Deployment Non-Managed Services
  components/automate-deployment/habitat/plan.sh
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  components/docs-chef-io/content/automate/loadbalancer_configuration.md
Labels: documentation

#7723 updated managed service prerequisite docs section
  components/automate-deployment/habitat/plan.sh
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  components/docs-chef-io/content/automate/managed_services.md
Labels: documentation

#7697 angular2-template-loader dependency removed
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
Labels: automate-ui, dependabot

#7707 KINETICS-260: JSON type report download in Chrome.
  components/automate-ui/src/app/entities/client-runs/client-runs.requests.ts
Labels: compliance reporting

#7710 fixed for unable to download medium size report in compliance
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: compliance reporting

#7708 Added FAQs
  components/docs-chef-io/content/automate/centralizing_log.md
Labels: documentation

#7684 Bump minimist version from 1.2.6 to 1.2.7 in automate UI
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
Labels: automate-ui, dependabot

#7692 Bump karma package from 6.2.0 to 6.3.20 in /components/automate-ui
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
Labels: automate-ui, dependabot

#7727 onprem mode changes
  components/automate-cli/cmd/chef-automate/initConfigHaTmpl.go
  components/automate-cli/pkg/testfiles/onprem/config.toml
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
Labels: documentation

#7737 Fixed for chef Automate navigation loses the chef infra server name from breadcrumb nav bar.
  components/automate-ui/src/app/modules/infra-proxy/client-details/client-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/cookbook-details/cookbook-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/data-bags-details/data-bags-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/environment-details/environment-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-node-details/infra-node-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/infra-role-details/infra-role-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/org-details/org-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-file-details/policy-file-details.component.html
  components/automate-ui/src/app/modules/infra-proxy/policy-group-details/policy-group-details.component.html
  components/automate-ui/src/app/pages/+compliance/+reporting/reporting.component.ts
Labels: automate-infra-proxy

#7729 Add user-inputed fqdn to Automate config
  components/automate-backend-deployment/habitat/hooks/install
  components/automate-cli/cmd/chef-automate/cleanup.go
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  terraform/a2ha-terraform/modules/automate/inputs.tf
  terraform/a2ha-terraform/modules/automate/main.tf
  terraform/a2ha-terraform/modules/aws_output/files/output.tfvars.tpl
  terraform/a2ha-terraform/reference_architectures/aws/outputs.tf
  terraform/a2ha-terraform/reference_architectures/deployment/main.tf
  terraform/a2ha-terraform/reference_architectures/deployment/variables.tf
Labels: bug 🐛, documentation

#7752 fixed issue for the edit notification
  components/automate-ui/src/app/entities/api-tokens/api-token.requests.ts
  components/automate-ui/src/app/entities/notification_rules/notification_rule.model.ts
  components/automate-ui/src/app/pages/data-feed-create/data-feed-create.component.ts
  components/automate-ui/src/app/pages/notification-details/notification-details.component.ts
Labels: automate-ui
