Repository chef/automate, pull requests merged in 2023-03, with the labels that each got.

#7746 Need to add FAQ for sysctl command is missing
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  components/docs-chef-io/content/automate/ha_troubleshooting.md
Labels: documentation

#7759 updating infra server to ha migration
  components/docs-chef-io/content/automate/ha_chef_backend_to_automate_ha.md
Labels: documentation

#7753 Fixed bug "waived control not being listed"
  api/interservice/compliance/ingest/events/inspec/helper_methods.go
  components/compliance-service/ingest/events/compliance/helper_methods.go
  components/compliance-service/ingest/events/compliance/helper_methods_test.go
  components/compliance-service/reporting/relaxting/reports.go
Labels: bug 🐛

#7756 MADROX-416: Event feed date selection.
  components/automate-ui/src/app/helpers/datetime/datetime.ts
  components/automate-ui/src/app/page-components/event-feed-guitar-strings/event-feed-guitar-strings.component.html
Labels: event feed

#7758 backup doc fix
  components/docs-chef-io/content/automate/backup.md
Labels: documentation

#7755 Increased timeout for cert rotate
  components/automate-cli/cmd/chef-automate/certRotate.go
  components/docs-chef-io/content/automate/ha_cert_rotation.md
Labels: documentation

#7735 Chef Automate HA Pre-Requisites
  components/docs-chef-io/content/automate/ha_aws_deployment_prerequisites.md
  components/docs-chef-io/content/automate/ha_backup_restore_aws_s3.md
  components/docs-chef-io/content/automate/ha_backup_restore_object_storage.md
  components/docs-chef-io/content/automate/ha_on_premises_deployment_prerequisites.md
  components/docs-chef-io/content/automate/ha_platform_support.md
  components/docs-chef-io/content/automate/ha_security_firewall.md
  components/docs-chef-io/content/automate/loadbalancer_configuration.md
Labels: documentation

#7785 update the migration steps
  components/docs-chef-io/content/automate/ha_existing_a2ha_to_automate_ha.md
Labels: documentation

#7795 update dependency packages to fix the json-schema package
  components/automate-ui/package-lock.json
  components/automate-ui/package.json
Labels: dependabot

#7774 Take input of Sudo Password for Deployment
  .gitignore
  components/automate-cli/cmd/chef-automate/automateClusterCtlUtil.go
  components/automate-cli/cmd/chef-automate/automateConstants.go
  components/automate-cli/cmd/chef-automate/constants.go
  components/automate-cli/cmd/chef-automate/genA2haRbTmpl.go
  components/automate-cli/cmd/chef-automate/initConfigHa.go
  components/automate-cli/cmd/chef-automate/initConfigHaTmpl.go
  components/automate-cli/cmd/chef-automate/sshUtils.go
  components/automate-cluster-ctl/lib/cluster/config.rb
  components/automate-cluster-ctl/libexec/cluster-deploy
  components/automate-cluster-ctl/libexec/cluster-provision
  components/docs-chef-io/content/automate/ha_aws_deploy_steps.md
  components/docs-chef-io/content/automate/ha_aws_managed_deploy_steps.md
  components/docs-chef-io/content/automate/ha_onprim_deployment_procedure.md
  terraform/a2ha-terraform/modules/postgresql/main.tf
  terraform/a2ha-terraform/modules/system/main.tf
  terraform/a2ha-terraform/modules/system_hardening/main.tf
Labels: documentation

#7790 Update A2HA Inplace Migration to Automate HA docs
  components/docs-chef-io/content/automate/ha_inplace_migration.md
Labels: documentation
